[2020-06-12 04:50] lmccart commented on #704
@pcgamer1 sounds great, would you like to add this?

[2020-06-12 10:24] pcgamer1 commented on #704
@lmccart Sure, I would like to add the feature.

[2020-06-12 12:58] joeyklee commented on #795
Hi @connieliu0 - thanks for posting this issue. As your GSoc Mentor, I'd like to highlight a few things that would be helpful when posting a new issue to an open source project. Particularly for creating new feature requests or posting issues for something you'd like to work on.

## An example of detailed issue discussion
See: https://github.com/ml5js/ml5-library/issues/917

In my opinion, the iss

[2020-06-13 03:56] gidenilson opened #797 "The links in the example copy () method are broken"
https://p5js.org/examples/image-copy()-method.html
https://p5js.org/es/examples/image-copy()-method.html
https://p5js.org/zh-Hans/examples/image-copy()-method.html

[2020-06-13 15:03] #797 closed

[2020-06-15 22:01] lm-n commented on #785
Updated

[2020-06-15 22:01] #785 closed

[2020-06-16 06:10] avelican opened #800 "Search box broken on keyCode reference page"
**Behaviour**

https://p5js.org/reference/#/p5/keyCode

I try to type a query in the search box but nothing appears because `keyPressed() { /* ... */ return false; }` eats the keystrokes.

 **Would you like to work on the issue?**

Not really sure how to approach it. Maybe keep it in the code shown on the page, but not the actual code? Alternatively disable the behavior when the search box is clic

[2020-06-18 04:36] lmccart opened #801 "contributor docs site broken"
I am guessing this is due to our branch name change...
https://p5js.org/contributor-docs/#/

[2020-06-21 10:11] praisedpk opened #804 "p5.js pre-compressed with Brotli:11 on open source CDN"
P5.js is a big library with size of 149 KB for the latest production file.

I have added p5.js on PageCDN. Current size of [p5.min.js](https://pagecdn.io/lib/p5/1.0.0/p5.min.js) on PageCDN is **130.60 KB** that is 19 KB smaller than normal due to better compression.

Adding this CDN link on 'Getting Started' page is helpful for users looking to reduce JS size. If you allow, do I proceed with a wit

[2020-06-21 14:56] limzykenneth commented on #804
There already is a CDN link for p5.js on the website. I see no big reason to change it

[2020-06-21 15:21] limzykenneth opened #805 "Fix offline reference"
Related https://github.com/processing/p5.js/issues/4648, I'm working on fixing the offline reference, possibly rewriting parts of it.

I'm also reorganizing the files and folders a bit to remove redundant files and move some files to more logical locations. Hopefully the repo will be easier to nagivate once it's done.

[2020-06-21 21:13] limzykenneth commented on #800
The two examples doesn't need `return false`, just removing them and everything should work as expected.

[2020-06-22 06:42] praisedpk commented on #804
Yes you are right.

But its good to have multiple choices, specially when better and more performant alternatives exist.

Thanks.

[2020-06-22 18:14] ggorlen opened #807 "De'Von Bailey's name is listed twice on the landing"
**Actual Behaviour**

 **Expected Behaviour**

 **Steps to reproduce it**

Go to p5js.org and scroll down to the George Floyd section.

 **Screenshots of the issue**

![dvb](https://user-images.githubusercontent.com/17895165/85321401-7d08e980-b479-11ea-86a9-5b7653d6b2d6.png)

 **Would you like to work on the issue?**

Yes

[2020-06-23 17:56] gabrieldespindula opened #809 "Get started codepen link uses outdated src version"
**Actual Behaviour**

At https://p5js.org/get-started/ I've used the codepen link to copy and paste a template on my editor and the circle function wasn't working. The actual code pen url linked is this page https://codepen.io/p5js/pen/wreBKy. After some search on open issues I found "circle not being defined" was a closed issue.

 **Expected Behaviour**

The codepen link must be always up to date

[2020-06-24 02:16] #807 closed

[2020-06-24 02:17] #805 closed

[2020-06-24 02:19] #741 closed

[2020-06-25 19:56] limzykenneth commented on #809
Let's replace that with a link to the p5.js web editor instead.

[2020-06-28 17:14] nakul-shahdadpuri opened #815 "Overlap of canvas and code samples."
**Actual Behaviour**
On, the p5-website ,the canvas output is rendering on top of the code samples.This is affecting readability of the code samples.

 **Expected Behaviour**
The canvas should be separated from the code samples and could be rendered separately.

 **Steps to reproduce it**
1. Visit [https://p5js.org/reference/#/p5/httpPost](url) and click on the code samples.
2. The code samples ex

[2020-06-29 02:16] lmccart commented on #815
thanks! canvas should be set to 100x100. it would also be good to simplify this example and only draw the text, removing the coloring and circle drawing

[2020-07-03 16:30] gabrieldespindula commented on #809
I was checking the page again today and it actually suggests the web editor quite a few times before (3 to be more precise) and the codepen link its under the following headers:

- "Setting up p5.js with an editor on your own computer"
   - "Using a hosted version of the p5.js library"
      (Under this header)

I believe who sees the link already considered the option of the web editor and is jus

[2020-07-03 17:00] limzykenneth commented on #809
Deleting that line would be fine as well. Having a codepen example is just another thing we could forget to update every once in a while.

[2020-07-03 19:37] gabrieldespindula opened #818 "Propose addition of new language - pt-BR"
Hi folks! If you want/need, I can start the translation to pt-BR, following your instructions from here: https://github.com/processing/p5.js-website/blob/main/contributor_docs/i18n_contribution.md#translation-of-reference

😉

I searched here but didn't find any issue with "pt-BR". Let me know if someone is already doing it. Also let me know if you prefer me to send pull requests to a branch every

[2020-07-04 20:35] #809 closed

[2020-07-04 20:39] #734 closed

[2020-07-04 20:41] #671 closed

[2020-07-04 20:57] lmccart commented on #704
closed with #798

[2020-07-04 20:57] #704 closed

[2020-07-05 14:51] limzykenneth commented on #818
I think it would be interesting to include pt-BR as a translation, seeing how Portugese is one of the most spoken language in the world. That being said the process in which we include a new official translation is deliberately slower in that it is considerable work both for the translation itself and the future maintenance of it.

Most of the current official translations are done as part of the

[2020-07-05 19:28] connieliu0 opened #819 "Building an external site for the showcase"
Hi all! My name is Connie and I'm currently working with p5.js as part of Google Summer of Code!

Context: The reason for this PR is that after examining the YAML structure and writing the documentation for currently adding to the showcase, it was determined that it would be tedious for contributors in future years to continue adding and growing to the showcase. This is because the YAML structure

[2020-07-05 20:23] lmccart commented on #804
To simplify maintenance for this volunteer-driven project, we will stick with one CDN for now. Thanks for the suggestion!

[2020-07-05 20:23] #804 closed

[2020-07-06 16:49] gabrieldespindula commented on #818
Sweet!
I acknowledge every new language its a commitment. Hosting it won't be a problem for me, and I can do my best to keep it up to date with this repository.
Any way, for now I still working on the translations, is quite a lot to do before having something ready to host.
If someone hit this issue willing to contribute as well I'd love to have some help, its all in my fork.

Once I'm done I'll a

[2020-07-07 16:44] lmccart commented on #819
hi @connieliu0 thanks for this! I worry about the work of maintaining two different websites and codebases. I think it could make sense to make a separate site as a special exhibition, but I'm not sure how this integrates into things long-term. maybe it really points to a need to update the website infrastructure in general, and this can serve as a good first test of some different tools.

[2020-07-07 20:59] connieliu0 commented on #819
Hi @lmccart, totally understand and I'll make sure to document my work so it can help with decision making! After looking over the YAML and speaking to a couple people I think the current format works well for references since it won't change that much, but since the showcase has large translation files and is hopefully going to continue to update yearly, doing jsons + react might be easier in the

[2020-07-10 15:20] X-method opened #825 "Add .editorconfig for code styling"
Hello, it'd be nice to have a .editorconfig to format any added code accordingly. The one from p5.js repo doesn't cut it at the moment, it'll need *.hbs to be added at least

[2020-07-22 15:49] golanlevin opened #830 "weather example is broken"
The p5.js "Weather" API example, https://p5js.org/examples/hello-p5-weather.html, is now broken due to the deprecation of the Apixu API. In response to the API request for `https://api.apixu.com/v1/current.json?key=513d8003c8b348f1a2461629162106&q=NYC`, their server now returns the following:

[code]

As a result, no temperature or wind speed is obtained.

#### Most appropriate sub-area of p5.js?

[2020-07-24 04:45] #830 closed

[2020-07-25 07:32] KProgrammer opened #833 "Question: How do we change the data in the documentation"
I tried to change the data.json in the src/pages/reference directory but it didn't seem to have any effect on the webpage.

I have followed all instructions from `npm install` to `npm run watch`.

[2020-07-25 10:46] limzykenneth commented on #833
Documentation changes should be made in the https://github.com/processing/p5.js repo as they are generated from inline documentation, unless you are changing the page rendering of the reference then that's controlled by the relevant template files.

[2020-07-25 11:06] KProgrammer commented on #833
Ah, I understand, Is there a way to preview changes if I change the inline documentation?

[2020-07-25 11:42] limzykenneth commented on #833
You can run `npm run dev` on the p5.js repo and visit `localhost:9001/docs/reference/` to preview the rendered reference.

[2020-07-25 11:42] #833 closed

[2020-07-28 22:30] limzykenneth opened #834 "Caching of p5.min.js and related files"
Following up from https://github.com/processing/p5.js/issues/4716, from what I can see, only the reference and examples currently uses `p5.min.js` and `p5.sound.min.js` both of which needs to have their cache updated.

The reference is relatively straightforward with the handlebars helper built to handle this before, the examples however are included as `<iframe>` which just has a HTML source, upd

[2020-08-10 18:20] dipamsen opened #839 "Issue with Reference and links to edit docs broken"
### Some issues on the p5 Website Documentation
#### 1. Examples showing wrong output on [`square()`](https://p5js.org/reference/#/p5/square)
(those don't look like squares)
**To reproduce:** Go to the [`square()` docs](https://p5js.org/reference/#/p5/square) and see the examples
#### 2. All p5 DOM [`createInput()`](https://p5js.org/reference/#/p5/createInput), [`createButton()`](https://p5js.org/

[2020-08-10 19:56] yukienomiya opened #840 "Update structure of translation files for the Reference section"
The structure of the Reference translation files (es.json, zh-Hans.json, ko.json...) is being defined and updated (see PR #836).
The updateLanguage() function responsible for the translation swaps has also been modified accordingly.
**This means that if a translation file in a certain language doesn't follow the updated structure, the Reference section of the website won't be properly translated i

[2020-08-10 20:12] limzykenneth commented on #839
1. Is a known issue #834. @lmccart Can the cache be manually flushed for now? I'll put together a PR for what is fixable as indicated in #834 but the cache will still need to be flushed for the examples.

2. Is also a known issue reported in https://github.com/processing/p5.js/issues/4710

3. will be addressed by #838

[2020-08-11 05:16] lmccart commented on #839
@limzykenneth

#1 hm I don't know how to do this (manually flush the cache)?
#3 I updated the data.yml file to 1.1.9 but the link is still broken for some reason

[2020-08-11 20:19] limzykenneth commented on #839
@lmccart Assuming it is Cloudflare (deduced from the SSL cert), just go to the Cloudflare page for the p5js.org domain > Caching > Configuration > Purge Cache > You can then Custom Purge or Purge Everything.

I'll have a look at what needs updating on the site itself.

[2020-08-12 03:32] lmccart commented on #839
@limzykenneth thank you that seemed to work!

[2020-08-14 19:51] connieliu0 opened #843 "Entrypoint for p5.js Showcase 2020"
**Context**: Hi all! My name is Connie and I'm currently working on the Showcase as part of GSoC! As I am approaching the end of development of the Showcase and preparing for deployment - I am hoping to get some input as to the entrypoint for the site.

**Issue**
1. I am hoping to host the showcase under the domain **"showcase.p5js.org/"**, is there someone I should contact to set this up? Current

[2020-08-14 20:18] connieliu0 opened #844 "Adding Translations to p5.js Showcase"
**Context:** Hi all! My name is Connie and I'm currently working with p5.js as part of Google Summer of Code! I am planning to add translations to the 2020 showcase, and below are instructions on how to add translations.
Currently the translation files for the p5.js Summer 2020 showcase are seen here: https://github.com/connieliu0/p5.js-showcase/tree/master/src/locales and for each language the tr

[2020-08-14 20:19] connieliu0 commented on #819
Hello all,
As an update to this project, you can see the current test version of the external showcase here: https://connieliu0.github.io/p5.js-showcase/#/, as it is in continuous deployment.
I have opened two new issues -
https://github.com/processing/p5.js-website/issues/843: is about what the entrypoint is for the showcase from the main p5.js website
https://github.com/processing/p5.js-website/

[2020-08-15 11:29] limzykenneth commented on #843
@lmccart Should have access for the DNS settings to do this.

[2020-08-15 11:32] limzykenneth commented on #844
Can the locale code for Chinese be changed from just `zh` to `zh-Hans` to denote Simplified Chinese as opposed to Traditional Chinese? (They are different script basically)

[2020-08-15 19:14] connieliu0 commented on #844
Hi @limzykenneth Just renamed zh to zh_Hans and pushed to master!

[2020-08-15 22:08] limzykenneth commented on #844
A small thing but can the underscore be changed to a hyphen (`zh_Hans` > `zh-Hans`) to match the language code standards. If it caused unintended problems then it's fine to leave as is.

[2020-08-16 02:23] connieliu0 commented on #844
I tried to name is zh-Hans, but I don't think that's allowed w/ react-i18next bc I got an error

[2020-08-16 21:24] limzykenneth opened #848 "Reference render rework"
Following up from #836, I've done some preliminary investigation and work which can be tracked [here](https://github.com/limzykenneth/p5.js-website/tree/ref-rewrite). I'll use this issue to start detailed discussions and tracking priorities. Would be very happy to discuss suggestions or proposed changes to any of the plans outlined below. 😃

**A few priorities:**
- End user experience stays the sa

[2020-08-17 16:51] #839 closed

[2020-08-24 03:09] yining1023 commented on #844
@connieliu0, thank you for finalizing all the English text!

 I added some Chinese translation and opened a PR here: https://github.com/connieliu0/p5.js-showcase/pull/8

I translated all the keys before "filters". I didn't get a chance to translate descriptions for each 2020 project.
Maybe we could find more help from others who are interested to help.

[2020-08-25 08:57] chtushar commented on #660
I want to work on this issue.

[2020-08-25 12:59] #840 closed

[2020-08-25 15:43] chtushar commented on #660
Please check the changes I've made.

[2020-08-25 21:40] #815 closed

[2020-08-25 23:07] montoyamoraga commented on #844
hi @connieliu0 here is my PR too :) https://github.com/connieliu0/p5.js-showcase/pull/9

[2020-08-26 02:41] connieliu0 commented on #844
@yining1023 @montoyamoraga thank you all for helping!!!

[2020-08-26 14:00] #660 closed

[2020-08-26 15:37] chtushar opened #859 "Change master to main in README.md"
**Actual Behaviour**

In README.md under How to Contribute heading it is still showing up "master" and not "main"

 **Expected Behaviour**

"master" should be renamed to "main"

[2020-08-27 02:44] montoyamoraga commented on #859
hi @chtushar, thank you so much!
i just fixed it :)

[2020-08-27 02:48] montoyamoraga commented on #859
@chtushar and i added you as a contributor to the p5.js project just now :)

[2020-08-27 02:48] #859 closed

[2020-08-27 07:18] chtushar commented on #755
@montoyamoraga Can I work on this issue?

[2020-08-27 07:26] chtushar commented on #755
I'm planning to use CSS Flexbox to get around this issue. Please assign me this issue. :)

[2020-08-27 13:04] chtushar commented on #755
I've made a pull request. Please review changes. Also, It didn't require CSS flex at all, problem was solved after question and answer were grouped together inside a `div`. Thanks. 😊

[2020-08-27 13:04] chtushar commented on #755
@montoyamoraga  I've made a pull request. Please review changes. Also, It didn't require CSS flex at all, problem was solved after question and answer were grouped together inside a `div`. Thanks. 😊

[2020-08-27 14:23] montoyamoraga commented on #755
@chtushar thanks! i left some comments on #860

[2020-08-29 06:25] Swapnil-2001 opened #863 "Addition of Quicksort Visualization in Examples"
**Actual Behaviour**

 **Expected Behaviour**

 **Steps to reproduce it**

 The Simulate section of the Examples page currently has an implementation of the bubblesort algorithm, along with visualization. I would like to add an implementation of the quicksort algorithm, also with the relevant visualization.
 **Screenshots of the issue**

 **Would you like to work on the issue?**

 I would be glad

[2020-08-30 07:12] #795 closed

[2020-08-30 07:12] #819 closed

[2020-08-30 07:12] #843 closed

[2020-08-31 01:42] #755 closed

[2020-09-07 06:41] kuboon commented on #584
@to110i have you tried something on https://github.com/enkatsu/p5.js-website/tree/ja-translation ?

[2020-09-07 12:45] micuat opened #868 "p5.Vector explanation of setMag"
**Actual Behaviour**

in https://p5js.org/reference/#/p5.Vector

 **Expected Behaviour**

if I understand correctly

[2020-09-07 15:15] limzykenneth commented on #868
That is set to match the parameter name in https://p5js.org/reference/#/p5.Vector/setMag. Changing it to be `mag` in both places is fine but I wonder if it would cause confusion with thee `mag()` method in some way (maybe that's why it is named `len` in the first place).

[2020-09-07 16:03] micuat commented on #868
Thanks, now I see... I thought it's about `mag()` but in fact in the url you pointed it has `len` as a parameter of `setMag(len)`. I feel it's a bit confusing in the `p5.Vector` page because `len` does not appear there. I don't know what would be a better description though :(

[2020-09-07 19:06] montoyamoraga opened #869 "delete merged branches"
i think two branches can be safely deleted, since they were merged:
https://github.com/processing/p5.js-website/branches

"feature/footerUpdate"
https://github.com/processing/p5.js-website/tree/feature/footerUpdate

"integrating_showcase.p5js.org"
https://github.com/processing/p5.js-website/tree/integrating_showcase.p5js.org

i'm less sure, but maybe the branch "teach" can also be deleted
https://

[2020-09-07 20:44] connieliu0 commented on #869
hi!, integrating_showcase.p5js.org can definitely be deleted, I'll do it now :) not sure about teach- maybe @yinhwa can comment on this?

[2020-09-08 13:04] limzykenneth commented on #868
It seems the two descriptions have to match because of how the p5.Vector class is rendered, they are fetched from the same string.

[2020-09-08 13:10] micuat commented on #868
that's what I thought after your first comment. The more I read the sentence I feel it sounds strange. What about

is that still too wordy? do we need feedback from other people to change it?

[2020-09-08 13:14] limzykenneth commented on #868
It still feels a bit off to me.

For a bit of context, the existing description is taken from Processing [word for word](https://processing.org/reference/PVector_setMag_.html) while the `setMag()` in Processing's PVector class has a [different description](https://processing.org/reference/PVector.html). I'm not sure about how difficult it is to seperate the two on p5.js and I'm a bit reluctant to

[2020-09-09 11:59] limzykenneth opened #870 "Reference styling error"
**Actual Behaviour**

The styling render on the reference is a bit messed up at the moment, see screenshots.

 **Expected Behaviour**

Styling applied correctly

 **Steps to reproduce it**

Visit any page for the reference.

 **Screenshots of the issue**

<img width="1334" alt="Screenshot 2020-09-09 at 12 58 11 pm" src="https://user-images.githubusercontent.com/7543950/92595414-39fe2b80-f29c-11ea-

[2020-09-09 21:47] itsmelodewyk opened #871 "Inconsistent spacing after periods - reference | circle()"
**Actual Behaviour**
Inconsistent spacing after periods.

 **Expected Behaviour**
One single-space after each period, if followed by another sentence.

 **Steps to reproduce it**
Navigate to [reference - circle()](https://p5js.org/reference/#/p5/circle) and read the "Description".

 **Screenshots of the issue**
![p5-js-inconsistent-spacing-after-period](https://user-images.githubusercontent.com/63

[2020-09-10 16:56] itsmelodewyk commented on #871
@limzykenneth the following file will be updated:
[main/src/data/reference/en.json](https://github.com/processing/p5.js-website/blob/main/src/data/reference/en.json)

I noticed that the translated documentation has not been completed for [es.json](https://github.com/processing/p5.js-website/blob/main/src/data/reference/es.json), [ko.json](https://github.com/processing/p5.js-website/blob/main/src/d

[2020-09-10 19:47] limzykenneth commented on #871
Changes to the reference should be made in the inline reference [here](https://github.com/processing/p5.js/blob/1.1.9/src/core/shape/2d_primitives.js#L261).

[2020-09-10 19:58] itsmelodewyk commented on #871
The API documentation is inconsistent too, yes. However, this issue was raised against the website (p5.js-website).

[2020-09-10 20:00] limzykenneth commented on #871
The reference on the website is built automatically from the inline reference in thee source code so any changes to the reference should be made there otherwise it will be overwritten next time the generated reference is copied over.

[2020-09-10 20:07] itsmelodewyk commented on #871
Thank you, for clearing that up! In that case, should this issue rather be opened against [processing/p5.js](https://github.com/processing/p5.js) instead of [processing/p5.js-website](https://github.com/processing/p5.js-website)?

[2020-09-10 20:09] limzykenneth commented on #871
We can leave this issue open. A PR can be opened on [processing/p5.js](https://github.com/processing/p5.js) that points to this issue, we'll close this issue once the PR is merged.

[2020-09-10 20:10] itsmelodewyk commented on #871
Sounds good! I wasn't sure if that was possible. Appreciate the feedback.

[2020-09-11 15:53] #871 closed

[2020-09-14 13:18] yinhwa commented on #870
Hi @chtushar Could you have a look at this issue here :)? Thank you.

[2020-09-14 13:21] yinhwa commented on #869
Hi @montoyamoraga could we have the `teach` branch left for now :)? I think I can work on adding some teaching cases throughout next couple months. If you believe pulling request directly to the `main` branch more efficient, we can delete it too!

[2020-09-14 13:24] yinhwa commented on #844
* a note on the Korean translation of [showcase page](https://showcase.p5js.org): If there's anyone interested in this work, please kindly let Connie & me know. I'm planning to have it done throughout next couple months, you can feel free to join me!

[2020-09-14 14:30] chtushar commented on #870
Hi @yinhwa @limzykenneth  This issue is because of this [line](https://github.com/processing/p5.js-website/blob/b13eb6b1926ffe72f82620ad58d2b7cfd6f07092/src/assets/css/main.css#L569) in main.css . But if we try to remove this [line](https://github.com/processing/p5.js-website/blob/b13eb6b1926ffe72f82620ad58d2b7cfd6f07092/src/assets/css/main.css#L569) Description gets overlapped by the `#example` e

[2020-09-15 00:24] montoyamoraga commented on #869
okie @yinhwa , lets leave the teach branch open for you, i am just a fan of not leaving stale branches open :) so we will be good

[2020-09-15 00:24] #869 closed

[2020-09-15 01:51] yinhwa commented on #869
mcuh thanks as always aarónieee :))))

[2020-09-15 02:33] yinhwa commented on #870
@chtushar have you detected this problem happening while working on CSS? could we figure out a way we can solve this? :) thanks

[2020-09-15 08:38] chtushar commented on #870
@yinhwa Yes we can! The problem is everything is positioned absolutely. May be we can reconstruct the page using CSS Flexbox or CSS Grid.

[2020-09-19 10:22] limzykenneth commented on #870
I'll do a refactor of the CSS in the coming days.

[2020-09-20 10:57] yinhwa commented on #870
Thank you @limzykenneth i really appreciate it! please let me know if there's any way I could help you with the refactoring!

[2020-09-21 10:30] #870 closed

[2020-09-21 16:15] mcturner1995 opened #875 "PR Process"
Hi Everyone,

My name is Moira and I am the new project lead for p5. As part of my role, I tend to the PRs of the p5 project and p5 website. However, I wanted to get some community input about the PR review process and empower you all to take more ownership of the process. Specifically, my questions are:
How many reviewers should take a look at a PR before it’s ready to merge?
Who should have acce

[2020-09-24 04:53] #490 closed

[2020-09-27 02:07] j-stodd opened #877 "Editor slows down after ten minutes"
**Actual Behaviour**

 It doesnt seem to matter what code i run, the program always starts to significantly slow down after ten to fifteen minutes. Even if the program starts fast, i have no unbounded variables, and i disable 99% of everything going on in my program, it still starts fast and becomes insufferably slow. Why does this happen? Where is this problem originating?

I use loops, images, a

[2020-09-27 12:48] limzykenneth commented on #877
Hi, I think you probably meant the web editor which is maintained in a separate repo, you should file this issue [there](https://github.com/processing/p5.js-web-editor/issues) instead. It will be helpful to include a example sketch or link that's exhibiting the problem. Some info about your system will be helpful as well. Thanks.

[2020-10-02 02:18] violetcraze opened #879 "Processing Link covered by Accessibility Feature"
**Actual Behaviour**

Trying to hit Processing up in the corner but `skip to main content` button is triggered.

 **Expected Behavior**

Navigate to Processing.org

 **Steps to reproduce it**

Try to click on Processing. Using Firefox 81.0 (64-bit) on Windows 10.

 **Screenshots of the issue**

![ezgif-7-2435c8ce7997](https://user-images.githubusercontent.com/43045568/94882345-fa52db80-0424-11eb-8

[2020-10-02 02:19] violetcraze commented on #879
Accidentally hit enter still working on completing issue

[2020-10-02 17:17] berkeozgen08 opened #880 "Canvas width doesn't match main tag's width in Math/Map example"
**Actual Behaviour**

mouseX gets values from 0 to 720 which is the width of the main tag the canvas is in. But in the p5js code the canvas is created to be 640 pixels wide. This causes the circle to get bigger even when the cursor is 80px to the right of the canvas.

 **Expected Behaviour**

 The canvas width should be 720px so that the circle will only change size while the cursor is in the visi

[2020-10-03 11:59] ameybhavsar24 commented on #879
I can reproduce this. Do we need the `skip to main content` link?

[2020-10-03 14:44] violetcraze commented on #879
Yeah it's an accessibility feature for people with screen readers however I think it should have a html attribute where it's not clickable. So I think the intended functionality is that you can use `skip to main content` but using tab and enter but not the mouse.

[2020-10-04 09:09] ZenVega commented on #880
Hey, I would like to give it a shot. Would u assign this to me?

[2020-10-06 11:08] #880 closed

[2020-10-06 11:17] limzykenneth commented on #879
Would the button still be usable with CSS `pointer-events: none`, quick test I did seems to indicate it doesn't work but I'm not sure. We can potentially just move the button out of the way though.

[2020-10-06 19:33] ameybhavsar24 commented on #879
If it can only be used with tab, maybe we can change it's z-index to something such that the processing link is on top of the`skip to main content` and also move it slightly down. WDYT?

[2020-10-11 23:08] #877 closed

[2020-10-12 00:13] lmccart commented on #879
I propose we just move it vertically down the page to clear the header

[2020-10-12 15:15] #800 closed

[2020-10-26 04:36] rt1301 commented on #879
Yes, if we change the top:50px, it is below enough that it doesn't interfere with the header links

[2020-10-26 04:36] rt1301 commented on #879
Is this issue still open, can I work on it?

[2020-10-26 15:01] limzykenneth commented on #879
@rt1301 Do go ahead and submit a fix. Thanks!

[2020-10-26 15:21] rt1301 commented on #879
The 'skip to content' button is set to have opacity:0 initially. Wouldn't the user have a hard time finding the button due to this?
If possible, we could also come up with a solution for this

[2020-10-26 15:28] limzykenneth commented on #879
The main utility for the button is for there to be a way for visually impaired visitors to the website using screen readers to be able to use it to skip to the main content so it does not need to be visible.

[2020-10-26 17:08] rt1301 commented on #879
Ok, thanks for the clarification. I have made the PR; please check it out.

[2020-10-27 09:33] #879 closed

[2020-10-29 11:53] bezlin6mechminerz commented on #875
Reviewing multiple times makes the Pr better. Merging can be left to leaders. It reduces conflicts.

[2020-11-01 07:04] lmccart commented on #868
I think this could be simplified to just say "Set the magnitude of the vector." Maybe this is less confusing? My assumption would be that if someone is using setMag() they have wrapped their head around parameters a bit already, and would be able to follow the format of the documentation to use the method. But I think your proposed update to the language makes sense as well.

[2020-11-04 05:23] artze opened #885 "[enhancement] Update Get Started > Downloading a copy of the p5.js library documentation"
This issue is related to a p5js issue: https://github.com/processing/p5.js/issues/4747

Using a downloaded copy of p5.js lib will require users to run a local server to get it working. The action here is to update doc to mention local-server setup.

 **Would you like to work on the issue?**
Yes.

[2020-11-07 11:07] rt1301 commented on #745
I could work on the EdgeDetection example if possible

[2020-11-10 15:34] rt1301 commented on #745
@montoyamoraga If required, I can also help in adding the 'Brightness' example and adding the Blur and Convolution example for the Korean Language. Right now, for the Korean language, the new examples are not present. If required, I can add it.

[2020-11-10 19:39] limzykenneth commented on #745
@rt1301 If you are familiar with the Korean language, you can go ahead and file a PR to add the examples to the Korean tranlsations of the examples. The PR will then be reviewed by one of the Korean language maintainer before we merge it. Thanks.

[2020-11-11 03:34] rt1301 commented on #745
@limzykenneth  I don't personally know the Korean language. I suggested adding the required example page for the Korean section, which then the Korean language maintainers can translate later. Because right now, except for the Korean page, all the other languages have new examples. So if such an update is required, I am happy to work on it. Otherwise, I'll work on the 'Brightness' example if neede

[2020-11-11 22:36] montoyamoraga commented on #745
hi @rt1301 your port looks great to me, i am reviewing it thanks :)

[2020-11-11 22:56] montoyamoraga commented on #745
@rt1301 your PR worked great, it would be awesome if you could contribute the other examples, thank you so much!

[2020-11-12 04:12] rt1301 commented on #745
@montoyamoraga Should I also add the new examples to the Korean language, and then the Korean language maintainers can later translate?

[2020-11-12 06:21] montoyamoraga commented on #745
@rt1301 yes thank you :)

[2020-11-14 11:29] rt1301 commented on #745
@montoyamoraga All the examples from the Image Processing section are imported (PRs for Pixel Array and Histogram are currently open), so I think we can close this issue, if possible.

[2020-11-15 03:31] montoyamoraga commented on #745
sounds good, thanks :)

[2020-11-15 03:32] #745 closed

[2020-11-15 13:20] covalentbond opened #889 "Unexpected file changes on running the server"
**Actual Behaviour**

reference.js changes whenever I run npm run watch. Is it the expected behavior on running the server?

 **Steps to reproduce it**

- Clone the repo.
- `npm install`
- `npm run watch`

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/53327173/99185483-342b3780-2770-11eb-8152-71a64e0c90f2.png)

Changes seen in reference.js

![image](https://user

[2020-11-15 13:57] covalentbond opened #891 "Broken link in README, it's trying to redirect to wiki section"
**Actual Behaviour**

This link mentioned below in the README is redirecting to the same current page which is
https://github.com/processing/p5.js-website

It's suppose to link to https://github.com/processing/p5.js-website/wiki/Pull-requests, but this link is broken

![image](https://user-images.githubusercontent.com/53327173/99186556-0a294380-2777-11eb-9707-491f860fb149.png)

 **Expected Behavio

[2020-11-15 14:14] limzykenneth commented on #889
The difference you are seeing is that Windows is replacing the Unix style new line `\n` with the Windows style new line `\r\n`. We would like to keep the Unix style new line here. You should be able to set you text editor to not replace `\n` with `\r\n` in its preference/settings.

[2020-11-15 14:14] #889 closed

[2020-11-17 06:06] #885 closed

[2020-11-17 16:22] KKVANONYMOUS commented on #891
@lmccart @limzykenneth @montoyamoraga
I would like to work on this issue.

[2020-11-17 16:52] KKVANONYMOUS commented on #891
@montoyamoraga
I have created a PR for the same. Please review it.

[2020-11-17 17:04] #891 closed

[2020-11-19 20:56] covalentbond opened #893 "Glitch in one of the showcase of 2019"
**Actual Behaviour**
![image](https://user-images.githubusercontent.com/53327173/99722871-5954d880-2ad7-11eb-88b3-3eb17158b89a.png)

 **Expected Behaviour**
![image](https://user-images.githubusercontent.com/53327173/99722957-7ee1e200-2ad7-11eb-8b53-80d504e59635.png)

 **Steps to reproduce it**
Visit: https://p5js.org/showcase/featuring/phuong-ngo.html

 **Would you like to work on the issue?**
Ye

[2020-11-19 20:58] covalentbond commented on #893
@limzykenneth @montoyamoraga
Can you assign me to work on this issue.

[2020-11-19 22:04] limzykenneth commented on #893
I'm not sure how much can actually be solved without involving the original author though.

[2020-11-19 22:13] covalentbond commented on #893
I don't think it would require the author. It can be solved by editing this file: https://github.com/processing/p5.js-website/blob/main/src/templates/pages/showcase/featuring/phuong-ngo.hbs
Shall I make a pull request

[2020-11-19 22:26] limzykenneth commented on #893
What exactly is going to be edited in that file? The link in that file that embeds the sketch links to a glitch.com sketch that has probably been deleted, which is why it is showing that message.

[2020-11-19 22:31] covalentbond commented on #893
This can be removed and an image tag could be added as it is done in rest of the showcases
[code]
Will be replaced with `<img src="../../assets/img/showcase/phuong-ngo/phuong-ngo_airi-flies.png" alt="Airi Flies">`

[2020-11-28 09:39] covalentbond opened #895 "Differ group names in p5.sound references"
**Actual Behaviour**

P5.sound have various groups like p5.Filter, p5.Oscillator. These groups have further sub parts
While reading reference in https://p5js.org/reference/#/libraries/p5.sound.
It becomes hard to differ group names with sub group names

![image](https://user-images.githubusercontent.com/53327173/100498661-c298b380-3189-11eb-9d7f-0f22fae021bf.png)

 **Expected Behaviour**

Can have

[2020-11-28 09:41] covalentbond commented on #895
@montoyamoraga @limzykenneth what are your suggestions on this!

[2020-11-28 20:37] limzykenneth commented on #895
I'm not sure if the current reference rendering pipeline would be capable of making this change, maybe either as a change in the template rendering itself or changes in the inline documentation would be required.

@covalentbond Have you looked into what code changes would be required to create either of the layout?

[2020-11-28 22:12] #893 closed

[2020-11-29 05:35] covalentbond commented on #895
Needed to change the `library.html` inside `yuidoc-p5-theme-src`. After that it was accomplished

Also why is it that the changes I made some changes in reference.js which could have also probably implemented this.
But after running `grunt server`, it removed all the changes and returned to the original state of the file.

[2020-11-30 10:25] covalentbond opened #897 "Detecting default browser language preference of user"
**Actual Behaviour**
For more reliable and accurate i18n support for the website, we can detect the browser language preference using JavaScript's `navigator.language` function which returns the default language preference of browser.

 **Expected Behaviour**
Depending upon the prefered language, website would open in that language.

 **Steps to reproduce it**

Change the default language of brows

[2020-11-30 14:16] limzykenneth commented on #895
`reference.js` is a generated file that is generated by the require.js task. It probably shouldn't have been committed in the repo but it's there anyway. I have some plans for reworking the reference system but haven't got time to work on it, hopefully I can do this soon. For now just ignore it and make the changes you need in the source for `reference.js` [here](https://github.com/processing/p5.j

[2020-11-30 16:22] #895 closed

[2020-11-30 16:23] #897 closed

[2020-12-02 08:19] covalentbond opened #899 "Unexpected behaviour while switching languages via button"
**Actual Behaviour**
For an instance:
If user from https://p5js.org/reference/#/p5/pixels toggles to any translated version of page via language buttons
It redirects to https://p5js.org/es/reference/

 **Expected Behaviour**
It's expected to redirect to https://p5js.org/es/reference/#/p5/pixels
And vice a versa

 **Steps to reproduce it**
Visit https://p5js.org/reference/#/p5/pixels
Toggle to any

[2020-12-02 11:27] #899 closed

[2020-12-06 23:42] lmccart commented on #875
I think this is better tracked in [this issue on the p5.js repo](https://github.com/processing/p5.js/issues/4801), closing this for organizational purposes.

[2020-12-06 23:42] #875 closed

[2020-12-09 06:21] tannerdolby opened #903 "Typo on download page within Complete Library section"
#### Most appropriate sub-area of p5.js?
- [x] Other (On the web client)

#### Details about the bug:
Just a minor spacing typo within the main docs on the [downloads](https://p5js.org/download/) page.

- Web browser and version: Google Chrome 86.0.4240.198 (Official Build) (x86_64)
- Operating System: MacOSX High Sierra v10.13.6
- Steps to reproduce this:

1. Navigate to [downloads](https://p5js.

[2020-12-09 11:05] limzykenneth commented on #903
The source code of the website is not stored with the library's source code so I've moved the issue here.

The source of the page you are looking for is [here](https://github.com/processing/p5.js-website/blob/main/src/templates/pages/download/index.hbs). You can fork this repo, make the edit and file a PR. Thanks.

[2020-12-09 23:14] tannerdolby opened #905 "Licenses field in package.json is deprecated and is no longer valid metadata"
**Actual Behaviour**
The field `licenses` which is defining an array of objects (in this case only one object) is no longer valid metadata.

[From npm](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#license), "Some old packages used license objects or a "licenses" property containing an array of license objects:"
[code]
Those styles are now deprecated. Instead, use SPDX expressions, li

[2020-12-10 09:18] #903 closed

[2020-12-12 20:21] tannerdolby commented on #905
@limzykenneth This might not be necessary but thought I'd run it by you.

[2020-12-12 20:35] limzykenneth commented on #905
Functionally it doesn't affect this repo as it isn't published on NPM so this isn't a high priority change in my opinion.

[2020-12-12 20:36] tannerdolby commented on #905
I agree, I'll close this issue then. Thanks for the quick response!

[2020-12-12 20:36] #905 closed

[2020-12-13 06:48] 0xShree opened #906 "Need copy to clipboard button on get started page"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2020-12-13 16:29] covalentbond opened #907 "Edit, reset and copy buttons overlapping with code"
**Actual Behaviour**

These buttons are overlapping with the examples code and looks crowded

![image](https://user-images.githubusercontent.com/53327173/102017624-009ef580-3d8e-11eb-9bb5-1340053d9e18.png)

 **Expected Behaviour**
![image](https://user-images.githubusercontent.com/53327173/102017534-99814100-3d8d-11eb-8114-ed2fb3779398.png)

 **Steps to reproduce it**
Visit any reference example l

[2020-12-13 17:55] ffd8 commented on #374
Just experienced this while preparing a tutorial for students. Going to the [reference](https://p5js.org/reference/) page and clicking on `DOM` works (scrolls to DOM group in both Chrome + Safari) but trying to link a tutorial to that section by using the [DOM Group](https://p5js.org/reference/#group-DOM) URL fails to jump to the anchor. Same is true when using the back button as mentioned in init

[2020-12-13 20:28] covalentbond commented on #374
I could also reproduce this.

There is also one thing to be noticed that if the user has scrolled down a bit being on this [page](https://p5js.org/reference/#group-Environment) (meaning there is some value to `window.pageYOffset which is !=0`) and now when page is refreshed. The page does not scroll back to (0,0). Instead gets some `value = 541 (window.pageYOffset)`

But if the user has not scroll

[2020-12-14 18:01] #907 closed

[2020-12-14 18:04] covalentbond commented on #907
@limzykenneth found later that this issue was a duplicate of #709. You can also close it!😊

[2020-12-14 21:10] Henhenz1 opened #916 "Conflicting HSB info in Color and colorMode() pages"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2020-12-14 22:00] limzykenneth commented on #709
Closed in #908

[2020-12-14 22:00] #709 closed

[2020-12-15 20:07] rt1301 commented on #906
@limzykenneth @lmccart  Is this issue open? If possible I would like to work on this

[2020-12-15 21:15] lmccart commented on #906
Yes, it's open!

[2020-12-16 19:48] #374 closed

[2020-12-20 16:43] drendog opened #912 "typo in community email address"
**Actual Behaviour**

There is typo in community email address, in the text shows `hello@p5js.org` but it is linked to `feature@p5js.org`

 **Expected Behaviour**

`feature@p5js.org` is not valid email address, but `hello@p5js.org` is valid, so it should be replaced with valid email address.

 **Steps to reproduce it**

Click on linked email address showed on [community page](https://p5js.org/comm

[2020-12-24 19:58] #912 closed

[2020-12-25 20:09] highonweb commented on #698
No in reference it returns p5.MediaElement only
https://p5js.org/reference/#/p5/createVideo

[2020-12-25 20:28] highonweb opened #914 "Porting circle collision from processing to p5.js"
**Proposal**
Porting circle collision from processing to p5.js

 **Screenshots of the issue**
https://processing.org/examples/circlecollision.html

 **Would you like to work on the issue?**
Yes, you can assign it to me

[2020-12-27 16:38] limzykenneth commented on #698
`createVideo` is returning p5.MediaElement for me. You can test it out [here](https://editor.p5js.org/limzykenneth/sketches/Tt2S0RG3k). Closing for now unless the issue can be replicated. Thanks.

[2020-12-27 16:38] #698 closed

[2020-12-27 16:47] limzykenneth opened #918 "data.json files not updated to 1.2.0"
**Actual Behaviour**

The reference data files in this repo and the website itself were not updated to the latest 1.2.0 version, the expected changes were not present as well (#4710 for example is still a problem) so it's not just a version number problem as before.

@lmccart Was there a problem creating a new release or any idea why `data.json`/`data.min.json` weren't updated by the release?

[2020-12-28 05:29] lmccart commented on #918
@limzykenneth I didn't see any error in the release process but I did notice that the reference wasn't updated. I can't remember running the build script at any point in the last couple years where the release worked completely for me, and it's often very difficult to debug or to know if it failed. Even though it was more laborious, I found it easier to get releases out when it was a list of 15 se

[2020-12-28 11:11] limzykenneth commented on #918
Yeah I get you. Would it be easier then if we completely separate the releases of p5.js and p5.js-website? So we basically remove the website related stuff from the release process, meaning the reference and the website download links needs to be separately updated manually.

Another alternative is to move most of the update script to CI and have it run on git tags. Maybe that will be more stable

[2020-12-28 20:48] #906 closed

[2021-01-04 03:33] lmccart commented on #918
Without researching either option deeply, my intuition is that separating them would help us debug if things break down. Running three processes doesn't feel too excessive. Thinking about the p5 approach, transparency feels important, and I think having different processes that do these tasks will help with that. What do you think?

[2021-01-04 03:41] #914 closed

[2021-01-04 11:28] limzykenneth commented on #918
Actually I forgot about this change: https://github.com/processing/p5.js/pull/4733, not sure why it didn't run but it probably is why the docs isn't updated. We have two choices here I think: stick to using CI and try and fix it, or move that step into the repo itself to run locally.

[2021-01-04 11:32] #916 closed

[2021-01-08 22:42] lmccart opened #920 "website not rebuilding"
I just uncovered an error message where travis builds are not happening because we're out of github OSS free credits! 😬
I'm working on resolving this, but all build releases to the site will fail in the meantime. This might actually be why the last docs release failed https://github.com/processing/p5.js-website/issues/918.

I manually edited a file on the server to remove the fundraiser header lin

[2021-01-11 13:23] NSDesign opened #921 "Inheritance example does not actually implement inheritance using the extends keyword"
Hi there,

Unlike the [Processing.org inheritance example](https://processing.org/examples/inheritance.html)  the [P5.js doesn't actually implement class inheritance](https://p5js.org/examples/objects-inheritance.html). Instead two separate classes are defined, each effectively defining their own separate spin methods. Whereas, the processing.org example, both the classes SpinArms and SpinSpots ex

[2021-01-13 06:12] ghost opened #922 "Porting Text Rotation (Typography) example from the processing website"
**Actual Behaviour**

The Typography section on the processing website contains an example for [text rotation](https://processing.org/examples/textrotation.html) that is missing from the p5.js examples page.

**Expected Behaviour**

The text rotation example would be a useful addition to the typography section as it demonstrates that rotation is not limited to shapes.

 **Would you like to work on

[2021-01-13 12:02] limzykenneth commented on #921
@NSDesign If you'd like to fix this let me know here and I'll assign the issue to you.

[2021-01-14 20:15] edwardmonk opened #924 "Donate bar link is no longer valid"
**Actual Behaviour**

When you click on the Donate bar, it leads to https://donorbox.org/, but the donation page is not found on donorbox.

 **Expected Behaviour**

A donation page should be displayed.

 **Steps to reproduce it**

Go to https://p5js.org/ and click on the green donation banner at the top of the page.

 **Screenshots of the issue**

 **Would you like to work on the issue?**

sure, I

[2021-01-14 20:46] limzykenneth commented on #924
@lmccart Has the Travis problem been fixed and the older version got pushed to the live site? Because I seemed to remember you manually removed that banner a few days ago.

[2021-01-14 20:53] lmccart commented on #924
thanks! fixed now. builds are restarted.

[2021-01-14 20:53] #924 closed

[2021-01-16 21:48] allisonlu opened #925 "BLUR filterType is listed twice on filter reference page"
**Actual Behaviour**

On the [filter() reference page](https://p5js.org/reference/#/p5.Image/filter), the filterType BLUR is listed twice under the Parameters section.

 **Steps to reproduce it**

1. Navigate to https://p5js.org/reference/#/p5.Image/filter
2. Scroll down to information about Parameters
3. Note that the BLUR constant is listed twice

 **Screenshots of the issue**

<img width="610"

[2021-01-17 10:56] ShenpaiSharma opened #926 "No space between text and link in Get Started page"
**Actual Behaviour**
No space between text and link in [Get Started](https://p5js.org/get-started/) in English translation.

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/47415702/104838262-d508b100-58df-11eb-909e-22fc30692e52.png)

 **Would you like to work on the issue?**

I want to work on this issue.

[2021-01-17 14:35] ShenpaiSharma commented on #921
Hi, @limzykenneth. If you don't mind, I would like to work on this issue as [Inheritence](https://p5js.org/examples/objects-inheritance.html) is actually not using any inheritance property. It's, as said, just using two classes to define its movement.

[2021-01-18 01:01] limzykenneth commented on #925
Do go ahead and file a PR when you are ready. I'll assign the issue to you.

[2021-01-19 12:29] limzykenneth commented on #926
You can go ahead with a fix. Thanks.

I'll assign the issue to you.

[2021-01-19 12:31] limzykenneth commented on #926
You can go ahead with a fix. Thanks.

[2021-01-20 07:25] allisonlu commented on #925
It's already been fixed! https://github.com/processing/p5.js/pull/4863/files

It looks like this copy is being updated via the [Grunt file (on this repo)](https://github.com/processing/p5.js-website/blob/main/Gruntfile.js#L371) by pulling from the [documentation on the p5.js repo](https://github.com/processing/p5.js/blob/1.1.9/src/image/pixels.js#L307).

However, I think the website is pulling an

[2021-01-20 07:34] #925 closed

[2021-01-20 11:05] Rahulm2310 opened #927 "Enhancement: Optimize Images on community page"
**Actual Behaviour**
A picture speaks thousand words, but if the picture is of large size, it takes forever to load. Large images slow down the web pages which creates a less than optimal user experience. We can reduce the image’s file sizes to help improve our website’s performance.

 **Expected Behaviour**
We can reduce the image sizes without compromising the image quality and thus decrease the

[2021-01-20 11:37] limzykenneth commented on #927
We technically already have a build step that should take care of this called [imagemin](https://github.com/processing/p5.js-website/blob/main/Gruntfile.js#L151), is it somehow not working? Is there some other options we can pass to it for further optimizations?

[2021-01-20 11:49] limzykenneth commented on #925
Ah right, I'll manually update that since there was a deployment issue recently. Thanks still!

[2021-01-20 12:31] limzykenneth commented on #925
@lmccart Actually there's something weird going on so I won't modify things for now, namely the package.json file still list the version as 1.1.9 while on NPM 1.2.0 is available. Is the version bump commit not pushed? Although the 1.2.0 tag is pushed. It's all a bit weird here so if you have an idea or a fix I'll let you do it instead.

[2021-01-20 13:05] Rahulm2310 commented on #927
@limzykenneth I looked into the console. Seems that it is running but there is no reduction in the image sizes.
[code]
I even tried optimization level 5, still no change.

[2021-01-20 13:40] Rahulm2310 opened #929 "Feature: Community Gallery"
**Actual Behaviour**
Currently we have have all images on the conmmunity page stacked one upon other.
![community-gallery-old](https://user-images.githubusercontent.com/54268438/105182376-f8876200-5b52-11eb-8cc7-0020634d5be0.gif)

 **Expected Behaviour**
We can create a gallery view which will look more interactive and fresh.
![community-gallery](https://user-images.githubusercontent.com/54268438/

[2021-01-20 19:14] limzykenneth commented on #927
Is there some additional options that we can pass to imagemin for it to make the images smaller?

[2021-01-21 07:06] Rahulm2310 commented on #927
@limzykenneth We need to pass `mozjpeg` plugin for optimizing jpg images. Currently we are not passing it in options. I tried passing it and it worked. You can check it [here](https://github.com/gruntjs/grunt-contrib-imagemin#usage)
[code]
I will fix it and create a PR asap.

[2021-01-21 12:52] NSDesign commented on #921
Thanks for the replay,
Yes I thin it should be fixed, as it's confusing for new users.

On Mon, Jan 18, 2021 at 1:35 AM Shubham Kumar <notifications@github.com>
wrote:

--
Nicholas Sullivan Design

[2021-01-21 14:09] ShenpaiSharma commented on #921
Yes, it is quite confusing that's why I think the given code in [Inheritence](https://p5js.org/examples/objects-inheritance.html) should be replaced with as I have also checked this, and it was running all fine:
[code]
What do you think? @NSDesign  @limzykenneth

[2021-01-24 15:50] limzykenneth commented on #929
I'm going to count this as a new feature so it will require a case to be made for how this feature increases accessibility. You can read more [here](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md). Thanks!

[2021-01-24 15:55] limzykenneth commented on #921
@ShenpaiSharma You can go ahead with a fix, I'll assign the issue to you.

[2021-01-24 16:57] Rahulm2310 commented on #929
I respect the fact that the community is committed to adding only features that increases user accessibility.
Here, I think that plain images occupies more and undetermined space and requires a lot of scrolling. Whereas a gallery view  occupies less & predetermined space and content is better structured.
Also currently, a first time visitor don't get to know much about what's happening at communit

[2021-01-25 13:32] #926 closed

[2021-01-26 05:07] hdcola opened #933 "Reference httpPost() Examples show problem"
**Actual Behaviour**

https://p5js.org/reference/#/p5/httpPost

<img width="903" alt="image" src="https://user-images.githubusercontent.com/1254855/105802814-f1ed5600-5f69-11eb-823f-00b74db5a6dc.png">

MacOS 11.1 Safari 14.0.2 Chrome 87.0.4280.88

[2021-01-26 17:53] limzykenneth commented on #933
This has been fixed in #4763 but the recent documentation changes were not updated on the website completely. @lmccart Were you able to look into manually updating it as per #918 and https://github.com/processing/p5.js-website/issues/925#issuecomment-763575147?

[2021-01-28 06:39] lmccart commented on #933
thanks @limzykenneth. I'm unfortunately very underwater with school and deadlines right now but I can attend to this the week of feb 15. thanks for your patience and understanding everyone.

[2021-01-30 15:58] #927 closed

[2021-02-03 14:43] #921 closed

[2021-02-18 00:24] NathanStrutz opened #936 "Offline reference documentation is missing "all.css""
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) - **Documentati

[2021-02-18 15:44] montoyamoraga commented on #936
hi @NathanStrutz thanks for pointing this out!

hi @rt1301 thanks! i transferred this to the p5.js website repo and i assigned it to you, good luck!

[2021-02-22 14:13] montoyamoraga opened #937 "add "Aesthetic Programming" to "Books" section"
it looks awesome!
https://aesthetic-programming.net/

[2021-02-23 05:20] AndrewAung11 opened #938 "A space in the reference page under the foundation."
**Actual Behaviour**

 I saw a space in the [reference page](https://p5js.org/reference/) under the [foundation](https://p5js.org/reference/#group-Foundation). But under other header I didn't see any space.

 Is it a bug or something else? Just letting know.

 **Screenshots of the issue**
![image](https://user-images.githubusercontent.com/64914752/108517900-5e077380-72f6-11eb-8dd8-01c6979dc610.png

[2021-02-23 08:47] satyasaibhushan commented on #938
hey @montoyamoraga or @anyone ,
I'd like to work on this issue.
I've found the problem but needed some guidance/help going forward

[2021-02-23 10:51] limzykenneth commented on #938
A submodule name (which in this case should be the same as the module name) is missing from the reference [here](https://github.com/processing/p5.js/blob/main/src/core/reference.js#L2) (see [here](https://github.com/processing/p5.js/blob/main/src/dom/dom.js#L14) for an example), adding it should probably solve this problem.

@satyasaibhushan I'll assign the issue to you. Reach out if you need help

[2021-02-23 12:02] satyasaibhushan commented on #938
@limzykenneth,
I figured that out and trying to add the submodule in `data.json`.
yeah adding it to the `p5.js`  makes sense.
 Submitted a PR in `p5.js`

[2021-02-24 11:15] satyasaibhushan commented on #937
Hey @montoyamoraga !!
I'd like to work on this,
I think the work I must do is similar to the work done in [this](https://github.com/processing/p5.js-website/pull/716) PR.
I need some help in figuring out what to write in description section and the links to buy the book.

[2021-02-24 15:03] montoyamoraga commented on #937
hi @satyasaibhushan thanks!
i assigned you this issue,
i would quote the description from their website,
and there is a link for purchasing also there, so it should be easy :)

[2021-02-24 16:00] satyasaibhushan commented on #937
Hey @montoyamoraga,
I did most of the part, but how do I translate into different languages ?
also, can I use the downloaded image from their site for the cover (will there be any copyright issues ??)

[2021-02-24 16:06] dipamsen opened #939 "broken link in libraries page"
**Actual Behaviour**

Broken link on [/libraries](https://p5js.org/libraries/) -> blizard.js library

 **Expected Behaviour**

the github user link and repo link are invalid

 **Steps to reproduce it**

https://p5js.org/libraries/ -> scroll down to `blizard.js`

on searching google, found that it used to exist in the past
did not find any current repo named `blizard.js`

 **Screenshots of the issu

[2021-02-24 16:44] montoyamoraga commented on #937
hi @satyasaibhushan !
which file are you working on? this is what i i remember:
we have a file with the structure of each section of the website, like "Books", and it has placeholders to be filled by a set of files, one for each language, right?

if so, the work is both adding the book to the file with the structure, and then doing the english placeholders, and copying and pasting that to the othe

[2021-02-24 16:47] montoyamoraga commented on #939
@dipamsen thanks!
i agree, i looked up the library and the user and they are both gone,
are you interested in creating the pull request to fix this? :)

[2021-02-24 17:22] #937 closed

[2021-02-25 08:26] takyano opened #941 "Donorbox shows error on Donate page"
Visiting the Donate page

Donorbox shows error on Donate page

 **Screenshots of the issue**

![p5js-website_donate_page_donorbox_error](https://user-images.githubusercontent.com/2504401/109124645-272bc600-7719-11eb-9fa6-13dc34ffbce1.png)

[2021-02-25 08:43] dipamsen commented on #939
@montoyamoraga sorry, i tried to create a fork and make the changes, but since i am on windows, if i am not wrong, `grunt` messed up the newlines in all the files, which created a huge diff...

for anyone who wants to create a PR:
* delete [/src/data/libraries/libraries.json blizard.js entry](https://github.com/processing/p5.js-website/blob/main/src/data/libraries/libraries.json#L47-L56)
* remove

[2021-02-25 09:38] ShenpaiSharma commented on #939
Hi, @montoyamoraga @dipamsen. I would like to work on this issue.

[2021-02-25 16:30] montoyamoraga commented on #939
oh @dipamsen i'm sorry about that, yeah new lines can be tricky
@ShenpaiSharma i just assigned you this issue so you can follow the instructions above thanks!

[2021-02-25 17:26] #939 closed

[2021-02-25 18:25] khanjasir90 commented on #685
@limzykenneth  can i work on this feature!

[2021-02-26 00:02] montoyamoraga commented on #685
hey @khanjasir90 sure, thanks!

[2021-02-26 13:03] khanjasir90 commented on #685
@montoyamoraga  whenever i am making changes in index.html file the changes are not getting reflected instead of starting the server again ! can u pls help

[2021-02-26 13:32] montoyamoraga commented on #685
hey @khanjasir90, just to double check,
are you following the instructions from
https://github.com/processing/p5.js/tree/main/contributor_docs ?
most sections i have worked on, i modify source files in YAML or another structure,
and then after running grunt, they are transpiled to html, i think most sections of the website
are not programmed directly in HTML :)

[2021-02-26 13:44] sosunnyproject opened #943 "fix Korean Translation of bezier()"
**Actual Behaviour**

Hi, there are few mistranslations in https://p5js.org/ko/reference/#/p5/bezier korean version of bezier method's reference page.The explanations of parameters are mixed up a bit.

 **Would you like to work on the issue?**

I am working on the issue, and will create pull request shortly.

[2021-02-26 18:10] #943 closed

[2021-02-27 06:39] khanjasir90 commented on #685
thanks @montoyamoraga  one more thing i was about to add search icon in the search bar but was not able to detect the file in which i should add !  can u pls help coz i am a beginner in open source!

[2021-02-27 12:06] montoyamoraga commented on #685
hi @khanjasir90, thanks!
we are not adding features, unless we are improving access, i suggest either reading all the related issues and pull requests on this thread, or finding another issue you can help us with, this one is a lot of work :)

[2021-02-27 12:08] montoyamoraga commented on #818
thanks @gabrieldespindula,
let us know any news :)
closing this issue for now

[2021-02-27 12:08] #818 closed

[2021-02-27 14:17] khanjasir90 commented on #685
thats okay @montoyamoraga

[2021-03-01 14:48] rt1301 commented on #936
@montoyamoraga
In the grunt file of p5.js-website project, the following code is written for offline reference:
`{
            expand: true,
            cwd: '<%= config.dist %>/assets',
            src: 'css/all.css',
            dest: '<%= config.src %>/offline-reference/'
 },`
This is the code responsible for compressing the reference section and making it a zip file right?

[2021-03-01 15:02] montoyamoraga commented on #936
hi @rt1301 i'm not really sure, but it looks in the right direction to me ~
let me tag @limzykenneth who knows more :)

[2021-03-01 22:32] limzykenneth commented on #941
I believe the donorbox campaign is over for this year so the box may need to be hidden or removed. Not sure though.

[2021-03-03 05:48] rt1301 commented on #936
@limzykenneth, I have added some changes to the offline reference, and in the `dist` directory, the offline-reference zip file contains the updated changes. Still, while trying to download it from the locally hosted website, the old offline-reference zip file is downloaded. Can you suggest to me how to fix this?

[2021-03-03 22:59] limzykenneth commented on #936
@rt1301 The URL for that link is hardcoded to point to p5js.org. You can just run the build step and have a look at the generated zip file in the `dist` folder to see if it worked correctly. If that zip file looks fine, it will be fine on the live website when deployed.

[2021-03-04 06:21] #938 closed

[2021-03-05 11:55] jeeva2812 commented on #941
@limzykenneth  Can I remove the donor box?

[2021-03-05 18:55] #936 closed

[2021-03-05 18:57] lmccart commented on #941
thanks for flagging this, this needs to be changed back to our year-round donorbox link. I can make the change.

[2021-03-09 23:12] takyano opened #950 "Avenir is still in the Reference"
#175 looked like a pass at removing the font from the repo.

I am finding Avenir still in the repo:

    /src/offline-reference/assets
    /src/templates/pages/reference/assets

This gets propagated to the offline reference and the specific language versions.

[2021-03-09 23:17] takyano opened #951 "Why are the reference assets buried in the templates section?"
I didn't expect to find the assets for the reference section in the /src/templates/pages/reference/ directory.

Would this not be better in /src/data/reference/ ?

[2021-03-10 15:59] two-ticks opened #952 "Graphing 2D Equations example missing from p5js.org/examples"
'Graphing 2D Equations' example from https://processing.org/examples/ is missing from http://p5js.org/examples

'Graphing 2D Equations' example from https://processing.org/examples/ can be ported to http://p5js.org/examples

 I would like to work on it

[2021-03-11 23:15] #941 closed

[2021-03-12 03:29] #952 closed

[2021-03-13 00:27] #693 closed

[2021-03-13 19:52] two-ticks opened #955 "symbols in description of math examples"
**Actual Behaviour**

Mathematical symbols are represented by words

 <img src="https://user-images.githubusercontent.com/68433541/111042040-45a3f800-8461-11eb-8669-0710d0d85145.jpg" height="100" /><img src="https://user-images.githubusercontent.com/68433541/111042042-48065200-8461-11eb-8baa-8003bb4766fa.jpg" height="100" /><img src="https://user-images.githubusercontent.com/68433541/111042043-493

[2021-03-13 19:57] montoyamoraga commented on #955
hi @two-ticks, thanks so much!
my only concern would be if doing this change, that it doesn't change functionality for screen readers and accesibility, could you please test that? fingers crossed!

[2021-03-14 18:50] Prateek93a opened #956 "Support for Dark Theme"
Currently the website only has a default theme. I am not sure but I believe it would be nice to have support for dark theme as well.

[2021-03-15 13:17] jnsjknn commented on #956
I'd be happy to work on this feature.

[2021-03-15 14:43] two-ticks commented on #955
KaTeX will require assets, we can instead use unicode symbols because we need only some symbols.
![image](https://user-images.githubusercontent.com/68433541/111167430-22935880-85c7-11eb-838d-ba1671d3f308.png)

I observed parametric equation example on p5js website is currently using unicode symbol
https://p5js.org/examples/math-parametric-equations.html

![image](https://user-images.githubusercont

[2021-03-15 15:32] montoyamoraga commented on #955
hi @two-ticks, okie so then let's do unicode instead of KaTeX, so that there is consistency and less overhead, thanks!

[2021-03-15 16:48] micuat commented on #956
I'm just thinking out loud, but if it's going to be implemented what about adding high contrast mode too to be consistent with the web editor?
https://github.com/processing/p5.js-web-editor/issues/1263

[2021-03-15 17:15] montoyamoraga commented on #956
thanks everyone! i assigned @jnsjknn for this issue

[2021-03-15 21:05] #955 closed

[2021-03-15 22:26] jnsjknn commented on #956
I'll start by making the dark theme itself but what comes to changing the theme, should should there be a toggle or should it be automatic based on [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme)?

[2021-03-16 13:04] jnsjknn commented on #956
I have now created new dark and high contrast themes. I did my best to match the colors in the web editor for consistency. Currently, the theme can only be changed by editing the classList of the body element:

[code]

It may be a good idea for someone more experienced to see if my implementation is ok. Can someone check it by cloning my [fork](https://github.com/jnsjknn/p5.js-website) or how shou

[2021-03-16 13:38] suhascv opened #959 "Example Addition Approval"
**Actual Behaviour**

Add your examples [here](https://github.com/processing/p5.js-website/tree/main/src/data/examples)

 **Expected Behaviour**

If your example is approved ,your example will be displayed [here](https://p5js.org/examples/)
An Example named **My New Example**  was added under interaction section

![Screenshot from 2021-03-16 09-21-28](https://user-images.githubusercontent.com/4329

[2021-03-19 14:35] two-ticks opened #961 "port statements and comments example from processing.org to p5js.org"
**Actual Behaviour**

`p5js.org/examples` does not contain `Statements and Comments` example.

**Expected Behaviour**

We can port this example from `processing.org`. It can help beginners to understand syntax.

 **Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/68433541/111793632-7665b080-88eb-11eb-8b47-390d55001891.png" width="350" />  <img src="https://user-image

[2021-03-19 15:41] montoyamoraga commented on #961
thanks! i recommend porting it from the Processing website, and add the reference like we did here https://p5js.org/examples/simulate-springs.htm :)

[2021-03-20 16:36] SanjaySinghRajpoot opened #962 "Adding Milliseconds example in Inputs From processing.org to p5js.org"
**Actual Behaviour**

p5js.org/examples page does not contain Millisecond's example in Inputs.

 **Expected Behaviour**

 Adding Millisecond's example in Inputs From processing.org to p5js.org.

 **Screenshots of the issue**

![Screenshot 2021-03-20 220435](https://user-images.githubusercontent.com/67458417/111877219-4d671d80-89c8-11eb-91a8-f4fc1aa5b7a9.png)

 **Would you like to work on the issue

[2021-03-20 17:13] montoyamoraga commented on #962
thanks!

[2021-03-21 12:20] #961 closed

[2021-03-21 12:29] montoyamoraga opened #964 "File data.yml not updating"
i noticed that we have this file
https://github.com/processing/p5.js-website/blob/main/src/data/data.yml
which hasn't been updated in 7 months,
and i don't know if we still need it, or if it could be linked to
the new feature introduced by
https://github.com/processing/p5.js/pull/5107
or if we should get rid of it?
so many questions :)

[2021-03-21 15:50] SanjaySinghRajpoot opened #966 "Adding Brownian example in Motion From processing.org to p5js.org"
**Actual Behaviour**

Brownian Motion Example is missing in p5js.org

 **Expected Behaviour**

Adding Brownian Motion Example in p5js.org

 **Screenshots of the issue**
![Screenshot 2021-03-21 211454_LI](https://user-images.githubusercontent.com/67458417/111911328-1c035600-8a8b-11eb-9a20-2d4c4b209695.jpg)

 **Would you like to work on the issue?**

Yes, I would like to work on this issue.

[2021-03-21 18:15] limzykenneth commented on #964
The file is used in template renderings to set the p5.js version used for embeded code, for example [here](https://github.com/processing/p5.js-website/blob/8b7e7f8ec9fc4f4ff70a118a5a222c79d134c104/src/templates/pages/learn/home/index.html#L53). It should be updated when the site builds [here](https://github.com/processing/p5.js-website/blob/main/Gruntfile.js#L374-L389), though I'm not sure it's wo

[2021-03-21 18:38] montoyamoraga commented on #966
thanks!

[2021-03-22 13:57] #962 closed

[2021-03-23 13:01] #966 closed

[2021-03-24 15:46] montoyamoraga commented on #959
hi @suhascv, thanks for the examples!
it's going to take us a while to review them or approve them,
we will try our best!

[2021-03-25 13:38] SanjaySinghRajpoot opened #975 "Random Gaussian Example Missing in Processing.js"
**Actual Behaviour**

Random Gaussian Example is Missing in Processing.js

 **Expected Behaviour**

 Adding Random Gaussian Example From Processing to  Processing.js

 **Screenshots of the issue**

![randomGaus](https://user-images.githubusercontent.com/67458417/112481855-73f8d000-8d9d-11eb-8f79-fe0dbf140d86.png)

 **Would you like to work on the issue?**

 Yes, I would like to work on this issue.

[2021-03-25 17:47] montoyamoraga commented on #975
thanks!

[2021-03-26 12:44] #975 closed

[2021-03-27 14:52] SanjaySinghRajpoot opened #977 "Adding Text Rotation (Typography) example from Processing to Processing.js"
**Actual Behaviour**

Text Rotation (Typography) example is missing from Processing.js. The same issue was listed in #922  but was not assigned to anyone. This is a new one with proper steps. This will also fix error #922.

 **Expected Behaviour**

 Adding Text Rotation (Typography) example from Processing to Processing.js.

 **Steps to reproduce it**

- Updating code for Processing.js
- Changing

[2021-03-27 15:18] montoyamoraga commented on #977
thanks :)

[2021-03-28 09:14] yinhwa opened #978 "On alt texts"
**Actual Behaviour**

Hi all 🖐, i have been trying to add alt texts to the modal box images on /teach page,
and had some thoughts about alt texts on p5.js website in general,

and was wondering if :

1) the alt texts would be enough being added as something like:
`<img src="" alt="blah blah">` on HBS files,
in which case the texts can be read by screen reader, but they don't show up on pages,

or

[2021-03-28 10:41] limzykenneth commented on #978
I'm not familiar enough with the landscape (regrettably) to say either way but rather would refer to [WCAG](https://www.w3.org/WAI/standards-guidelines/wcag/) for recommendations. Maybe there are other school of thoughts on this though.

[2021-03-28 15:23] #977 closed

[2021-03-28 15:23] #922 closed

[2021-03-28 16:19] #920 closed

[2021-03-28 16:57] akshaykumar23399 opened #1247 "I wanted to update website in Hindi language and also wanted to update the design of the website"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-03-28 23:41] outofambit opened #980 "Auto-update of localization files does not include data.min.json"
_originally mentioned by @limzykenneth in https://github.com/processing/p5.js-website/commit/bfa3d02f160eba05851d3534e16c0da3e03627c5#commitcomment-48817918_

**Actual Behaviour**

Our auto localization update script only updates `data.json` when a new p5.js release is published

 **Expected Behaviour**

Our auto localization update script should update `data.json` and `data.min.json` when a new p

[2021-03-29 02:24] yinhwa commented on #978
thank you @limzykenneth for the link! :))  this document is helpful not just for the alt text, but thinking about the web accessibility in general.
I think for now, i can add alt texts as line `<img alt="">` in HTML/HBS and will add extra h or p tags when more people find them needed

[2021-03-29 03:11] lmccart commented on #978
@yinhwa thanks! I think adding them in the `alt` field of img tags makes sense. Note that you can also use the i18n notation within alt text, so these can be translated just like the text on the page.

[2021-03-29 03:17] yinhwa commented on #978
@lmccart yeppy ill also work with the i18n! thanks for the clarification🤗🤗

[2021-03-29 03:57] rmurrish opened #982 "download page links should point to vX.X.X instead of X.X.X"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other, website

#### Details about the bug:

[2021-03-29 05:13] lmccart commented on #982
@outofambit I'll rename the release for now to get the download link back online, and see if I can get to the hbs update in the next few days. it should be simple, but I'm not sure if there are any other complications to making this change.

[2021-03-29 10:58] #980 closed

[2021-03-29 11:06] limzykenneth commented on #982
The git tags `npm` creates automatically adds the `v` at the beginning I think but it shouldn't be a problem as long as when releasing the release name doesn't contain `v` it should still work regardless.

[2021-03-29 11:11] SanjaySinghRajpoot commented on #950
ok got it May I work on this issue.

[2021-03-29 11:15] limzykenneth commented on #950
@SanjaySinghRajpoot Go ahead. Do have a look to make sure the font file is not used elsewhere on the site (particularly examples and reference) before removing them entirely. Thanks.

[2021-03-29 11:16] limzykenneth commented on #951
It is more or a legacy thing than any other particular reason. If reorganizing it will make things clearer I'm happy to see that.

[2021-03-29 12:02] SanjaySinghRajpoot commented on #950
Yes, I will Thanks.

[2021-03-29 14:10] outofambit commented on #982
we could also adjust the release script for p5 to name the draft release without a "v"?

[2021-03-29 14:38] lmccart commented on #982
@outofambit I think this option makes sense if it's not too difficult, so we can keep consistent with the release naming convention we've been using

[2021-03-30 22:42] #959 closed

[2021-03-30 22:43] #950 closed

[2021-03-30 23:14] lmccart commented on #982
I couldn't find any [option](https://github.com/sindresorhus/np#readme) to name the draft release, does anyone else see it? If not, we can go with updating the path in the hbs file for the website instead.

[2021-03-31 04:50] SanjaySinghRajpoot opened #987 "Hindi Translation for Showcase page in hi.yml"
**Actual Behaviour**

 In the hi.yml file, the Showcase page is not translated to Hindi text. It is still in English.

 **Expected Behaviour**

I will be translating English text to Hindi in hi.yml for the Showcase Page.

 **Screenshots of the issue**

![Screenshot 2021-03-31 100341](https://user-images.githubusercontent.com/67458417/113091597-e89e9500-9209-11eb-885e-a5939da3edb7.png)

 **Would yo

[2021-04-01 17:29] SanjaySinghRajpoot commented on #982
No, I am also unable to find that option. I think we should go ahead by updating the path in the hbs file. But where is the correct download page link?

[2021-04-02 02:35] outofambit commented on #982
agreed!

@SanjaySinghRajpoot the link should be https://github.com/processing/p5.js/releases/download/v1.3.1/p5.zip instead of https://github.com/processing/p5.js/releases/download/1.3.1/p5.zip. (the difference is the v1.3.1 instead of just 1.3.1)

https://github.com/processing/p5.js-website/blob/main/src/templates/pages/download/index.hbs is where this link is rendered, but i haven't looked close

[2021-04-02 02:41] lmccart commented on #982
I think the todo would be to add a "v" before "[p5_version]" on [line 62](https://github.com/processing/p5.js-website/blob/main/src/templates/pages/download/index.hbs#L62) and [line 72](https://github.com/processing/p5.js-website/blob/main/src/templates/pages/download/index.hbs#L72)

[2021-04-02 05:55] #978 closed

[2021-04-02 05:58] lmccart commented on #918
I think this has now been resolved.

[2021-04-02 05:58] #918 closed

[2021-04-02 05:59] lmccart commented on #933
this has been fixed with latest release

[2021-04-02 05:59] #933 closed

[2021-04-02 06:00] lmccart commented on #659
I no longer see this issue, I believe it's been resolved.

[2021-04-02 06:00] #659 closed

[2021-04-02 06:01] lmccart commented on #623
this has been resolved with last year's showcase update

[2021-04-02 06:01] #623 closed

[2021-04-02 06:02] lmccart commented on #618
I'm not seeing a lot of support for this feature, and I don't know how it directly contributes to [expanding access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) so I will close this for now. Thanks!

[2021-04-02 06:02] #618 closed

[2021-04-02 06:04] #461 closed

[2021-04-02 06:04] lmccart commented on #461
closed with #462

[2021-04-02 06:05] #585 closed

[2021-04-02 06:06] lmccart commented on #586
This page is updated regularly via [GSOC](https://summerofcode.withgoogle.com/) and [processing foundation fellowships](https://processingfoundation.org/fellowships). If you'd like to submit a proposal to update it, we'd encourage you to do so through one of those two programs, both calls are open right now. Thanks!

[2021-04-02 06:06] #586 closed

[2021-04-02 06:08] #685 closed

[2021-04-02 06:11] lmccart commented on #650
I'm not seeing much interest in this feature here so I'd suggest we hold off and prioritize others for now.

[2021-04-02 06:11] #650 closed

[2021-04-02 06:13] #75 closed

[2021-04-02 06:13] lmccart commented on #74
this has been resolved

[2021-04-02 06:13] #74 closed

[2021-04-02 06:13] #80 closed

[2021-04-02 06:14] #151 closed

[2021-04-02 06:16] #587 closed

[2021-04-02 06:17] lmccart commented on #369
this has been resolved

[2021-04-02 06:17] #369 closed

[2021-04-02 06:17] #272 closed

[2021-04-02 06:18] lmccart commented on #72
covered with https://github.com/processing/p5.js-website/issues/694

[2021-04-02 06:18] #72 closed

[2021-04-02 06:19] lmccart commented on #284
tracking in https://github.com/processing/p5.js-website/issues/694

[2021-04-02 06:19] lmccart commented on #694
also see #284 and #72 for relevant comments

[2021-04-02 06:19] lmccart commented on #863
Hi @Swapnil-2001 we would welcome a PR with this example if you are still interested.

[2021-04-02 06:22] #284 closed

[2021-04-02 06:22] #306 closed

[2021-04-02 06:24] lmccart commented on #557
tracked in https://github.com/processing/p5.js-website/issues/420

[2021-04-02 06:24] #557 closed

[2021-04-02 06:25] lmccart commented on #420
most updated issues around this tracked here https://github.com/processing/p5.js-website/issues/656

[2021-04-02 06:25] #420 closed

[2021-04-02 06:52] SanjaySinghRajpoot commented on #982
ok, I will fix this error, But there is one problem, https://github.com/processing/p5.js/releases/download/v1.3.1/p5.zip this link  Returns a page saying **"Not Found".** The original download link is still missing.  @outofambit @lmccart If you guys want I will update the **index.hbs** file. Just let me know.

[2021-04-02 07:42] Swapnil-2001 commented on #863
Sure, @lmccart, I'd be happy to create a PR!

[2021-04-02 09:58] limzykenneth commented on #987
The showcase is technically no longer on the p5js.org website and moved to it's own [site](https://showcase.p5js.org/#/). Through normal navigation (without direct links) a user will usually not come across this page anymore.

[2021-04-02 16:41] #987 closed

[2021-04-03 03:23] SanjaySinghRajpoot opened #993 "Contributors Conference Pages (2019 and 2015) Still in English in Hindi Branch"
**Actual Behaviour**

[Contributors Conference 2019](https://p5js.org/community/contributors-conference-2019.html) and Contributors Conference 2015 page are still in English in Hindi Branch.

 **Expected Behaviour**

Translating [Contributors Conference 2019](https://p5js.org/community/contributors-conference-2019.html) and Contributors Conference 2015 page to Hindi in hi.yml file of Hindi Branch.

[2021-04-04 01:37] outofambit commented on #982
@SanjaySinghRajpoot that's ok! it will do that until we change the title of the [latest p5.js release](https://github.com/processing/p5.js/releases/tag/1.3.1) back to `v1.3.1`.

my plan is to merge your fix and update the name of that release at the same time when we're ready. :)

[2021-04-04 14:25] #863 closed

[2021-04-05 17:21] limzykenneth commented on #993
You can go ahead with a PR with translations. Thanks.

[2021-04-07 15:12] #993 closed

[2021-04-09 13:53] Nolski opened #1000 "Learning Section Information Architecture"
Hello all!

I hope this is the right place to have this discussion but if not, please let me know and I can move this to somewhere more appropriate. I am leading an effort at [Open@RIT](https://www.rit.edu/research/open) where our team helped [contribute a number of examples](https://github.com/processing/p5.js-website/pulls?q=is%3Apr+author%3Asuhascv) created by one of our fellows, [Prof. Michell

[2021-04-11 16:53] #982 closed

[2021-04-13 18:19] sharethewisdom opened #1001 "addition of a new language: src/data/nl.yml"
hi, the contributor's docs told be to open an issue here. I'm preparing a pull request for dutch (language code [nl](https://www.loc.gov/standards/iso639-2/php/langcodes_name.php?iso_639_1=nl)).

At the moment, this will only include the website's *src/data/nl.yml* file. I've translated most of it, some exceptions being references to external libraries, books and conferences. I carefully considere

[2021-04-15 10:04] Rahulm2310 opened #1003 "Errors in the hindi translation of community and contributors conference pages"
**Actual Behaviour**

There are some errors as well as some missing translations for community and contributor conference pages.

 **Expected Behaviour**

These errors needs to be resolved and missing translations need to done.

 **Screenshots of the issue**
![hindi-error1](https://user-images.githubusercontent.com/54268438/114851887-e8a0b680-9dff-11eb-85e5-7a69531a54b7.JPG)
![hindi-error2](https:

[2021-04-15 10:06] Rahulm2310 commented on #1003
@montoyamoraga @limzykenneth Can this be assigned to me ☺️

[2021-04-15 12:45] limzykenneth commented on #1003
Yes, please go ahead with a fix.

[2021-04-16 10:05] Rahulm2310 opened #1005 "Library names not readable due to poor contrast"
**Actual Behaviour**

 Distinguishing colors with low contrasts is difficult for individuals who have low vision. The library names on the `/libraries` page  have a poor contrast due to background images which makes it difficult to read for `visually impaired`.

 **Expected Behaviour**
We can add text highlighting to increase the contrast. For example
![image](https://user-images.githubusercontent

[2021-04-16 13:31] SanjaySinghRajpoot opened #1006 "First Sketch Headings are still in English in hi.yml file"
**Actual Behaviour**

 The first sketch headings are still in English for the Hindi site.

 **Expected Behaviour**

 The First sketch headings are to be translated into Hindi language.

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/67458417/115031610-ffb9d400-9ee5-11eb-984b-ed56ca7e2caa.png)

 **Would you like to work on the issue?**

Yes

[2021-04-18 07:17] Rahulm2310 commented on #1005
@limzykenneth @lmccart Can I be assigned to this?

[2021-04-18 12:50] SanjaySinghRajpoot opened #1007 "Block of text appearing on every page of P5.js Hindi translation"
**Actual Behaviour**

Some taglines are appearing on every page of p5.js Hindi Translation.

 **Expected Behaviour**

Removing the taglines should fix this problem. I have shared some screenshots below.

 **Screenshots of the issue**
![randomblockofCode](https://user-images.githubusercontent.com/67458417/115146068-a29f5900-a072-11eb-9114-aaa82d9a2c96.png)
![Screenshot 2021-04-18 134718](https://us

[2021-04-19 06:12] Shubhamlmp commented on #1003
Hello, Dear @limzykenneth, I am interested in working as a GSoD student and I want to contact you regarding Internationalization improvements of p5.js website but I don't find your contact information. Please provide your email ID.
Thank You!

[2021-04-19 10:16] micuat opened #1008 "feedback on the reference"
Not sure where to post this but I hope it is fine to share feedback here, which I found on Processing Discourse:

https://discourse.processing.org/t/what-is-the-difference-between-creategraphics-and-creatediv/29484/5

While I think the reference should be concise and not exhaustive (not a tutorial), it may be improved by adding different languages according to the readers' skills and adding a stru

[2021-04-19 21:01] limzykenneth commented on #1008
I think if there are specific examples for what can be modified or added we can more easily action on them. The example given for describing p5.Graphics as a layer in Photoshop is one such example, however in this case I don't think it is a good analogy about what p5.Graphics actually is.

p5.Graphics is a canvas in and of itself not unlike the one created with `createCanvas`, it's just not displa

[2021-04-19 21:14] limzykenneth commented on #1007
I'm not sure we need to removed the taglines completely since I don't understand why the taglines are so long (they should be a short sentence only), which seems like a bug to me (maybe the Hindi yml file has formatting issues?)

[2021-04-19 21:43] limzykenneth commented on #1001
@sharethewisdom It's great to see you are interested in translating p5.js into Dutch. I'm not currently aware of upcoming projects that adds additional languages to the official website at the moment and in general we err on the side of caution when adding new languages to the website as one of the things we consider is the long term maintenance of the materials, including translated version of th

[2021-04-19 21:45] limzykenneth commented on #1001
It probably should be.

[2021-04-19 21:48] limzykenneth commented on #1001
On a personal note, I'm currently working on some research into translation on open source software and will probably need some help/perspectives of people working on translations as part of my research. If you are interested to be involved (will most probably be working on p5.js related materials), do let me know and I'll contact you with more details when available.

[2021-04-19 21:53] limzykenneth commented on #1005
Seems like a good change. You can go ahead with a PR. Thanks.

[2021-04-19 21:59] limzykenneth commented on #1003
Hi, @Shubhamlmp. Depending on what the questions are it may be preferred if you open an issue here (if its technical) or be posted on the [forum](https://discourse.processing.org) (which has dedicated section for GSoC). You can tag me @limzykenneth in both places. If there's something else more specific then you can email me at limzy.kenneth@gmail.com though it may take longer for me to response s

[2021-04-19 23:00] sharethewisdom commented on #1001
hi, thanks for your response. I'm coaching 10-14 year olds and I'd like to refer them to the official site. My understanding is that when the official site gets used in a particular community, like [CoderDojo Netherlands](https://coderdojo.nl) and [CoderDojo Belgium](https://www.coderdojobelgium.be/en), there is stronger incentive for continued improvement on that language.

It would really help a

[2021-04-19 23:02] sharethewisdom commented on #1001
I hope that this community continues to "recognize and encourage involvement of all kinds", especially translations, as they will diversify the community. I'd like to continue to maintain and translate the relevant files for a few years if the pull requests get through.

[2021-04-19 23:45] micuat commented on #1008
I agree (even if it's a good analogy, it is always difficult because it depends on knowledge / cultural background etc). To me it makes more sense to point to appropriate example/tutorial pages rather than giving further explanations on the reference - but I guess it depends on the extent of the explanation.

I'm interested in how potentially this can be improved in terms of displaying on the refe

[2021-04-20 00:30] JetStarBlues opened #1009 "Group together shader related content on the Reference page"
**Actual Behaviour**

At the moment, [articles][0] related to shaders are placed under the group `Lights, Camera`>`Material`. Though placing the shader functions here makes sense from a codebase perspective (as the default materials are ultimately implemented as shaders), it is confusing for a user (with no knowledge of this), to have these functions nested here.

**Expected Behaviour**

In the [P

[2021-04-20 01:07] JetStarBlues opened #1010 "Category order in Reference page"
**Actual Behaviour**

At present, the major categories in the [reference page][0] seem to appear in an arbitrary order...

They currently appear in the following order:
- environment
- color
- shape
- constants
- structure
- DOM
- rendering
- foundation
- transform
- data
- events
- image
- IO
- math
- typography
- lights, camera

 **Expected Behaviour**

I think the groups should appear in some s

[2021-04-20 01:59] turtlekey commented on #1008
Yes, we have to acknowledge that the [reference | p5.js](https://p5js.org/reference/) is user-friendly enough for most of the functions, such as `line()`, `push()`, `pop()`, `clear()`, but at least for `p5.Element`, it is not clear enough.

For example
[code]
the [reference | p5.js](https://p5js.org/reference/) describes the p5.Element as "Base class for all elements added to a sketch, including c

[2021-04-20 04:48] JetStarBlues opened #1011 "Reference page click-to-reveal class methods"
**Actual Behaviour**

Currently, the only way to find out about the existence of class methods from the [Reference page][0] is by clicking on the class article. For example, the only way to become aware of the `setUniform` method is by clicking on the [`p5.Shader` article][1].

This works fine if you are already familiar with what a class does. However, it is not so great for discovering functiona

[2021-04-20 05:20] JetStarBlues opened #1012 "Camera duplicate entries in Reference page"
**Actual Behaviour**

Some camera methods have duplicate entries in the Reference page.

Standalone entries
- [camera()][1]
- [perspective()][2]
- [ortho()][3]
- [frustum()][4]

Entries nested under [`p5.Camera`][0]
- [camera()][5]
- [perspective()][6]
- [ortho()][7]
- [frustum()][8]

The standalone entries have detailed explanations with examples. Whereas the entries within the [`p5.Camera` class

[2021-04-20 07:55] Rahulm2310 commented on #1011
@JetStarBlues Can you please include how it is going to increase the accessibility of the reference.

[2021-04-20 09:50] sharethewisdom commented on #1001
I'll see if I can publish a dutch version of the reference [here](https://cdjeeklo.gitlab.io/html/).

[2021-04-20 10:37] SanjaySinghRajpoot commented on #1007
I have checked the `en.yml` file for the P5.js site, it also has the same taglines. I think there is something wrong with the `index.hbs` file in Hindi branch. I will look for any error and then I have a PR. Thanks

[2021-04-20 11:27] micuat commented on #1008
ok let's not mix up two things - here we talk about site feedback (how the reference can be improved) and for questions we will discuss on discourse. I will answer to your questions on discourse, but until we have a clear suggestion to the website (which I hope somehow we make it) let's have a discussion on discourse instead.

[2021-04-20 16:56] #1005 closed

[2021-04-20 17:32] JetStarBlues commented on #1011
**Accessibility**
The current organization of class methods makes the assumption that 1) a user is familiar with concept of classes and that 2) they will know what the base class is of an object they are working with, and 3) they will know to look in the documentation of the class to find associated methods.

As a personal example, when I was trying to figure out how to work with shaders in p5, I

[2021-04-20 19:41] montoyamoraga commented on #1003
closed via #1004

[2021-04-20 19:41] #1003 closed

[2021-04-21 07:54] Rahulm2310 opened #1015 "Download links skipped by screen reader"
**Actual Behaviour**

The chrome screen reader skips the download links under `Single Files` section. This might make the links inaccessible to people using screen readers.

 **Expected Behaviour**
Screen reader must read/announce the download links.

 **Steps to reproduce it**

1. Install the chrome screen reader extension
2. Scan the download page.
3. See error

 **Screenshots of the issue**
![i

[2021-04-21 07:56] Rahulm2310 commented on #1015
@lmccart @limzykenneth Can I be assigned to this 🙂

[2021-04-21 23:40] JetStarBlues opened #1016 "Using rect(0,0,0,0) in shader examples"
Currently in the documentation, when a shader is used, where the intent is to create a flat image of size `canvas.width` and `canvas.height`, it is suggested to use `rect( 0, 0, width, height)` as a way to provide the vertex and fragment shaders with geometry. For example ([src][0], [live][1]):

[code]

I think this approach creates a false mental model. One might get the impression (at least I di

[2021-04-21 23:44] lmccart commented on #1015
@Rahulm2310 yes, assigned, thanks!

[2021-04-21 23:53] aferriss commented on #1016
Hey @JetStarBlues

I think this is probably my fault. I wrote the non-matrix aware version as a way to write the shader more simply for my examples repo. But you're absolutely right in that it creates a false mental model. I think changing the vertex shader to reflect a matrix aware model would be the right move. I think these demo's might have been pulled in from the website that was created at i

[2021-04-22 00:20] JetStarBlues opened #1017 "Documenting available attributes and uniforms on the Reference page"
**Actual Behaviour**

There is currently no documentation on the attributes and uniforms that are available when writing shaders in p5. For example, the `aPosition` attribute is used in all vertex shader examples, but there is no associated documentation on the Reference page. Similarly, there are a lot of useful attributes and uniforms (such as `uProjectionMatrix`), which do not appear in any of

[2021-04-22 00:53] aferriss commented on #1017
I think this would be a great addition to the docs. I've often found myself struggling to find this information; it would be great if we could more easily surface it for more people :)

It warrants a separate issue, but looking at this I also think that it would be worth also making an additional uModelViewProjectionMatrix uniform that has already done the matrix multiplication on the cpu side. I

[2021-04-22 01:07] JetStarBlues commented on #1016
Thank you for the feedback! Will give it a go.

[2021-04-22 01:31] JetStarBlues commented on #1017
Ah, sounds good! I'll make generous use of the great descriptions you have written in the comments in the examples =)

[2021-04-22 09:25] verstecken opened #1018 "Monospace font for editing code / reference page"
**Actual Behaviour**

In the reference, when I click "edit" on an example code block, the font changes to a proportional font.

 **Expected Behaviour**

Seeing monospace font for code, especially when editing.
In my opinion, the code block shouldn't change when you want to edit, in terms of font / size / position.
It is super helpfull to understand the example code in the reference, to have the po

[2021-04-22 15:58] SanjaySinghRajpoot commented on #1006
Fixed in #1013. Thanks

[2021-04-22 15:58] #1006 closed

[2021-04-22 16:27] JetStarBlues opened #1020 ""Shader as Texture" example"
The current example ["Shader as a Texture"][0] uses `createGraphics()` and `texture()` to apply the output of the shader as a material for the geometry.

However, I think a better approach would be to just use the `shader()` function and avoid all these extra steps. Here is a [live example][1] of said changes (and a simpler example by aferriss ([live][2], [src][3])). The example can then be rename

[2021-04-24 09:26] Rahulm2310 commented on #1007
@limzykenneth the taglines have been commented [here](https://github.com/processing/p5.js-website/blob/1d974b17812e99d16b7a82fdb1cdcab6d4f2ca81/src/templates/layouts/default.hbs#L41) and not shown anymore.

[2021-04-24 11:55] Rahulm2310 opened #1024 "Replacing the code snippet with p5.js-widget on get started page"
**Actual Behaviour**

Currently we have code snippets on the getting started page but they are not editable which limits the user to just view the code.

 **Expected Behaviour**

We can replace the code snippets with [p5.js-widget](https://toolness.github.io/p5.js-widget/) so that users can play around with the code then and there. This would help beginners to get a feel of how everything works.

[2021-04-24 11:58] Rahulm2310 commented on #1024
@limzykenneth @lmccart What do you say

[2021-04-24 13:53] limzykenneth commented on #1018
I'm seeing this problem as well but I have no idea why it is hapenning. Running the site locally I see that the monospace font is still being used in the edit area but not on p5js.org. For some reason the CSS rule that should have set the monospace font on the `<textarea>` is not applied on the live version only.

@verstecken If you can find out why that is the case that would be a good start.

[2021-04-24 14:17] lmccart commented on #1024
I'm worried that this visually clutters the page. The purpose of these snippets is not really to be runnable but to get people up and running with p5 quickly on their own projects.

[2021-04-24 14:20] limzykenneth commented on #1008
I see that the discussions on the forum has concluded so I'm going to close this issue. But if there are specific suggestions about any part of the website, do open another issue. Thanks.

[2021-04-24 14:20] #1008 closed

[2021-04-24 14:32] limzykenneth commented on #1024
Yeah I agree that the snippets there are more for people to copy and run instead of just running on the page itself which is why there are screenshots and the copy buttons below the snippets themselves. It kinda does force some extra steps (having to open up the editor etc) for the users but that is also kinda the point.

[2021-04-25 06:42] Rahulm2310 commented on #1007
@SanjaySinghRajpoot I would suggest you to always wait until the issue is assigned to you before raising a PR. 🙂

[2021-04-25 06:49] Rahulm2310 commented on #1024
Agreed👍.Thank you for sharing your thoughts @lmccart @limzykenneth ☺️

[2021-04-25 06:49] #1024 closed

[2021-04-25 08:16] Rahulm2310 opened #1025 "Alt text missing for workshop images on teach page"
**Actual Behaviour**
The images on the teach page modal have a missing `alt` text which makes the images inaccessible to `visually impaired` or people using screen readers.

 **Expected Behaviour**
There should be alt text describing the image to help visually impaired know what the image is about.

 **Steps to reproduce it**
1. Go to [teach page](https://p5js.org/teach/)
2. Open a workshop modal

[2021-04-25 08:22] Rahulm2310 commented on #1025
@limzykenneth @lmccart does this seems valid

[2021-04-25 11:23] PseudoNerd commented on #1010
In addition to the alphabetical order, can we have a specific order to the functions to each major category where a column only displays a specific number of functions and then moves over to a new column?

Would love to take this up.

[2021-04-26 14:38] verstecken commented on #1018
adding this three rules to the .edit-area class does the fix (in firefox and chromium):

font-family: monospace;
padding: 1.5em 0.5em 0.5em 0.5em;
font-size: 15pt;

although clicking on "edit" for the first time, an empty line is added to the top. when I remove it and click "run" and "edit" again - it's exactly in the same position.

[2021-05-06 21:58] JetStarBlues commented on #1017
Hi, just wanted to check in and mention that I do plan on creating a pull request for this issue. I haven't been able to find as much time as I would like to tackle this.

[2021-05-06 21:59] JetStarBlues commented on #1016
Hi, just wanted to check in and mention that I do plan on creating a pull request for this issue. I haven't been able to find as much time as I would like to tackle this.

[2021-05-06 23:28] aferriss commented on #1017
Thanks @JetStarBlues !

I think to make it easier (both on yourself and to get the PR approved) I suggest starting with smaller PR's than trying to do the whole thing.

Would it make sense to add a separate documentation page for "Built in Uniforms and Attributes", and that can be linked to from the `setUniform` page?

I think that expanding the breadth and completeness of our documentation fits i

[2021-05-07 02:57] JetStarBlues commented on #1017
Thank you for the feedback 🙏
I love the idea of starting with a separate page and linking to it!

[2021-05-07 13:36] stalgiag commented on #1017
Hi all! I love the idea and I agree with @aferriss' suggestion of separating it. This will free us up to have an extensive entry on attributes and uniforms without adding information overload to the reference.

I am unsure of what the best approach would be for making this separate page. Would you want to have embedded examples or would it [also work as a wiki?](https://github.com/processing/p5.js

[2021-05-07 15:52] aferriss commented on #1017
Placing it on the wiki is probably the lowest friction option, though I do think it would be a good addition to the official reference as well.

I'm actually not sure how to spin off a separate page for something that doesn't already have a dedicated method, since all the docs are auto-generated. I'm sure it's possible but might take some poking around.

[2021-05-07 17:28] JetStarBlues commented on #1017
What if it goes under [examples][0]?

[0]: https://p5js.org/examples/

[2021-05-08 02:45] #1025 closed

[2021-05-08 07:17] Rahulm2310 opened #1028 "Display custom 404 page for non existent routes"
**Actual Behaviour**
Currently when we navigate to non-existent routes, we get a default 404 page which gives a negative experience.

 **Expected Behaviour**
We can have a custom 404 page when a user navigates to any non-existent route to turn a potentially negative experience into a positive one.
![image](https://user-images.githubusercontent.com/54268438/117530563-79337680-affb-11eb-8775-49e0c35

[2021-05-08 07:18] Rahulm2310 commented on #1028
@lmccart @limzykenneth what do you say 🙂

[2021-05-09 04:06] ageonic opened #1029 "Link not found for Text Rotation example"
**Actual Behaviour**

Clicking on the Typography `Text Rotation` example results in a "link not found" error. It looks like there is an additional hyphen at the end of the link.

 **Expected Behaviour**

The user should be redirected to the Text Rotation example page.

 **Steps to reproduce it**

 There appears to be an extra space at the end of `line 2` in [this](https://github.com/processing/p5.

[2021-05-09 04:14] montoyamoraga commented on #1029
hi @ageonic thanks!
sure if you want you can send us a PR, or we will take care of it :)

[2021-05-09 04:24] ageonic commented on #1029
@montoyamoraga it looks like you have already taken care of this! Thanks!

[2021-05-09 04:24] #1029 closed

[2021-05-10 21:33] stalgiag commented on #1017
Hm it depends on how you want to design it. This is a bit outside of the norm for the examples page but I think there is some flexibility if you were to think through it with a specific example in mind. I don't know if it would be possible to make a multi-sketch 'Example'.

[2021-05-12 11:38] SanjaySinghRajpoot commented on #1007
fixed in #1023

[2021-05-12 11:38] #1007 closed

[2021-05-13 16:33] Rahulm2310 commented on #1028
@limzykenneth  that means should I just create a static 404 page and submit a PR and then other stuff would be handled by maintainers?

[2021-05-14 20:22] limzykenneth commented on #1028
I would ping @lmccart or perhaps @outofambit on how they would like to handle this as they probably have access to the server hosting the website.

[2021-05-18 20:26] JetStarBlues commented on #1017
I've had a chance to start working on this.

Here's some screen captures of what I have so far. I can create a pull request if the direction is agreeable.

_Screen capture of rendered page_
![localhost_9000_examples_3d-default-shader-inputs html](https://user-images.githubusercontent.com/4354703/118717736-a7773a00-b7e3-11eb-81f7-bdb183d5b22e.png)

_Screen capture of example in index page_
![localh

[2021-05-19 23:30] aferriss commented on #1017
This is a great start! I think you could create a draft PR, it may be easier to keep track of changes that way.

A couple suggestions...
For the attributes and uniforms, I think it would be helpful to give context about what each line represents. So instead of

- aPosition
  - vec3(x, y, z)
  -  position associated with a vertex

we do this instead:

**aPosition**
Type: `vec3(x, y, z);`
Descriptio

[2021-05-20 03:56] JetStarBlues commented on #1017
Sounds good.

I see, will do!

I agree, it would definitely be a cleaner way to present the material. However, the example descriptions are constrained to using [only elements][0] that can appear within a `<p>` tag. (When the example pages are generated, everything following `@description` gets wrapped in a `<p>` tag. The list above is achieved by a bit of a hack using unicode dots and `&nbsp;`.)

[2021-05-20 05:08] JetStarBlues commented on #1017
_Updated style_
![updatedStyle](https://user-images.githubusercontent.com/4354703/118921058-bac5fa80-b8f4-11eb-9a59-57e6be300609.png)

[2021-05-20 18:26] JetStarBlues commented on #1017
It seems the answer is [yes][1]:
[code]
The default camera has position and orientation:
- position (eye) : (0, 0, `(height / 2) / tan(PI / 6)`)
- where camera is pointing (center of scene): (0, 0, 0)
- direction of 'up' from camera: (0, 1, 0)

It is also [defaults][2] to [perspective projection][3]:
- vertical field of view: `PI / 3`
- aspect ratio: `width / height`
- near clipping plane: `eye.z

[2021-05-21 13:31] SanjaySinghRajpoot commented on #1018
I have edited the code in `.edit-area` class. It is working entirely the same as mentioned by @verstecken. By adding the `font-family` property to the `edit-area` class the example code got the same font style. I would like to make a PR for this.

May I work on this issue? @limzykenneth

[2021-05-21 14:25] TylersGit opened #1034 "The math - Noise2D example contains a typo"
The code example given  has the lines
[code]
"Noice" should be changed to "Noise".

 **Would you like to work on the issue?**

Sure :+1:

[2021-05-22 19:44] JetStarBlues commented on #1016
@aferriss @stalgiag
Do you have any insight as to why the y-axis increases "downwards" in the p5 coordinate system?

[OpenGL's coordinate system][0] is such that the y-axis increases "upwards". That is, if you want to move an element "upwards" from the origin `(0, 0, 0)`, you increase its y position e.g. `(0, 100, 0)` to move it up by 100 units.

![openGLCoordinateSystem](https://user-images.githu

[2021-05-23 00:51] JetStarBlues commented on #1020
I've spent some time working on the shader examples as commented above.
Below is a list of current and potential examples as they would appear on the examples page.

1. "Basic Shader"
	- [live demo][0] with source code
	- mostly the same as the current [example][1]
	- changes:
		- updated with commented-out lines demonstrating how can be used for "3D geometry"
[code]

2. "Shader as Texture"
	- pro

[2021-05-26 21:38] stalgiag commented on #1016
Hi @JetStarBlues nice research! This decision was made before my time as a contributor but I believe it was made to keep the y-axis similar to the 2D renderer. Why that is the case and the xy-origin is not the top-left corner has always been a mystery to me.

[2021-05-27 09:57] limzykenneth commented on #1034
Just for reference the link is [here](https://p5js.org/examples/math-noise2d.html).

@TylersGit You can go ahead with a fix. Thanks.

[2021-05-27 10:25] limzykenneth commented on #1018
@verstecken Would you like to work on a fix? If not I'll assign @SanjaySinghRajpoot.

[2021-05-27 15:10] #1034 closed

[2021-05-27 18:08] verstecken commented on #1018
Sure, @SanjaySinghRajpoot can do it, since I actually even don't know, how working on a fix works ;)

[2021-05-27 21:49] JetStarBlues commented on #1016
Ah, I see. Thank you for the insight!

[2021-05-28 02:31] JetStarBlues commented on #1016
Thinking of including the following explanation in the updated .frag files. It's a bit fuzzy because I don't quite understand what happens behind the scenes. Would love some thoughts on the explanation.

[code]

[2021-05-28 04:26] SanjaySinghRajpoot commented on #1018
ok great, I have made the PR. Please review @limzykenneth Thanks

[2021-05-29 22:27] JetStarBlues commented on #1017
I was thinking about how to add `uModelMatrix`.
Since we have a `uViewMatrix` and a `uModelViewMatrix`:

[code]

It seems that [matrix division is not a thing][0]. Luckily the p5.Matrix class already has the inversion function that is used instead.

So [`_setMatrixUniforms()`][1] can be changed to:

[code]

Not sure what this extra calculation (per `draw()` frame) means for performance.

What do y

[2021-05-29 22:39] JetStarBlues commented on #1012
Addressed by [this issue][0] and associated PR

[0]: https://github.com/processing/p5.js/issues/5256

[2021-05-29 22:39] #1012 closed

[2021-05-30 18:30] aferriss commented on #1017
This feels a little backwards to me. Possibly this is just a byproduct of the way that the p5 renderer is set up, but for whatever reason the model matrix never exists on its own and is always applied to the view matrix. I think conceptually it would be good to separate the construction of the two, which would eliminate the need for the inverse calculation you've come up with.

You can see where u

[2021-05-30 23:02] JetStarBlues commented on #1017
Thank you for the feedback!

I agree that drawing a distinction between the two within the source code would be the ideal solution.
I don't have a strong understanding of the model and view matrices to be able to separate them without guidance.

Will do

[2021-06-01 02:47] JetStarBlues commented on #1017
Here's a screenshot of the current documentation state:

![localhost_9000_examples_3d-default-shader-inputs html](https://user-images.githubusercontent.com/4354703/120259489-4d4d8e80-c251-11eb-8c6b-d82fd320b979.png)

---

And here is the content as text:

---

I've added `uModelViewProjectionMatrix` to the uniform list as I'm currently working on a PR to add (just) it to the source code.

I've rem

[2021-06-01 03:01] JetStarBlues commented on #1017
I've added `uStrokeWeight` to the reserved list because its presence in a shader file is what is used to determine whether a given shader is a stroke- or fill-shader ([src][0]).
[code]

If a shader is marked as a stroke-shader, then the list of _attributes_ available to it changes. This documentation assumes that a user shader is always created as a fill-shader.

We could potentially encourage the

[2021-06-04 17:17] code4humanity opened #1037 "Typos in enviroment.js"
**Actual Behaviour**
In the [enviroment.js](https://github.com/processing/p5.js/blob/1.3.1/src/core/environment.js) lines 664, 695 and 717 is written:

 **Expected Behaviour**

The expected phrase is

 **Steps to reproduce it**

Files:

- [Line 664](https://github.com/processing/p5.js/blob/1.3.1/src/core/environment.js#L664)
- [Line 695](https://github.com/processing/p5.js/blob/1.3.1/src/core/envi

[2021-06-06 15:18] #1037 closed

[2021-06-13 13:59] limzykenneth commented on #1010
I think the current categories are probably going to be the highest level of hierarchy and further grouping them may not prove useful. I think the largest barrier to free navigation here is the amount of info presented initially and having a very long page to scroll through.

One thing I think can help is to have the categories be collapsible, similar to how [openframeworks](https://openframeworks

[2021-06-13 18:34] takyano opened #1040 "offline reference is broken, langs not defined and blobs not loading"
**Actual Behaviour**

Reference examples are not loading in offline reference

Errors in Edge 91.0.864.48 (64-bit) DevTools:

    Uncaught ReferenceError: langs is not defined at window.onload init.js:53

    Not allowed to load local resource: blob:null/de33675c-0930-4938-8c37-1d3dce8f93fc index.html#/p5.Color/toString:1

    Uncaught (in promise) DOMException: The user aborted a request.

Simila

[2021-06-13 20:23] #1009 closed

[2021-06-13 22:49] limzykenneth commented on #1040
I'll have a look at this.

[2021-06-14 22:01] limzykenneth commented on #1040
Ok here's what I found. The `langs` not found error is not related to the problem at all and in this case can be ignored (we haven't implemented translated offline documentation yet so it's doing nothing anyway).

The problem is the error `Not allowed to load local resource: blob:null/2d797ac6-f714-4ae8-a6e6-10bf0a1d6fa9` and others like it, which I tracked down to being spawned by p5.sound when i

[2021-06-15 08:05] sharethewisdom commented on #1001
see also https://github.com/processing/p5.js-website/issues/283

[2021-06-16 05:58] golanlevin opened #1043 "Link to JTNimoy's personal website needs to be updated"
**Actual Behaviour**

On the page [https://p5js.org/libraries/](https://p5js.org/libraries/), for the p5.cmyk.js and Marching libraries, the supplementary link(s) to the personal website of JT Nimoy point to a site that has gone down, [http://jtnimoy.net/](http://jtnimoy.net/). Sadly, JT Nimoy passed away in 2020, and her website is not expected to come back online.

 **Expected Behaviour**

Here

[2021-06-16 14:33] montoyamoraga commented on #1043
hi @golanlevin :)
i submitted a pull request to update the website to be her GitHub account,
also happy to go ahead and link the Internet Archive snapshot,
thanks so much for celebrating her amazing art!

[2021-06-16 23:46] #1018 closed

[2021-06-18 01:09] #1043 closed

[2021-06-18 01:46] Qianqianye commented on #1043
Hi @golanlevin and @montoyamoraga Thanks for working on this! I just double-checked that JT's friend Gabriel Dunne mirrored JT's portfolio to another domain: [jtnimoy.cc](https://jtnimoy.cc/).  I will update the link on the p5.js library page to her new website shortly.

[2021-06-18 01:57] golanlevin commented on #1043
@Qianqianye This is a great solution, thanks. I wasn't aware of the mirror site.

[2021-06-19 09:01] ghost opened #1229 "VIDEO reference is empty"
The section for VIDEO reference has nothing in it

[2021-06-28 16:03] takyano commented on #951
Would it be better in /src/data/reference?

The example assets are stored in /src/data/examples .

Then remove the duplicate set in /src/offline-reference .

[2021-07-01 20:21] takyano opened #1047 "Noise2D example runs at 1.7 seconds per frame"
**Actual Behaviour**

The Noise 2D example is extremely slow in Chrome on Windows. Firefox and Edge are worse.
I get 1.5-1.7 Seconds per frame. 2 seconds per frame on the web editor.

Is this an issue for viewers on other platforms?

Some other issues with the example:

* The second label states that it's 1 octave with a 0.7 falloff. The arguments in the code are 5 octaves and 0.5 falloff
* There

[2021-07-06 22:05] katiejliu opened #1048 "Small typo on examples page"
**Actual Behaviour**

 **Expected Behaviour**

 **Steps to reproduce it**

 **Screenshots of the issue**

 **Would you like to work on the issue?**

[2021-07-06 22:07] katiejliu opened #1049 "Small typo on examples page"
https://p5js.org/examples/drawing-continous-lines.html

continous lines should be "continuous lines"

[2021-07-07 12:22] #1048 closed

[2021-07-07 12:23] #1049 closed

[2021-07-07 13:04] limzykenneth commented on #1047
Sounds good to me, you can file a PR if you like. One thing that I would change in the example you provided is the function namings, specifically `updatePixel` is probably too close to `updatePixels` and might cause confusion. We'll working any other tweaks necessary in the PR.

[2021-07-07 13:18] limzykenneth commented on #951
I feel moving it to `/src/data/reference` is still a bit arbitrary and not intuitive. It would be nice if we can consolidate assets for the website (including reference and examples) into one place then reference examples and examples examples can even share the same assets.

[2021-07-12 06:57] truemaxdh opened #1055 "Some examples are not displayed when Korean is selected."
**Actual Behaviour**
Examples of coordinates and descriptions/comments are not displayed when Korean(한국어) is selected
1. Coordinates
![image](https://user-images.githubusercontent.com/12081386/125243636-4f633c80-e329-11eb-9249-03b176cd4ef0.png)

2. Descriptions/comments
![image](https://user-images.githubusercontent.com/12081386/125243461-1b881700-e329-11eb-905c-1ee06476e6bd.png)

 **Expected Beha

[2021-07-12 12:19] limzykenneth commented on #1055
They probably didn't have a corresponding entry in the Korean example folder as in the English example folder. You can go ahead and add them if you like.

[2021-07-13 14:52] raclim opened #1056 "Add Aria Label to Examples"
- Add an ARIA label to the iFrames within the Examples pages
- supplement projects to add alt text

[2021-07-18 19:16] #1056 closed

[2021-07-19 03:19] Edredd7 opened #1061 "Master of nothing=Debian/GNU/Linux"
Master of nothing=Debian/GNU/Linux

_Originally posted by @Edredd7 in https://github.com/processing/p5.js-website/issues/854#issuecomment-882202288_

[2021-07-19 14:20] #1061 closed

[2021-07-21 19:42] ameybhavsar24 commented on #694
Hello, here's some progress on the responsiveness issue.
Right now, the canvas `#defautlCanvas0` drawn in examples has a custom style attribute, for e.g.: `style="width: 640px; height: 360px;"`.
The parameters for a responsive canvas should be:
[code]
Here's the above _Geometrics_ examples on iPhone X with abovewritten CSS properties:
<img src="https://user-images.githubusercontent.com/28699912/12

[2021-07-27 11:44] #1055 closed

[2021-07-27 12:04] limzykenneth opened #1063 "toString() method reference translations blank"
**Actual Behaviour**

`toString()` method of various classes doesn't have their translations displayed, they are just blank.

The problem comes from using the JSON files [here](https://github.com/processing/p5.js-website/tree/main/src/data/reference) for the translations. For the most part they work, however when there is a key with name `toString()` it conflicts with the native object [`toString(

[2021-07-27 21:37] katiejliu opened #1064 "adding aria labels to examples page"

[2021-07-28 15:52] limzykenneth commented on #1063
There are problems with [`createP`](http://localhost:9000/zh-Hans/reference/#/p5/createP) as well.

[2021-07-29 07:37] truemaxdh opened #1065 "Typo in reference page for 'updatePixels()'"
**Actual Behaviour**
In the parameters section of the reference page for 'updatePixels()', parameter w is described as :
"Integer: height of the target update area for the underlying canvas"

 **Expected Behaviour**
parameter w should be described as :
"Integer: width of the target update area for the underlying canvas"

 **Steps to reproduce it**
go to the addresses below :
https://p5js.org/refer

[2021-07-29 12:21] dybber opened #1066 "Can't login to editor.p5js.org"
**Actual Behaviour**

When typing in my username and password and pressing "Log In" on https://editor.p5js.org/login, I'm not redirected to a new page. Instead the "Log In" button is disabled, so I can't push it a second time, and nothing else happens.

I have included logs from JS console below together with a screenshot.

 **Expected Behaviour**

Expecting that I'm getting logged in and redirect

[2021-07-29 12:23] dybber commented on #1066
Same errors on Safari:
![Screenshot 2021-07-29 at 14 22 51](https://user-images.githubusercontent.com/55204/127491069-9ddb326b-d876-4638-973a-2cca80624901.png)

[2021-07-29 13:36] limzykenneth commented on #1066
This is the repo for p5js.org while the code for the editor is maintained in a different repo so you might want to file it [there](https://github.com/processing/p5.js-web-editor/issues) instead. Thanks.

[2021-07-29 13:37] limzykenneth commented on #1065
@truemaxdh Thanks. You can go ahead and file a PR with a fix if you like.

[2021-07-30 07:56] dybber commented on #1066
Okay, I have created a new issue over there and will close this one.

[2021-07-30 07:56] #1066 closed

[2021-07-30 08:20] yukienomiya commented on #1063
Thank you for catching this @limzykenneth !

I looked a bit into it and I found out the problem was caused by the [function](https://github.com/processing/p5.js-website/blob/main/updatei18nFiles.js#L7) that updates the translated JSON files. In fact, the documentation of the `toString()` methods from both the `p5.Color` and `p5.Vector` classes were already contained in the en.json file.

In partic

[2021-07-30 08:21] yukienomiya commented on #1063
I'll fix this too, thank you for catching this!

(For future reference) I believe this was caused by a previous bug: the HTML code portion of this methods' description was not enclosed in backticks so the `<p>` tags made it seem like the text was made up of two paragraphs instead of one (as shown below).

[code]

This has been automatically corrected in the `en.json` file when the original documen

[2021-08-03 02:27] truemaxdh opened #1072 "Example not displayed properly in Korean translation"
**Actual Behaviour**
In the example, The result screen of the 'operator precedence' page is not displayed in the Korean translation.

 **Expected Behaviour**
It should be displayed in Korean translation.

 **Steps to reproduce it**
from https://p5js.org/,
[Example]->[Operator Priority] in the math section->[Korean] in the upper right corner
or goto:
https://p5js.org/ko/examples/math-operator-prece

[2021-08-03 03:26] akshat-kumar2109 commented on #1072
I would like to work on this.

[2021-08-10 21:43] ace-johnny commented on #956
Are there any further details on the availability of the website's dark theme? This thread seems to indicate that one was attempted, but no affordance was made for selecting it.

Is there any place to download the work already completed? The fork previously linked is dead.

One would think that an explicitly accommodating project such as this would have made accessibility a first priority, so it's

[2021-08-10 21:56] katiejliu opened #1073 "Assigning role to aria labels"
Assigning the role "region" to aria labels so that it creates a web spot

[2021-08-11 05:48] jnsjknn commented on #956
@ace-johnny No details. I don't think my work was ever reviewed by anyone and eventually I forgot about it. Later I ended up deleting the fork without realizing that it had the dark mode code in it.

[2021-08-11 13:12] limzykenneth commented on #1073
Is there a specific place that assigning the "region" role would help? As I understand it the order of preference is Semantic Tags > Semantic Landmark Roles (banner, main, contentinfo, complementary, or navigation) > "region" landmark role, ie if semantic tags are available they can be used instead of assigning a role and if that's not possible, semantic landmark roles should be preferred over "re

[2021-08-11 13:16] limzykenneth commented on #956
I'm happy to review a PR for this if there are existing work already done or if a new attempt is made.

[2021-08-17 21:47] #1073 closed

[2021-08-18 20:33] limzykenneth commented on #1072
There is a missing opening `{` [here](https://github.com/processing/p5.js-website/blob/main/src/data/examples/ko/08_Math/01_operatorprecedence.js#L42) causing a syntax error. Adding it back should solve this.

@truemaxdh You can go ahead and file a PR for this if you like.

@akshat-kumar2109 Thanks for the interest in helping here. @truemaxdh have already express interest in fixing this issue so I

[2021-08-18 20:41] #1065 closed

[2021-08-23 13:07] #1072 closed

[2021-08-31 11:29] sosunnyproject opened #1077 "Showcase link is broken"
I just found out SHOWCASE link on the main website's sidebar menu is broken.
I can access 2020's showcase here: https://p5js.org/ko/showcase/ , but would like to know if that link is what we want as a temporary solution before I make a pull request.

https://showcase.p5js.org/ is currently showing 'Site not found' status.

I was also wondering where we can access 2019's showcase page?
If someone i

[2021-08-31 13:52] limzykenneth commented on #1077
Pinging @outofambit @connieliu0

[2021-08-31 14:03] connieliu0 commented on #1077
hello! it should be fixed now. i removed the domain from my repo bc we wanted to use it on katie chan's 2021 showcase which she forked from my original but it's not working right now so I restored it

[2021-08-31 14:03] #1077 closed

[2021-09-01 07:51] PranjulM23 commented on #1015
Yes

[2021-09-01 07:53] PranjulM23 commented on #696
Yes I would like to work on this issue

[2021-09-14 15:48] kpwill opened #1078 "doubleClicked() example doesn't work in the reference docs"
#### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-09-16 13:54] #1078 closed

[2021-09-24 17:21] jeremydouglass opened #1080 "Example "Load Saved Table" missing part of sentence"
https://p5js.org/examples/advanced-data-load-saved-table.html

Here is the description:

"Because the web browsers differ in where they save files, we do not make use of Based on Daniel Shiffman's LoadSaveTable Example for Processing."

It seems like there is part of a sentence missing between "use of" and "Based on". Use of what? Should it be "a save function." ?

[2021-09-24 20:46] limzykenneth commented on #1080
Probably `saveTable()` as the example in Processing has `saveTable()` in it. Not sure if we need to mention this though.

[2021-10-03 20:26] outofambit opened #1082 "examples aria labels not showing up on live website"
The aria labels added in #1075 and #1057 works great in local development, but for some reason they are not added in the production website.

For example, the example on https://p5js.org/examples/structure-comments-and-statements.html has an aria-label of `""` even though its provided in https://github.com/processing/p5.js-website/blob/27cdf3e8e34f6b8762f8386e10eaa3eb10e9d39b/src/data/examples/en/

[2021-10-04 14:35] timsbryan opened #1083 "Hacktoberfest participation"
Hi,

I wasn't quite sure where to post this question but hoping this is the right place.
I wondered whether this repository would be open to participating in Hacktoberfest (https://hacktoberfest.digitalocean.com/) this year. As I understand, hacktoberfest is now opt-in for maintainers. Which means either adding the '**hacktoberfest**' topic to your repository or the PR labeled with **hacktoberfest

[2021-10-04 22:42] limzykenneth commented on #1082
Everything looks right on the repo side so I think this will probably be something from the server side. @outofambit If you can check two things:

1. The files on the server itself, specifically `00_Statements_and_Comments.js`, does it have the `@arialabel` key?
2. If it does have the key, try clearing the caches especially the Cloudflare ones.

[2021-10-05 15:14] nickmcintyre opened #1084 "Broken reference for describe()"
**Actual Behaviour**

The examples in the [describe()](https://p5js.org/reference/#/p5/describe) reference page throw a `ReferenceError`. I also can't find the `<div>` that is supposed to be generated.

 **Expected Behaviour**

No errors and a visible description.

 **Steps to reproduce it**

Open the reference page and look at the JavaScript console.

![describe-chrome](https://user-images.github

[2021-10-05 16:39] limzykenneth commented on #1084
The p5.min.js files were not updated on new releases so the website is still using old versions of p5.min.js and p5.sound.min.js.

@outofambit @yukienomiya I didn't relealize this last time but the library files should have been updated along side data.json as well when the release steps update things on the website repo.

@nickmcintyre If you'd like, you can have a look at the [p5.js repo workflo

[2021-10-06 05:16] nickmcintyre commented on #1084
@limzykenneth Happy to! I'll give them a look tomorrow.

[2021-10-08 12:40] camilleroux opened #1090 "Delete this link because 'the submission period closes on August 1st'"
https://github.com/processing/p5.js-website/blob/62239b30f0296b85a78f3824147211dd030c31a2/src/templates/pages/index.hbs#L40

[2021-10-12 00:26] outofambit opened #1091 "“Car instances” example should be in the “Objects” category"
The [“Car instances” example](https://p5js.org/examples/instance-mode-car-instances.html) should be in the “Objects” category rather than the “Instance Mode” category on the [examples page](https://p5js.org/examples/).

Reported to me by Professor WM Harris, who originally authored this example.

## Implementation

Making this change requires:
- moving the example itself (english version: https://

[2021-10-15 17:04] Devesh21700Kumar opened #1094 "Sections of Web Examples missing in the website"
**Actual Behaviour**

All the sections of the `Web` is missing in the website of p5js.org

 **Expected Behaviour**

All the sections of the `Web` should be added from  https://processing.org/examples to p5js.org

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/59202075/137525740-d364a49a-0964-4d80-8fe2-efee90f6281b.png)

 **Would you like to work on the issue?**

[2021-11-16 04:48] #1090 closed

[2021-11-16 04:50] outofambit commented on #1090
i can confirm its no longer in use :) please correct me if i'm wrong @Qianqianye!

[2021-11-22 19:45] #1091 closed

[2021-11-24 09:18] namanjain2001-code opened #1099 "some more books can be add on books page"
**Actual Behaviour**

 Many books about p5.js are not added on book web page

 Expected Behaviour

 these books should present on books web page

![Screenshot (28)](https://user-images.githubusercontent.com/84381034/143209705-5a6864d5-e1f8-47a0-8b12-8d81fa9d8883.png)
![Screenshot (29)](https://user-images.githubusercontent.com/84381034/143209717-913ea7fb-4f8a-4438-bda5-a608c4c6904d.png)
![Screensh

[2021-12-03 05:21] IamEzio opened #1101 "Title of the contributor-docs page does not have p5js logo"
**Actual Behaviour**
The title of the contributor-docs html page does not have p5js logo in it.

 **Expected Behaviour**
The title should have a logo as the home page and other pages do.

 **Steps to reproduce it**
Visit the site and open [https://p5js.org/contributor-docs/#/](https://p5js.org/contributor-docs/#/)

 **Screenshots of the issue**
<img width="490" alt="title logo" src="https://user-i

[2021-12-09 08:44] awelles opened #1102 "Learn : Looking inside p5 link is 404"
**Actual Behaviour**

The 'Looking inside p5' link on 'https://p5js.org/learn/' is dead.

`404, Page not found :(`

 **Expected Behaviour**

A link to something not 404.

 **Steps to reproduce it**

Click it.

 **Screenshots of the issue**

<img width="1320" alt="Screen Shot 2021-12-09 at 3 38 23 AM" src="https://user-images.githubusercontent.com/115194/145362645-732acd72-7fca-43ab-a124-b65914890b

[2021-12-09 16:49] awelles opened #1103 "examples/dom-video.html - part of video and all of button hidden behind code editor"
**Actual Behaviour**

Video and button pushed down by canvas element. Button is completely hidden and so unusable.
- Button pushed down in Chrome / FireFox / Safari / Brave on Mac
- Works as expected in IE on Windows 7

 **Expected Behaviour**

"Load a video with multiple formats and toggle between playing and paused with a button press. "

 **Steps to reproduce it**

View `https://p5js.org/exampl

[2021-12-09 22:47] limzykenneth commented on #1103
Simply adding `noCanvas()` should be enough for this case. You can go ahead with a PR if you like.

[2021-12-18 18:20] rucha0702 opened #1105 "Improving CSS of navbar"
**Enhancement**

 CSS of the navbar on the homepage could be improved.

 **Steps to reproduce it**

 Small changes in the all.css file are required

 **Screenshots of the issue**

 Before:
![image](https://user-images.githubusercontent.com/77936051/146651765-df972f9b-bc3d-452e-988d-84a91a759182.png)

After:
![image](https://user-images.githubusercontent.com/77936051/146651795-d2f6b4f6-bb45-4280-be

[2021-12-20 02:20] aferriss commented on #1017
@JetStarBlues I wanted to see if this was still in progress and where you ended up with documenting the uniforms. I've seen some other issues lately for people asking for documentation. Since this work was already done it might be worth putting up as a PR to review.

Thanks!

[2021-12-27 16:31] JetStarBlues commented on #1017
Hi @aferriss

I will clean this PR up. There are a few outstanding questions, but I'll compile a list at the end.

One thing I would love your opinion on is [this PR](https://github.com/processing/p5.js/pull/5280/files) (and related [issue](https://github.com/processing/p5.js/issues/5279)) that limits the scope of the default uniforms... this would greatly reduce the number of things we have to te

[2021-12-28 04:23] aferriss commented on #1017
Thanks @JetStarBlues! I left some comments on your PR

[2022-01-07 12:25] akshatnema commented on #1101
@Qianqianye @limzykenneth Hey, I have resolved this issue on my local system and now making a PR linking this issue.

[2022-01-10 12:40] #1101 closed

[2022-01-12 11:19] akshatnema commented on #1105
Yepp, the navbar of the website is pretty much looking awkward as compared to the main section. It requires some formatting and alignment to make it similar with content.

@limzykenneth Will like to hear from you on this issue. Do we need to change the navbar formatting?

I can sure provide you with some mockups.

[2022-01-12 12:49] limzykenneth commented on #1105
That navbar was designed to match the navbar of the other Processing project's navbar, although Processing's website has been redesigned and is using something different. Which is all to say this is more of a branding thing from the Processing Foundation so I won't be suggesting one way or another in terms of design as I'm not very involved in the process.

[2022-01-13 13:33] #1102 closed

[2022-01-14 06:32] #1064 closed

[2022-01-16 04:21] Qianqianye opened #1111 "Footer Chinese translation is not updated"
**Actual Behaviour**

The Chinese translation of the footer is not updated since we added two names for the co-leads.

 **Expected Behaviour**

Potential translation: p5.js 目前由 Qianqian Ye 和 evelyn masso 共同负责，原先由 Lauren Lee McCarthy 创建。p5.js 是在 Processing Foundation 和 NYU ITP 的支持下由其合作社群共同开发。形象及平面设计 Jerel Johnson. © Info.

 **Steps to reproduce it**

We can check if the footer translation is update

[2022-01-16 12:35] benfry opened #1112 "src/templates/pages/examples/image-copy-method.hbs has \r in filename"
**Actual Behaviour**

The generated file `src/templates/pages/examples/image-copy-method.hbs` contains a `\r` (carriage return) before the `.hbs` extension.

 **Expected Behaviour**

No unprintable characters in the filename; causes weirdness in a shell and most file operations.

 **Steps to reproduce it**

[code]

On the command line, `ls src/templates/pages/examples/image-co` and hit <tab>. On m

[2022-01-16 14:55] limzykenneth commented on #1111
The footer's template is not ideal for i18n, a few problems are:

* Hard coded punctuations
* Hard coded copyright "Info" link
* Reuse of [`footer4`](https://github.com/processing/p5.js-website/blob/main/src/templates/partials/footer.hbs#L7) placeholder where it may not be appropriate

It may be a bit hard to have one template that can accommodate both one and two project lead(s). I would suggest

[2022-01-16 16:52] #1103 closed

[2022-01-16 19:59] Qianqianye commented on #1111
Thanks @limzykenneth! Is there a recommended process for reviewing translation in different languages?

Hey @yinhwa, could you check if the Korean translation of the footer is updated? Thanks!
![image](https://user-images.githubusercontent.com/18587130/149675656-bb632684-4f30-4722-83ac-097699855fb7.png)

[2022-01-16 20:01] #1112 closed

[2022-01-17 06:32] Kunal0220 commented on #1105
Hey @limzykenneth  , Can I work this out ? I guess I can make it a bit more enhanced !

[2022-01-18 13:45] limzykenneth commented on #1111
No specific process in this case, just getting someone familiar with the language to check if the translated strings need to be updated or not.

[2022-01-19 04:45] yinhwa commented on #1111
@Qianqianye oh i need to fix this! pls give me one more day! thanks :)

[2022-01-20 00:11] Qianqianye commented on #1111
Thanks @limzykenneth for updating the footer for English and Chinese.

Hey @montoyamoraga, could you check if the Korean translation of the footer is updated? Thanks!
![image](https://user-images.githubusercontent.com/18587130/150238677-418a840d-404f-4ad3-a4a7-7895774c35d5.png)

[2022-01-20 12:57] limzykenneth commented on #1111
Just to note here for those updating the translation here, I've removed all the hard coded spaces and punctuations in the template so they should be included in the translations file now if required, also there are some extra strings added around the links, they can be left blank if not required.

[2022-01-21 11:32] Devesh21700Kumar opened #1115 "[UI:Issue] Title and logo overlap at widths"
At viewport width of about 1302 px the logo image starts coinciding with the p5.js title
To maintain UI consistency, it should have a display:none property at about 1387px max-width

 **Screenshots of the issue**

 1302px
![image](https://user-images.githubusercontent.com/59202075/150519766-795f0c32-a114-4eb2-b67d-54169140b1c8.png)

1387 px
![image](https://user-images.githubusercontent.com/592020

[2022-01-21 20:16] montoyamoraga commented on #1111
hey @Qianqianye i assigned this issue to myself to check later the Spanish translation :)

[2022-01-23 12:56] akshatnema commented on #956
@limzykenneth Is this feature of Dark mode still needed in the p5 website? I can work on this.

[2022-01-25 12:27] BhavyaT-135 commented on #1105
Hey @rucha0702 , can I work on this issue??

[2022-01-25 16:38] #1111 closed

[2022-01-27 18:45] BhavyaT-135 commented on #1099
Hi, @namanjain2001-code I would like to work on this issue.

[2022-01-28 18:11] BhavyaT-135 commented on #661
Hi @pcgamer1, I would like to work on this issue.

[2022-01-30 18:05] Divyansh013 opened #1119 "Mistake in Hindi Version of Website"
There is a small mistake in Hindi Version of the website. The same sentence is written in both English and Hindi, which doesn't make sense at all.

 **Screenshots of the issue**
![Screenshot 2022-01-30 232444](https://user-images.githubusercontent.com/85135469/151711660-21b4bdc9-0768-4664-aab5-54d9638c3c79.jpg)

 **Would you like to work on the issue?**

 Yes, I would love to contribute a bit.

[2022-01-31 07:06] Himanshu664 opened #1120 "Copyright message in hindi version of website is in english language"
There is a translation mistake in Hindi version of the website in Get started page(आरंभ करे). The copyright sentence is written in English , it needs to be in Hindi language.

**Actual Behaviour**

<img width="960" alt="Screenshot 2022-01-31 065116" src="https://user-images.githubusercontent.com/76220055/151751713-347b4170-4cab-4782-a2b9-c92ef55750ee.png">

 **Expected Behaviour**

<img width="951

[2022-01-31 12:22] limzykenneth commented on #1119
You can go ahead with a fix. Thanks.

[2022-01-31 15:19] Himanshu664 commented on #1120
@Proeditor07 Yes

[2022-01-31 18:30] Divyansh013 opened #1123 "Wrong title for donate page"
**Actual Behaviour**

 The donate page current title is **download | p5.js**

 **Expected Behaviour**
It should be **donate | p5.js**

 **Screenshots of the issue**
![Screenshot 2022-01-31 235737](https://user-images.githubusercontent.com/85135469/151851522-5c114d0a-a287-4b21-9f9a-ea997db2a317.jpg)

 **Would you like to work on the issue?**

 Yes, I would love to fix this.

[2022-01-31 21:47] #1120 closed

[2022-01-31 21:48] limzykenneth commented on #1123
You can go ahead with a fix. Thanks.

[2022-02-01 05:09] Himanshu664 opened #1124 "Creative Common & Code of Conduct message in hindi version of website is in English language"
**Actual Behaviour**
Creative common & Code of Conduct message is in english language in hindi version of website.
<img width="950" alt="Screenshot 2022-02-01 043955" src="https://user-images.githubusercontent.com/76220055/151915489-294c8782-7a5c-4c78-8183-fa04e4cebadd.png">

 **Expected Behaviour**

 Creative common & Code of Conduct message  should be in hindi language in hindi version of websit

[2022-02-01 10:30] #1119 closed

[2022-02-01 10:31] limzykenneth commented on #1124
You can go ahead with a fix. Thanks.

[2022-02-01 17:46] Divyansh013 commented on #1123
Hey I was changing the 'title' in pages/download/support.hsb. But after running it throws an error: Warning: Cannot read property 'Skip-To-Content' of undefined Use --force to continue. What should be the reason?

[2022-02-01 23:25] limzykenneth commented on #1123
Can you share a more complete terminal output? Just several lines before it quits may be enough.

[2022-02-01 23:34] #1124 closed

[2022-02-02 06:38] Divyansh013 commented on #1123
![Screenshot from 2022-02-02 12-06-08](https://user-images.githubusercontent.com/85135469/152105805-468e267a-6ac7-4e3f-aceb-8f25d6405162.png)

[2022-02-02 14:01] limzykenneth commented on #1123
That is kinda odd. Do you have the changes pushed to your fork? I'll have a look if so.

[2022-02-02 14:39] Divyansh013 commented on #1123
Yes, just pushed it in my fork. with commit "update donate title"

[2022-02-03 03:40] Himanshu664 opened #1126 "Reference page in hindi contains English words"
Reference page (संदर्भ) contains foundation , Local Storage,Vector,Random,Interaction in English language they should be in hindi in hindi version.
**Actual Behaviour**

<img width="932" alt="foundation" src="https://user-images.githubusercontent.com/76220055/152277453-eb5ef1bb-9985-40b8-9423-a5170f43089a.png">

 **Expected Behaviour**

<img width="939" alt="Screenshot hindi" src="https://user-ima

[2022-02-03 04:41] redlif345 commented on #1105
Hii @rucha0702 , I really want to contribute to this issue.Can i work on this issue?

[2022-02-03 07:04] ace-johnny commented on #956
@akshatnema I don't know if the p5 team still needs it, but I sure do. My CSS skills just aren't up to the task of redesigning the entire site; let me know if you make an attempt.

[2022-02-03 08:27] akshatnema commented on #956
@ace-johnny, will you please confirm once from p5 team, regarding this. I know it's a huge task to design the website in Dark mode. I will try my best to handle it. Just waiting for approval from the team.

[2022-02-03 10:29] cas-c4ta opened #1128 "Links in reference not reactive"
**Actual Behaviour**

The links in the p5 reference are not reactive. Neither the listed links, nor the ones suggested by the search field.

The URL in the browser’s address bar changes, but the view does not get updated. Only when reloaded, the correct view is shown.

 **Expected Behaviour**

When clicked, the view should be updated and show the corresponding reference information.

 **Steps to r

[2022-02-03 10:59] redlif345 commented on #1128
hii, @cas-c4ta you said that the links under p5 Reference are not reactive but when i am clicking on the links they are getting updated . I think it works fine .

[2022-02-03 11:44] danieljamesross opened #1129 "Markup missing in translate() example"
**Actual Behaviour**

No code markup in the example for `translate()`

 **Expected Behaviour**

Markup...

 **Steps to reproduce it**

Go to: https://p5js.org/reference/#/p5/translate

 **Screenshots of the issue**
<img width="779" alt="Screenshot 2022-02-03 at 11 43 16" src="https://user-images.githubusercontent.com/28922296/152336518-6c534c89-528f-4536-bdfd-550a98a0a282.png">

 **Would you like

[2022-02-03 12:47] Divyansh013 opened #1130 "Processing Link in footer not working"
**Actual Behaviour**

 When I'm clicking on Processing link in footer it's redirecting to wrong url
![Screenshot 2022-02-03 181257](https://user-images.githubusercontent.com/85135469/152345038-d121d843-2167-4e88-a5a2-971e0b24c16b.jpg)
![Screenshot 2022-02-03 181454](https://user-images.githubusercontent.com/85135469/152345336-23534258-3506-4170-ae51-20bf6160a3a3.jpg)

 **Expected Behaviour**
It sh

[2022-02-03 13:39] ffd8 opened #1131 "Website Examples don't show p5 sketch..."
Guessing it's due to the latest 1.4.1 release, but just noticed all of the examples on the website show up as raw code and not a p5 sketch. You're probably on it, but just incase you hadn't seen it yet:

![image](https://user-images.githubusercontent.com/570957/152353577-a7ceff82-21d5-4b74-a68e-f63477655e65.png)

[2022-02-03 14:35] elcaptain commented on #1128
I'm having the same issue ☝️

[2022-02-03 17:20] Divyansh013 commented on #1131
In my case something weird is happening, like either I have to open links of reference in new tab or I have to refresh the page to open them. Otherwise they aren't opening at all even after clicking on them.

I'm attaching a screenshot where I have clicked on arc() but I'm still on Reference page only
![Screenshot 2022-02-03 224705](https://user-images.githubusercontent.com/85135469/152394369-a8f3

[2022-02-03 20:44] limzykenneth commented on #1129
Should be fixed now.

[2022-02-03 20:44] #1129 closed

[2022-02-03 20:44] limzykenneth commented on #1128
Should be fixed now.

[2022-02-03 20:44] #1128 closed

[2022-02-03 20:44] limzykenneth commented on #1131
Should be fixed now.

[2022-02-03 20:44] #1131 closed

[2022-02-03 20:46] limzykenneth commented on #1130
You can go ahead with a fix. Thanks.

[2022-02-03 20:58] limzykenneth opened #1133 "Documentation update actions"
**Actual Behaviour**

The recent release trigger the relatively recently updated [documentation update action](https://github.com/processing/p5.js-website/blob/main/.github/workflows/update-documentation.yml) but there are some problems with running it.

One of them is that as mentioned in #1085, the two newly released p5.js source files referenced [here](https://github.com/processing/p5.js-websit

[2022-02-04 07:30] cas-c4ta commented on #1128
Thank you! 🌷

[2022-02-04 13:02] redlif345 commented on #1123
hii, i have tried to do the change in the title ,but it throws an error plz.. anyone help me out .
![er1](https://user-images.githubusercontent.com/92918806/152533542-9dd24628-faf4-4ad1-b6d2-82e724448bdf.PNG)

[2022-02-04 13:06] redlif345 commented on #1099
hii, i really want to work on this issue can i?

[2022-02-04 21:42] limzykenneth commented on #1123
The problem comes from the way that i18n for the web pages look up translated strings in the data structure we use for translations, ie. it expects the title to be a certain string as a result. It is not easy to disentangle the structure here as there are possible overlaps with other strings in the download folder. I personally wouldn't really recommend working this out at the moment.

[2022-02-05 07:12] Divyansh013 commented on #1123
Yup, figured out the same while going through codebase. I guess we can close this issue for now

[2022-02-05 07:12] #1123 closed

[2022-02-05 21:21] #1130 closed

[2022-02-06 05:53] Himanshu664 opened #1136 "Characters Strings Example Missing in Processing.js"
**Actual Behaviour**

Characters Strings Example is Missing in Processing.js

 **Expected Behaviour**

Adding Characters Strings Example From Processing to Processing.js

 **Steps to reproduce it**

1. Go to Examples
2. Check Data

 **Screenshots of the issue**

<img width="959" alt="Character Strings" src="https://user-images.githubusercontent.com/76220055/152669407-4ef44748-04ed-42d3-9552-fc3605

[2022-02-06 12:22] Divyansh013 opened #1137 "Suggestion to make some links open in New Tab"
Some links on Home page like start creating with editor, join p5 discord server should open in new tab just like other links. It will make the site more accesible according to me.

 **Would you like to work on the issue?**

 Yes, if approved.

[2022-02-06 23:53] rinkydevi commented on #1137
hey @Divyansh013  i would like to work on this issue

[2022-02-06 23:55] rinkydevi commented on #1136
hey @Himanshu664 ! yes i would like to work on the issue

[2022-02-06 23:56] rinkydevi commented on #1126
Yes.

[2022-02-10 06:15] redlif345 commented on #1099
i have mentioned the sulution of this issue in the pull request

[2022-02-10 15:23] #1137 closed

[2022-02-11 06:36] Divyansh013 opened #1140 "Final touchup required on the Translated Website"
**Actual Behaviour**

 Even after recent PRs there's a lot of Incorrect sentences and typos in **Hindi** version of Website. It just changes the meaning of entire sentence.

I'm attaching one such screenshot.

![Screenshot 2022-02-11 114728](https://user-images.githubusercontent.com/85135469/153546969-83104fbd-26b5-45ba-9e8d-a7db8e13a2cf.jpg)

In above screenshot we can see the entire text here ju

[2022-02-11 13:45] SanjaySinghRajpoot commented on #1140
Yes, there are a few typos on the translated website. You can send a single PR and make all the changes in that PR. It would be easier for everyone to track all the changes at one place.

[2022-02-12 17:23] Divyansh013 commented on #1140
Sure will do it by tomorrow morning

[2022-02-12 23:39] xaveervanderlaan opened #1141 "The examples under "Sound" are broken"
**Actual Behaviour**

When trying to open a Sound example. The example won't load / breaks.
Inside the console an error is generated: **_Uncaught TypeError: p5.AudioIn is not a constructor_**

Inside the dev tools network tab the p5.sound.min.js file responds with "Not Found".

Tested on Chrome (Windows, Mac OS) and Safari.
Disabled cache also to check if thats was the issue maybe but no success.

[2022-02-13 10:46] limzykenneth commented on #1141
@xaveervanderlaan I can't replicate this. You may be seeing a browser cache issue as we had some problems with the library files on the website last week which your browser may have cached the faulty version. Try using a different browser or using private browsing mode and see if you still see the same problem.

[2022-02-18 13:40] limzykenneth commented on #1136
Hi @Himanshu664, do you have in mind the example for string in this case? Could be a sketch on the editor and some descriptions.

[2022-02-18 13:42] #1126 closed

[2022-02-19 04:40] Himanshu664 commented on #1136
@rinkydevi you can solve this issue and do changes as suggested by limzykenneth.

[2022-02-22 16:12] mascail opened #1148 "Example code in the reference for 'loadImage()' displays image only for a short moment"
**Actual Behaviour**

After loading an image it is only displayed for a short moment.

 **Expected Behaviour**

I expected the image to be displayed continuously.

 **Steps to reproduce it**

`let img;
function preload() {
  img = loadImage('assets/laDefense.jpg');
}
function setup() {
  image(img, 0, 0);
}`

 **Would you like to work on the issue?**

I really think the function ` image(img, 0, 0)

[2022-02-22 17:25] limzykenneth commented on #1148
The reference example does not have a `draw()` function and it means that in the hypothetical `draw()` function that it has, it doesn't have the `background()` function that causes the image to be overwritten by the background. By copying the example wholesale and not leaving a call to `background()` in your sketch, you should bee the same behaviour as the example as well.

[2022-02-24 16:14] Himanshu664 opened #1150 "Spacing is not proper in footer of support page"
**Actual Behaviour**
There is no space between NYU ITP and Identity.

![Inkedspace_LI](https://user-images.githubusercontent.com/76220055/155563044-34b6ce94-14db-4bea-b6b9-97c26bad0fe7.jpg)

 **Expected Behaviour**
<img width="946" alt="Space-After" src="https://user-images.githubusercontent.com/76220055/155562767-4d9d735a-e9e6-4d43-bdbb-85103fd218d6.png">

 **Steps to reproduce it**
1. Go to Supp

[2022-02-24 17:58] #1150 closed

[2022-02-27 14:47] rinkydevi commented on #1115
hi @Devesh21700Kumar i think this issue is solved.

[2022-03-01 03:58] Himanshu664 opened #1153 "P5.xr in library is not translated in hindi"
**Actual Behaviour**
<img width="935" alt="Screenshot 2022-03-01 032633" src="https://user-images.githubusercontent.com/76220055/156102117-1778f831-5ac1-4dd7-ab24-568ab26a26d7.png">

 **Expected Behaviour**
<img width="896" alt="Screenshot 2022-03-01 033320" src="https://user-images.githubusercontent.com/76220055/156102125-c1f8c499-f30c-4af1-9d6a-464ddf2ecbeb.png">

 **Steps to reproduce it**
1. G

[2022-03-01 07:38] stampyzfanz opened #1155 "There is no space between text and link in /copyright.html"
**Actual Behaviour**

"ms of the[GNU Lesser General Public License](https://github.com/processing/p5.js/blob/main/license.txt) as publish"
![image](https://user-images.githubusercontent.com/34364128/156125358-ceb2ac39-ccaa-4e98-9c40-8f5aedbe4c79.png)

 **Expected Behaviour**

"of the [GNU Lesser General Public License](https://github.com/processing/p5.js/blob/main/license.txt) as p"
![image](https

[2022-03-03 16:17] hrittik2002 commented on #1155
I am interested.... can you assign me to this issue?

[2022-03-03 17:23] #1153 closed

[2022-03-03 18:39] limzykenneth commented on #1155
Hi @hrittik2002, this issue already have a corresponding PR filed (#1156). You can have a look at some of the other issues. Thanks.

[2022-03-04 10:27] #1155 closed

[2022-03-04 18:25] rinkydevi commented on #1105
@rucha0702 ma'am i would love to contribute in this, please tell me if u can assign me this issue

[2022-03-04 18:34] rucha0702 commented on #1105
I am not the maintainer here.

[2022-03-05 01:50] rinkydevi commented on #1115
@Devesh21700Kumar do we need to change only main page or all the pages

[2022-03-05 13:59] rinkydevi commented on #1105
@rucha0702 okay ma'am

[2022-03-09 13:55] mattshu opened #1158 "p5.polysynth example returns"
**Actual Behaviour**

Browsing the p5.PolySynth docs and attempted to use the provided example object `click to play`

 **Expected Behaviour**

A music chord should play

 **Steps to reproduce it**

 CLick the `click to play` box

 **Screenshots of the issue**

This is what shows in the console upon loading:
[code]
This happens when pressing the object:
[code]

 **Would you like to work on the iss

[2022-03-09 17:45] akshatnema commented on #694
Hey @limzykenneth @montoyamoraga, I am working on this issue and have come up with a slightly good solution to solve this issue. You know that in every example, we are creating a `canvas` of width 720px and height 400px (using p5js code). This is what we can't change because it is an example. So, to protect the example properties, I think we should make it horizontal scroll only in mobile view, so

[2022-03-09 18:45] rinkydevi commented on #1094
hey @Devesh21700Kumar i would love to contribute in this issue

[2022-03-09 22:09] limzykenneth commented on #1094
As mentioned in #1098, this section of the Processing examples doesn't make sense in p5.js as the associated `link()` function is not something p5.js needs and thus doesn't exist. Loading images are also already covered by existing [example](https://p5js.org/examples/image-load-and-display-image.html).

I will close this issue now. Thanks.

[2022-03-09 22:09] #1094 closed

[2022-03-09 22:15] limzykenneth commented on #694
I'm not quite sure what this means. Do you perhaps have a link to somewhere doing what you are describing that we can see?

[2022-03-10 06:04] akshatnema commented on #694
@limzykenneth I have implemented in our repository in my local dev. I am just trying to have a simple scroll of the examples shown in the website, in mobile view. Here's the preview of what I have implemented:

https://user-images.githubusercontent.com/76521428/157599351-e00b458f-547a-467c-8434-6af34ad15475.mp4

[2022-03-10 14:29] Ryuyxx opened #1159 "layout collapse on Examples"
**Actual Behaviour**

- The text is not wrapped by the URL, which breaks the layout.

 **Expected Behaviour**

- Responsive text wrapping.

 **Steps to reproduce it**

 - Access [here](https://p5js.org/examples/structure-comments-and-statements.html).

 **Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/69892552/157682674-638d30d3-ad7c-4b7e-82d4-ec60ee70e679.png" wid

[2022-03-10 15:29] Ryuyxx opened #1161 "Duplicated examples"
### **Actual Behaviour**

The [first one](https://github.com/processing/p5.js-website/blob/main/src/data/examples/en/09_Simulate/12_BrownianMotion.js)  is added by @lmccart on `2017/02/27` and the [second one](https://github.com/processing/p5.js-website/blob/main/src/data/examples/en/13_Motion/05_Brownian.js) is added on this PR #967 on `2021/03/23`

Both are ported from the [Processing examples p

[2022-03-10 16:58] lmccart commented on #1161
Yes, good catch! These can be removed.

[2022-03-10 17:52] namanjain2001-code opened #1162 "No Loop example not listed on hindi example page"
**Actual Behaviour**
No loop example not showing in examples in hindi translation

**Expected Behaviour**

 no loop example should be there in hindi translation

![Screenshot (10)](https://user-images.githubusercontent.com/84381034/157724778-7d568a4d-5746-473a-be3d-2c4f5dfff3ba.png)

 **Would you like to work on the issue?**
yes

[2022-03-11 05:10] Divyansh013 commented on #1162
Currently p5.js doesn't support any of examples in hindi. What you are saying is there is "No link for No loop() example".
This particular issue is a typo as it should be in place of "or draw".

[2022-03-11 05:25] Divyansh013 opened #1163 "Wrong example in loop() function"
**Actual Behaviour**

 The loop() function has example of setup() and draw().

 **Expected Behaviour**

 It should be same as given on official Processing website.

 **Screenshots of the issue**
![Screenshot 2022-03-11 105327](https://user-images.githubusercontent.com/85135469/157807561-5395539a-2468-46d9-b788-f597ed66426f.jpg)

![Screenshot 2022-03-11 105401](https://user-images.githubusercontent

[2022-03-11 06:30] namanjain2001-code commented on #1162
ok i am generating new issue

[2022-03-11 07:11] namanjain2001-code opened #1164 "typo on hindi example page"
**Actual Behaviour**

 typing error on hindi example page

Comments/Statements                निर्देशांक

Coordinates                                 चौड़ाई और ऊंचाई

'Width/Height                               सेटअप और ड्रा

Setup/Draw                                    और ड्रा

No Loop                                          लूप

Loop                                                रेड्रा

Redra

[2022-03-11 13:56] Divyansh013 opened #1165 "No info for setup() function in setup/draw example."
**Actual Behaviour**

 In setup draw section of example, there is no info about how to use setup

 **Expected Behaviour**

 The information should be same as that on Processing official website.

 **Screenshots of the issue**

![Screenshot from 2022-03-11 19-25-22](https://user-images.githubusercontent.com/85135469/157881248-d6d15bad-eba0-420c-ac59-acf0007f6bf6.png)

 **Would you like to work on t

[2022-03-11 14:05] limzykenneth commented on #694
How would this solution work with examples that uses mouse interactions though? [This one](https://p5js.org/examples/3d-orbit-control.html) for example.

[2022-03-11 14:08] limzykenneth commented on #1163
I'm not sure what you mean here, can you perhaps clarify what the issue is a bit more? Thanks.

[2022-03-11 14:21] #1165 closed

[2022-03-11 14:22] Divyansh013 commented on #1163
Head over to examples and have a look at the JS code in loop(). It is same as that of setup/draw. Even the description of loop is same as that of setup draw.

Ideally it should contain the info as given on [official website](https://processing.org/examples/loop.html)

[2022-03-13 13:33] manavsiddharthgupta commented on #1010
hey, @JetStarBlues I would like to work on this issue.
can you assign me?

[2022-03-13 17:43] Divyansh013 opened #1167 "examples- Structure not loading in hindi version"
**Actual Behaviour**

 Any of examples under structure is not loading in hindi version site. While it's all fine in default i.e., English version

 **Screenshots of the issue**
![Screenshot 2022-03-13 231149](https://user-images.githubusercontent.com/85135469/158072175-ad5350c0-195a-48b3-89c5-31a9b68fea8f.jpg)

 **Would you like to work on the issue?**
Yes I want to, but need some insights what ca

[2022-03-13 18:40] akshatnema commented on #694
@limzykenneth Yes, you are right. I tried the above implementation on the above example and it can make the user quite confusing for him to check whether he is sliding the example window or moving inside the example. But, if someone notices it carefully when we scroll through the mouse, a thin scroll slides horizontally and it becomes visible specifying that we are scrolling through an example win

[2022-03-14 22:05] JetStarBlues commented on #1010
Hey @manavsiddharthgupta,

I think at the moment, there are no clear next steps with this issue. Be it sorting, collapsible categories, another approach currently not considered, or keeping things as is.

I would ping limzykenneth for direction. If an approach is determined, feel free to take on the issue and create a PR.

[2022-03-15 00:34] rinkydevi opened #1168 "sub heading under image is missing in Reference Page in Website"
Just like under Headings like Event and I/O there are sub heading before the list items, one sub heading is missing under heading Images
![image](https://user-images.githubusercontent.com/82359874/158283031-41dc06b5-1d71-42b0-a187-965a717aa8fa.png)

 **Expected Behaviour**
there should be subtopic under that heading

 **Steps to reproduce it**
go in reference page and add sub topic under the Image

[2022-03-16 16:04] Divyansh013 opened #1169 "SteepingFeet example shows JS warning"
**Actual Behaviour**

 I was going through [this example](https://p5js.org/examples/simulate-stepping-feet-illusion.html) and found it shows JS warning bcoz we aren't checking if data types are also equal or not.
Also I felt there should be more comments for beginners.

 **Expected Behaviour**

 Comment should be more and it should be (i%2===0) instead of (i%2==0)

 **Would you like to work on the

[2022-03-18 08:39] Ryuyxx opened #1172 "Replace deprecated templates"
## **Actual Behaviour**

- Since this repo is using an old version of issue templates, better to replace it with the new version.
- Also, the current template is not very readable, so I will adopt the p5.js one.

## **Expected Behaviour**

- replace with `.yml` format.

## **Steps to reproduce it**

https://github.com/processing/p5.js-website/blob/main/.github/issue_template.md

## **Screenshots o

[2022-03-18 08:47] Ryuyxx commented on #1161
Due to conflicts, I will work on this issue after this PR #1160 will be merged.

[2022-03-18 13:21] rinkydevi opened #1173 "The Examples are not opening a full page in hindi language."
**Actual Behaviour**

 the links under on Example page of code are not opening a correct working page

 **Expected Behaviour**

 they should open page with actual code example of topic we selected

 **Steps to reproduce it**

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/82359874/159009924-62fa26ad-e50d-4b53-9eb2-ca66dc19c08e.png)

[2022-03-18 15:45] limzykenneth commented on #1173
The examples numbering in the translated examples folders are out of sync with the English version so many of them are not building and linking to the right examples.

[2022-03-18 15:56] #1115 closed

[2022-03-18 15:58] limzykenneth commented on #1173
Also duplicate of #1167, tagging @Divyansh013

[2022-03-18 15:59] limzykenneth commented on #1164
@namanjain2001-code You can go ahead and fix them with a PR. Thanks.

[2022-03-18 16:02] limzykenneth commented on #1163
You can go ahead with a fix. Thanks.

[2022-03-18 16:12] rinkydevi commented on #1173
so do i need to work on it or close it? @limzykenneth

[2022-03-18 16:36] rinkydevi opened #1175 "Reference- Desciption of the topics are in english even in the hindi translation"
**Actual Behaviour**

 the description of the topics in pages are in english language even in hindi translation

 **Expected Behaviour**

विवरण of the topics page in the hindi translation should be in hindi only

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/82359874/159044641-235be9db-15aa-4e0b-86ae-5df4165463f8.png)

 **Would you like to work on the issue?**

[2022-03-18 17:11] Divyansh013 commented on #1173
Gotcha! Thanks for the input, will be ready with my PR soon

[2022-03-18 17:12] Divyansh013 commented on #1173
I will attach my PR with the original issue

[2022-03-19 16:12] namanjain2001-code commented on #1164
I am trying to edit p5.js-website\dist\hi\examples\index.html file but it not modifying. Now I know that these files are loaded with grunt server but I do not find the file which should be edit for this issue. I need some hint

[2022-03-19 16:16] namanjain2001-code commented on #1164
@akshatnema no loop example not showing

[2022-03-19 16:19] akshatnema commented on #1164
@namanjain2001-code Ohh nice catch. I just saw that it has the wrong name given in the file.I just have to change in next commit. Thanks for noticing.

[2022-03-19 18:37] Divyansh013 commented on #1164
You got it right, making changes in dist folder will not do anything. You must make all changes in "src" folder. All files are there, have a look through the codebase properly.

[2022-03-22 15:15] kUNWAR-DIVYANSHU opened #1179 "No Support for Hindi language in P5JS showcase"
**Actual Behaviour**

No Support for Hindi language in showcase

 **Expected Behaviour**

Add Support For Hindi Language

 **Steps to reproduce it**

I can add the support to hindi language as i am a native speaker of hindi .

 **Would you like to work on the issue?**

Yes , I would like to work on this issue .

[2022-03-23 10:16] 3ru opened #1180 "Deployment Improvements"
### **Actual Behaviour**
I do not understand the details, but it does not seem to be deployed properly.

Questions (I would like to know the p5.js deployment strategy)
- Is this site deployed manually to a production environment?
- What are [Github pages](https://processing.github.io/p5.js-website/) for?

###  **Expected Behaviour**
When merged, it is automatically deployed by Github Actions.

###

[2022-03-23 12:15] limzykenneth commented on #1175
Hi, are you referring specifically to the reference for `describe()` only or for something more general here?

[2022-03-23 12:17] limzykenneth commented on #1173
Thanks @rinkydevi, I'll be letting @Divyansh013 work on this because of the existing open issue. Feel free to look at some of the other open issues we have. Closing in favour of #1167.

[2022-03-23 12:24] #1169 closed

[2022-03-23 14:29] limzykenneth commented on #1179
Translation for the showcase is tracked at #844. You can express your interest there or directly in the showcase page's repo [here](https://github.com/connieliu0/p5.js-showcase/issues). Thanks.

[2022-03-23 14:29] #1179 closed

[2022-03-23 15:20] limzykenneth commented on #1180
The deployment is fully automatic with no manual steps needed. Every push onto the `main` branch will trigger a GitHub Action to build the site and push the build result to the `gh-pages` branch (Github Pages itself is not actually used, we are just using the branch to store build results).

Next a repo level webhook will be triggered automatically that simply pings `https://p5js.org/git-pull.php`

[2022-03-23 17:52] Divyansh013 commented on #1163
Ready with my PR will submit the same after #1181 gets reviewed.

[2022-03-25 06:48] untari opened #1182 "Bahasa Indonesia translation in p5.js website"
Hi, I’m Tari
I’m interested in the Internationalization improvements project for the GSoC2022, as a native Bahasa speaker, I would like to work on a Bahasa Indonesia translation of the p5.js website. I would like to know if this could be an acceptable

[2022-03-25 20:56] dikshashukla455 opened #1183 "Repositioning the search input form and also a bit of redesign the search input"
**Actual Behaviour**

![Screenshot (988)](https://user-images.githubusercontent.com/60606998/160195564-39b9817d-51f2-4022-8a9c-3dddcfb21e1a.png)

As you can see in the above image, there is a search input just right next to the "Home" Heading. I think It looks kind of bulky. we all know that General documentations have the search input on the top-right side. I think that It looks more readable and

[2022-03-27 08:19] dikshashukla455 commented on #1183
Can I. Work on this issue? Plz tell me

[2022-03-27 13:24] limzykenneth commented on #1168
The subsection for those entries under Image is "Image" and including it will just be repeating the section title. Other sections in the reference also doesn't have subsection heading and I don't think it is a problem in this case.

[2022-03-27 13:45] #1167 closed

[2022-03-27 13:49] limzykenneth commented on #1182
Hi @untari, you can post your project idea on the [forum](https://discourse.processing.org/c/summer-of-code/26) to get some feedback there. I can't comment about future plans for translations as I'm not involved in the process but I am excited about including Bahasa as a new language to p5.js. I'm going to close this issue for now in favour of gathering feedback in the forum. Thanks.

[2022-03-27 13:49] #1182 closed

[2022-03-27 14:19] #1161 closed

[2022-03-27 23:11] smilee opened #1184 "Typo on updatePixels() page"
**Actual Behaviour**

![screenshot](https://user-images.githubusercontent.com/5793796/160305154-d25a59f8-eb56-4e28-84c4-c041e8323c4f.png)

 **Expected Behaviour**

'height' should be 'width'

 **Steps to reproduce it**

Go to [updatePixels page](https://p5js.org/reference/#/p5.Image/updatePixels)

 **Screenshots of the issue**

![screenshot](https://p5js.org/reference/#/p5.Image/updatePixels)

 **

[2022-03-30 21:25] dikshashukla455 opened #1186 "Some typos and grammatical mistakes are present in p5.js website"
**Actual Behaviour**

![Screenshot (1005)](https://user-images.githubusercontent.com/60606998/160933455-bb62114a-568f-4187-aed9-21a697cef07b.png)

In the above image, you can see that there is a missing white space between the 'the processing foundation' sentence.

 **Expected Behaviour**

![Screenshot (1010)_LI](https://user-images.githubusercontent.com/60606998/161150136-31af1942-59ca-4bbf-bff9-

[2022-03-30 21:28] dikshashukla455 commented on #1186
@limzykenneth @lm-n Can I work on this issue if it is valid?

[2022-03-30 23:03] limzykenneth commented on #1183
I'm not sure moving the search box like this necessarily increases accessibility of the website significantly and unless a strong argument can be made here about increasing access for the website, I would suggest looking at some of the existing issues and work on them first.

[2022-03-30 23:05] limzykenneth commented on #1186
I'm not sure "making a donation" is a grammatical mistake in this case? The sentence itself sounds good to me.

[2022-03-31 05:07] dikshashukla455 commented on #1186
Okay, I will not made that change but there is a white space should be needed  between 'the processing foundation ' I think. Then it is valid?

[2022-03-31 21:13] dikshashukla455 commented on #1186
@limzykenneth I have updated my issue according to your requirements. Kindly review it. Thank you.

[2022-04-01 12:01] limzykenneth commented on #1184
@smilee You can go ahead with a fix. Thanks.

[2022-04-01 12:03] dikshashukla455 commented on #1175
Greetings, I think the issue is about the description/explanation should be translated into hindi language except for the parameters of the example and syntax. @limzykenneth

[2022-04-01 12:06] dikshashukla455 commented on #1175
if it is valid, Can I work on this issue?

[2022-04-01 12:09] limzykenneth commented on #1175
@dikshashukla455 The screenshot here only shows `describe()` but the issue description seems to be referring to something more general (ie. more than just `describe()` shown in the screenshot) which is why I'm asking for clarification here. Also @rinkydevi has indicated in the issue itself that they are willing to contribute a fix so if this issue needs fixing I'll be prioritizing them first. Than

[2022-04-01 12:15] dikshashukla455 commented on #1175
Okay, Thank you

[2022-04-01 12:29] #1172 closed

[2022-04-03 14:18] #1186 closed

[2022-04-07 14:07] tscheckie opened #1191 "Start translation into german"
### Language

German

### What improvement are you suggesting?

I'd be nice to have a german version of the website.

German abbreviation would be: **de**

### Would you like to work on the issue?

Yes

[2022-04-07 16:07] amuritna opened #1192 "Proposal: Add Indonesian Translation"
### Language

Indonesian

### What improvement are you suggesting?

I would like to propose the addition of Indonesian (ISO 639-1 abbreviation: `id`). I am excited to encourage people to use and learn with p5.js like I did, and I believe that localizing some of its main resources - documentation, tutorials, guides - would be effective in making it more accessible.

For the outcome, I expect the we

[2022-04-14 19:12] limzykenneth commented on #1192
Hi, thanks for your interest in translating the website into Indonesian. We saw similar interest in #1182 as well. In general all the new official translation of the website were done either as part of GSoC or Processing Fellowship, mainly because we believe translation is a pretty big project and we want to take into account long term maintenance and sustainability of the translation.

That being

[2022-04-14 19:12] limzykenneth commented on #1191
Hi, thanks for your interest in translating the website into German. In general all the new official translation of the website were done either as part of GSoC or Processing Fellowship, mainly because we believe translation is a pretty big project and we want to take into account long term maintenance and sustainability of the translation.

That being said you can certainly create unofficial tran

[2022-04-15 01:12] amuritna commented on #1192
Okay, that's understandable. Thank you, I appreciate the response! Actually, I was surprised I didn't see that issue -- I've searched the issues to check whether anybody had suggested anything similar. I guess I wasn't thorough.

Re: GSoC/Processing Fellowship, perhaps this information could be added to [https://github.com/processing/p5.js-website/blob/main/contributor_docs/i18n_contribution.md](t

[2022-04-15 01:12] #1192 closed

[2022-04-22 23:40] jaiakash opened #1196 "[Docs] Improve setup page on readme"
### Language

English

### What improvement are you suggesting?

The setup page on ```https://github.com/processing/p5.js-website#setup``` needs improvement.

- [x] Update link of JAVA install.
- [x] Reiterate the instruction for clonning repo.
- [ ] More

### Would you like to work on the issue?

Yes

[2022-04-23 13:20] limzykenneth commented on #1196
I'm not sure what you are referring to here as the link to install Java is still valid and I'm not sure it is necessary to restate the cloning steps. Can you perhaps detail what changes you are proposing? Also I don't see how this issue is related to "translation"?

[2022-04-24 15:30] jaiakash commented on #1196
- [ ] The actual link for downloading java is https://www.oracle.com/java/technologies/downloads/
- [ ] When someone clicks on the cloning step, it redirects to cloning docs on github. Instead I suggest to add the cloning command link of repo, ```git clone https://github.com/processing/p5.js-website/```

My bad, it should be added to bug tag, not translation tag.

[2022-04-24 15:34] jaiakash commented on #1196
You can check this https://github.com/jaiakash/p5.js-website#setup

[2022-05-20 17:27] sherifsallam opened #1202 "Working on Manual Font Size Adjustment Buttons"
### Increasing Access

This will increase access for people who are visually impaired. This will allow them to preview the website in its original format but with the font size that suits their visual capabilities, without having to zoom in and out to navigate the website.

### Most appropriate sub-area of p5.js?

Other (specify if possible)

### Feature request details

I will be testing it on th

[2022-05-21 05:25] 3ru commented on #1180
@Qianqianye

I too would love to watch the p5.js Access Day and I think it should be advertised on the website (50bab18bbd2c86dadb67b294eccebe849c5ea3ed), but unfortunately, it is not currently displayed.
The cause is presumably because `https://p5js.org/git-pull.php` is not working properly.

Similarly, no matter how much we update the code in this repository now, the production environment does

[2022-05-21 12:25] 3ru commented on #1202
I think this is an interesting experiment.
I felt that it would be easier to understand if there were some images or other information about what you are trying to achieve.

[2022-05-21 16:04] limzykenneth commented on #1202
Is there a reason to prefer a custom solution on the website itself instead of relying on the browser's zoom function? The browser zoom function is built with that accessibility in mind and users with visual impairments will likely be used to using the zoom functionality of the browser already and expects a website to work with the browser's zoom functions.

If it is the case where the website is

[2022-05-24 13:23] lucasvm01 opened #1203 "line() function mistyped in reference"
### Most appropriate sections of the p5.js website?

Reference

### What is your operating system?

Windows

### Web browser and version

Edge 98.0.1108.84

### Actual Behavior

The line() reference is typed as line(x1, y1, z1, x2, y2, z2)

### Expected Behavior

It should be line(x1, y1, x2, y2, z1, z2), at least as it is used in the Web Editor.

### Steps to reproduce

Opening the line() web edi

[2022-05-26 07:52] Qiguang opened #1230 "information on reference page about displayWidth seems not correct"

[2022-05-27 10:12] limzykenneth commented on #1180
Deployment should be fixed now.

[2022-05-27 10:12] #1180 closed

[2022-06-02 07:22] 3ru commented on #1180
@limzykenneth
Thank you for your response.
Indeed, Home and many other pages are fine, but Examples does not seem to be deployed properly.

Please check the following

https://github.com/processing/p5.js-website/blob/e1523b40055f4a710fe659b34b5099705fa616fb/src/data/examples/en/00_Structure/00_Statements_and_Comments.js#L6-L7

|[status quo](https://p5js.org/examples/structure-comments-and-statemen

[2022-06-02 11:07] limzykenneth commented on #1180
@3ru That's not a deployment problem as the right file is on the server, it's probably more of an example rendering issue.

[2022-06-05 21:35] Lucie-Maya opened #1206 "Adding Trigonometry Example"
### Increasing Access

unsure

### Most appropriate sub-area of p5.js?

Examples

### Feature request details

I want to add a simple sketch that gives another use of trigonometry using cos, tan and sin.

[2022-06-07 13:55] Lucie-Maya commented on #1206
Hello Kenneth, I am adding this example as I saw that none of the trigonometry examples used tan() and the shapes created with the sin wave where quite simple. I thought it could be an interesting example to make people more interested in trigonometry,

[2022-06-23 18:21] Qianqianye commented on #1191
Hi @tscheckie! Thanks for your interests!
Regarding website translation, we are rolling out new languages slowly to be absolutely sure that we can support the full translation and maintenance of each language. We want to avoid the situation where we have many languages and it's beyond our means to support. So for this reason, we are holding now with the translations we already have on our website

[2022-06-23 18:44] Qianqianye commented on #1192
Thank you @amuritna for the suggestion! We just updated [the i18n contribution guide](https://github.com/processing/p5.js-website/blob/main/contributor_docs/i18n_contribution.md)

[2022-06-29 18:12] Qianqianye commented on #1183
Thanks for all your input on this issue. We have a website redesign project pending in the near future to rethink the overall design of the website, so the search box updates is not a priority right now. I will close this issue for organizational purposes, and we can reopen it when we are ready to work on the website redesign.

[2022-06-29 18:12] #1183 closed

[2022-06-29 18:21] #1148 closed

[2022-06-29 18:34] #646 closed

[2022-07-02 22:26] #589 closed

[2022-07-04 20:06] Qianqianye commented on #1162
Just assigned you @adarrssh. Thank you!

[2022-07-06 19:08] adarrssh commented on #1162
Hi, I need to rename a link on the examples page (see the below image), But the index.hbs file of the examples page is included in the .gitignore file(see the 2nd image), so how can I edit that index.hbs file?

<img width="666" alt="image" src="https://user-images.githubusercontent.com/85433137/177622324-9cb1b285-319d-43b3-9771-820ee0fc1fe9.png">

<img width="352" alt="image" src="https://user-ima

[2022-07-07 10:50] Divyansh013 commented on #1162
Hi @adarrssh actually  you should edit src/data/examples/hi folder for your desired task

[2022-07-07 12:13] adarrssh commented on #1162
hey @Divyansh013, I just want to rename the और ड्रा (or draw) tag to नो लूप (no loop) on the examples page. I have already made all the changes in the src/data/examples/hi folder.

[2022-07-07 14:18] limzykenneth commented on #1162
@adarrssh If you have made the relevant changes it should show up when you rebuild the website. The `index.hbs` will be rewritten by the build process anyway so committing it will not cause it to persist on website build.

[2022-07-07 17:46] #1162 closed

[2022-07-07 20:57] Qianqianye opened #1216 "Translation help wanted!"
### Topic

Hi 👋 ! We recently added around 45 new contributed libraries to the [p5.js Libraries](https://p5js.org/libraries/) page. We have only updated the English page so far, and we’d need some help with the **Spanish**, **Simplified Chinese**, **Korean**, **Hindi** translations of the libraries page.

We will need help to update the translation text in these four yml files: ​​[`es.yml`](https:

[2022-07-07 21:27] Guirdo commented on #1216
Hello, I can help with spanish!

[2022-07-07 21:38] Andreu-G commented on #1216
Hello, I'd love to help with Spanish too, both translating and correcting errors / inconsistencies (some sentences are written in a formal tone, while others aren't)

[2022-07-08 07:03] adarrssh commented on #1164
I think we can close this issue @Qianqianye, I already have a merged pull request(#1162). Issue #1162 and #1164 are the same.

[2022-07-08 18:03] Qianqianye commented on #1164
Thanks @adarrssh for contirbuting to #1213!

[2022-07-08 18:03] #1164 closed

[2022-07-08 18:07] Qianqianye commented on #661
Hi @pcgamer1 This is such a great suggestion. Can you share some screenshots about this issue? Are there any particular pages you are thinking of? Thanks!

[2022-07-08 21:53] Qianqianye opened #1220 "p5.js Website / Translation Stewards Open Call 🎉"
### Topic

## Stewards
Hi! We'd love to invite more contributors to be the stewards of the p5.js website and translations! 🎉

Stewards are contributors that are particularly involved, familiar, or responsive to certain areas of the project. Their role is to help provide context and guidance to others working on p5.js website. If you have a question about contributing to a particular area, you can

[2022-07-09 00:00] Qianqianye commented on #1216
Please also check out the p5.js Website / Translation Stewards Open Call 🎉 on issue #1220

[2022-07-09 00:26] Guirdo commented on #1220
Hi :hand:, I'd like to volunteer as a steward for spanish!

[2022-07-09 00:32] Qianqianye commented on #1220
Thanks @Guirdo! Just added your name in the [stewards section](https://github.com/processing/p5.js-website#stewards). 🎉

[2022-07-09 00:35] yinhwa commented on #1220
Yay💜 excited for this open call! while I'd love to continue contributing on Korean translation, would also wanna invite some other Korean contributors on board: @almchung  @jhongover9000  @sosunnyproject @okdalto @kangashley @mojosoeun @jeong @ssj812 @ssueing @higogoc @GeryGeryGery and many more others I couldn't mention here 😁

[2022-07-09 00:36] Andreu-G commented on #1220
Would love to volunteer as a steward for spanish too 🙂

[2022-07-09 00:43] Qianqianye commented on #1220
Thanks @yinhwa and @Andreu-G. Just added your names in the [stewards section](https://github.com/processing/p5.js-website#stewards). 🎉

[2022-07-09 01:43] almchung commented on #1220
This is an exciting proposal! I'd also like to volunteer for `Translation Steward: Korean`. Looking forward to it!

[2022-07-09 01:46] jhongover9000 commented on #1220
I'd also be down to volunteer for the Korean Translation Steward role!!

[2022-07-09 02:16] unicar9 commented on #1220
Hi @Qianqianye i'm very interested in the Chinese Translation Steward role, happy to contribute!

[2022-07-09 02:28] Qianqianye commented on #1220
Thanks @almchung, @jhongover9000 and @unicar9! Just added your names in the [stewards section](https://github.com/processing/p5.js-website#stewards). 🎉
You can take a look at issue #1216 if you want to translate the [p5.js Libraries](https://p5js.org/libraries/) page. Thank you!

[2022-07-09 04:41] Gracia-zhang commented on #1220
Hi Q! I'd like to volunteer as a Chinese Steward, too! 😃

[2022-07-09 07:41] 3ru commented on #1220
Hi @Qianqianye, I'm interested in the steward of the example page!
If Japanese translations start in the future, like web editor, I'd also be down to volunteer😸

[2022-07-09 07:45] sssueing commented on #1220
Hi @Qianqianye, I'm also interested in the Korean Translation Steward role!

[2022-07-09 08:44] adarrssh commented on #1220
Hi @Qianqianye, I would like to volunteer for the Translation Steward: Hindi.

[2022-07-09 13:54] nickmcintyre commented on #1220
@Qianqianye I'd love to help steward the Learn area of the website!

[2022-07-09 17:25] aceslowman opened #1228 "Create a Basic Feedback Effect for the Examples Page"
### Increasing Access

Texture feedback is a simple and easy to use effect that can sometimes be difficult for newcomers to figure out in a straightforward way. I am proposing a simple example for the website that shows how to create texture feedback without shaders, which will be easy to learn from and extend.

I will be taking on this task myself as part of my work on WebGL examples and document

[2022-07-09 18:51] adarrssh commented on #1203
Hi @Qianqianye, please assign me this issue.

[2022-07-09 18:57] adarrssh commented on #1203
Hey @Qianqianye, please assign me this issue.

[2022-07-09 19:38] Qianqianye commented on #1203
Thank you @adarrssh! Just assigned you.

[2022-07-09 19:55] Divyansh013 commented on #1220
Hi @Qianqianye I'm quite familiar and worked on Hindi translation of the website. Also have seen Reference page quite closely. I would like to be the Steward for the same. Translation:Hindi and Reference page

[2022-07-09 19:58] Divyansh013 commented on #1216
Hello, I would  love to work on the Hindi translation

[2022-07-09 20:01] Qianqianye commented on #1220
Thanks @Gracia-zhang, @3ru, @sssueing, @adarrssh and @nickmcintyre! Just added your names in the [stewards section](https://github.com/processing/p5.js-website#stewards). 🎉
Please feel free to take a look at the existing issues labeled '[translation](https://github.com/processing/p5.js-website/issues?q=is%3Aopen+is%3Aissue+label%3Atranslation)' and '[example](https://github.com/processing/p5.js-we

[2022-07-09 21:04] jcubic opened #1222 "Provide Polish translation"
### Language

Polish

### What improvement are you suggesting?

Translate the website to Polish

### Would you like to work on the issue?

yes

[2022-07-09 22:30] Qianqianye commented on #1222
Hi @jcubic!
Regarding website translation, we are rolling out new languages slowly to be absolutely sure that we can support the full translation and maintenance of each language. We want to avoid the situation where we have many languages and it's beyond our means to support. So for this reason, we are holding now with **Spanish**, **Chinese**, **Korean**, and **Hindi** and getting those fully co

[2022-07-10 09:01] Divyansh013 commented on #1168
@Qianqianye ig we can close this issue as per this comment

[2022-07-10 09:57] adarrssh commented on #1203
<img width="627" alt="image" src="https://user-images.githubusercontent.com/85433137/178139893-844981b1-3da8-4ece-994b-121576a94580.png">
Hey, @Qianqianye, I have made these changes(see image) in src/templates/pages/reference/data.min.json. Do I need to make other changes, or I can make a pull request?

[2022-07-10 10:05] jcubic commented on #1222
Thanks, I will then translate the website and host it maybe on GitHub pages. I'm wondering about the domain. If I purchase p5js.pl the site will be gone when I'm dead. The same will happen with p5js.jp and any other external website. I think that the processing foundation will work long after I'm dead.

[2022-07-10 11:13] ranaaditya commented on #1216
Hi @Qianqianye , @SanjaySinghRajpoot  and I translated P5 website for hindi translation last year in GSoC.

You can tag me to review the PRs for Hindi translations 👍

Will try to contribute as well

Thanks

[2022-07-10 19:17] Qianqianye commented on #1168
Thanks @Divyansh013!

[2022-07-10 19:17] #1168 closed

[2022-07-10 20:21] Qianqianye commented on #1203
Thanks @adarrssh! Adding @Divyansh013 (Reference steward) to this discussion as well. 🙂

[2022-07-10 21:03] Divyansh013 commented on #1203
Screenshot of changes looks good ig you can create a PR

[2022-07-11 02:14] GeryGeryGery commented on #1220
Hi @Qianqianye, I'd like to volunteer for the Korean Translation Steward role! :)

[2022-07-11 03:43] SanjaySinghRajpoot commented on #1216
Yes, I am available for this. Let me know what changes are to be implemented for the Hindi translations. Just tag me in the PR that you want be to review.

Thanks

[2022-07-11 12:22] raphaelavelar commented on #1220
Hi, @Qianqianye, I saw that there isn't a steward for the portuguese translation even though it isn't complete. If possible, I would like to help with that.

[2022-07-11 15:47] #1203 closed

[2022-07-11 15:47] Qianqianye commented on #1203
Just merged the PR. Thanks @adarrssh and @Divyansh013 ✨

[2022-07-12 00:32] Guirdo opened #1225 "Improving Spanish translation for the Reference section"
### Language

Spanish

### What improvement are you suggesting?

Some descriptions on the spanish references section are still in english. For instance:

![image](https://user-images.githubusercontent.com/21044700/178379811-c4e06bee-2f3f-4bca-bdd8-3b59e4b22b50.png)

There are some typos and errors to be fixed as well.

![image](https://user-images.githubusercontent.com/21044700/178380578-9c8ba68a-

[2022-07-12 00:49] Qianqianye commented on #1225
Please go ahead with a fix. Thanks!

[2022-07-12 05:32] pentalei commented on #1220
hi! i would love to help with the Chinese translation, if that's still possible

[2022-07-12 07:11] SNP0301 commented on #1216
Hi there!
I'd like to translate it into Korean! Can I participate to it? :)

[2022-07-12 13:08] deepchauhan commented on #1220
Hi @Qianqianye , I would love to be a steward for hindi translation steward role :-).

[2022-07-12 13:24] nickmcintyre opened #1226 "Challenges page"
### Increasing Access

A curated set of learning challenges would help beginners and people with fewer resources (i.e., books, classes, and bandwidth) to hone their creative coding skills in a structured way while engaging with the community.

### Most appropriate sub-area of p5.js?

Learn

### Feature request details

The p5.js Discord moderators are discussing ways to enhance weekly challenges s

[2022-07-12 15:45] SarveshLimaye commented on #1220
Hey @Qianqianye, I would love to volunteer for the Hindi steward role! 😄

[2022-07-12 17:34] adarrssh opened #1227 "Canvas width too small"
### Most appropriate sections of the p5.js website?

Examples

### What is your operating system?

Windows

### Web browser and version

Google Chrome:103.0.5060.114

### Actual Behavior

The canvas of the Forces page (https://p5js.org/examples/simulate-forces.html) in the examples section is too small to contain all three buttons and it also doesn't look good.

<img width="563" alt="image" src="h

[2022-07-12 17:36] adarrssh commented on #1227
I can update the size of all the canvases which have this same issue under the examples page.

<img width="619" alt="image" src="https://user-images.githubusercontent.com/85433137/178556647-cb3ccc1b-eb54-4638-82a1-537d883514d6.png">

[2022-07-12 18:29] Qianqianye commented on #1227
Thanks @adarrssh! Adding Example Stewards to this discussion, @Malayvasa, @tyler-yin, @3ru

[2022-07-12 20:32] Qianqianye commented on #1220
Thanks @GeryGeryGery, @raphaelavelar, @pentalei, @deepchauhan, and @SarveshLimaye! Just added your names in the [stewards section](https://github.com/processing/p5.js-website#stewards). 🎉
Please feel free to review the existing issues labeled '[translation](https://github.com/processing/p5.js-website/issues?q=is%3Aopen+is%3Aissue+label%3Atranslation)'. Thank you!

[2022-07-12 20:39] Qianqianye commented on #1202
Thank you for the suggestion, @sherifsallam. I'm closing this issue for organizational purposes. Please reopen if you can provide more details responding to @limzykenneth's feedback. Thanks!

[2022-07-12 20:39] #1202 closed

[2022-07-12 20:59] Qianqianye commented on #1226
Thanks @nickmcintyre for the suggestion. Also adding the [Learning Section Information Architecture #1000 ](https://github.com/processing/p5.js-website/issues/1000) issue to this discussion.

[2022-07-12 21:07] Qianqianye commented on #929
Thanks @Rahulm2310 for all your input on this issue. We have a website redesign project pending in the near future to rethink the overall design of the website, and we haven't seen a lot of interest in this 'Community Gallery' feature since the issue was opened a year ago. So, I will close this issue for organizational purposes, and we can reopen it when we are ready to work on the website redesig