[2019-03-19 05:32] abhinavsagar opened #436 "Popups should be removed"
Various kinds of popups in the down part are moving from left to right. I think those are making the UI look not that great.

[2019-03-19 05:47] lmccart commented on #436
Can you explain more about what you mean? Maybe post a screenshot of the problem?

[2019-03-19 05:49] lmccart commented on #435
@GaurangTandon ok I see your point. 👍 I would say please go ahead and make the change. @limzykenneth do you have thoughts here?

[2019-03-19 08:59] GaurangTandon commented on #436
![image](https://user-images.githubusercontent.com/6308683/54592736-fd5cc580-4a52-11e9-8acb-bde28ff921cd.png)

@lmccart I think @abhinavsagar meant to refer to the above images on https://p5js.org. Personally, I also have not understood their purpose. Also, they make the page laggy by a bit.

Why have they been put there? Can any changes be made to them, to avoid making the page laggy and conveyin

[2019-03-19 11:08] limzykenneth commented on #435
I think it's good to consolidate initial setup stuff in one place but for "initial setup" I'm thinking more just mentioning cloning the repo, `npm install` then `grunt server` to build the site and run it (which will be in `README.md`).

Any additional steps, even if they are required once only, for creating examples or i18n work etc should be isolated into their own file, that includes explaining

[2019-03-19 11:17] abhinavsagar commented on #436
@lmccart Yeah as pointed out by @GaurangTandon I was referring to those.

[2019-03-19 11:33] limzykenneth commented on #404
@takyano The message seems to just be a performance related warning and should not have caused this behaviour.

Honestly, this is pretty weird behaviour and I'm not sure what it could be. If you can hunt down where the problem stem from, even generally, it can really help. In the meantime I'll see if I can get a hold of a Windows machine to test this out.

[2019-03-19 11:43] limzykenneth commented on #433
Design wise I think the grey bar helps with quickly identifying where the code start and end so I would suggest keeping it, maybe reducing its width only if absolutely necessary.

I agree that line numbers are useful in teaching situation to get people's attention on a specific line instead of using a mouse cursor to point to a line in class.

[2019-03-19 11:47] limzykenneth commented on #430
@mcuz There shouldn't be a different between cloning and downloading a ZIP in terms of building the site. I cannot say much else though as I cannot replicate this issue but if you manage to build the site sucessfully one way or another that's OK I guess.

@17bcs029 `es/zh-Hans/examples/` is not a valid link (`es` being the Spanish translation and `zh-Hans` being the Chinese translation).

[2019-03-19 16:38] takyano commented on #430
Git for Windows can change the end of line characters in files. This breaks findName() in src/data/examples/build_examples/build.js

[2019-03-19 16:44] limzykenneth commented on #430
@takyano That made sense, I think that should be it! Good work finding that.

[2019-03-19 18:55] lmccart commented on #436
I see, this is an homepage feature artwork by Kay Liang (see credit info in bottom left). We typically keep these up for one month and it has been up for a little over that now, so I can rotate this out now.

[2019-03-19 18:57] mcuz commented on #430
yes I am using a windows platform (take it that you are all using linux or mac?).  so my settings for git should be checkout as-is commit as-is (would be good if someone could verify).  I will try settings and see if it fixes the problem.  @takyano well spotted if thats the case

[2019-03-19 19:54] lmccart commented on #420
@manaswinidas I added a branch called "hindi" that has the basic infrastructure for adding the translation. checkout this branch into your local branch and you can swap in your hi.json and hi.yml files. you should be able to preview the changes by running `npm run watch` and navigating to localhost:9000/hi

feel free to submit pull requests to this branch and we can review and merge them in chunk

[2019-03-19 20:00] mcuz commented on #430
verification: changed git autocrlf setting to false
cloned repo, npm install, grunt build, grunt server
site and examples now working!
thanks @takyano @limzykenneth

[2019-03-19 20:02] abhinavsagar opened #439 "Search bar on the top not working as desired"
If we have already made some searches before and then if we are searching for the same thing and we don't want to type it then if trying to click it ,it pops out of the search bar.

[2019-03-20 03:04] #430 closed

[2019-03-20 03:10] mcuz opened #441 "recommendations on resolving conflict during rebase"
currently rebasing in preparation for pull request - can anyone offer any advice on the following?

![conflict](https://user-images.githubusercontent.com/44824130/54656461-8e52a000-4b2a-11e9-8014-e0e6d5146530.png)

[2019-03-20 03:41] #441 closed

[2019-03-20 17:14] abhinavsagar opened #442 "Add a new issue and pr template"
Currently the project is not having an issue and pull request template.
Adding one helps in having standardized information when submitting a pr or an issue.

[2019-03-20 17:19] abhinavsagar commented on #442
@lmccart Your thoughts? I will be more than happy to make a PR regarding this.

[2019-03-20 21:42] lmccart commented on #442
@abhinavsagar can you please propose an outline for what would go in each of these templates?

[2019-03-20 21:45] lmccart commented on #312
@GaurangTandon since we're not hearing any response from @vladdypwnz, please go ahead in taking this issue.

[2019-03-21 22:31] mcuz commented on #426
@limzykenneth I have fixed issue and am doing preparation steps for pull request.  however when doing git rebase and running patches I am running into many conflicts.  how can I get help with this?
I initially started working through conflicts assuming that things might improve ... but it seems that as I move through the patches conflicts continue to arise ... and there are 1000 patches! :(

![reb

[2019-03-21 22:36] limzykenneth commented on #426
@mcuz If nothing is edited in those files which there probably shouldn't be there won't be any merge conflicts. If you still cannot resolve this, start from a fresh clone that is up to date with master and copy over the changes made to the bouncy bubble example only. Check `git status` to make sure only the example file is changed then commit the changes. You can then push the new changes to your

[2019-03-22 02:08] mcuz commented on #426
thanks very much for that! I'll get working on it

[2019-03-22 05:00] #439 closed

[2019-03-22 10:12] 17bcs029 commented on #409
hi, @limzykenneth I think when we have clicked the button then the translation does not change.

[2019-03-22 12:50] abhinavsagar commented on #442
@lmccart Can you please review this?

[2019-03-23 16:49] limzykenneth commented on #409
@17bcs029 What do you mean? Also they fix is not live on the site yet.

[2019-03-23 18:45] 17bcs029 commented on #409
I think we have clicked the button. Button clickes but translation does not change.
Sorry for the first reply.

[2019-03-23 19:37] #426 closed

[2019-03-23 19:55] limzykenneth commented on #409
@17bcs029 How did you click the button? The buttons as it is now on the live site cannot be clicked on smaller screens short of editing the CSS rule for the buttons' container in an inspector.

[2019-03-24 05:51] 17bcs029 commented on #409
@limzykenneth I think the problem is cursor changes in to pointer in to translation button in small screen. but the problem is still. if we have cursor does not changes in to pointer then the
problem could solve.

[2019-03-24 20:03] lmccart commented on #442
fixed with #443

[2019-03-24 20:03] #442 closed

[2019-03-24 20:39] 17bcs029 opened #445 "Need help related to gsoc project"
Hi everyone actually I'm interested in this project idea `Curate set of p5.js examples for 1.0 release` how I get know about these projects. I have some question related to this project
1. Are you guys giving me an curating an artist list?
2. how to get contact with them?
also have some question [here](https://discourse.processing.org/t/gsoc-2019-need-some-suggestion-related-to-this-project/9050).

[2019-03-25 13:18] #436 closed

[2019-03-25 20:40] lmccart commented on #445
Hi @17bcs029, thanks for your interest. As the project list entry mentions, "This project would involve identifying and curating an artist list, finding their contact information, reaching out to them for existing examples or inviting them to make new ones, gathering and standardizing the files, and adding them to the p5.js website."

So you would be making the list yourself with help from your me

[2019-03-25 20:40] #445 closed

[2019-03-25 20:41] lmccart commented on #432
Regarding website translation, we are rolling out new languages slowly to be absolutely sure that we can support the full translation and maintenance of each language. We want to avoid the situation where we have many languages and it's beyond our means to support. So for this reason, we are holding now with Spanish and Chinese, starting on Korean and Hindi, and getting those fully complete before

[2019-03-25 21:05] 17bcs029 commented on #445
Thanks, @lmccart for your response. I also have some question related to this project. can you please take a look at [forum](https://discourse.processing.org/t/gsoc-2019-need-some-suggestion-related-to-this-project/9050/4)?

[2019-03-27 22:22] aatishb commented on #396
Hi, this is the github for the p5.js website. You might want the p5.js github which is here: https://github.com/processing/p5.js/

For your issue, the easiest way to resolve it is to have the equivalent of a play button, i.e. something that is clicked on the canvas before any sound plays. You could also try the userStartAudio() function from this example: https://p5js.org/reference/#/p5.sound/user

[2019-04-02 06:06] ananya32 opened #449 "Web Editor 'Open' button keeps crashing."
**### Can't open any previously saved files.**
Found a bug
Details about the bug:
Every time I click 'Open' the whole page just goes blank. Literally all blank white.

Chrome, Version 73.0.3683.86

Operating System: MacOS Mojave version 10.14.3

Steps to reproduce this bug: Every time I log in to my account and click 'Open' the whole page just goes blank. Literally all blank white.

I lost a lot o

[2019-04-02 23:06] lmccart commented on #175
thanks @brysonian. better late than never, I've removed avenir from the examples. once the latest reference is deployed to the website with next release scheduled for 4/8, we can also remove the avenir files from `src/assets/css`.

[2019-04-02 23:07] lmccart commented on #175
@limzykenneth I substituted in inconsolata for now to keep it simple. but we can look at adding noto and better language character support in a separate issue.

[2019-04-03 09:30] limzykenneth commented on #175
Sure, maybe we can look into it along with Hindi support as that is also another character set that could benefit from better font support.

[2019-04-04 00:57] lmccart opened #451 "convert koch example to ES6 constructor syntax"
Update these three files to make use of ES6 constructor syntax:
[code]

[2019-04-04 03:41] 17bcs029 commented on #451
Hi @lmccart I would like to work upon this issue.

[2019-04-04 19:42] lmccart commented on #451
@17bcs029 great!

[2019-04-08 00:43] #451 closed

[2019-04-08 00:43] #432 closed

[2019-04-08 06:53] spadaal commented on #432
I'm sorry, I've probably overlooked the notification of the previous message.

Thank you for your reply: I'll proceed as suggested.

[2019-04-18 03:42] macarena opened #456 "Wrong filter() paramenter in video capturing example pages"
**Actual Behaviour**

Example pages with Video capturing demos are not working as expected because of the filter() function. The parameter is written as a string, not a global var.

 **Expected Behaviour**

The filter function should work!

 **Steps to reproduce it**

Just open the page and run the example code.

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/798

[2019-04-18 09:59] limzykenneth commented on #456
Do go ahead with the fix.

[2019-04-19 23:13] #456 closed

[2019-04-24 07:19] jnsjknn opened #458 "Add Finnish translation"
I'm would like to translate the website to Finnish if I get a permission to do so. The ISO 639 abbreviation is `fi`.

[2019-04-26 07:11] takyano commented on #404
Tried editing a example page on Firefox 66.0.3(64-bit) under Windows 10 and the pages jumps up like under Google Chrome.

[2019-04-26 07:45] lmccart commented on #458
Thanks @jnsjknn! We are rolling out new languages slowly to be absolutely sure that we can support the full translation and maintenance of each language. We want to avoid the situation where we have many languages and it's beyond our means to support. So for this reason, we are holding now with the languages we're currently working on (Spanish, Chinese, Hindi, Korean) and trying to get those fully

[2019-04-26 09:09] jnsjknn commented on #458
I am unable to host the website, so I will have to stand down on this.

[2019-04-26 09:09] #458 closed

[2019-04-28 13:30] justlucdewit opened #460 "typo in p5.vector.angleBetween() reference"
if you visit the reference of the p5.vector.angleBetween() function (https://p5js.org/reference/#/p5.Vector/angleBetween)

in the syntax section the argument is called 'the'

it would be much better if the argument was named: vector

https://media.discordapp.net/attachments/550752628829585429/572051686630359041/unknown.png

 I will try to fix this issue myself

[2019-04-28 13:41] justlucdewit commented on #460
please help i cant seem to find where to code for the reference is located

[2019-04-28 19:26] limzykenneth commented on #460
@julescubtree The documentations are generated from inline documentation in the source code, so for `angleBetween()` it is [here](https://github.com/processing/p5.js/blob/0.8.0/src/math/p5.Vector.js#L1125). At the bottom of the reference page for any particular entry, you will find a link that takes you directly to where the documentation are in the source code as well.

[2019-04-28 23:42] kcconch opened #461 "adding shader examples to 3D section"
hi! made a few examples using shaders as part of p5.js shader reference/guide project I'm working on with @louiselessel at ITP.

planning on doing a pr and here are some glitch links of the examples live:
https://basic-shader.glitch.me/
https://shader-as-texture.glitch.me/
https://passing-uniforms.glitch.me/
https://shader-with-webcam.glitch.me/

[2019-04-29 03:56] takyano commented on #404
@limzykenneth The Ace Editor libraries are out of date.
I built the website and replaced the /assets/js/vendor/ace and /assets/js/vendor/ace-nc folders with a more recent version of the ace libraries.

This setup did not have the jumping problem.

[2019-04-29 14:24] jywarren opened #463 "Arduino sensor example fixes for newish click-to-play Audio API rules"
Oof, while #166 was just merged, I had to make some changes since then to this to get it to work with the new Web Audio API click-to-play permissions.

(Refs; https://github.com/publiclab/webjack/issues/88, processing/p5.js-sound#322)

I wrapped it in some extra code, which is not super simple:

https://github.com/jywarren/p5js-webjack-sensor/blob/90de143c93fc501b1ad50a4cd18b370edd2fd71a/webjack-p

[2019-05-01 12:16] limzykenneth commented on #463
It depends on whether this function would be useful for other users of webjack. If it does provide them with some usability improvements by removing boilerplate that they need to write, it would make sense for you to include in the webjack library itself.

The callback pattern you are using now is naming the callback inline with the name `draw`, it is not strictly necessary although useful for deb

[2019-05-01 17:29] catarak commented on #463
Another option would be to create a p5 library for WebJack, which could include `receiveSensorData`.

[2019-05-01 18:39] jywarren commented on #463
Yes, i was thinking of providing a wrapper library, as opposed to including
a p5js-specific function within Webjack -- that sounds like a great way
forward. And, I love the idea of breaking out the receiveSensorData()
function lower in the script, instead of providing it inline -- it
certainly does look more like how the 'draw()' method is used. Thanks for
the input! I can open a PR with this, the

[2019-05-02 04:12] jywarren commented on #463
Work in progress at https://github.com/processing/p5.js-website/pull/464/ 🎉

[2019-05-04 07:58] #463 closed

[2019-05-22 18:08] nanatejapai opened #467 "HELP link does not work in full screen mode"
I'm new to p5js and using to p5.speech with videos. Video supposes to be autoplay when loading the web, which works perfectly fine in web editor's small screen preview. However, sometimes it does not work in full screen mode and present mode.

<img width="1280" alt="Screen Shot 2019-05-22 at 2 03 47 PM" src="https://user-images.githubusercontent.com/25845385/58197779-f775a180-7c9a-11e9-835e-68ae53

[2019-05-22 20:15] stalgiag opened #468 "Alternating line fill behind reference examples is slightly off"
**Actual Behaviour**

 The gray and white alternating lines behind reference examples is slightly off. This seems to build up with consecutive lines.

 **Expected Behaviour**

The gray and white lines alternate with the same height as the text in the example code.

 **Steps to reproduce it**

It can be seen easiest for me in a long example such as the one for [createShader](https://p5js.org/refere

[2019-05-24 10:09] limzykenneth commented on #467
This is the repo of the p5js.org website not the editor, for the editor's repo it is over [here](https://github.com/processing/p5.js-web-editor/issues). You can post this issue over there instead and close this. Thanks.

[2019-05-24 10:15] limzykenneth commented on #468
This doesn't show up on my side. macOS 10.14.4, Firefox 66.0.4, Chrome 74.0.3729.157, Safari 12.1

As you mentioned very possibly a pixel density issue or even a OS/browser issue.

[2019-05-24 17:01] stalgiag commented on #468
I tried on another Windows 10 computer that has a 1080p display and still see the lines displaying as they do in the screenshot above in the same version of Chrome.

Those same lines display correctly in Firefox 66.0.5 and Edge 42.17134.1.0 on both computers.

So my guess is that it isn't the pixel density. It might be as simple as the 'line-height' css value or maybe the font metrics in the font

[2019-05-28 03:41] lmccart commented on #468
thanks @stalgiag I think I can track this one down. I seem to recall that the line spacing for text in the editor and the row colors are actually two different elements with their own css. I'll see what I can find.

[2019-05-28 13:09] jonathanjameswatson opened #470 "Ray casting example"
Hello! I would like to add [an example](https://editor.p5js.org/jonathanjameswatson/sketches/nXaMiBioK) that I have made about ray casting for the 3D section.

[2019-05-28 13:53] jywarren opened #472 "createCapture() video demo cut off on mobile screens"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) demo CSS?

#### Which platform were you using when you encountered this?

-

[2019-05-29 01:25] BerfinA opened #473 "Revising the environment section in the get started page."
Revising the environment section in the get started page. Is sublime out dated? Should there be a more clear way to explain downloading an app to run p5?
Atom or brackets can be alternatives to sublime text.

[2019-05-29 01:33] BerfinA opened #474 "Revising the download page"
Maybe web editor on the downloads page should come first?
Under download P5js complete it should be specified that P5 js complete doesn't include a text editor.

[2019-05-29 01:55] BerfinA opened #475 "Get Started page revisions"
-DOWNLOAD AND FILE SET UP COULD BE MOVED ALL THE WAY DOWN ON THE GET STARTED PAGE
-THE FIRST PARAGRAPH COULD BE REVISED AS
This page walks you through setting up a p5.js project and making your first sketch.The easiest way to start is  If you'd like to start with the new  p5.js Web Editor, you can open the web editor and can scroll down to Your First Sketch part of this page .can jump down to Your

[2019-05-29 12:59] limzykenneth commented on #473
Sublime text is definitely not outdated per se, it just isn't open sourced. This is tracked at #220 but lacked activity for awhile now. You can take it up if you like.

[2019-05-29 13:01] limzykenneth commented on #474
What is the reasoning for this? On a "downloads" page I would normally be expecting to download something, not be redirected to another page.

[2019-05-29 13:04] limzykenneth commented on #475
Hi, can you edit this a bit? There might be some problem with copy pasting but some of the sentence doesn't make sense, and also can you add some more white space where needed for clarity as it is a bit hard to discern which are the actual suggestions vs description vs title. Thanks.

[2019-06-03 21:47] jeremydouglass opened #476 "Broken link p5.speech on libraries page"
**Actual Behaviour**

This library link seems to be broken -- server may be temporarily or permanently down:

http://abilitylab.nyu.edu/p5.js-speech/

 **Steps to reproduce it**

1. navigate to https://p5js.org/libraries/
2. click on p5.speech http://abilitylab.nyu.edu/p5.js-speech/
3. browser times out

 **Would you like to work on the issue?**

I'd be happy to submit a fix if editing the hbs fil

[2019-06-08 22:14] lmccart commented on #476
thanks! it looks like this is back up now

[2019-06-08 22:16] lmccart commented on #473
Agreed, I'd like to replace Sublime because, as @limzykenneth mentions it isn't open source. Your suggestions for alternatives are great. I'm going to close this one and keep tracking it on https://github.com/processing/p5.js-website/issues/220. Hoping to make a round of website updates this summer, thanks for your suggestions!

[2019-06-08 22:16] #473 closed

[2019-06-08 22:18] lmccart commented on #474
I think for beginners, the web editor is the most common staring place. In our discussions a few weeks ago, several people mentioned being really confused about how to get started with p5, because they went to the download page, clicked the first button, then had no idea what to do with it. So even though the web editor isn't technically a download, I think it could be helpful to surface this on t

[2019-06-08 23:26] outofambit commented on #220
i also want to throw out vscode as an option too, since it is also open source and has a better "out of the box" for javascript than atom in most cases.

[2019-06-09 02:53] GaurangTandon commented on #220
@outofambit From what I've read, the distribution through the website (code.visualstudio.com) is proprietary under Microsoft, while if you build the source code yourself only then it's under the open source license. I believe most of the beginners will take the former route.

[2019-06-10 17:47] outofambit commented on #220
@GaurangTandon thanks for sharing that, I didn't know about that distinction! Upon further reading it seems the source code at github.com/microsoft/vscode is open source under the MIT license, but the distribution you download from microsoft has [some additional things](https://github.com/microsoft/vscode/wiki/Differences-between-the-repository-and-Visual-Studio-Code), that seem pretty minor to me

[2019-06-11 02:13] GaurangTandon commented on #220
I read the link, and you are right the differences feel too minor. I too would lean towards using VSCode as an option.

[2019-06-11 03:52] brysonian commented on #474
Maybe the "start" and "download" pages could be combined? I think pushing people towards the web editor, then CDN, then download, then npm (?) makes more sense for the way most users of the lib work and is a more straightforward progression for new learners. Also breaking the start page into chapters might make it more accessible and allow a smooth transition into topics in the "p5.js Overview" an

[2019-06-11 08:50] limzykenneth commented on #474
@brysonian I think for the order to introduce beginners to p5.js the order of CDN and download should be swapped, as the download one already has a working HTML file but with CDN link you need to provide your own.

I think we need more insight into how people are picking up p5.js and how first time users are using the site, at least on my end it's all guess work. 😦

[2019-06-11 22:30] outofambit commented on #474
Part of the reasoning for this is that newcomers to p5 may think they need to download something to get started (often because they've used Processing or some other desktop software in the past), but they often do not need to thanks to the web editor. ("Download" is also the first link on the homepage, even before "Start".)

I like @brysonian 's suggestion of combining "Download" and "Start" a lot

[2019-06-12 16:42] BerfinA commented on #474
@limzykenneth I suggested that the web editor should come first because it is already an existing option on the downloads page. When I was beginning to use P5 I was very confused because at the start page it says that "The easiest way to start is by using the empty example that comes with the p5.js complete download." Which made me think that P5 had its own text editor that was supposed to be down

[2019-06-15 15:31] vincentsijben opened #477 "p5.dom.js in download/complete library is weird version"
**Actual Behaviour**
When downloading the complete library from https://p5js.org/download/, the versioning of p5.dom.js and p5.dom.min.js is not accurate.

p5.dom.js states "p5.dom.js v0.4.0 August 9, 2018"
p5.dom.min.js states "p5.js v0.8.0 April 08, 2019"

The single file download over at https://p5js.org/reference/#/libraries/p5.dom even states "p5.dom.js v0.3.4 Jan 19, 2017"

https://github.co

[2019-06-15 21:22] outofambit commented on #477
Hi @vincentsijben thanks for spotting this and writing up an issue!

I think this is an artifact of the p5.js build system over in https://github.com/processing/p5.js. It looks like the version and date at the top of the [`p5.dom.js` file](https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js) is hardcoded. When we minify the file, we add the correct version to the top of the minifi

[2019-06-15 21:23] outofambit commented on #477
I'm going to transfer this issue to the p5.js repo since we'll have to fix this there. I'll mark it as a bug and attach it to an upcoming milestone.

[2019-06-30 20:18] #470 closed

[2019-07-06 05:09] SenileFelineS opened #478 "redraw() example is broken"
**Actual Behaviour**

If you go to the learning resource on interactivity at https://p5js.org/learn/interactivity.html and search for the ```redraw()``` example, you will find that the example sketch does not work.  However, if you test the code from this particular example in another p5js editor (i.e. copy and paste the code into an editor, like the one at https://p5js.org/reference/#/p5/redraw),

[2019-07-07 15:43] limzykenneth commented on #478
The widget used on the page is using by default an older version of p5.js (0.4.23), by specifying the version to use to be 0.9.0 as shown [here](https://toolness.github.io/p5.js-widget/#specifying-p5-version) the example for redraw works again.

To fix this, we can either add the version attribute to all instance where the website uses the widget or get the widget author to update the default p5.j

[2019-07-07 15:54] toolness commented on #478
Whoa, I didn't realize the widget was being used on the p5 website!  That's neat.

I'm happy to update the default p5.js version, though I also think it might be useful for you to explicitly specify it--that way if e.g. you want to document some fancy new feature in p5, you don't need to wait for the plugin to be updated, but it's up to you!

[2019-07-07 15:56] limzykenneth commented on #478
@toolness Since the pages are built with handlebars, it may be possible to set the version automatically everytime a new build of the website is run. I'll look into this.

[2019-07-08 14:50] manaswinidas commented on #460
Is this fixed? I can see 'value' instead of 'the' when I follow the link.

[2019-07-09 21:50] #478 closed

[2019-07-10 17:51] justlucdewit commented on #460
ye its fixed

[2019-07-10 17:51] #460 closed

[2019-07-10 17:51] justlucdewit commented on #460
i just forgot to close the isue lmfao

[2019-08-05 20:55] lmccart commented on #474
hi @BerfinA, I'd love to make some revisions based on this. reading through the thread, I think this means:
1. changing order to be: web editor, then download, then CDN
2. under download p5js complete specify that P5 js complete doesn't include a text editor
3. to address @limzykenneth's point, maybe the web editor has a note that this isn't a download, it's a redirect

sound ok for me to proceed

[2019-08-06 03:38] BerfinA commented on #474
Sounds good to me!

[2019-08-12 08:44] jeremydouglass commented on #476
The one linked on p5js.org is broken 404:

http://abilitylab.nyu.edu/p5.js-speech/

The live one is:

http://ability.nyu.edu/p5.js-speech/

Looks like it as intermittently redirecting 302, but now it isn't.

https://web.archive.org/web/20190101000000*/http://abilitylab.nyu.edu/p5.js-speech/

[2019-08-14 21:51] lm-n commented on #216
@lmccart @cleezyITP @kjhollen @outofambit We should look into this issue!

[2019-08-15 02:13] #476 closed

[2019-08-16 16:04] montoyamoraga opened #483 "Add a readme in to the p5 complete download"
**Actual Behaviour**

When you download the p5.js complete library, there is no README file

 **Expected Behaviour**

There should be a README file, explaining what the files are.

 **Steps to reproduce it**

 **Screenshots of the issue**

This issue came from a comment by @lmccart on issue #474

 **Would you like to work on the issue?**

I would like to work on it, I assigned it to myself.

[2019-08-16 16:19] limzykenneth opened #484 "Unable to download files from downloads page in Chrome"
**Actual Behaviour**

When clicking on any links on the download page, Chrome will block the pop up window that initiates the download while the current page redirects to the Support page, as such the download never starts. Disabling pop up blocking on the site in Chrome and the download works as expected.

 **Expected Behaviour**

The download should start. Preferably without the use of a pop up

[2019-08-16 16:52] montoyamoraga commented on #483
I was unsure about where in the website this file needs to be, @limzykenneth you know where I should have the file and include the pull request?

Here is my draft so far:

# Welcome to p5.js

You have downloaded the complete p5.js library, yay!

# Contents of the p5 folder

* p5.js file
* p5.min.js file
* addons folder
  * p5.dom.js
  * p5.dom.min.js
  * p5.sound.js
  * p5.sound.min.js
* empty-exa

[2019-08-16 18:27] montoyamoraga commented on #483
i wrote the README.md in English, and I would like to keep it as short as possible, and as beginner-friendly as possible. I don't know if it's possible to also make it translated to Spanish and Simplified Chinese.

[2019-08-16 18:44] limzykenneth commented on #483
What's included in the zip file is directly controlled by the release process on the main p5.js repo, basically [this file](https://github.com/processing/p5.js/blob/master/tasks/release/release-p5.js). The Readme file probably will need to be hosted on that repo, the actual logictic of it though I don't have an opinion as of yet.

[2019-08-16 19:13] montoyamoraga commented on #483
thanks @limzykenneth!
i issued PR processing/p5.js#3947 the README to the p5.js repo, and made some changes to my original text, mostly these two:
* Used Markdown styling, but used .txt because it seems to me more beginner-friendly.
* Deleted mentions to p5.dom.js, to address that now p5.dom.js is part of p5.js core.

[2019-08-16 19:28] montoyamoraga opened #485 "Home navigation bar: remove "Libraries", and add "Contribute""
**Actual Behaviour**

The navigation bar on the home menu right now is:
"Download" - "Start" - "Reference" - "Libraries" - "Learn" - "Community"

 **Expected Behaviour**

With the p5.js global track from the Contributors Conferenfce 2019, we  propose we change the navigation bar, deleting "Libraries", and adding "Contribute", maybe remixing the order to:

"Download" - "Start" - "Learn" - "Referenc

[2019-08-16 19:33] montoyamoraga commented on #485
Maybe "Contribute" is not the right phrasing, maybe it implies money,
maybe a better option is "Get involved" :)

[2019-08-16 19:38] montoyamoraga opened #486 "Add p5.js contributors conference 2019 to the website"
**Actual Behaviour**

We should upload media about the work done here, and pictures :)

 **Would you like to work on the issue?**

No.

[2019-08-17 15:00] kjhollen commented on #475
thanks for this folks! @lm-n and I are here at the contributor conference making some suggested edits to the google doc. we can post a summary of our suggestions a little later!

[2019-08-17 17:34] kjhollen commented on #475
hi @BerfinA & all, we made some edits to prioritize the p5.js editor experience as a user's first encounter with the code. we've made that the core of the example, and separated the external editor section into two parts: for downloaded & hosted copies. We added some headers to make it easier to skim the text (which will also help accessibility). And tried to soften the language wherever we could

[2019-08-19 03:39] outofambit commented on #484
for reference, i think this forum user is experiencing this bug: https://discourse.processing.org/t/making-p5-js-downloadable-again/13457

[2019-08-19 17:14] lmccart commented on #483
fixed with https://github.com/processing/p5.js/pull/3947

[2019-08-19 17:14] #483 closed

[2019-09-04 22:35] catarak opened #489 "pow() documentation rendering"
**Actual Behaviour/Expected Behaviour**

Looking at the documentation for `pow()`, there's a line that is meant to point out that pow(3, 5) equals 3*3*3*3*3. However, it's rendering in a funky way.

 **Steps to reproduce it**

I'm able to have it render this way in Chrome, Firefox, and Safari, on Mac OSX.

 **Screenshots of the issue**

<img width="750" alt="Screen Shot 2019-09-04 at 6 32 01 PM" s

[2019-09-05 06:54] limzykenneth commented on #489
It's the markdown syntax that's tripping it up, probably can just escape the symbols, or even use a proper unicode multiplication symbol?

[2019-09-06 13:17] mojosoeun opened #490 "Translate p5.js website into Korean"
**Actual Behaviour**

Korean translation is work in progress.

 **Expected Behaviour**

Korean translation should be finished. I would like to help with the translation.

[2019-09-06 22:31] limzykenneth commented on #490
I'm not sure what the current status is but pinging @lmccart and @pyeseul who should know more.

[2019-09-08 01:16] #484 closed

[2019-09-08 01:20] lmccart commented on #485
thanks @montoyamoraga! we're actually revamping the homepage completely to include all page links similar to the other pages.  [more here](https://docs.google.com/document/d/1nLcNEiT5_qo1wHPH5da9M0uCGgTop1uAoHmT3Lyg94I/edit#heading=h.ybuties123wn)

[2019-09-17 12:29] thirukumars opened #491 "bitton.mousePressed is not working"
while running the code
on the line mousePressed this error is arising

Uncaught TypeError: Cannot read property 'mouseClicked' of null
    at setupButtons (sketch.js:64)
    at p5.p.setup (sketch.js:39)
    at p5.<anonymous> (p5.js:48642)
    at p5.<anonymous> (p5.js:48573)

[2019-09-17 20:32] maxdevjs opened #493 "dom.js Vs p5.dom.js"
I started to have a glance to the code, documentation, etc and this is, more than anything else, a curiosity (affecting both this and [processing/p5.js](https://github.com/processing/p5.js) repos):

seems that at some point `p5.dom.js` (previously tracked as [p5.js/lib/addons/p5.dom.js](https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js) (currently returning `404`) became `dom.js

[2019-09-19 11:17] limzykenneth commented on #493
For the next release of p5.js, p5.dom.js will be merged with the main p5.js file, ie it won't be a separate addon any more. That means these pages will need to be changed but not before the next release comes out.

The first link is different from the second link, the first links to the raw library while the second links to the github source code (with the github layout and all that). That first l

[2019-09-21 15:38] lmccart commented on #491
Hi @thirukumars for coding help, please post a snippet of the program you are running along with your question here: https://discourse.processing.org

Thanks!

[2019-09-23 20:16] maxdevjs commented on #493
Thank you for the explanation. Do you mean that [p5.js/src/dom/dom.js](https://github.com/processing/p5.js/blob/master/src/dom/dom.js) code will be included into the main library at development time or at build time?

 well, if no one gets confused in the meantime, I can wait.

Can I find a development timeline somewhere?

[2019-09-25 17:36] peilingjiang opened #494 "Typo in Curves Page"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-25 23:27] lmccart commented on #493
@maxdevjs we also have milestones / releases charted here: https://github.com/processing/p5.js/milestones

[2019-09-25 23:42] #474 closed

[2019-09-25 23:46] lmccart commented on #486
closed with https://github.com/processing/p5.js-website/commit/3c96eff611b8d1f05b8d0bfe109f7573d5074a58

[2019-09-25 23:46] #486 closed

[2019-09-25 23:47] lmccart commented on #485
closed with https://github.com/processing/p5.js-website/commit/86b0cc04124b8ccad500bbd047157a540df3c78e

[2019-09-25 23:47] #485 closed

[2019-09-26 01:03] aferriss commented on #461
Just to add, I put together a number of shader examples here as well if they're any help!
https://github.com/aferriss/p5jsShaderExamples

[2019-09-27 19:49] maxdevjs commented on #493
@limzykenneth , @lmccart thank you to you both. I am reading through some [documentation](https://github.com/processing/p5.js/blob/master/developer_docs/).

What is the most appropriate place (forum, issue, ...) to ask questions about the library's development?

[2019-09-27 20:07] #494 closed

[2019-09-27 20:26] limzykenneth commented on #493
Generally github issues would be a good place but do have a quick search on the issues page to see if someone has already asked similar questions and you can follow up on those specific issues instead.

[2019-10-04 01:06] joshuaalm opened #496 "Unable to host website locally without Java JDK or JRE"
**Actual Behaviour**

 Error executing 'npm run watch' per instructions:

Running "htmllint:all" (htmllint) task
Fatal error: Command failed: java -version
'java' is not recognized as an internal or external command,
operable program or batch file.

 **Expected Behaviour**

 Server starts on localhost and entire amazing p5.js website is available locally for testing.

 **Steps to reproduce it**

1

[2019-10-04 14:51] lmccart commented on #496
fixed with #497

[2019-10-04 14:51] #496 closed

[2019-10-07 02:29] thumbsupep commented on #199
@raulgrell is this still being worked on?

[2019-10-07 02:59] thumbsupep opened #498 "Porting example for embedded links"
**Actual Behaviour**

The Processing site has an example for embedded links https://processing.org/examples/embeddedlinks.html

 **Expected Behaviour**

The p5js site should have a similar example using `window.open`  instead of `link` since we will not be wrapping `window.open` in its own p5 function https://github.com/processing/p5.js/pull/532

 **Would you like to work on the issue?**

I will b

[2019-10-08 09:45] limzykenneth commented on #498
The example on processing.org is using p5.js, specifically for this example it's the following

[code]

As you can see it is using `window.open`. One problem with it though is that it is being blocked as a pop up window.

[2019-10-08 16:35] thumbsupep commented on #498
thanks for making the modification to the example!
the p5.js examples https://p5js.org/examples/ do not have one for `embedded links` (unless I'm missing something?) which is what this issue intends to address - just porting over the example. I would think handling pop-up blockers is out of scope for porting the initial example. I'm open to further input though

[2019-10-08 16:45] limzykenneth commented on #498
Sorry I wasn't clear in the last comment. What I meant is that the example on https://processing.org/examples/embeddedlinks.html is using the code posted in the last comment for its sketch.

Unlike Processing which has its own `link` function, there is no equivalent function in p5.js itself (`window.open` not being a p5.js function) so I'm not sure if that is in scope for p5.js since the aim is no

[2019-10-08 17:03] thumbsupep commented on #498
Oh I see. I hadnt looked at the actual script - I was just looking at the code in the `<pre>` tag that's rendered in the DOM. In that case I can't repro the blocked window.

I also might be misinterpreting the meaning of "port over". I definitely agree with not trying to achieve parity with Processing. Would it make sense to change the wording of this issue to be "add example for embedded links to

[2019-10-08 17:05] thumbsupep commented on #498
or are embedded links not something p5js should have an example for since `window.open` isnt specific to p5js?

[2019-10-08 17:07] limzykenneth commented on #498
I can't say for sure whether we should include such example or not, let's see if anyone else have more of an idea about this.

[2019-10-08 17:38] thumbsupep commented on #309
@lmccart @abhieshekumar is this still in progress? are there specific tutorials that still need updating?

[2019-10-08 22:22] lmccart commented on #312
fixed with @abhieshekumar's work

[2019-10-08 22:22] #312 closed

[2019-10-08 22:23] lmccart commented on #309
@thumbsupep I think this is the only one left, but if you see others, we would welcome help. im adding you as a contributor to the repo so you'll have edit access. please let us know when this one has been updated and we will review and close the issue.

[2019-10-09 01:12] thumbsupep commented on #309
I _think_ I did everything correctly https://github.com/processing/p5.js/wiki/Transitioning-from-Processing

I used `const` for the arrays because we dont ever reassign or redeclare `x` or `y`; we just change values inside the "list" that x and y point to

[2019-10-10 17:08] montoyamoraga commented on #282
i am assigning myself this issue to tackle it, i will tag @limzykenneth  when i hit a roadblock :)

[2019-10-13 09:52] DimaZ5 opened #500 "Request Image from Processing.org to p5.js examples"
p5.js doesn't have the Request Image example in examples.

I'm going to add it to the website.

<img width="159" alt="Screenshot 2019-10-13 11 10 50" src="https://user-images.githubusercontent.com/42702568/66713359-3b805480-edaa-11e9-8d6e-87ee858174ed.png">
<img width="217" alt="Screenshot 2019-10-13 11 11 04" src="https://user-images.githubusercontent.com/42702568/66713360-3b805480-edaa-11e9-8f48

[2019-10-13 17:04] limzykenneth commented on #500
Hi @DimaZ5, there isn't a `requestImage` function in p5.js and due to the way Javascript works it doesn't need one.

In Java and in turn Processing, when you load an image, the whole program will stop and wait for the image to finish loading before continuing. `requestImage` is how Processing gets around this, by loading the image in parallel to the current running sketch.

In Javascript however,

[2019-10-13 17:04] #500 closed

[2019-10-14 22:10] lmccart commented on #309
looks great, thank you!

[2019-10-14 22:10] #309 closed

[2019-10-30 17:46] timsbryan opened #506 "Incorrect formatting on Unit Testing and Test Driven Development tutorial page"
The Unit Testing and Test Driven Development page (https://p5js.org/learn/tdd.html) is formatted incorrectly and is exposing code that shouldn't be visible (such as GA snippet). This is probably due to an incorrectly closed HTML tag

I'm happy to work on this and raise a PR when done if you would like.

[2019-10-31 13:02] lmccart commented on #506
that would be great!

[2019-11-03 21:19] #506 closed

[2019-11-04 18:19] ffd8 opened #508 "Set reference p5 examples to noLoop() on window.blur()"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Other (website documentation)

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Feature enhancement details:

I regularly notice that students like to have multiple p5.js reference tabs open (also p5 editor)

[2019-11-04 18:51] ffd8 commented on #508
Ahh - totally missed that this was definitely an issue for the website repo and not p5.js repo!
Thanks for moving it.

[2019-11-05 11:49] limzykenneth commented on #508
If you are interested in investigating the possibilities (or anyone else), the code for rendering reference example is [here](https://github.com/processing/p5.js-website/blob/master/src/assets/js/render.js) and the code for rendering example on examples page is [here](https://github.com/processing/p5.js-website/blob/master/src/assets/js/examples.js). Almost all the js files the website use can be

[2019-11-06 19:45] elizabethengelman opened #510 "The "Get Started " link on the Download page is broken"
**Actual Behaviour**

On the [Download page](https://p5js.org/download/) when clicking on the Get Started link under the Complete Library heading, I am sent to a Not Found page. It goes to https://p5js.org/download/get-started/ which results in a 404.

 **Expected Behaviour**

I would expect to go to the [Get Started](https://p5js.org/get-started/) page.

 **Steps to reproduce it**

- Click "Get S

[2019-11-07 16:56] #510 closed

[2019-11-21 06:30] andrewcowley commented on #374
I'm still seeing the issue as described by @hellonearthis in the first comment above. I.e scroll position isn't maintained when going from the reference list page to a specific function and back when using the back button. it is most noticeable when scrolling all of the way to the bottom of a long function reference page and then using the back button.

I don't think scroll anchoring implemented i

[2019-11-21 09:42] limzykenneth commented on #374
@andrewcowley If you are willing to look into this that would be great. :)

[2019-11-21 13:41] limzykenneth commented on #175
I see that some work has gone into replacing Avenir https://github.com/processing/p5.js-website/commit/17df68bd3c25242770a259ee80801a7705d26b0a

There are still some stray ones in the website, most notably on the reference page (can be remedied with including the `<link>` tag in the right place). I would have liked to to a thorough clean up but currently isn't able to. So it anyone wants to have a

[2019-11-21 15:57] lmccart commented on #175
thanks for catching this. I'll try to give it another search through this week or next

[2019-11-28 06:32] lmccart commented on #493
this was resolved in release 0.10.2

[2019-11-28 06:32] #493 closed

[2019-11-28 06:33] #491 closed

[2019-12-03 09:44] svendahlstrand opened #513 "A handfull of broken links"
A renamed directory in the p5.js project (https://github.com/processing/p5.js/issues/4162) causes a handfull of links to be broken. I've fixed them in my fork: https://github.com/svendahlstrand/p5.js-website/commit/a84d1ad97657b8e6bc62bf01318d5ac381a387ba. Do you want me to send a pull request?

[2019-12-03 10:05] montoyamoraga commented on #513
yes! thank you so much!

[2019-12-03 11:18] #513 closed

[2019-12-06 02:54] digitalcoleman opened #515 "wrong text in rotate example"
**Actual Behaviour**

currently, the text for the rotate example in the Transform section says scale instead of rotate

 **Screenshots of the issue**

![2019-12-05_19h52_48](https://user-images.githubusercontent.com/2354476/70291604-e0ab1e00-1798-11ea-86a7-8b583f8883f0.png)

I would like to fix it because I made this mistake when I wrote this example. It is quite embarrassing.

[2019-12-06 03:57] #515 closed

[2019-12-13 19:22] denisediniz opened #518 "Portuguese translation"
Hi! I want to contribute by translating the website into Portuguese. It's far from complete but I'm working in [this branch](https://github.com/denisediniz/p5.js-website/tree/portuguese-br) and I've chosen `pt-BR` as ISO 639-1 abbr because it's Brazilian Portuguese. I can host as a github page when the translation has been reached a more complete stage.

[2019-12-14 12:27] natkuhn opened #519 "Multiple suggestions"
I wasn't sure exactly where to submit feedback and so a couple of weeks ago I posted the remarks below on the [processing.org website](https://discourse.processing.org/t/p5-js-documentation-suggestions/16016). I heard back from jeremdouglass suggesting that I break these down into individual issues and submit here, perhaps along with PR. Unfortunately, I don't have time to do that. I am submitting

[2019-12-16 17:12] nok opened #520 "download of a modular generated library"
In the majority of cases I used canvas libs for simple drawings, but I had to download the complete library. In my view it's a huge disadvantage, because the libraries are almost fat.

It would be a huge advantage, if we could offer a download of a modular generated library. I imagine something like the [Modernizr download page](http://modernizr.com/download/), where you can select parts of the li

[2019-12-17 16:46] natkuhn opened #521 "p5.sound documentation is very unclear on "beats" and "seconds""
**Actual Behaviour**
I have a two-sound phrase where the sounds are supposedly one second apart. When I loop it at 60 BPM, I get 240 sounds per minute. When I loop at 15 BPM, I get 60 sounds per minute, i.e. the sounds are 1 second apart.

 **Expected Behaviour**
Not at all clear what to expect, since I don't see any definition of "beat" in the p5.sound documentation, or how "seconds" might change

[2019-12-20 11:02] niravasher opened #523 "Fixing font size and margin"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-12-20 16:00] limzykenneth commented on #519
Thanks for the issue @natkuhn. It would be better to have them split out into individual issues but we can do that later. I'll answer the points you raised here for now.

a) The reference page is actually a separate webpage from the rest of the site to changes to the site in general doesn't always propogate to the reference page. I'm looking to make some changes here soon.

b) For me the two pages

[2019-12-20 16:04] natkuhn commented on #519
Thanks, @limzykenneth , glad to know that these are in the hopper somewhere. Best of luck with it all.

[2019-12-24 08:01] niravasher commented on #523
![Screenshot from 2019-12-24 13-29-28](https://user-images.githubusercontent.com/32176296/71401975-82fc4a00-2651-11ea-923f-f0fcfefdc5d3.png)

I keep on getting this error while typing `npm run watch`
I tried `npm run watch --force`
Also tried `grunt server` and `grunt server --force`
Nothing seems to work

I am working on ubuntu 19.04. Please help

[2019-12-24 13:06] niravasher commented on #523
![Screenshot from 2019-12-24 18-34-54](https://user-images.githubusercontent.com/32176296/71414276-2bbf9f00-267c-11ea-92c0-0e2701d012c6.png)

Looks something like this. Openeing a PR

[2019-12-26 08:28] mann27 commented on #519
@limzykenneth I would like to work on issue "c" can you guide me through it. Perhaps should I open a new issue regarding this?

[2019-12-26 10:54] mann27 opened #525 "add wiki link in learn page"
p5 wiki github.com/processing/p5.js/wiki, there is no link to it from the “Learn” page
addresses the issue#519 part "c".

Added a pr[#526 ] for the same.

[2019-12-27 18:35] zoyron opened #527 "add Statements and Comments in Structure in examples"
I was going through the examples pages of processing.org and p5js.org and found that there is no Statement and Comments in Structure in examples of p5.js.
I would like to work on adding this.
Regards,
Sagar.

[2019-12-27 18:47] alextyner opened #528 "Incorrect '<'/'>' in example HTML on Libraries page"
**Actual Behaviour**

 Example HTML is incorrect. A '<' is present where a '>' should be.
'<!doctype html<'

 **Expected Behaviour**

Example HTML should read '<!doctype html> ...'

 **Steps to reproduce it**

Visit Libraries page. View example HTML for "Using a Library."

 **Screenshots of the issue**

![Annotation 2019-12-27 134603](https://user-images.githubusercontent.com/36014968/71528723-4d5

[2019-12-27 22:43] #528 closed

[2019-12-28 00:37] #523 closed

[2019-12-28 00:39] lmccart commented on #175
I think this should be set now with https://github.com/processing/p5.js/commit/3bf950e3fd95f6a2ca949fb94f2a5ce763e860db and https://github.com/processing/p5.js-website/commit/059a71cd0e623835997249da1bc90cf73cd080d1

[2019-12-28 00:39] #175 closed

[2019-12-28 17:01] #525 closed

[2019-12-30 09:50] mann27 commented on #285
@lmccart I would like to work on this issue. Please help me with which files need changes to address this issue.

[2019-12-31 11:54] mann27 opened #530 "p5.sound and p5.dom at the top of the Libraries page are broken"
**Actual Behaviour**

Links are directed to empty pages.

I have added a PR[#531] regarding this.

[2020-01-02 02:34] lmccart commented on #530
fixed with https://github.com/processing/p5.js-website/pull/531

[2020-01-02 02:34] #530 closed

[2020-01-06 06:00] therewasaguy commented on #396
Change was made to the inline examples here https://github.com/processing/p5.js-sound/pull/403 https://github.com/processing/p5.js/pull/3988

and now the examples that live in the website repo also should be updated. The examples should be re-designed to follow the best practice of starting audio (i.e. with `userStartAudio()`) on a user gesture, i.e. within `mousePressed(){}`

[2020-01-06 19:04] stalgiag commented on #396
@singhvisha do you have any interest in helping out with rewriting some of the samples to follow @therewasaguy 's proposal above?

[2020-01-07 17:43] lmccart commented on #519
connecting merged pull request for item c (wiki link): https://github.com/processing/p5.js-website/pull/526

[2020-01-07 17:44] lmccart commented on #519
connecting merged pull request for item h (fixed library links): https://github.com/processing/p5.js-website/pull/531

[2020-01-07 21:47] limzykenneth opened #534 "Asterisks on pages shrunk"
**Actual Behaviour**
The asterisks on the different pages has shrunk to a tiny size (see screenshot). I noticed this when working on my last PR but though it is just a local thing but apparently not. Will see if I can fix it.

 **Expected Behaviour**
Asterisks should be larger.

 **Screenshots of the issue**
<img width="1317" alt="Screenshot 2020-01-07 at 9 44 30 pm" src="https://user-images.githu

[2020-01-08 22:24] #534 closed

[2020-01-11 06:09] #527 closed

[2020-01-11 10:42] JenMai opened #536 "French translation"
Hi!

I would like to contribute to the French translation of the website (ISO 639-1 `fr`  ), if you guys are interested!

If so, should I start working directly on a new 'french' branch in my own fork?

[2020-01-12 14:09] limzykenneth commented on #536
@JenMai You are very welcomed to work on a translation on your own fork! When you have published it drop us a note here and we can include a link to it as an unofficial translation. Thanks.

Closing this issue for organizational purposes.

[2020-01-12 14:09] #536 closed

[2020-01-23 11:04] zoyron opened #537 "Hello! I would like to add a bubble sort animation example that I have made."
Rectangles of random heights are spread across the width of the window, the function sorts the rectangles while animating the whole process in the bubble sort manner.

 **Would you like to work on the issue?**
It's more of a feature addition request that I'd like to the website.

[2020-01-23 11:05] zoyron commented on #537
@lmccart I request you to assign me this feature, I am very eager to work on this.
Thank you.

[2020-01-23 11:15] zoyron commented on #537
@lmccart  I request for your approval to work on this.
Thank you.

[2020-01-23 11:19] zoyron commented on #284
@lmccart I can work on this issue. I think the function **windowResized()** with some tweaks would be an appropriate solution for this. if it is not assigned to anyone I'd very much like to work on this issue.
Thank you.

[2020-01-23 22:05] lmccart commented on #537
go for it!

[2020-01-25 02:30] lmccart commented on #284
@zoyron please go ahead and take a look. I'm not sure whether `windowResized()` will work in this case because ideally the window would just show up at the correct size. the `windowResized()` method is triggered only when the user manually resizes the window.

[2020-01-25 05:03] zoyron commented on #537
@lmccart thanks for assigning it to me. Won't disappoint.

[2020-01-25 06:43] zoyron opened #538 "Error in contributor_docs/Adding_examples.md"
**Actual Behaviour**
The ``grunt server`` is not running.

 **Expected Behaviour**
It is expected to run the grunt server.

The change would enable the user to run the grunt server.
 **Steps to reproduce it**
The command ``grunt server`` in the **Adding_examples.md** should be replaced with ``npm run watch``.

 **Screenshots of the issue**

![gruntError](https://user-images.githubusercontent.com/2

[2020-01-25 08:50] zoyron commented on #284
@lmccart I apologize, I started working on another issue before you assigned this one. That one might take longer to develop the solution. That's why I unassigned this one, didn't want to leave this one hanging in the middle.
Sorry, again.

[2020-01-25 15:49] lmccart commented on #538
great!

[2020-01-25 22:03] #538 closed

[2020-01-26 16:27] #537 closed

[2020-01-28 16:29] zoyron opened #542 "Adding of stepping feet experiment"
There's a very popular psychology experiment, ``Stepping Feet illusion``, which I came across while studying Introduction to Psychology from MIT OCW.
That'd be a good example for the organization.

**Would you like to work on the issue?**
I'd like to create and work on this new feature.

@lmccart, eagerly waiting for your approval.
Thanks and regards.

[2020-01-29 15:18] zoyron commented on #542
@lmccart here is the implementation of [stepping feet](https://editor.p5js.org/zoyron/full/-9WQ5CVd). If you would like this to be added, then under which section it should be added?
Thanks and regards.

[2020-01-29 16:05] lmccart commented on #542
@zoyron I think this could fit well in the simulate section, what do you think?

[2020-01-29 16:49] zoyron commented on #542
@lmccart sounds good. I'm caught up in the middle of something, I'll add the files and make a PR as soon as possible.

[2020-01-29 17:05] zoyron commented on #542
@lmccart sounds good. I apologize, I'm caught up in the middle of something, I'll add the files and make a PR as soon as possible.

[2020-01-31 00:44] #542 closed

[2020-02-10 10:21] riteshsp2000 opened #544 "Minor spacing issue on reference page."
**ACTUAL BEHAVIOUR**
All the pages such as the download, get started, references pages should be uniform/same for the common elements (such as the sidebar). But on the reference page the sidebar is positioned slightly below as compared to other pages.

 **EXPECTED BEHAVIOUR**
The sidebar should be placed similar to others on the reference page.

 **STEPS TO REPRODUCE IT**

Simple step to fix it wo

[2020-02-10 15:14] limzykenneth commented on #544
@riteshsp2000 You can go ahead and make the changes and a PR for this. Thanks.

[2020-02-11 16:36] #544 closed

[2020-02-12 09:11] zoyron opened #546 "Addition of Parametric equations of line"
I'd like to add [Parametric Equations](https://editor.p5js.org/zoyron/full/aJNwVd9n) to the examples section of p5js.org.

**A still from the animation is follows**

![Screenshot from 2020-02-12 14-38-54](https://user-images.githubusercontent.com/24233321/74319870-ae73f900-4da5-11ea-99aa-db6e51271f87.png)

[2020-02-13 15:33] riteshsp2000 opened #548 "Non responsive Menubar/Sidebar"
**Actual Behaviour**
The mobile website has a non-responsive sidebar/navigation bar. All the menus just clutter up in front of each other in one line.

 **Expected Behaviour**
A responsive design/layout such as a dropdown menu or a hamburger style menu would be good for the mobile website.

 **Steps to reproduce it**
Trivial changes in the CSS alone would make it responsive.

 **Screenshots of the

[2020-02-13 17:43] zoyron commented on #546
@lmccart I have made some other examples as well. A few of them are quite simple to make, so I wanted to know which type of examples I should refrain from adding here?
Also, I wanted to contribute to the references as well, not just examples, what should be my skillset for contributing to the reference, as I've only used JavaScript and p5.js to create examples.
Thanks and regards.

[2020-02-13 18:08] riteshsp2000 opened #549 "Non-responsive behaviour of examples on the Get Started page."
**Actual Behaviour**
The example sections on the 'Get Started' page are not taking the entire space for the mobile view. (Takes only half the screen and is non-responsive.)

 **Expected Behaviour**
The section should take up the entire space in the mobile view.

 **Steps to reproduce it**
Changing a few CSS properties would be sufficient to get the desired result.

 **Screenshots of the issue**
<i

[2020-02-17 04:57] #546 closed

[2020-02-17 11:43] zoyron opened #550 "Addition of p5.js implementation of the output of particle.js JavaScript library"
I'd like to add [this](https://editor.p5js.org/zoyron/present/njbMsImP) to the examples. There a JavaScript library called **particle.js** and this is the p5.js implementation of the output of that library.

**Screenshots of the feature**

![Screenshot from 2020-02-17 17-01-51](https://user-images.githubusercontent.com/24233321/74650784-71927280-51a8-11ea-8ce8-5eb41e225960.png)

 **Would you like

[2020-02-17 11:46] zoyron commented on #550
@lmccart if allowed to work on this, under which section should this example be added?

[2020-02-17 22:20] lmccart commented on #550
@zoyron I think this could fit in the simulate section

[2020-02-17 22:22] lmccart commented on #549
thanks @riteshsp2000!

[2020-02-18 03:56] riteshsp2000 commented on #548
@lmccart  This issue also fixes the mobile view of the reference page which currently is looking as follows.
<img width="346" alt="Screenshot 2020-02-18 at 9 25 56 AM" src="https://user-images.githubusercontent.com/56112399/74702669-ae09b100-5230-11ea-8617-d3d9e6df1692.png">

I have made changes regarding this. Should I send a PR for this?

[2020-02-18 04:20] lmccart commented on #548
@riteshsp2000 yes please do!

[2020-02-18 18:15] #550 closed

[2020-02-19 23:37] vilvadot commented on #396
I'm interested in helping rewriting them @stalgiag but I'm clueless on what direction to take, any help @therewasaguy?

I'm getting the following errors on [AudioIn Example](https://p5js.org/reference/#/p5.AudioIn):

### Chrome Version 79.0.3945.130
[code]

### Firefox 73.0.1
[code]

[2020-02-20 02:29] singhvisha commented on #396
@stalgiag, Sorry for late answering.I was out of town. I would love to do.

[2020-02-20 08:11] vilvadot commented on #396
Let me know if you need a hand @singhvisha

[2020-02-23 22:30] vilvadot commented on #396
I have a working example here: https://github.com/vilvadot/p5-mic-example/blob/master/src/sketch.js

Haven't been able to make it work on Firefox though.

[2020-02-26 02:33] endurance21 opened #554 "Brand logo is overlapping with inner layer in mobile view"
#### Most appropriate sub-area of p5.js?

- [x] Other (ui of P5.js)

#### Details about the bug:
https://p5js.org/reference/
Visit here in mobile view, the brand logo is colliding with inner div.
Looks awful. 🙁🙁
![Screenshot_20200226-061337](https://user-images.githubusercontent.com/43696525/75301111-e0826200-585f-11ea-9d0d-63fce87cae8c.jpg)

[2020-02-26 20:58] Phe0 commented on #518
@denisediniz I've seen that you haven't been working on this issue since December 13. Do you mind if continue working on it?

[2020-02-27 09:11] Wallby opened #556 ""Back 10 sec." button closes and breaks editor windows in tutorial"
**Actual Behaviour**

Pressing the "Back 10 sec." button will remove any open editor windows.

 **Expected Behaviour**

Pressing the "Back 10 sec." button should act exactly as if pressing a time 10 sec earlier on the timeline, which updates editor windows.

 **Steps to reproduce it**

1. go to https://hello.processing.org/editor/
2. skip to a part with an editor window, like (approx) 4:20 on the

[2020-02-27 11:37] limzykenneth commented on #556
The hello.processing.org website is not maintained here. You can file this issue over [in this repo](https://github.com/processing/Processing-Hour-Of-Code). Thanks.

[2020-02-27 11:37] #556 closed

[2020-02-28 14:23] DivyamAhuja opened #557 "Hindi Translation for Website"
Hi! Currently p5 website lacks Hindi( ISO 639-1 hi) Translation. I do not know if it's good to add but I will like to contribute by adding Hindi Translation and may even want to take it as GSoC 2020 project.
So suggestions about it will be helpful.
 @lmccart

Thanks

[2020-02-28 17:26] #554 closed

[2020-02-28 17:37] #548 closed

[2020-02-28 19:36] riteshsp2000 opened #559 "Showcase page spacing bug fix."
**Actual Behaviour**
Excessive Spacing above the youtube video window.

 **Expected Behaviour**
No extra space above the window/div.

 **Steps to reproduce it**
Change in the padding of the div would do the job.

 **Screenshots of the issue**
<img width="984" alt="Screenshot 2020-02-29 at 1 02 19 AM" src="https://user-images.githubusercontent.com/56112399/75581455-81a32f80-5a8f-11ea-8312-ea74c11fe

[2020-02-28 19:43] riteshsp2000 commented on #559
Actually I am not understanding what is actually causing the issue. My local copy actually shows it properly scaled without any spacing issue. But on the actual website, it is different

[2020-02-28 19:53] limzykenneth commented on #559
The CSS on the deployment doesn't seemed to be updated (the hidden checkbox just above the navigation menu is visible as well). @lmccart Can you have a check on the deployment side to see what's going on?

[2020-02-28 20:17] endurance21 commented on #396
@therewasaguy
all examples should be re-designed, is the work still undonen ?
and if yes!  you can assign me , i would love to work !
thanks

[2020-02-28 20:28] endurance21 opened #560 "Unwanted input element on left-top most corner"
**Actual Behaviour**

 On the left most corner, there is irritating input element, that seems of no use.

 **Expected Behaviour**
Either it should be ommited or it should be used with visibility none..

 **Steps to reproduce it**
Just visit P5js.org

**screenshot**

![IMG_20200229_015703](https://user-images.githubusercontent.com/43696525/75584879-cda5a280-5a96-11ea-914d-e7e7913530fa.jpg)

 **Woul

[2020-02-28 20:29] endurance21 commented on #560
Sorry that the screenshot i uploaded is rotated😅

[2020-02-28 20:41] endurance21 commented on #549
@lmccart
i  have solved the problem ,
'should i make Pr for this ?,

[2020-02-28 21:31] limzykenneth commented on #560
Thanks. This is covered by #559, I'm going to close this to track everything related there.

[2020-02-28 21:31] #560 closed

[2020-02-28 21:36] limzykenneth commented on #549
@endurance21 There already is a PR #549 addressing this issue so there's no need for duplicate effort here.

[2020-02-28 22:49] therewasaguy commented on #396
@endurance21 yes, we can follow the rewrite that went into the inline examples. https://github.com/processing/p5.js-sound/pull/403 should provide some guidance on how to redesign the examples—thank you for finding and linking that! I apologize I did not already link this in the thread!

[2020-02-29 07:39] lmccart commented on #559
I'm not sure why this is happening.. I've noticed this once or twice before. The file will be updated on github, but doesn't get updated on git pull into the repo. When I try to pull, it says "up to date". I had to go in and manually replace the css file, which didn't register a git diff, but did fix the problem. Anyway I guess I will close this issue, but we can keep an eye on it and see if it oc

[2020-02-29 07:39] #559 closed

[2020-02-29 10:17] limzykenneth commented on #559
Might be a cache issue but if it's intermittent it may be something else. Yeah, let's do have a closer look if it happens again.

[2020-02-29 10:27] limzykenneth commented on #557
I can't say too much about GSoC decision making so this is not about the possibility of proposing this for GSoC, just a heads up.

There is already existing effort to translate the website into Hindi, you can see the progress on [this branch](https://github.com/processing/p5.js-website/tree/hindi). Mainly only the reference is left. The JSON file that tracks the reference is going out of date whic

[2020-02-29 15:26] #549 closed

[2020-02-29 15:27] nicholasoxford opened #562 "Fixing code for Shader Using Webcam"
**Actual Behaviour**

Right now when I try to run the example code for the _Shader Using Webcam_ page on a local project, I get a console error: `Cannot read property 'size' of undefined.` This caused the webcam to fail to load.

 **Expected Behaviour**

I expected my webcam to load on the page and for the shaders to apply.

 **Steps to reproduce it**

Create a local project with an index file and

[2020-02-29 15:29] nicholasoxford commented on #562
I have a branch with a fix, but when I try to create the branch it says I don't have the authentication to publish this branch.

[2020-03-01 21:00] ayushjainrksh opened #564 "The link to reference json doesn't work"
![bug4](https://user-images.githubusercontent.com/33171576/75633687-2018c780-5c2d-11ea-97c0-fb1f601db5e2.png)

The link in the second point of the Translation of Reference (this file) doesn't work.

Visit here :  https://github.com/processing/p5.js-website/blob/master/contributor_docs/i18n_contribution.md#translation-of-reference

This is the broken link : https://github.com/processing/p5.js-websi

[2020-03-01 21:59] limzykenneth commented on #564
That file was moved as part of some cleanup but the link wasn't updated. It should be pointing [here](https://github.com/processing/p5.js-website/blob/master/src/templates/pages/reference/index.hbs) instead. If you would like to work on replacing this link just comment here and I'll assign the issue to you. Thanks.

[2020-03-02 05:49] Jayaprakashkumar commented on #490
I would like to work on this issue. Can I take it?

[2020-03-02 05:59] Jayaprakashkumar commented on #564
If this issue is still open, Can I work on this?

[2020-03-02 06:05] ayushjainrksh commented on #564
Thanks for the update @limzykenneth . I have started working on the issue and will submit a PR. Please assigm me to the task.

[2020-03-02 06:20] Jayaprakashkumar commented on #564
Sorry, @ayushjainrksh. It was opened for long time so I fixed it and raised the PR. Hope you don't mind.

[2020-03-02 12:59] #564 closed

[2020-03-02 13:01] limzykenneth commented on #564
@Jayaprakashkumar Thanks for your interest. We are not that efficient in assigning issue or replying to issue so it would be great if you can wait for a day or two before starting work on the PR if it's not assigned to you.

[2020-03-02 13:03] limzykenneth commented on #490
@Jayaprakashkumar Just to clarify and let me know if I assumed wrongly: this issue is about adding Korean translation.

[2020-03-02 16:19] jploskonka opened #568 "Adding polish locale – issues with navigation link"
As mentioned in this [comment](https://github.com/processing/p5.js/issues/4137#issuecomment-584183409) I’m working on Polish website translations and I’m experiencing some problems with website setup.

**Actual Behaviour**

When I add `pl` language in a way described in https://github.com/processing/p5.js-website/blob/master/contributor_docs/i18n_contribution.md#start-a-new-translation and then ad

[2020-03-02 17:12] #562 closed

[2020-03-02 18:18] riteshsp2000 opened #569 "Drop-down menu for Languages."
**Actual Behaviour**
Considering that a number of languages are being added to the site, a row of different languages would make it not look good at the top

 **Expected Behaviour**
A simple dropdown menu would make it more presentable and less clumsy.

 **Steps to reproduce it**
A few lines of CSS code would do the required changes.

 **Screenshots of the issue**
<img width="1311" alt="Screenshot

[2020-03-02 18:32] ayushjainrksh opened #570 "Duplicate data present in es.json"
es.json contains duplicate data of footer that gives certain warnings. I am adding a PR to remove the unwanted duplicates.

![bug5a](https://user-images.githubusercontent.com/33171576/75705772-156c3a00-5ce2-11ea-9270-0d8caa258ed2.png)
![bug5b](https://user-images.githubusercontent.com/33171576/75705777-17ce9400-5ce2-11ea-9217-786be767800a.png)

[2020-03-02 20:36] denisediniz commented on #518
Yes, I can continue working on it. I was waiting for feedback because maybe someone was already working on the Portuguese translation. Thank you!

[2020-03-02 21:18] limzykenneth commented on #518
There's no ongoing effort into Portuguese translation as far as I know. We currently cannot officially support too many additional translations of the website due to maintenence requirement but you are free to create your own version of the translated website and host it on your own domain (many languages have done so!) and let us know where the link to it is here. 😃

I'm closing this for organiza

[2020-03-02 21:18] #518 closed

[2020-03-02 21:19] #570 closed

[2020-03-02 21:25] limzykenneth commented on #568
The documentation has left out several places where the language code should be added though I think it can probably be rewritten to be a bit cleaner. For your case, a potential fix would be to add `pl` to this array as well: https://github.com/processing/p5.js-website/blob/3c96eff611b8d1f05b8d0bfe109f7573d5074a58/src/assets/js/init.js#L1

Let me know if it works. If you still have problem I'll ch

[2020-03-02 22:00] lmccart commented on #557
@DivyamAhuja we are hoping to finish the translation that @limzykenneth has linked to, so this could be a good GSOC project. right now it is missing some website pages and updates as well as the reference translation.

[2020-03-03 03:03] yinhwa commented on #490
Hi Soeun🖐 I'm Inhwa and I'm currently working with my fellow Seonghyeon on the Korean translation as a part of our Processing Foundation Fellowship project this (https://processingfoundation.org/fellowships) this year. I'm planning to pull request around this week for what I have so far translated. If you'd like to talk more on this issue pls feel free to contact me on my email: yinhwa.erica@gmail

[2020-03-03 06:35] jploskonka commented on #568
@limzykenneth works, thank you! :-)

[2020-03-03 06:42] shaharyar-shamshi commented on #557
@limzykenneth @lmccart I have conversation with the saber and this Gsoc instead of individual language translation I have proposed to make the translation engine which would make translation work fast and easy and automatic and I would like to mentor this project meanwhile one student has discussed with me on discourse regarding the proposal you can have better idea of it on
https://www.linkedin.c

[2020-03-03 07:12] #568 closed

[2020-03-04 10:24] DivyamAhuja commented on #557
So @lmccart what's your opinion about it....If such automatic engine is feasible than I guess that will help the progress a lot..
and @shaharyar-shamshi How are you thinking of implementing such engine ... cause idk what library or algorithm/techniques will be used

[2020-03-04 10:42] limzykenneth commented on #557
@shaharyar-shamshi I'm afraid I will have to give a hard pass on machine translation (ie Google Translate) without human oversight. Machine translation, even the best ones we have today, isn't perfect and in some circumstances cannot be perfect.

Adding an additional official translation on the website comes with a degree of promise that the information on there is accurate, with machine translati

[2020-03-04 10:51] sraghuvanshi opened #574 "Responsiveness issue on showcase page"
**Actual Behaviour**
On the showcase page, Nominate a project button breaks down when the device width is less than 375px.

**Expected Behaviour**
The button should be responsive.

**Steps to reproduce it**
By simply adding a @media query in the CSS file will work
.

**Screenshots of the issue**
![Screenshot from 2020-03-04 15-36-28](https://user-images.githubusercontent.com/48951339/75872164-b585

[2020-03-04 10:55] limzykenneth commented on #574
@sraghuvanshi Go ahead with the changes. Thanks!

[2020-03-04 11:19] DivyamAhuja commented on #557
I agree with @limzykenneth on this point....for now Machine Translation needs human oversight even though we have had much development in Machine Translation in recent years

[2020-03-04 14:39] shaharyar-shamshi commented on #557
@limzykenneth ya obviously there will be some human intervention , at least one percent , & that  could reach as high as ten percent but with this we can reduce the time of translation drastically. I have implemented this in one of the product which support approx 20-30 languages and after fully testing it we deployed and to be honest our development time reduce by 99 percent and also with accurac

[2020-03-04 15:56] ayushjainrksh commented on #557
Hi @limzykenneth . I was going through the issue and read about the plan of developing a translation engine by @shaharyar-shamshi . Well I must agree that this would really decrease the time and effort required in the international process. Moreover, the processing community can reach a more vast audience.

I read Shaharyar's blog on how he applied the model on a product and it worked really great

[2020-03-04 17:14] DivyamAhuja commented on #557
@limzykenneth I think you can implement this and then not add translation to release website unless it's verified by Human Translator....this way translation work can be simplified.....and authenticity of Translation can be guaranteed too

[2020-03-05 06:55] riteshsp2000 opened #578 "Add a 'Kaleidoscope' Drawing example."
This is not an issue.
I thought of adding an example that depicted kaleidoscope behavior. It is more of a symmetrical designing thing and a fun way to draw stuff.

 **Screenshots of the example**
<img width="1440" alt="Screenshot 2020-03-05 at 12 25 43 PM" src="https://user-images.githubusercontent.com/56112399/75955732-74959e80-5edc-11ea-8104-c78c50bc28af.png">

 **Would you like to work on this

[2020-03-06 05:04] #574 closed

[2020-03-08 15:11] DivyamAhuja commented on #557
So any updates on this issue? Should we go with translation engine or human translation?

[2020-03-09 19:44] fenilgandhi opened #579 "Canvas div in reference overlays example code."
**Actual Behaviour**
In reference documentation, if the example has other html elements apart from the canvas, like video or button element, then the current CSS will not be able to handle them and they are rendered with the browsers default stylesheet which overlays on the example code.

 **Expected Behaviour**
The example canvas and other elements (if present) should be contained into the div an

[2020-03-09 20:17] limzykenneth commented on #579
This has been solved before for [`createVideo()`](https://p5js.org/reference/#/p5/createVideo) as part of #393 over in https://github.com/processing/p5.js/pull/3611. It wasn't solved with css because the video element is pushed out of place by the canvas created by the example. If you like you can just copy the fix in `createVideo()` for this.

I'll assign the issue to you.

[2020-03-09 21:02] fenilgandhi commented on #579
Ok, thanks for the help @limzykenneth. I will update the examples as given.

[2020-03-09 21:15] fenilgandhi commented on #579
Also, i wanted to ask, if i should add handle it  CSS  also as a failsafe for any upcoming examples where this might not be the case ?
I was thinking of changing the CSS as follows
[code]

[2020-03-09 21:17] limzykenneth commented on #579
A CSS based solution can work, I'm just not sure if it will affect any existing examples or not. If you are confident it would be fine then CSS would be a better solution than handling it in example code.

[2020-03-10 00:27] fenilgandhi commented on #579
Yes, i am confident that the solution will work but while testing the solution i realised that if a CSS solution is applied then even after explicitly specifying larger canvas width in an example, the result will be confined according to CSS limits. So if ever we want the canvas size more than 100px, we would not be able to. I am not sure whether such strict limitations should be imposed. If someo

[2020-03-10 13:39] limzykenneth commented on #579
I think maybe in css just constrain the width to 100px while letting the height be auto since there's space for some extra height for whatever element that is going in there.

For future examples this probably won't be a problem since we can monitor new examples from now on. I'm only concerned about existing examples, but if there isn't any that'll break, you can go ahead with the CSS change. Just

[2020-03-10 21:35] fenilgandhi commented on #579
Ok, i will create a whole copy of the website and inspect it before submitting a PR.

[2020-03-11 22:25] #579 closed

[2020-03-11 22:26] lmccart commented on #578
sounds great please proceed if you'd like

[2020-03-14 13:46] pcgamer1 commented on #569
I would like to work on this and similar other issues regarding css,bootstrap and jQuery.

[2020-03-14 19:46] sandeepcoder097 commented on #569
I am working on this issue

[2020-03-14 19:50] sandeepcoder097 commented on #557
i think machine translation is not a good idea so we should go with human translation and I want to work on that.

[2020-03-14 20:59] sandeepcoder097 commented on #557
I have explored a bit and It looks like we don't need to make neither any translation engine nor we need human translation as chrome itself gives the option to translate any webpage in any language.

![image](https://user-images.githubusercontent.com/31854379/76690252-59592a80-6664-11ea-9ed2-6c53db5fca63.png)

This google translate option provides numerous options for different languages.
_if tran

[2020-03-15 12:24] pcgamer1 commented on #569
Pull request has been made.

[2020-03-15 13:24] pcgamer1 commented on #569
@all-contributors please add @pcgamer1 for code

[2020-03-15 16:18] lmccart commented on #557
Thanks all. Yes, Chrome and some other browsers provide an automatic machine translation. I think it is important to have a human translation built into our site because the machine translation can be very inaccurate sometimes. I'd suggest we proceed with human translations only for the p5 site. There seems to be a lot of energy around Hindi, so it also creates another opportunity for people to ge

[2020-03-15 16:28] DivyamAhuja commented on #557
Contributing to language translation is a nice way to start with open source contributions I think.
I was initially thinking of translating site to Hindi as prospective GSoC project but now am thinking of merging 2-3 ideas along with site translation for GSoC project proposal

[2020-03-15 18:19] to110i opened #584 "Japanese translation"
I have started translation of p5.js website into Japanese.
I've translated only side-bar titles and they are committed in the following branch [https://github.com/to110i/p5.js-website.git](https://github.com/to110i/p5.js-website.git).
Also, I will propose this translation for GSoC 2020.

[2020-03-15 18:32] sandeepcoder097 commented on #557
so @DivyamAhuja are working for language translation or should i work on that?

[2020-03-15 18:51] pcgamer1 opened #585 "Website Design and accessibility"
This is not exactly an issue. I would like to propose some changes to the Front-End of the website.
Using Bootstrap I can try to make the pages look more beautiful and appealing to the user and also develop an easy to understand user-interface.

 **Would you like to work on the issue?**
 Yes

[2020-03-15 18:56] pcgamer1 opened #586 "New User-Interface and Design for the showcase page."
The Showcase page is a page that is different from the otherwise nonchalant pages that are present on the website. The page should look a little different as it is a representation of the creativity of the people who have developed amazing stuff using the editor. I can try and make the page look more innovative so that the content and the theme of the page compliment each other.

 **Would you like

[2020-03-15 19:06] pcgamer1 commented on #285
We can use Bootstrap to fix this issue. I would like to work on this.

[2020-03-15 19:33] pcgamer1 opened #587 "Data Analysis of the type of projects present in the Showcase."
Not an issue but a suggestion.
I was planning on analyzing the data used for the Showcase page and showing some kind of statistics including the different types of projects and their purpose.
For example the number of projects related to game/design etc. , the purpose of the projects and what are the backgrounds of the project owners(student/professional/self-learner).
This would provide an insigh

[2020-03-15 19:35] sandeepcoder097 opened #588 "p5.js website not running on chrome in ubuntu"
**Website not running after starting the node server**
 **The following error keeps on coming:**
_Cannot_ GET /null/

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/31854379/76709015-70aa1d80-6721-11ea-9f35-0b938bd99572.png)

_Despite_ searching i cannot find a fix kindly help

[2020-03-15 19:41] #588 closed

[2020-03-15 19:44] ayushjainrksh opened #589 "Completing the translation of references to Hindi"
A few translations of references were missing in the Hindi translation. Also, a few translations can be replaced with better alternatives. Before adding more translations, the missing translations need to be added.

 **Would you like to work on the issue?**
Yeah, I am working on the issue and would create pull request for the same.

[2020-03-15 19:53] ayushjainrksh commented on #589
@lmccart @limzykenneth I am working on the Hindi translation of the references and I decided to work on your suggestion of manual Hindi translation. Although the Google translation has proved to be quite accurate, I am checking each translation for correctness and fixing any translation that is not up-to-the-mark. This helps us achieve our goal of precise translation in less time. I would like you

[2020-03-16 02:26] mjaything commented on #490
Hi everyone, I'm Minjun. I'm also interested in making contribution for the translation. Could @mojosoeun confirm what is the latest update on this issue, so that I could figure out where to start? Thanks for putting your e-mail address @yinhwa I have sent an e-mail to you. I would appreciate if you could check and reply. Thanks! :-)

[2020-03-16 12:33] SamuelAl opened #591 "Typo Spanish translation of reference for Ceil() function"
**Actual Behaviour**

typo: "paraemtro" in description of ceil()

 **Expected Behaviour**

correct word: parametro

 **Would you like to work on the issue?**

 I would like to work on this issue and will shortly submit a pull request. I would further like to work on these kind of translation issues and completing the Spanish translation for GSoC 2020.

[2020-03-16 14:08] limzykenneth commented on #589
Yeah, that's fine. Thanks!

[2020-03-16 14:17] limzykenneth commented on #584
Thanks for the interest! There is already a community created translation of the website into Japanese: https://p5js.jp/

Also see #265 and https://github.com/enkatsu/p5.js-website/tree/ja-translation. It is pretty outdated but I would prefer the effort to go into bringing existing translations up to date than to create new ones. Might be worth talking to @enkatsu.

[2020-03-16 16:45] limzykenneth commented on #569
@pcgamer1 Please refrain from making pull requests at this point in time for this issue. There still isn't a decision made about whether to add a dropdown for the language buttons yet at this point and @riteshsp2000 has already indicated that he's interested in working on this so if this proposed change is approved he would be given priority for a shot at implementing it. You are welcomed to ask i

[2020-03-16 16:54] pcgamer1 commented on #569
I'm sorry for this kind of behavior @riteshsp2000  @limzykenneth. I have just now realized that the issue was made by @riteshsp2000 and he wanted to work on this. I will be alert regarding the people who have already showed interest in solving an issue and won't interrupt. I'm comparatively new to Github and trying to contribute the most I can.

[2020-03-16 16:57] #591 closed

[2020-03-16 18:25] pcgamer1 opened #593 "New Menu Transitions."
**Actual Behaviour**
The Menu transitions are standard and just underline the element which is currently being hovered upon.

 **Expected Behaviour**
A better looking transition of the menu elements.

 **Would you like to work on the issue?**
 Yes
Dropbox Link to the video depicting the changes:
https://www.dropbox.com/s/gv28n3qvzwzdjzq/Hnet-image.gif?dl=0
You can download the file and watch the v

[2020-03-16 18:32] to110i commented on #584
Thanks for your response!
I know the p5js.jp website already exists, and I know this does not fully cover the contents especially in the reference section.
However I didn't know #265 and the p5.js community's policy on translating web sites.
I saw [GSoC 2020 project lists](https://github.com/processing/processing/wiki/Project-List) and I would like to contribute internationalization improvements.

[2020-03-16 21:11] ayushjainrksh opened #594 "Parameters in references are not translated"
**Actual Behaviour**
The parameters in the functions of references are not translated to any language.
For example: The spanish translation
![p5issue](https://user-images.githubusercontent.com/33171576/76799867-673fb480-67f8-11ea-934d-64bb90e4e188.png)

I am working on Hindi translation. How should I deal with the parameters and should I translate the parameters to Hindi too?

[2020-03-17 05:28] mojosoeun commented on #490
@mjaything Hi, Minjun. Nice to meet you. Currently, I don't have any updates on this issue. So I think it is better to check with Inhwa. If you are interested in translating another part of p5, how about working on this (https://github.com/processing/p5.js/issues/4137) issue together?

[2020-03-17 06:00] yinhwa commented on #490
Hi @mojosoeun and @mjaything ! The schedule's been a bit behind but a completed version of Korean translation is to be updated soon. @okdalto and I'd appreciate if you'd like to join us on our revision process :) Thank you!

[2020-03-17 08:50] SamuelAl commented on #594
I also have this problem with the Spanish translations I am working on. Any idea on how to correct it?

[2020-03-17 08:55] SamuelAl opened #595 "Translation of Mandelbrot Set example to Spanish"
**Actual Behaviour**

No translation to Spanish

 **Expected Behaviour**

Translation of name and description to Spanish

 **Would you like to work on the issue?**

 I would like to work on this issue, and will shortly submit a pull request with the translation @montoyamoraga. Further translations of other examples will follow and I would further like to work on the translations throughout the web

[2020-03-17 11:03] limzykenneth commented on #584
@to110i #265 is relatively old and there are efforts going into finishing the official Korean and Hindi translation of the website. I'm not the one to make the decision about whether an additional language will be added or not but I'm certainly seeing a lot of interest in it and would be happy to see more translations of the website. The thing that I personally would like to see is a long term pla

[2020-03-17 11:05] limzykenneth commented on #593
I think this is too visually distracting and I'm also not sure about the accessibility implication of this design.

[2020-03-17 11:07] limzykenneth commented on #594
Basically they are missing entries int he reference translation JSON files. The JSON files are not updated as the reference are updated so has been drifting out of sync over time. I want to have a solution to fix this but haven't got time to work on ti yet.

[2020-03-17 11:20] pcgamer1 commented on #593
Sure, I will try to improve them. Do you have any suggestions? I can work on design changes for any other pages too if required. We can just experiment a bit.

[2020-03-17 11:22] limzykenneth commented on #593
For any design changes, accesibility should be the priority, if it doesn't improve accesibility there is little reason to change any particular design.

[2020-03-17 11:27] pcgamer1 commented on #593
I will try to find areas where accessibility can be improved. Also, while maintaining the accessibility can we make some changes to improve the design just to improve the visual element? The user will also feel better because people love better visuals, and I won't do it at the cost of the accessibility.

[2020-03-17 13:09] ameybhavsar24 opened #597 "[Examples] "Sound effect inside circle" not exhibiting expected behaviour."
[Examples | Sound Effect](https://p5js.org/examples/sound-sound-effect.html)

**Actual Behaviour**

Sound also plays when mouse is clicked near the circle but outside it.

 **Expected Behaviour**

Sound should only play when mouse is clicked inside the circle.

 **Steps to reproduce it**

1 .Bring your mouse near to the circle boundary but do not overlap it.
2. The circle's fill changes to a darke

[2020-03-17 13:56] ayushjainrksh commented on #594
@SamuelAl @limzykenneth Yeah I am actually working on finding a solution other than hard-coded translation. I can see there are entries in es.json file for params but I think the translation of params has been disabled somewhere in the javascript code temporarily.
![p5issue2](https://user-images.githubusercontent.com/33171576/76863211-2e99ec80-6885-11ea-9542-56995eb759bd.png)

[2020-03-17 14:27] ayushjainrksh commented on #594
An efficient approach that I would suggest is to replace the params field in reference json in similar way as it is stored in data.json

For example,
To represent this : `p5.Color|Number[]|String:p5.Color object, color components, or CSS color`
We can use params from `data.json` and store it in the same way in reference json.

![p5issue3](https://user-images.githubusercontent.com/33171576/76864802

[2020-03-17 14:31] ayushjainrksh commented on #589
@limzykenneth Okay great! Meanwhile, can you please review my GSoC proposal for Hindi translation? I can really use some feedback.
Please request access or send me your email.
https://docs.google.com/document/d/10EwZ9fqrUQ6DkCqGvRBLWOeAx0kb2lfg4wNDdDey1Ig/edit?usp=sharing

[2020-03-17 14:42] lmccart commented on #589
@ayushjainrksh You can post your GSOC proposals on our [forum](https://discourse.processing.org/c/summer-of-code) for community feedback.

[2020-03-17 16:01] mjaything commented on #490
Thank you @yinhwa for confirming! Yes, if you update the completed Korean translation, I will look into it to see if there's anything I could contribute :)

[2020-03-17 16:02] mjaything commented on #490
Thanks for the suggestion @mojosoeun I will start translating the readme of contributor docs! If there's anyone who's already working on this, please let me know. Thanks!

[2020-03-17 18:21] ayushjainrksh commented on #589
@lmccart I have posted it on the forum. I will post it in a new thread. Please provide your feedback if possible. Thanks.

[2020-03-17 18:42] #595 closed

[2020-03-18 09:39] SamuelAl opened #598 "Translation for example not rendering properly"
**Actual Behaviour**

Yesterday I submitted a Spanish translation for the Mandelbrot set example, and this was successfully checked and merged later in the day. The changes seem to have rendered properly in the examples index page, as the title of the example is properly translated. However, the changes have not rendered in the actual example page.

 **Expected Behaviour**

Spanish translation of

[2020-03-18 09:55] SamuelAl commented on #594
I think it could be a good solution.
 Also, wanted to ask where should I add Spanish translations for the missing pieces of reference. From examining the documentation, I believe they should be added to the es.json file. If so, what is the procedure for adding missing reference keys with their translation? Does any other file need to be updated for the site to render properly? @limzykenneth  @ayus

[2020-03-18 16:25] pcgamer1 commented on #593
@limzykenneth I have shared my draft for suggestions. Please have a look. Currently I was not able to find areas where accessibility could be improved, I'm constantly on a look for one. I understand that the accessibility is very important for the website. But I think we can work on improving the visual element of the website using Bootstrap. I would love to work with you and learn about efficient

[2020-03-19 07:55] riteshsp2000 commented on #598
@SamuelAl you could navigate to dist/assets/examples then find this example in the 'esp' folder and make the necessary changes

[2020-03-19 08:15] SamuelAl commented on #598
@riteshsp2000 I thought we were not supposed to edit files in dist, that we should only edit and commit files in src. Shouldn't it be generated from the example's js file automatically when the website is built?

[2020-03-19 08:43] riteshsp2000 commented on #598
Ohh sorry not the dist directory... My bad really sorry for that. Go to src/data/examples/es and then find this file and then you can edit those. Also there is a directory which contains files regarding the addition/changes to the examples page.

[2020-03-19 09:30] SamuelAl commented on #598
Yeah, those are the files aI edited and have already been merged, following the internationalization instructions. However, while the heading in the examples index page has been updated, I do not see the changes being updated in the actual examples page. I do not understand what can be causing this error. The translated page is not being generated as expected from reading the documentation. This i

[2020-03-19 15:32] ayushjainrksh commented on #594
@limzykenneth @montoyamoraga @lmccart
I have worked on the above problem and was able to configure the code to fix it.

Here you can find the results (translations to Spanish might be inaccurate):
***
# Example 1
## English version
![p5trans4](https://user-images.githubusercontent.com/33171576/77082393-01367580-6a22-11ea-82df-0a989fff788f.png)
***
## Spanish version
![p5trans1](https://user-images

[2020-03-19 17:42] endurance21 opened #600 "script tag is written incorrectly"
**Actual Behaviour**
it's a typo mistake  in script tag!
<script src="script src="https://cdn.jsdelivr.net/npm/p5@0.4.20/lib/p5.js"></script>

 **Expected Behaviour**
it should be
<script src="https://cdn.jsdelivr.net/npm/p5@0.4.20/lib/p5.js"></script>

 **Steps to reproduce it**
visit p5.org website and navigate through learn section
https://p5js.org/learn/tdd.html
down the line you will notice t

[2020-03-20 10:38] limzykenneth commented on #597
The sketch is mainly using radius as a measurement while `ellipse()` by default accepts diameter for its size so the hit area is larger than the drawn area. To fix this we can just add `ellipseMode(RADIUS)` and reduce the hard coded radius number from 64 to 32.

[2020-03-20 11:33] limzykenneth commented on #594
Adding the right entries into the JSON file should be enough to add the missing entries into the reference. However @yukienomiya is also looking at this part of the translation system and I'll defer to my answer on the [forum](https://discourse.processing.org/t/introduction-and-adding-italian-as-new-language/18370/11), basically instead of patching it manually all the time, something that can auto

[2020-03-20 11:36] #600 closed

[2020-03-20 11:46] Eswaraprasadp opened #602 "Build error"
**Actual Behaviour**

 I am getting a build error when trying to build with npm run watch. I performed the command after installing the npm packages with npm install without any modifications to the cloned repository. I am using Ubuntu 18.04.3. My installed versions are grunt-cli v1.2.0, grunt v1.1.0 and npm 6.12.0.

 **Expected Behaviour**

 It is required to run the website in http://localhost:9

[2020-03-20 13:33] limzykenneth commented on #598
From what I can see nothing in terms of code is out of place. It seems to be a deployment issue. The version commited into the repo [here](https://github.com/processing/p5.js-website/blob/gh-pages/assets/examples/es/09_Simulate/17_Mandelbrot.js) is correct but the one deployed on the website is still in English as seen [here](https://p5js.org/assets/examples/es/09_Simulate/17_Mandelbrot.js).

@lmc

[2020-03-20 17:32] ayushjainrksh commented on #594
@limzykenneth Yeah that's exactly what I am trying to solve. My gsoc proposal includes building of the translation engine. I have shared a draft on gsoc website. You should check it out and provide your suggestions.

[2020-03-20 19:16] ameybhavsar24 commented on #602
May I know your _Node_ version?

[2020-03-21 04:32] Eswaraprasadp commented on #602
I am using node v8.10.0

[2020-03-21 09:37] ameybhavsar24 opened #604 "[Examples] Change canvas height to accomodate complete sketch"
[examples | Recursion](https://p5js.org/examples/structure-recursion.html)

**Actual Behaviour**

In the example stated above, the circle drawn at the highest level goes outside the canvas area.

 **Expected Behaviour**

The complete sketch should be accommodated inside the canvas area. This can be done by changing canvas height to `560`.

 **Steps to reproduce it**

https://p5js.org/examples/stru

[2020-03-21 13:36] TheShubham99 opened #606 "Hindi Branch automatically redirects to url/hi/hi"
**Automatic redirection to hi/hi**

 **Steps to reproduce it**
- Open the **hindi** branch of the project.
- Try to open home page.

 **Screenshots of the issue**

![Issue in Hindi Branch 2](https://user-images.githubusercontent.com/20538904/77227509-c873d900-6ba6-11ea-8ca6-bb686a11fd5a.png)

 **I would like to work on this issue (if needed)**

[2020-03-21 13:37] TheShubham99 commented on #606
@limzykenneth Kindly let me know if yes :)

[2020-03-21 13:43] limzykenneth commented on #606
This has been fixed on the master branch. Can you rebase or merge the latest master branch and let me know if the problem persist. Thanks.

[2020-03-21 13:52] TheShubham99 commented on #606
@limzykenneth I wanted to work on Hindi Internationalization improvements. So, should I continue those changes in master branch?

[2020-03-21 17:58] #285 closed

[2020-03-21 17:58] #597 closed

[2020-03-21 17:59] #604 closed

[2020-03-21 19:35] elit-altum opened #610 "Feature : Allow images to link to showcase projects"
**Actual Behaviour**

 In the current version, only the title of a featured showcase leads to the project details which is a very small area.

__ScreenShot__
![image-link-before](https://user-images.githubusercontent.com/41413622/77235057-bc087400-6bd8-11ea-9e14-6405b1efde50.gif)

 **Expected Behaviour**
For a more intuitive approach, the project image (which is the strongest representation of the

[2020-03-21 19:36] elit-altum commented on #610
@lmccart if this is okay, should I submit a PR ?

Thank You!

[2020-03-21 19:55] lmccart commented on #610
sounds great

[2020-03-21 19:56] #578 closed

[2020-03-21 20:14] ameybhavsar24 commented on #472
Seems like CSS can't fix the canvas issue, because, if canvas width is changed, the sketch still remains at the original position, i.e. the objects drawn in the sketch. A similar 'cut off' issue where the canvas is too large => [#284 ](https://github.com/processing/p5.js-website/issues/284)

[2020-03-21 20:25] ameybhavsar24 commented on #472
The only working solution that I can see right now:

1. In setup(), add
[code]
This ensures that the whole sketch scales down to fit the mobile screen utilizing maximum available mobile screen space (excluding left and right margins) but still displays at original size on larger screens.
2. Multiply all dimensions by `scale`, such as
[code]
To keep example code simple and easy to understand, dimen

[2020-03-21 20:56] #594 closed

[2020-03-21 21:16] ameybhavsar24 commented on #472
I think dimensions could be pre-multiplied by `scale` in [src/assets/js/examples.js](https://github.com/processing/p5.js-website/blob/master/src/assets/js/examples.js). Any ideas to do it in a concise way?

[2020-03-21 22:57] ayushjainrksh opened #614 "Sync Hindi branch with Master"
@limzykenneth @lmccart
Hindi branch is terribly out of sync from master. It is over 200 commits behind. Can we sync the branch to master? Should I do the rebase or would it be done centrally?

 **Would you like to work on the issue?**
Yeah, sure.

[2020-03-22 10:16] TheShubham99 opened #615 "Mobile Menu UI Bug"
**There is comma ',' even at the end of menu** which looks weird.

 When you open p5js.org in mobile it shows unwanted comma at the end of last many twitter.

 **Expected Behaviour**
As it is a last element of the menu we should end it with fullstop.

**Steps to reproduce it**
1. Open p5js.org in mobile.
2. Open navigation menu.

 **Screenshots of the issue**

![p5js org_(Pixel 2) (2)](https://use

[2020-03-23 02:26] #610 closed

[2020-03-23 03:04] lmccart commented on #490
hi all, just a message to say that I have just updated the korean branch to match the master branch. it should work properly and be ready for further translation now. thanks!

[2020-03-23 04:20] lmccart commented on #614
I just updated it. Please note, I had to stash some of the current translations because the yml files had diverged too much. The old version is stored [here](https://github.com/processing/p5.js-website/blob/hindi/src/data/hi-old.txt).

[2020-03-23 04:21] #614 closed

[2020-03-23 12:24] ayushjainrksh commented on #614
Thank you for updating the branch. I will have a look at the changes.

[2020-03-23 13:12] limzykenneth commented on #602
@Eswaraprasadp The grunt script here uses `fs.promise` which is added in node v10.0.0, can you update your node version and try again? Thanks.

[2020-03-23 13:43] limzykenneth commented on #606
This should be addressed in #614. You can continue on the `hindi` branch.

[2020-03-23 13:43] #606 closed

[2020-03-23 14:33] #615 closed

[2020-03-23 18:21] ayushjainrksh opened #617 "Return type is not displayed in translation of references."
**Actual Behaviour**
![p5issue8](https://user-images.githubusercontent.com/33171576/77349446-087ebb80-6d61-11ea-8059-73a655844a41.png)

 **Expected Behaviour**
![p5issue9](https://user-images.githubusercontent.com/33171576/77349455-0b79ac00-6d61-11ea-9d67-d4828a3e7a32.png)

 **Would you like to work on the issue?**
Yes

[2020-03-23 19:32] pcgamer1 opened #618 "Fade-In effect for images on the donate page."
Hi. I have tried adding simple effect to the images on the donate page. Below is my attempt.
![Hnet-image (5)](https://user-images.githubusercontent.com/30899040/77355697-ebe78100-6d6a-11ea-852b-64f4f8624fc8.gif)
 The problem I am facing is that I am unable to position the footer below the page and it is overlapping with the images. I would appreciate any help and would like to work on this furthe

[2020-03-24 14:27] elit-altum opened #619 "Hover effects on showcase images"
**Actual Behaviour**

The showcase page is styled in such a way that all ```<a>``` tags are styled similarly. This is causing issues for images which now work as links as well.

_ScreenShot_
Notice the ```border``` property for links being applied
![image-link-hover-issue](https://user-images.githubusercontent.com/41413622/77434805-6bc32900-6e07-11ea-9f6d-c078a7c68bd5.gif)

 **Expected Behaviour**

[2020-03-24 14:29] elit-altum commented on #619
@lmccart If required, I can remove the animations and just fix the bug.

Thank You!

[2020-03-24 16:52] limzykenneth commented on #619
I think just removing the bug without adding the animation would be fine. I'm just not a fan of too much animation on a webpage personally.

[2020-03-24 17:24] elit-altum commented on #619
Got it @limzykenneth !
Please review https://github.com/processing/p5.js-website/pull/620

[2020-03-25 01:42] ykabusalah commented on #584
Do you know if the website has been translated into Arabic? I would be willing to do that if possible.

[2020-03-25 07:08] Eswaraprasadp commented on #602
Thank you @limzykenneth , it works after updating node.

[2020-03-25 07:08] #602 closed

[2020-03-25 10:03] pcgamer1 commented on #618
@limzykenneth Can something be done about this? I would appreciate any help or suggestions.

[2020-03-25 11:19] limzykenneth commented on #584
@ykabusalah As far as I know there isn't an Arabic version and I must say I am personally very interested in an Arabic version especially from a design and technical standpoint. I can say if we can support an official Arabic version of the website but you can always create your own fork of the website, translate it and host it somewhere online. Share a link here if you have done it!

If you wish t

[2020-03-25 17:47] ayushjainrksh opened #622 "Update and fix Hindi translation yml file"
**Actual Behaviour**
hi.yml is out of date and needs to be updated from hi-old.txt.

 **Would you like to work on the issue?**
Yes

[2020-03-25 18:35] #619 closed

[2020-03-26 08:02] pcgamer1 opened #623 "Data collection for Showcase Projects"
I think the Showcase page lacks a statistical component. We can generate a form which would allow users to enter their contact information and other information about their projects. When we have enough data, some processing can be done using python libraries like pandas and the data can be visualized and represented on the page using seaborn. This can also be done for the existing Showcase projec

[2020-03-26 21:46] lmccart commented on #623
@pcgamer1 I don't understand what you mean by "statistical component", can you elaborate? You want to show metadata around each project? Which data would you propose to collect and display?

[2020-03-26 22:19] SamuelAl opened #625 "Missing Spanish translation in Learn index page"
**Actual Behaviour**

Missing Spanish translation for 'p5.js and wiki' index section

 **Expected Behaviour**

Spanish translation

 **Steps to reproduce it**
https://p5js.org/es/learn/

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/33717014/77702125-b4b5e180-6faf-11ea-8529-5536faef873e.png)

 **Would you like to work on the issue?**

Yes, I would love to! I hav

[2020-03-26 22:42] SamuelAl commented on #625
@montoyamoraga

[2020-03-26 23:04] SamuelAl opened #627 "Missing spanish translation for Koch Curve, Stepping Feet and Bubble sort examples"
**Actual Behaviour**

Missing spanish translation

 **Expected Behaviour**

Spanish translation.

 **Steps to reproduce it**

 **Screenshots of the issue**

 **Would you like to work on the issue?**

Yes, and will submit a pull request shortly

[2020-03-26 23:35] pcgamer1 commented on #623
@lmccart Yes, I want to show the metadata of all the projects combined and/or of each project. The information collected will be the genre of the project(Graphic design/Machine Learning), the gender of the person, his/her professional orientation (student/working/jobless) and his/her age and any other relevant features which may be visualised.

[2020-03-27 00:01] #625 closed

[2020-03-27 00:47] montoyamoraga commented on #627
this issue was resolved with #626

[2020-03-27 00:47] #627 closed

[2020-03-27 14:36] limzykenneth commented on #598
Fixed on live site.

[2020-03-27 14:36] #598 closed

[2020-03-27 21:05] sm7515 opened #628 "Porting examples for Advanced Data"
**Actual Behaviour**

There is only one example under Advanced Data

![image](https://user-images.githubusercontent.com/36653440/77800329-ecbf3200-704c-11ea-9eaa-c8382a175bc9.png)

 **Expected Behaviour**

Port other examples from the processing website.

![image](https://user-images.githubusercontent.com/36653440/77800426-2c861980-704d-11ea-8dae-23ec4dd30826.png)

 **Would you like to work on the

[2020-03-27 21:07] nedjulius commented on #628
Can I work on transferring the "Array List Class" example?

[2020-03-27 23:34] MuyingLi opened #632 "Typo in Chinese on get-started page"
**Actual Behaviour**

On the [get-started](https://p5js.org/zh-Hans/get-started/) Chinese page, Your First Sketch section, the translation on the width is typed in "阔度" (highlighted in light blue).
![屏幕快照 2020-03-27 下午5 45 03](https://user-images.githubusercontent.com/38115784/77804241-7246e000-7055-11ea-8909-e42fee364c52.png)

 **Expected Behaviour**

It should be "宽度" for width.

 **Steps to rep

[2020-03-28 07:55] pcgamer1 opened #634 "Search Bar position and design."
**Actual Behaviour**
 When tabbing through the website, the Search Bar is selected after around 10-15 tabs.

 **Expected Behavior**
Search Bar should be readily accessible within 2-3 tabs.

The position of the search bar can be changed or a skip functionality can be added so that the user using a screen reader can skip to the search bar. A magnifying glass can be added to the bar which can prove t

[2020-03-28 08:11] pcgamer1 opened #635 "Adding a pause/play button for carousel"
**Actual Behaviour**
Image carousel changes images without user's control.

 **Expected Behavior**
For Screen Readers, we can add a pause play button using Bootstrap Screen Reader functionality to avoid seizures. @limzykenneth Any suggestions or views?

 **Would you like to work on the issue?**
Yes

[2020-03-28 13:28] limzykenneth commented on #634
From loading the page, I got to the search bar with just two tabs. Or are you measuring from another use point?

[2020-03-28 13:30] limzykenneth commented on #635
Where is this image carousel?

[2020-03-28 13:35] limzykenneth commented on #628
Not all Processing examples make sense in p5.js because Processing (Java) and Javascript are very different languages. We don't aim to port every single examples from Processing to Javascript mainly for this reason.

Array List and Int List would not make sense in Javascript as they would just be regular arrays. Load Save Table should still be possible though.

[2020-03-28 13:40] limzykenneth commented on #632
Sounds good to me! I'll assign the issue to you and you can file a PR whenever you are ready. If you need help just let me know.

Also if you want to work on more around the translation of the website, you can either look at updating the reference (which can be trickier) or translate the untranslated examples (which there are still many). Thanks.

[2020-03-28 13:44] pcgamer1 commented on #635
@limzykenneth On the Donate page.

[2020-03-28 13:47] pcgamer1 commented on #634
@limzykenneth On Chrome, it first tabs through the menu list for me and then goes on to the search bar. After loading the page.

[2020-03-28 13:48] MuyingLi commented on #632
Sure. Thanks again. I'm going to translate examples later. There is another typo I found in examples, 00_Structure, [Coordinate](https://p5js.org/zh-Hans/examples/structure-coordinates.html): missing a "1" I guess. I can also correct it in `src/data/examples/zh-Hans/00_Structure/00_Coordinates.js`, [line 3 @description](src/data/examples/zh-Hans/00_Structure/00_Coordinates.js) .
![屏幕快照 2020-03-27

[2020-03-28 14:21] sm7515 commented on #628
Do I need to make a separate issue if I want to try transferring Load Save Table?

[2020-03-28 19:29] singhvisha opened #636 "Add a " Launch Pad " as Examples"
Hi, This is  actually not an issue.  I just thought of adding a example of Prototype of Launch Pad as examples. It is actually a multi-touch graphical user Interface which will give an actual feeling of LaunchPad Instrument. It works smoothly on touch devices. It uses p5touchgui library and p5.sound library.

**SceenShot of example**
![image](https://user-images.githubusercontent.com/38842688/7783

[2020-03-28 21:13] limzykenneth commented on #628
@sm7515 No need to open another issue, I'll assign this one to you for adding Load Save Table.

[2020-03-29 07:35] pcgamer1 commented on #635
@limzykenneth Please review if you are free.

[2020-03-29 07:54] pcgamer1 commented on #623
@lmccart Please review whenever you are free.

[2020-03-29 13:36] limzykenneth commented on #635
I think adding bootstrap it a bit too much, the transition can just be coded up in a couple lines of CSS with transition.

[2020-03-29 13:48] pcgamer1 commented on #635
@limzykenneth I meant that I will use CSS for the transitions. Just for the screen reader custom styling class I mentioned Bootstrap. I can do that manually as well. The buttons and the transitions will be added using CSS, just to hide unnecessary transitions for the visually impaired we can use Bootstrap.
It's up to you if we should use Bootstrap or not. It provides a hiding class for screen read

[2020-03-29 13:57] pcgamer1 commented on #635
@limzykenneth I was not talking about transitions in this issue. I talked about pause/play button.
In another issue I have talked about transitions. There is another issue regarding the search bar on which I would like you to review.

[2020-03-29 21:46] lmccart commented on #623
My intuition is that we have just launched this showcase designed by Ashley Kang which was a year in the making, and we might want to leave it be for a bit to allow her vision to be seen before we change it up. But that's just my opinion.

[2020-03-29 22:02] ykabusalah opened #638 "Translate p5.js into Arabic (GSOC 2020)"
I wanted to start this issue now, though I shall submit my proposal for GSOC 2020 prior to anything major.

**Actual Behavior**:
- There is no current translation of the website into Arabic.

 **Expected Behavior**:
- I would enact a translation

*If I was not supposed to create a separate issue for one of my ideas, please let me know. I just wanted to practice and try out some of the code as I've

[2020-03-29 22:38] nedjulius opened #639 "Improving mailing list subscription field"
**Actual Behaviour**

Currently, in order to subscribe to the mailing list in the [community page](https://p5js.org/community/), one has to type in her email and press enter. I found this behavior a little bit unintuitive as I was trying to subscribe to the mailing list myself.

 **Expected Behaviour**

I would expect the mailing list input field to also have a "Subscribe" button near it. The impr

[2020-03-29 22:52] lmccart commented on #638
thanks! the best place to discuss GSOC proposals is on our [forum](https://discourse.processing.org/c/summer-of-code)

[2020-03-30 04:49] pcgamer1 commented on #623
@lmccart I understand completely. The metadata will not be a major core change. It will just be an add-on to the the existing/upcoming projects according to me. Also, we can generate a form for those who are starting a project so that when they finish it I can use the data for analysis. This can be done as a separate implementation and not on the showcase itself. I personally think that some kind

[2020-03-30 20:13] limzykenneth commented on #635
Could instead of a slideshow, a screen reader just get a series of images? Then the screen reader can just skip to the next section if the user doesn't want to know what the images are about while users who do don't have to click on any button to know about the next image.

[2020-03-30 20:29] limzykenneth commented on #632
Closed by #637

[2020-03-30 20:29] #632 closed

[2020-03-30 20:31] limzykenneth commented on #639
Sounds reasonable to me. I'll assign the issue to you.

[2020-03-30 20:48] limzykenneth commented on #634
I was testing on Firefox and apparently Firefox doesn't tab through `<a>` tags 😮

You should be able to just add a tab index to the search bar to bump it up the tab list. I'll assign the issue to you.

[2020-03-31 06:14] pcgamer1 commented on #634
:+1: I will start working on it.

[2020-03-31 06:21] pcgamer1 commented on #635
@limzykenneth Yes we can do that. We will make input buttons using a specific class for screen reader so that the screen reader first asks the user whether he/she wants to know about the images or not. Then it will read/skip accordingly. I can start working on this.

[2020-03-31 15:41] #634 closed

[2020-03-31 15:41] #639 closed

[2020-03-31 17:41] montoyamoraga commented on #638
since this will be discussed in the forum, i will close this issue

[2020-03-31 17:41] #638 closed

[2020-03-31 22:30] sm7515 commented on #628
Hi, I have finished adding this example but I don't have permission to push the changes.

[2020-03-31 23:48] montoyamoraga commented on #622
fixed with #629 #631 and #643

[2020-03-31 23:48] #622 closed

[2020-04-01 05:35] Drafffffff opened #645 "There is an error in the Chinese reference."
https://p5js.org/zh-Hans/reference/#/p5/pow

![](http://pic.drafff.art//drafff/20200401133345.png)

There are two 底数 ，actually, the second 底数 should be 指数。

[2020-04-01 11:38] limzykenneth commented on #628
@sm7515 You should be pushing your changes to your own fork of the repository then create a pull request for us to accept the code changes on this repository. For more detailed instructions you can see [here](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request). If you still need more help with this, just let us know.

[2020-04-01 16:21] MuyingLi opened #646 "Translating current examples into Chinese"
**Actual Behaviour**
 Not all examples are translated into Chinese

 **Expected Behaviour**
Translating untranslated examples that are not in 00_Structure, 01_Form, 02_Data, 03_Arrays, or 04_Control topics.

 **Steps to reproduce it**
Going to translate the descriptions and inline documentation in examples, and probably adding 1 or 2 inline documentation as needed.

 **Would you like to work on th

[2020-04-01 18:40] limzykenneth commented on #645
I've looked into this and this isn't a typo issue but rather a bit of a bug in the translation code. I'm working on a fix for it. Thanks for the interest in helping, if you want to find something else related to Chinese tranlsation to work on, a lot of the examples are still not translated so that could be a start.

[2020-04-01 20:11] limzykenneth commented on #617
The fix is causing the untranslated type to show up in the translated reference, even in cases when the type has been translated. The issue is not The original value is not retained by rather the translation did not include the type in some cases (but not all).

[2020-04-01 20:29] limzykenneth commented on #646
To translate examples, follow the instructions outlined at the bottom section [here](https://github.com/processing/p5.js-website/blob/master/contributor_docs/i18n_contribution.md#translation-of-examples).

Also do have a look at the glossary link [here](https://github.com/processing/p5.js-website/blob/master/contributor_docs/Chinese_translation_glossary_links.md) so that we can keep the terms used

[2020-04-01 21:42] ayushjainrksh commented on #617
@limzykenneth The reason why I preferred displaying the return type in English is they can be of any type. For example, p5.Color is an object. Shouldn't it be displayed in English? Also trivial return types such as Number and String can also be displayed in English as they are specific to the programming. It would be difficult for user to read the specific return types in their native language and

[2020-04-01 22:30] limzykenneth commented on #617
For something like `p5.Color` it is a specialized type and it made sense for it to be as it is since translating it wouldn't be helpful. For generic types like `Number` and `String` these are basic programming terms that can be found in almost all programming languages and as a result is also commonly translated in reference materials for various programming languages in various languages. I see t

[2020-04-01 22:51] MuyingLi commented on #646
Great. Thank you.

[2020-04-02 03:50] Drafffffff commented on #645
Thinks for your works !! I'd love to translate it , I'll try.

[2020-04-02 03:52] Drafffffff commented on #645
![](http://pic.drafff.art//drafff/20200402115128.png)

But now they all become 底数 .....😂

[2020-04-02 03:55] Drafffffff commented on #645
But it still displayed wrong in https://p5js.org/zh-Hans/reference/#/p5/pow

[2020-04-02 10:40] limzykenneth commented on #645
@Drafffffff The fix has not been merged yet. It should be corrected when #647 is merged.

[2020-04-02 14:45] sm7515 commented on #646
Hi, I am currently working on the Color section : )

[2020-04-02 15:09] #617 closed

[2020-04-02 15:09] #645 closed

[2020-04-02 15:10] #628 closed

[2020-04-02 19:07] mattfan00 opened #649 "Porting "Rollover" example"
**Actual Behaviour**

Right now, the [Rollover example](https://processing.org/examples/rollover.html) it only located on the processing.org website.

 **Expected Behaviour**

I would like to port this example over to the p5js.org website.

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/30060256/78291422-5b8c0780-74f3-11ea-9865-92294a18cea2.png)

This is what the

[2020-04-03 08:15] pcgamer1 opened #650 "Search bar on every page"
**Actual Behaviour**
Search bar is only present on the home and reference page.

 **Expected Behaviour**
Search bar for every page.
It would enable the users to navigate more efficiently throughout the website. This would improve the accessibility. @limzykenneth any views or suggestions would be helpful.

 **Would you like to work on the issue?**
Yes

[2020-04-03 17:45] limzykenneth commented on #650
We had a PR awhile ago #577 that adds this functionality however I'm not sure if there are much interest in including it. It is also part of a larger discussion around the design of the site that we may need more research and work on.

I'm not really in a position to say either way since that would just be my singular opinion. From your recent issues on the repo I can see you are interested in wor

[2020-04-03 18:29] Rahulm2310 opened #651 "There is a hover effect on 'Editor' heading in the Download page"
**Actual Behaviour**
There is a hover effect on "Editor" heading in the Download page even though it is not a link.

 **Expected Behaviour**
It should be similar to other headings and there should be no hover effect.

 **Steps
 to reproduce it**
1. Go to the Download page
2. hover on the Editor heading
3. Color of heading turns pink.

 **Screenshots of the issue**
![p5error](https://user-images.gi

[2020-04-04 06:05] pcgamer1 commented on #650
Sure. I will try to gather opinions from different users. I have gone through the DocSearch PR.
I didn't want to propose such major search changes. The same search bar that is currently in use can be put on all the pages so that page to page navigation becomes easy, that's what was in my mind. I will try to talk to the users about these type of changes on the forum. Thanks!

[2020-04-04 06:09] pcgamer1 opened #653 "Resetting the tab focus after complete navigation of a page."
**Actual Behaviour**
When a keyboard user navigates through a page, if the tab reaches the end, it does not get reset to the top of the page.

**Steps to Reproduce**
Tab through the home page till you reach the end, the focus will not go to the top of the page if the user keeps tabbing.

 **Expected Behaviour**
Reset the focus to the top of the page when the user reaches the end of the page while

[2020-04-04 06:46] elit-altum opened #654 "Unconstrained links on the Downloads page"
**Actual Behaviour**

 The links leading to the Editor and the Complete Library on the downloads page are expanding to
more than their width.

![Full width linking](https://user-images.githubusercontent.com/41413622/78420537-a893e900-766d-11ea-8740-75bc6b92c3ee.gif)

 **Expected Behaviour**
The links should be of their own width only and the white space shouldn't be clickable.

 **Steps to reprodu

[2020-04-04 06:49] elit-altum commented on #654
@lmccart @limzykenneth do you want me to restrict the linking to the width of the corresponding ```<div>``` or expand the ```<div>``` to the full width of the leftover screen ?

Thank You!

[2020-04-04 11:04] limzykenneth commented on #654
@elit-altum I think the width of the link should be reduced to match the visual width of the box. I'll assign the issue to you.

[2020-04-04 11:49] elit-altum commented on #654
Sure! @limzykenneth
I have made the changes : https://github.com/processing/p5.js-website/pull/655

Thank You

[2020-04-04 14:35] ayushjainrksh commented on #617
Well that does make sense. The only problem is we need to update the translations to add data types to the translation in the reference json. Because, currently I can see a lot of them do not translate the return types.  For example in pow function, the Spanish translation does not display the return type. I will update all the Hindi references to support the changes.

[2020-04-04 16:03] ayushjainrksh opened #656 "Translating and fixing hi.yml"
**Actual Behaviour and suggested fix**

hi.yml contains some problematic translations.
A major problem is with sentence termination. While English sentences ends with `.`, hindi sentences end with `।`. This problem can be tackled in most cases but there are a few in which `.` is added in index.hbs files which do not get translated.
I would like to fix that by changing some index.hbs files. Should

[2020-04-04 16:33] montoyamoraga commented on #656
hi @ayushjainrksh, thank you that suggestion!
i don't know hindi, is there any standard for this? do you have an example of a website with both English and Hindi that would be easy for us to compare and make a decision?

in Spanish i went through something similar, where we ask questions like these:
"¿?", with a sign where the question starts and ends, and in English you only have the "?"

can we

[2020-04-04 17:28] limzykenneth commented on #656
This is something I've come across before as well in Chinese (`。` is used instead of the regular full stop `.`) and is also why an additional paragraph is added in [this section](https://github.com/processing/p5.js-website/blob/master/contributor_docs/i18n_contribution.md#translation-of-all-pages-except-reference-and-examples) in the contributor docs about best practice when it comes to creating i

[2020-04-04 17:30] #651 closed

[2020-04-04 17:41] montoyamoraga commented on #656
yeah i agree with @limzykenneth, it sounds like it would cause a big mess for now.

[2020-04-04 18:01] ayushjainrksh commented on #656
@montoyamoraga @limzykenneth In Hindi the full-stop ` . ` converts to purn-viram `। `. I checked Scratch website, they don't have a Hindi translation yet. The problem doesn't end with full stop. When translating from English to Hindi, many sentences undergo a change in order of words (the sequence), which also needs to be handled. So finding a solution to this problem would help translations to ge

[2020-04-04 18:16] ayushjainrksh commented on #656
Check this out! Here is an example of how the translation should look like.

![hitrans15](https://user-images.githubusercontent.com/33171576/78458361-53d48a80-76ce-11ea-9456-1db0f4da4256.png)
![hitrans14](https://user-images.githubusercontent.com/33171576/78458358-50410380-76ce-11ea-8c7b-9b39b4f7dd32.png)

[2020-04-05 08:14] Rahulm2310 opened #657 "Nominate a Project button on the showcase page breaks on mobile"
**Actual Behaviour**
Nominate a Project button on the showcase page breaks on small screen devices

 **Expected Behaviour**
It should not break on small screen devices.

 **Steps to reproduce it**
1. Go to showcase page on a mobile

 **Screenshots of the issue**
![nominatebuttonerror](https://user-images.githubusercontent.com/54268438/78469924-034b4480-7743-11ea-94c4-77ed794cce55.JPG)

 **Would yo

[2020-04-05 08:22] pcgamer1 opened #659 "Space below Foundation on the reference page."
**Actual Behaviour**
An unnecessary h3 present below Foundation on the reference page.

 **Expected Behaviour**
No space

 **Screenshots of the issue**
![bug lol](https://user-images.githubusercontent.com/30899040/78470138-a2247080-7744-11ea-9f26-96009396658f.PNG)

 **Would you like to work on the issue?**
Yes

[2020-04-05 11:55] limzykenneth commented on #656
@ayushjainrksh I do want to have this fix while we have a relatively few number of translations, however seeing as the proposal submission period of GSoC just ended and there were some interest in looking at the translation system itself from a number of potential applicants I don't want the work done on this right now to be superceeded by another project that maybe moves the whole translation sys

[2020-04-05 11:58] limzykenneth commented on #659
You can go ahead with this fix. Thanks!

[2020-04-05 12:23] #654 closed

[2020-04-05 16:59] montoyamoraga commented on #656
@ayushjainrksh i agree with @limzykenneth, it needs to be fixed in a very thoughtful and sustainable way, let's prioritize that over GSoC with more people, so we take into account this issue and scale it to our other translations and future ones :)

[2020-04-05 17:57] ayushjainrksh commented on #656
@limzykenneth @montoyamoraga Okay, so I will proceed without making changes to the hbs files for now until we find a better and flexible solution. Also, the efforts spend in manual translation wouldn't be wasted even if we go with a solution like Transifex in future because we can configure such system to use the manual translations for the ones that are available and for those which aren't it wou

[2020-04-05 23:25] montoyamoraga commented on #656
@ayushjainrksh thanks! i would rather leave this issue and assign it to the people who work on it while on the GSoC for now.

[2020-04-06 02:12] #657 closed

[2020-04-07 13:47] mattfan00 commented on #649
Hi! I was wondering if you guys think that this would be a helpful example to port and if I would be able to work on this?

[2020-04-08 11:25] Rahulm2310 opened #660 "Reference page for an example does not renders correctly on mobile"
**Actual Behaviour**
Reference page for an example does not renders correctly on mobile.

 **Expected Behaviour**
The page should be mobile friendly and should render correctly like all other pages.

 **Steps to reproduce it**
1. On the 'Reference' page, click on any example for its reference.
2. The page rendered is not mobile friendly.

 **Screenshots of the issue**

![reference page turns to de

[2020-04-08 19:31] pcgamer1 opened #661 "Bright wider outline on focus for sighted keyboard users."
**Actual Behaviour**
Currently, while tabbing through the elements, a thin dotted outline appears on focus. This is not properly visible and can prove to be difficult to notice for keyboard users. Specifically for images and similar elements.

 **Expected Behaviour**
A wider outline with a bright color. This would enable a sighted keyboard user to identify the element that is currently being focus

[2020-04-08 19:42] sm7515 opened #662 "Input placeholder overlay"
**Actual Behaviour**

I noticed that the input text overlays with the placeholder.

![image](https://user-images.githubusercontent.com/36653440/78826001-d26f4780-79ae-11ea-9068-82dca8bbb58b.png)

![image](https://user-images.githubusercontent.com/36653440/78826048-e5821780-79ae-11ea-86bd-18394ad57223.png)

 **Steps to reproduce it**

the search box on the upper right, on pages https://p5js.org/es/

[2020-04-09 04:20] MuyingLi commented on #646
All 08_Math examples are translated ✅

[2020-04-09 13:38] ayushjainrksh commented on #656
I have reverted the changes I made to index.hbs and used alternative translations in Hindi to make them as accurate as possible. This does not fix the above issue but is a step towards completing the translation of hi.yml file (That's why I am referencing it here).

[2020-04-09 13:39] limzykenneth commented on #662
I noticed that a couple days ago as well, forgot about it though so it's good that you brought it up. Do go ahead and submit a fix whenever you are ready. Thanks.

[2020-04-10 02:58] mattfan00 opened #669 "Incorrect links in "Foundations" section of reference page"
**Actual Behaviour**

The links for ">" and ">=" pages aren't correctly linked.

 **Expected Behaviour**

They should be linked to the pages [p5js.org/reference/#/p5/>](https://p5js.org/reference/#/p5/>) and [p5js.org/reference/#/p5/>=](https://p5js.org/reference/#/p5/>=)

 **Steps to reproduce it**

Click on the links to ">" and ">=" under the "Foundations" section of the reference page. They wil

[2020-04-11 11:02] nedjulius opened #670 "Newsletter subscription button style"
**Actual Behaviour**

For some reason, styles that I merged [a few weeks ago](https://github.com/processing/p5.js-website/commit/ace8388e12d2551bbe76b6100f55d1a6a821e302), are not working on the live website. The behavior is strange, as everything looks fine on the test server.

 **Expected Behaviour**

Basically, the button should look like this:
<img width="694" alt="78014588-d0730c00-7350-11ea-

[2020-04-11 12:20] elit-altum opened #671 "WCAG AA failure of the language menu"
**Actual Behaviour**

 The color of the links used for switching the page translation is failing the WCAG AA checks while the rest of the website complies with the behavior. This can be fixed

Screen-shot :
![issue](https://user-images.githubusercontent.com/41413622/79043346-4a8e7500-7c1c-11ea-9681-b3c2bb237257.PNG)

 **Expected Behaviour**
A color of  `#696969` would be able to comply with the gu

[2020-04-11 15:15] limzykenneth commented on #669
Do go ahead with a fix when you are able to.

[2020-04-11 15:26] limzykenneth commented on #670
All the checks I can do comes up with nothing. The files on both github and the server are correct, the CSS loaded into the browser is also correct, but somehow the rules are just not applied on the website.

 I have no idea why it is exhibiting this behaviour.

[2020-04-11 17:23] Rahulm2310 commented on #670
Similar thing is happening with "Nominate a Project" button. There is a hover effect assigned to the button but it doesn't work on Google Chrome but is working with Microsoft Edge.

Here is a gif for google chrome ->
![p5button](https://user-images.githubusercontent.com/54268438/79050350-0f556b80-7c47-11ea-8c10-32f13593ef82.gif)

[2020-04-11 18:28] nedjulius commented on #670
@limzykenneth that is very bizarre. I will try to look into the codebase more, maybe there is some sort of wrapper that requires an additional explanation of the style rules that are being used or something. It's strange that it works perfectly fine on the test run though. I cannot reproduce this on my machine.

@Rahulm2310 Safari shows similar behavior.

[2020-04-11 18:32] Rahulm2310 opened #672 "Hover effect on menu links on smaller screens leads to whole page movement"
**Actual Behaviour**
Due to increasing padding of menu links on hover, the complete page moves up and down.

 **Expected Behaviour**
The padding on links should be fixed so that on hover, no movement occurs. Just the dashed border-bottom on the link.

 **Steps to reproduce it**
1. Go to a small screen device or minimize the browser window to small size.
2. Hover on the menu links.

 **Screenshots

[2020-04-12 11:17] Rahulm2310 opened #674 "Links on p5.sound library page are extending to 100% width"
**Actual Behaviour**
 The group-name links on the p5.sound library page are extending to whole width.

 **Expected Behaviour**
It should extend only to content width i.e  it should be clickable only from the link text
Also, they don't seem to have the dashed underline hover effect. Should I add that too ?

 **Steps to reproduce it**
1. Go to [https://p5js.org/reference/#/libraries/p5.sound](https:

[2020-04-12 14:28] nedjulius commented on #670
@limzykenneth it seems that the live website's main CSS file is like 7 months behind (the latest commit on GitHub that I can identify on live CSS file is from 7 months ago). You can check it out here - https://p5js.org/src/assets/css/main.css (comparing to [this](https://github.com/processing/p5.js-website/blob/master/src/assets/css/main.css)). I also cannot see the rules through chrome dev tools,

[2020-04-12 14:50] pcgamer1 commented on #659
@limzykenneth I'm sorry but I'm unable to find the HTML linked with these reference elements. Is all of this being done with a js file. Please let me know!

[2020-04-12 16:39] limzykenneth commented on #659
You'll probably need to edit the reference [here](https://github.com/processing/p5.js/blob/master/src/core/reference.js), possibly adding a submodule with the same name as the module, then have a preview after building it out there.

[2020-04-12 18:32] Rahulm2310 opened #676 "Overflow of link on Library as well as Learn page"
**Actual Behaviour**
There is a overflow of link from labels on the Library as well as Learn page.

 **Expected Behaviour**
The link should not overflow the labels on both the pages.

 **Steps to reproduce it**
1. Go to Library or Learn page.
2. hover near the boundary of the label.

 **Screenshots of the issue**

![librarylinkssolve](https://user-images.githubusercontent.com/54268438/79076721-02e

[2020-04-12 19:04] pcgamer1 commented on #659
@limzykenneth Thanks! I will look into the file.

[2020-04-12 21:29] limzykenneth commented on #670
@nedjulius https://p5js.org/src/assets/css/main.css is not the file that is supposed to be loaded onto the page, https://p5js.org/assets/css/all.css is.

I've figured out what's going on. The site is actually not requesting https://p5js.org/assets/css/all.css but rather  https://p5js.org/assets/css/all.css?v=1.0.0 which is an older version probably cached somewhere upstream and thus served as the

[2020-04-13 00:52] #669 closed

[2020-04-13 00:52] #676 closed

[2020-04-13 00:55] #672 closed

[2020-04-13 00:56] lmccart commented on #593
I agree with @limzykenneth here. I'm going to close this so we can focus on changes that priority accessibility.

[2020-04-13 00:56] #593 closed

[2020-04-13 03:40] pcgamer1 opened #680 "Underlining menu elements while tabbing."
**Actual Behaviour**
The menu elements are not underlined or show any visual change while focused on by tabbing. They are outlined with a thin border.

 **Expected Behaviour**
Show required visual changes. A thicker outline or underline will look better. According to W3C, a change in the size of the elements is preferred. I will be changing the padding of the elements along with inversion of color

[2020-04-13 06:39] Rahulm2310 opened #682 "'Start creating with the p5 Editor' button hover behaviour"
**Actual Behaviour**

On the Home page, the 'Start creating with the p5 Editor!' button has hover effect assigned to link and not to the button itself.

 **Expected Behaviour**

The hover effect should be present on the button and not on the link.

 **Steps to reproduce it**
1. Go to Home page.
2. Hover over 'Start creating with the p5 Editor!' button.

 **Screenshots of the issue**

![p5buttonhov

[2020-04-13 09:52] pcgamer1 opened #685 "Changes to the search bar"
**Actual Behaviour**
Search bar is not recognizable for some students when they are new to the website according to
Mr. Raymond G McCord who has responded to my poll in the p5 forum on discourse. He said slight design changes would be helpful for the students.

 **Expected Behaviour**
A more eye-catching search bar.

The modified bar looks like this :
![search](https://user-images.githubuserconten

[2020-04-13 10:12] nedjulius commented on #670
@limzykenneth so maybe it's just possible to change the version for now? As I understand, once changed, the browser will load the new CSS file and everything should be fine.

[2020-04-13 10:14] limzykenneth commented on #670
For a quick fix, changing that version number should be enough. For a longer term fix, that version string needs to be updated whenever the file changes.

[2020-04-13 10:57] nedjulius commented on #670
@limzykenneth maybe the long-term solution could be something like Grunt cache-busting task? Something [like this](https://www.npmjs.com/package/grunt-asset-cachebuster) maybe.

[2020-04-13 10:59] limzykenneth commented on #670
Yes, probably something like that but probably can include such functionality in our build step without using an additional plugin.

[2020-04-13 11:09] nedjulius commented on #670
@limzykenneth understandable. Although I have never written a Grunt task before, I want to try to fix this. Would it be possible to get assigned to this? I might take some time in making it work correctly, but this fix seems to be very interesting to me.

[2020-04-13 11:14] limzykenneth commented on #670
@nedjulius Sure thing, I'll assign this to you. My advice would be to look at either adding it as a grunt task or as a handlebars helper. The version string can be a cropped hash of the file which will both guarantee uniqueness and remove the need to keep track of version number increments.

If you want, you can create a PR for the quick fix then take your time with the long term fix whenever you

[2020-04-13 11:17] nedjulius commented on #670
@limzykenneth thank you!

[2020-04-13 13:38] elit-altum opened #689 "No input limit on the search bar"
**Actual Behaviour**

 - Currently there is no limit on the width of the input being provided in the input box.

 **Expected Behaviour**
- The search bar should have a limit of approx 200 characters(suggested) to avoid and immediately filter any malicious input

 **Steps to reproduce it**
- Go to the website
- The search bar will allow you to input as many characters as you want with no restrictio

[2020-04-13 13:38] elit-altum commented on #689
@limzykenneth @lmccart Please recommend the new input limit.
Thank You!

[2020-04-14 06:48] Rahulm2310 opened #691 "Font size of ordered list on p5-screen-reader page"
**Actual Behaviour**

Ordered list on the p5-screen-reader page has a smaller font size than the other lists.

 **Expected Behaviour**

Ordered list should have similar font size as of other lists.

 **Steps to reproduce it**
1. Go to [https://p5js.org/learn/p5-screen-reader.html](https://p5js.org/learn/p5-screen-reader.html)

 **Screenshots of the issue**

![li elements size](https://user-images.

[2020-04-14 07:23] pcgamer1 opened #693 "Improving visibility of outlines for download boxes and similar elements."
**Actual Behaviour**
The download boxes on the download page show a thin outline when focused on by a keyboard.
The keyboard users might find it difficult to navigate. I personally was not able to identify which box was being focused at first. I will provide the snip below. @limzykenneth Please have a look at this.

 **Expected Behaviour**
Improved visibility of the outline/border on focus.

 **St

[2020-04-14 07:28] riteshsp2000 opened #694 "Non-responsive behaviour of all examples."
**Actual Behaviour**
None of the examples are optimized for the mobile view. Neither they provide any horizontal scroll to view the entire project.

 **Expected Behaviour**
The example should scale down to the mobile size accordingly or a horizontal scroll should be added to the project display area to view the entire project.

 **Steps to reproduce it**
Access any of the examples on the example p

[2020-04-14 07:52] riteshsp2000 opened #695 "CDN redirecting to the compressed code."
**Actual Behaviour**
Not exactly an issue but a suggestion. The CDN link on the download page redirects to the CDN code(which no one wishes to see usually) and then from there, the link is to be copied.

 **Expected Behaviour**
Instead, I feel that when the CDN link is clicked we could copy it to the clipboard and then show some kind of popup/indication that the link has been copied.

 **Steps to

[2020-04-14 08:12] riteshsp2000 opened #696 "Website non-responsive towards tablet views."
**Actual Behaviour**
The issue is of 2 parts.
1. The website is not optimized for portrait tablet views. I viewed through an iPad air in a portrait view.
2. Even if the site shows well in landscape view, the asterisk is interfering with the navigation menu. The menu items and asterisk being almost the same color create confusion. The screenshots describe the issue well.

 **Expected Behaviour**
1.

[2020-04-14 11:03] #691 closed

[2020-04-14 11:05] #682 closed

[2020-04-14 11:06] #674 closed

[2020-04-15 13:00] limzykenneth commented on #694
I think for many of the examples, scaling them down would not work well, especially those with interactions. Horizontal scrolls however feels unintuitive and have seem broken as well to some users.

[2020-04-15 13:02] Rahulm2310 opened #697 "Fix sidebar menu"
**Actual Behaviour**
Currently sidebar menu is scrolling with the page as a result of which user has to scroll back to top to navigate to any other page.

 **Expected Behaviour**
The sidebar menu should remain fixed so that user can navigate to any other page from current position without any scrolling.

**I propose something like this :**
![fixmenubar](https://user-images.githubusercontent.com/54

[2020-04-15 13:03] limzykenneth commented on #696
@riteshsp2000 You can go ahead with both fixes. I'll assign this to you.

[2020-04-15 13:07] limzykenneth commented on #697
The sidebar used to be fixed, I don't remember when and why it was removed. You can start by looking into this before starting to work on anything.

[2020-04-15 13:17] limzykenneth commented on #689
@elit-altum I don't see why there's a need to limit the length here. Any malicious input also does not have any security impact because the query is not passed to the origin server and it also cannot serve as a vector for reflected XSS.

[2020-04-15 15:05] micuat opened #698 "createVideo reference is not pointed to MediaElement"
**Actual Behaviour**

createVideo return is p5.Element

 **Expected Behaviour**

createVideo return should be p5.MediaElement

 **Screenshots of the issue**

https://p5js.org/reference/#/p5.Element

 **Would you like to work on the issue?**

sorry I don't have time to set up and compile static website :(

reference: https://github.com/processing/p5.js/issues/4473

[2020-04-15 16:58] jeremydouglass opened #699 "Add p5.js books to book page"
The Books page only lists Getting Started and its French translation.

The Books page _could_ list other books about p5.js

-  the new edition of Generative Design by Groß & Bohnacker
-  (also in German)
-  Learn JavaScript with p5.js by Arslan
-  Creative Coding and Data Visualization with p5.js by Murray
-  et cetera.

https://www.amazon.com/s?k=p5.js&rh=n%3A283155&dc&qid=1586919031&rnid=2941120

[2020-04-15 20:43] riteshsp2000 commented on #694
Yes, that seems right. The horizontal scroll would feel unintuitive. I'll try and look for some way to make them responsive.

[2020-04-16 08:48] Rahulm2310 opened #702 "Multiple fonts for similar class of links on p5.sound library examples"
**Actual Behaviour**

The p5.sound library examples page have multiple font sizes for similar class of links. For ex: links under the 'Fields' section have different font sizes.

 **Expected Behaviour**

Similar class of links must have a same font size.

 **Steps to reproduce it**
1. Go to [https://p5js.org/reference/#/p5.Delay](https://p5js.org/reference/#/p5.Delay)
2. Move to Fields section
3.

[2020-04-16 09:32] Rahulm2310 opened #703 "param-names and param-types overlapping"
**Actual Behaviour**
param-names and param-types under Parameters section are overlapping.

 **Expected Behaviour**
There should be well spacing between param-names and param-types.

 **Steps to reproduce it**
1. Go to [https://p5js.org/reference/#/p5.SoundFile](https://p5js.org/reference/#/p5.SoundFile)
2. Move to Parameters section

 **Screenshots of the issue**

![Screenshot_2020-04-16-14-25-05

[2020-04-16 09:51] Rahulm2310 commented on #697
Sir, I tried but couldn't find anything

[2020-04-16 12:48] pcgamer1 opened #704 "Visible 'skip to main content' links for keyboard users."
**Actual Behaviour**
The links are present only for screen readers.

 **Expected Behaviour**
Sighted keyboard users have to tab through the whole menu list before reaching the main content. A visible 'skip to main content' link can prove to be very useful for these type of users. This link can be made visible only when an user starts tabbing. Github also has a similar feature. These type of visibl

[2020-04-16 16:31] limzykenneth commented on #702
`leftDelay` should probably be smaller in this case. I'll assign the issue to you. Thanks.

[2020-04-16 16:35] limzykenneth commented on #703
Can be it a case of defineing a `min-width` on the left column instead of a hard coded width so it can expand if required?

[2020-04-16 17:42] SamuelAl opened #705 "Missing Spanish translations for Simulate Examples"
**Actual Behaviour**

Missing translations for a variety of examples in Simulate category, including:
Penrose Tiles,
Recursive Tree,
Particles,
Snowflakes

 **Expected Behaviour**

Spanish translations

 **Would you like to work on the issue?**

Yes, and will shortly submit a pull request with the translation

[2020-04-16 17:53] Rahulm2310 commented on #702
@limzykenneth Thanks! I will create a PR asap.

[2020-04-16 18:03] Rahulm2310 commented on #703
Using min-width, we will lose the alignment.
Ex:
![paramsminwidth](https://user-images.githubusercontent.com/54268438/79490516-9d13cb00-803a-11ea-86bf-1af3981ccacb.JPG)

[2020-04-16 18:24] ayushjainrksh opened #707 "Translation links on get started page are not visible"
**Actual Behaviour**
The links for translation to Spanish and Chinese are not visible on get started page because of the p5 logo.

![p5issue29](https://user-images.githubusercontent.com/33171576/79492126-2cba7900-803d-11ea-8f58-eab3b143b2fa.png)

 **Steps to reproduce it**
Visit https://p5js.org/get-started/

 **Would you like to work on the issue?**
Yes, please.

[2020-04-16 18:27] ayushjainrksh commented on #699
@jeremydouglass Is someone working on this issue?

[2020-04-16 19:03] #705 closed

[2020-04-17 01:07] jeremydouglass commented on #699
@ayushjainrksh -- no, not that I know of!

[2020-04-17 11:29] Rahulm2310 opened #709 "Code is overlapping buttons on examples page"
**Actual Behaviour**
Code is overlapping **edit**, **reset**, **copy** buttons on Examples page.
Also in the edit mode, code is overlapping the **run**, **reset** and **copy** buttons.

 **Expected Behaviour**
Code should not overlap buttons in both cases.

 **Steps to reproduce it**
1. Go to [https://p5js.org/reference/#/p5/ambientMaterial](https://p5js.org/reference/#/p5/ambientMaterial)
2. Move

[2020-04-17 11:37] Rahulm2310 opened #710 "Overflow of example code"
**Actual Behaviour**
When I try to edit an example's code on reference examples page, if I write proper code then it renders correctly, but if I add garbage text, the code overflows and overlaps the 'Description' below.

 **Expected Behaviour**
Even if the garbage text, then also it should render correctly and not overlap the description.

 **Steps to reproduce it**
1. Go to [https://p5js.org/refe

[2020-04-17 18:23] ayushjainrksh commented on #699
Can I be assigned to this issue? Should I add all the books listed on Amazon link?

[2020-04-17 19:13] jeremydouglass commented on #699
@ayushjainrksh -- so glad you are interested!

I am not a core developer of this site and won't be approving your PR, so I'll defer to @lmccart  and @limzykenneth. I opened the issue, so of course *I* think it is a good idea, and would love if you did it!

Regarding all the books listed, I'm personally not sure about some of the self-published pamphlets. Because I haven't read those, I'd start by

[2020-04-18 11:55] Rahulm2310 opened #711 "p5.sound group name links not rendering correctly"
This is in reference to my PR #681 merged some days ago. I made changes to the group name links hover behavior on p5.sound library page. It seems that my changes are not being rendered correctly.

**Changes I made**
![p5soundlinkserrorsolve](https://user-images.githubusercontent.com/54268438/79098063-c6083780-7d7e-11ea-8765-824336268df6.gif)

 **Current behavior**

![p5linksnewerror](https://user-

[2020-04-18 14:05] nedjulius commented on #703
You could also remake this with flex alignment. The column on the left will then stretch out to be as large as the widest element, and it could be done with proportions.

[2020-04-18 14:18] limzykenneth commented on #703
@Rahulm2310 Yeah I didn't think of that. I think @nedjulius' suggestion of using flex could possibly work. I want to avoid using tables if at all possible as it isn't really semantic. If you can try flex out for this it would be great! Thanks.

[2020-04-18 14:26] limzykenneth commented on #707
Would it be sufficient to just move the asterisk down a bit so it doesn't overlap?

[2020-04-18 14:27] limzykenneth commented on #709
@Rahulm2310 You can go ahead with a fix, possibly just break the comments into shorter lines. Thanks.

[2020-04-18 14:29] limzykenneth commented on #710
@Rahulm2310 That's interesting, do have a look and see if you can fix this. If you need help let me know. Thanks.

[2020-04-18 14:31] Rahulm2310 commented on #709
@limzykenneth I thought of adding the code or the editor below the buttons

[2020-04-18 14:33] limzykenneth commented on #709
I think moving it down would be a bit distracting in terms of alignment as the canavs and the code block would be out of alignment while the buttons on the far side would be in alignment.

[2020-04-18 14:33] Rahulm2310 commented on #709
@limzykenneth comments are part of code. We can't make comments shorter without making the complete code block shorter.

[2020-04-18 14:35] limzykenneth commented on #709
What I mean by making comment line short is that instead of
[code]
We make it something like:
[code]

[2020-04-18 14:37] Rahulm2310 commented on #709
Ohh OK, I will try to implement it. Thanks

[2020-04-18 14:39] Rahulm2310 commented on #709
But this way if the code is long, it may break it too

[2020-04-18 14:40] Rahulm2310 commented on #710
Sure, I will look into it

[2020-04-18 14:41] limzykenneth commented on #709
The code is not on the first line and doesn't overlap the buttons, in edit mode the user can scroll so the overlap is less of an issue there I think.

[2020-04-18 14:42] Rahulm2310 commented on #703
Hmm, that seems to be a nice idea. Thanks! @nedjulius @limzykenneth

[2020-04-18 14:44] limzykenneth commented on #699
Whether to add these books or not is more of an editorial question that I'm not at liberty to decide on, since it would be reasonable to assume that inclusion of them on the website is a form of endorsement from the project and the PF. I think the decision here should be made by @lmccart.

[2020-04-18 14:49] limzykenneth commented on #697
@lmccart I see that this feature was removed in https://github.com/processing/p5.js-website/commit/5e219d58a697b1c4dbd543dc6e61565856911b19. Is it related to the accessibility changes around the same time?

[2020-04-18 14:53] pcgamer1 commented on #685
@limzykenneth Any suggestions on the PR #700 would be helpful.

[2020-04-18 14:54] pcgamer1 commented on #693
@limzykenneth  Any views or suggestions would be helpful.

[2020-04-18 14:56] pcgamer1 commented on #704
@limzykenneth @lmccart Any views or suggestions would be helpful.

[2020-04-18 15:30] limzykenneth commented on #711
The reference template was not built and commited to the repo when filing the PR so changes to the reference page's html was not recorded, which is also why there was stray changes to `reference.js` and `reference.js.map` cropping up in PRs lately. I'll push a quick fix.

[2020-04-18 15:40] limzykenneth commented on #711
I don't think it is showing up because of upstream cache.

@nedjulius You might want to add `reference.js` to the list of files to watch for when working on the cache busting stuff.

@lmccart Can you have a look at the upstream cache and see if it can clear the caches a bit more regularly?

[2020-04-18 15:46] jeremydouglass commented on #699
Good point about PF endorsement. Several of these authors have other Processing books -- and sometimes Processing (Java mode) editions of the same book -- listed on https://processing.org/books/

[2020-04-18 16:50] nedjulius commented on #711
@limzykenneth like include this file into hashing?

[2020-04-18 16:52] limzykenneth commented on #711
@nedjulius Yeah, it probably should be watched and versioned in the same way as the main js and css files

[2020-04-18 18:42] Rahulm2310 commented on #709
@limzykenneth Could you please explain, how are we going to make comments lines shorter. What if user enters a very long comment ? How should we handle it ?

[2020-04-18 19:50] ayushjainrksh commented on #707
Definitely, I will start looking into it. Please assign me.

[2020-04-18 19:54] limzykenneth commented on #709
User inputed comments is not something I'm particularly concerned about because it is not something that we can control. A user can do a lot more than just inputing a long line of comments and it isn't reasonable for us to take all of the possibilities into account.

In this particular case for `ambientMaterial` it is the case that the code comments that are in the documentation is causing problem

[2020-04-18 21:43] lmccart commented on #699
I think these additions make sense! I would suggest that we use the criteria that the book should clearly utilize p5.js in some way (ie they should not be just general web programming books, but generative design would fit).

[2020-04-18 21:46] lmccart commented on #697
Yes, this was an accessibility change. It was removed to reduce the amount of motion on the page. I believe there were bugs with the script that caused things to scroll unnecessarily. We opted to remove it rather than continue to deal with issues that arose from the problematic script.

[2020-04-18 21:53] ayushjainrksh commented on #707
@limzykenneth While working on the issue I found out that 2 pages use same positioning for the asterisk, get-started page and community page.

I was able to move the asterisk a bit and it looked something like :

![p5issue21](https://user-images.githubusercontent.com/33171576/79671994-bb6cf880-81eb-11ea-9353-c88884f23787.png)

I also tried to style it differently and I think this one looks better

[2020-04-18 22:07] ayushjainrksh commented on #699
@lmccart Thanks for the suggestion. I will try to create a list of books that utilize p5.js is some way from the above links and ask for your reviews. Do you have any books in mind that should be added in particular?

[2020-04-18 22:10] lmccart commented on #699
the list that @jeremydouglass suggested looks great. I believe they have already volunteered to create a PR for this, but maybe you can two can decide between yourselves who would like to work on this?

[2020-04-18 22:15] ayushjainrksh opened #713 "Adding a fallback image"
**Actual Behaviour**
While working on another issue, I came across a todo comment about adding a fallback image in CSS.

![p5issue23](https://user-images.githubusercontent.com/33171576/79672473-ea856900-81ef-11ea-88b9-b799859da4da.png)

 **Would you like to work on the issue?**
Yes, please

[2020-04-18 22:16] jeremydouglass commented on #699
Thank you, @lmccart.

@ayushjainrksh -- if you would still like to work on this, just say so, and I am happy to review your PR.

[2020-04-18 22:30] ayushjainrksh commented on #699
@lmccart @jeremydouglass Thank you. I would like to work on this and will submit a PR soon.

[2020-04-19 06:00] Rahulm2310 commented on #709
Okay, so i need to shorten the length of first line of comments in all those examples in which it is overlapping the buttons

[2020-04-19 08:30] Rahulm2310 commented on #710
@limzykenneth Please suggest from where should I start looking for it.

[2020-04-19 10:13] Rahulm2310 commented on #710
I have noticed another strange behavior.
Suppose, I edit and add garbage text. When run, it overlaps the description. Now if i press reset button on any other example (on the same page) the garbage text no more overlaps the description and renders perfectly.

Here is a GIF showing this behavior:
![examplepageerror](https://user-images.githubusercontent.com/54268438/79685194-56012200-8254-11ea-8cb3

[2020-04-19 11:19] Rahulm2310 commented on #703
@nedjulius I tried using flex, but still the alignment is lost.

[2020-04-19 11:29] Rahulm2310 commented on #697
@lmccart ma'am do you want it back? I think navigation needs to be improved on the website. Scrolling back to top just to navigate to another page doesn't seem to be user friendly.
But, at last the call is yours.

[2020-04-19 12:42] nedjulius commented on #703
@Rahulm2310 it depends on how you use it. I imagine that you might have to get rid of the list to make sure everything aligns according to the max-width value (as you want two items per row), but also it's possible to achieve this by adding flex display to the single list item. Could you show your implementation?

[2020-04-19 13:37] Rahulm2310 commented on #703
I think instead of getting rid of the list, `display:flex; justify-content:space-between` assigned to each list item will work for now. Thanks! @nedjulius

[2020-04-19 15:00] elit-altum opened #714 "Sidebar taking too much space on tablet screen"
**Actual Behaviour**
Currently, the sidebar leaves a lot of whitespace on tablet screens which can just be collapsed instead

 **Expected Behaviour**

 The sidebar should be collapsed or fixed to the side instead

 **Steps to reproduce it**

- Use the website on tablet screen and notice the issue

 **Screenshots of the issue**
![Issue](https://user-images.githubusercontent.com/41413622/79691330-87

[2020-04-19 16:49] nedjulius commented on #711
@limzykenneth would you have any advice on how to set the path to these files? The problem that I encounter is that every page is assembled in a different directory and paths to style files differ (currently, the hashing function works as a handlebar helper and it is invoked with certain page's assembly).

[2020-04-20 07:11] Rahulm2310 commented on #714
@elit-altum I think this issue is already reported here -> #696

[2020-04-20 08:18] Rahulm2310 commented on #709
@limzykenneth I can't locate the file. Could you suggest me where to start looking

[2020-04-20 12:13] limzykenneth commented on #713
I'm not sure in what circumstances would the fallback image be required?

[2020-04-20 12:15] limzykenneth commented on #710
It probably have something to do with how the height of the boxes are calculated when rendered. You can start by looking at the reference template files [here](https://github.com/processing/p5.js-website/tree/master/src/yuidoc-p5-theme-src/scripts).

[2020-04-20 12:20] limzykenneth commented on #709
You'll need to edit the inline reference directly [here](https://github.com/processing/p5.js/blob/master/src/webgl/material.js#L602)

[2020-04-20 12:22] limzykenneth commented on #714
Duplicate of #696.

[2020-04-20 12:22] #714 closed

[2020-04-20 12:31] limzykenneth commented on #670
Moving discussion from #711 over here, we'll close this issue when final solution is implemented.

The way I imagine the handlebars helpers to work is something like this:
[code]

The helper will need to do two jobs, one is to determine the appropriate path to the asset file and another is of course to hash the file. It's a bit hard for me to give precise directions without me directly implementin

[2020-04-20 12:35] nedjulius commented on #670
@limzykenneth okay, thank you. I am currently working on this, and I will make a PR in an upcoming couple of days.

[2020-04-20 13:06] ayushjainrksh commented on #713
I would guess, it can be useful in circumstances where original image doesn't load for some reason. Then we can use a fallback image from the CSS. What do you suggest @lmccart ?

[2020-04-20 13:58] ayushjainrksh commented on #699
@jeremydouglass @lmccart I have added first book out of the list for your suggestions. Please review this PR and provide your feedback. I will be adding more books with further commits :)

[2020-04-20 14:30] lmccart commented on #713
I think this comment is incorrect. It assumes that some browsers can't display svg images, but it looks like [svg is well supported across browsers](https://caniuse.com/#feat=svg). I think a "todo" here could be removing the todo comment. :)

[2020-04-20 15:15] ayushjainrksh commented on #713
Sure, I will go on and delete the extra comment. Thanks!

[2020-04-20 19:03] Rahulm2310 commented on #709
@limzykenneth how should I handle these?

![overlappingissue](https://user-images.githubusercontent.com/54268438/79789350-a7e69c80-8367-11ea-93f9-366b4ecf0acc.gif)

[2020-04-21 11:00] Rahulm2310 opened #720 "p5.SoundFile example has more width than other examples"
**Actual Behaviour**
Width of p5.SoundFile example has more width than all other examples

 **Expected Behaviour**
Its width should also be same as all other examples

 **Screenshots of the issue**
**p5.SoundFile:**

![p5soundfilewidtherror](https://user-images.githubusercontent.com/54268438/79858651-5f71c200-83ed-11ea-95a7-227eca22b352.gif)

**Other examples:**

![p5 soundwidtherror1](https://use

[2020-04-21 18:01] pcgamer1 commented on #685
@limzykenneth @lmccart This is the search bar that I ended up with after considering several suggestions. Any further suggestions?
The magnifying glass is monochrome, the border is a darker shade of gray and the placeholder text is light gray.
![newsearch](https://user-images.githubusercontent.com/30899040/79897912-ffe4d800-8427-11ea-9d7b-62e08159c530.PNG)

[2020-04-21 18:53] Rahulm2310 opened #722 "p5.SoundFile page links gives 404 error"
**Actual Behaviour**
`getBlob` and `http` link on the p5.SoundFile page gives 404 error

 **Expected Behaviour**
Links should go to the desired page

 **Steps to reproduce it**
1. Go to p5.SoundFile reference page.
2. Move to last second last row in `Methods` table.
3. Click the `getBlob` link in the method description.
It gives 404 error.

 **Screenshots of the issue**

![linksnotworking](https:/

[2020-04-21 21:19] #713 closed

[2020-04-23 19:51] limzykenneth commented on #697
I think we can leave the menu as is for now, it isn't causing a big problem as it and if any one page becomes too long, a scroll to top button can mitigate this problem. Also in the unlikely event that the menu itself became too long as thus going off screen not having it auto scroll along with tha page makes it possible to navigate it.

[2020-04-23 19:51] #697 closed

[2020-04-23 19:54] #707 closed

[2020-04-23 20:28] #703 closed

[2020-04-23 20:56] #710 closed

[2020-04-24 10:25] limzykenneth commented on #722
You can go ahead with a fix. Thanks.

[2020-04-24 11:01] Rahulm2310 commented on #722
@limzykenneth  But what should be the correct url

[2020-04-24 11:11] limzykenneth commented on #722
The links both have an extra "docs/" in them. Just remove those and they should work.

[2020-04-24 13:40] Rahulm2310 commented on #722
Thanks! I will fix this asap

[2020-04-24 13:45] Rahulm2310 commented on #697
@limzykenneth  Should I add a scroll to top button ?

[2020-04-24 16:11] SamuelAl opened #725 "Math examples missing Spanish translation"
**Actual Behaviour**
Spanish translation missing for some examples in the math section, inc
- parametricEquations
- Map
- RandomChords
- Noise3D
- Noise2D
- Interpolate

 **Expected Behaviour**

Spanish translations present

 **Would you like to work on the issue?**

Yes, and will shortly submit a pull request with the proposed translations.

[2020-04-24 16:45] #725 closed

[2020-04-25 09:41] limzykenneth commented on #697
Not for now I think.

[2020-04-25 09:45] limzykenneth commented on #722
Reference for p5.SoundFile is over [here](https://github.com/processing/p5.js-sound/blob/master/src/soundfile.js).

[2020-04-25 09:50] Rahulm2310 commented on #722
Thanks!

[2020-04-25 17:59] #699 closed

[2020-04-25 19:02] #702 closed

[2020-04-25 19:07] #695 closed

[2020-04-25 19:08] #689 closed

[2020-04-25 19:09] lmccart commented on #636
since this is p5.touchgui specific, I would suggest getting in touch with the author of that library and proposing to add it as an example to their documentation.

[2020-04-25 19:14] lmccart commented on #680
can you link to this W3C guideline? my understanding is that the best practice is to not modify the default css treatment. in our case, this would mean removing the outlines that are drawn on focus

[2020-04-25 19:22] pcgamer1 commented on #680
@lmccart I want to improve accessibility for the sighted keyboard users. To do this, we will need a visual indicator so that the user clearly identifies the element that is currently being focused. The following link provides the information you need : https://webaim.org/techniques/keyboard/
To do that we can have clear visible outlines.

[2020-04-25 19:52] lmccart commented on #680
I would suggest we use the  basic focus indicator provided by default by the browser. this would mean removing the styling that currently happens on focus that overrides this.

[2020-04-25 19:59] ayushjainrksh commented on #656
I have updated 3 more pages in the hi.yml file in this PR.

[2020-04-26 07:40] pcgamer1 commented on #680
@lmccart Yes, the default one would work fine for Chrome. I wanted to talk about a method that I have read about i.e. focus-visible. This property allows us to set a custom focus behavior only for the keyboard users. Thus, when an user uses the mouse to focus on the element he will see a normal outline that is set using focus, but the keyboard user would see a more visible outline. This is often u

[2020-04-26 08:43] pcgamer1 commented on #653
@lmccart @limzykenneth Any views?

[2020-04-26 11:47] limzykenneth commented on #653
Where does tab focus go to when reaching the end of the page? Pressing tab should also eventually lead back to browser specific functions such as the address bar, changing that behaviour will make it much more difficult to navigate the browser itself.

[2020-04-26 12:19] pcgamer1 commented on #653
@limzykenneth  Yes, it should lead back to the browser address bar and then let the user navigate through the page again. But that doesn't happen in my browser i.e. Chrome. When the focus reaches the last element it just disappears.

[2020-04-26 12:28] pcgamer1 commented on #680
@lmccart , I got a bit confused between the 2 similar issues, this one is regarding the menu elements, the default outline works fine. I have another issue open which talks about the same problem regarding download boxes - #693, I have also noticed several elements throughout the website that don't provide a proper visible outline. The above message was regarding this issue.
We can user focus-visi

[2020-04-26 12:36] pcgamer1 commented on #680
@lmccart , the default outline provided by Firefox and Internet Explorer is a thin dashed line, it similar to what the website is currently using, to prevent this we can use a custom keyboard focus using the focus:visible method which will be specific to the keyboard users.
Reference : https://www.washington.edu/accessibility/checklist/focus/

[2020-04-26 12:38] limzykenneth commented on #653
I don't know enough about tab behaviour but unless we can determine where the tab focus is I don't feel comfortable with this change.

[2020-04-26 12:43] Rahulm2310 commented on #722
I have created a PR [455](https://github.com/processing/p5.js-sound/pull/455 ) under the p5.js-sound repository which fixes this issue.

[2020-04-26 12:45] pcgamer1 commented on #653
@limzykenneth, currently the focus is not brought to the top of the page when the user is done tabbing once, we can just use window.scrollTo(0,0); to bring to the top when the focus reaches the last element.

[2020-04-26 18:05] Drafffffff opened #729 "What's the correct data structure of the translation of class?"
I'm trying to translate the p5.Vector into Chinese. But it seem that there isn't any translated class before.
There are a lot of Fields and Methods below, where should I put these items？

By the way, I can not compile the website correctly. When I use `npm i`, it threw so many error . I don't know what just happened.

![](http://pic.drafff.art//drafff/20200427020430.png)

But I think it's not matt

[2020-04-26 18:26] Drafffffff commented on #646
@MuyingLi  @sm7515  我也准备贡献一些中文翻译，我们可以认识一下吗？ I'm also doing some Chinese translation, can we have a chat?

[2020-04-26 19:08] MuyingLi commented on #646
好的。什么沟通方式您方便呢？

Li

On Sun, Apr 26, 2020 at 2:27 PM Drafffffff <notifications@github.com> wrote:

[2020-04-26 19:15] Drafffffff commented on #646
用您也太见外了😂，微信方便吗。   我邮箱  i0.0ia@qq.com

[2020-04-26 19:22] pcgamer1 commented on #653
@limzykenneth , we can determine the position of the tab focus by using 'document.activeElement' .
I just tracked the elements and discovered that the focus ends up on the asterisk design element and does not get to the top of the page after that. I can add a few lines of js to check whether the focus has reached that element and then use 'window.scrollTo(0,0)' to reset the focus to the top of the

[2020-04-26 19:24] sm7515 commented on #646
那我们可以加个微信，然后建个群？我没搜到你的邮箱... 我的微信号是Cissy_MC

[2020-04-26 21:24] limzykenneth commented on #729
The translation entries for the overall `p5.Vector` class has not been added to the translation json file. If you like you can look into adding it. Otherwise there are some untranslated entries in the reference translation json you can still work on.

Ideally you should be building the website completely, both to preview the changes and to make sure any automated changes are created by the build a

[2020-04-26 21:31] limzykenneth commented on #653
There's no need for JS, just add `tabindex=-1` to the `<object>` tag of the asterisk element and it will behave as intended.

[2020-04-26 23:58] pcgamer1 commented on #653
@limzykenneth Ok! I will work to fix this.

[2020-04-27 06:15] Drafffffff commented on #729
It just say command not found in '\node_modules\.bin\'

❯ npm i
(node:8488) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification.\p5&ml5\translate\p5.js-website\node_

'ml5\translate\p5.js-website\node_modules\.bin\' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
internal/modules/cjs/loader.js:985
  throw

[2020-04-27 06:42] Drafffffff commented on #729
If I want to translate p5.Vector which structure is right?

[code]
[code]

[2020-04-27 09:13] limzykenneth commented on #729
@Drafffffff When running `npm i` is the terminal in `p5.js-website` folder? Can you also try removing the existing `node_modules` folder then running the install again?

I guess the second one but without some modification to the reference translation [JS code](https://github.com/processing/p5.js-website/blob/87e9ef53e089a08e874a05e5dd430b666365dd10/src/templates/pages/reference/index.hbs#L57) it

[2020-04-27 09:23] Drafffffff commented on #729
I can't build the website so I don't know if it's working.😅

[2020-04-27 15:57] ayushjainrksh opened #730 "Displaying same text twice in libraries"
**Actual behavior**
"Created by" is used twice in many of the library description.

 **Screenshots of the issue**
![p5issue25](https://user-images.githubusercontent.com/33171576/80393075-9e13ea80-88cd-11ea-8dbb-4fc9f417a8af.png)

 **Would you like to work on the issue?**
Yes, please assign me to this.

[2020-04-27 18:06] Rahulm2310 commented on #730
I couldn't find it any other description except for `p5.bots`

[2020-04-27 18:23] ayushjainrksh commented on #730
@Rahulm2310 Yeah, actually it is duplicated in many of the Hindi translation libraries.

[2020-04-27 18:57] ayushjainrksh opened #731 "Description of Rotating Knobs library is absent"
**Actual Behaviour**

Description of Rotating Knobs library is absent although it is present in `en.yml` file

 **Screenshots of the issue**
![p5issue26](https://user-images.githubusercontent.com/33171576/80409689-ed1a4980-88e6-11ea-86b7-b6126ff18b63.png)

 **Would you like to work on the issue?**
Yes, please assign me.

[2020-04-27 21:44] #670 closed

[2020-04-28 06:19] Rahulm2310 opened #732 "Link overflowing labels in learn page on mobile"
**Actual Behaviour**
Links on learn page are overflowing the label on mobile.

 **Expected Behaviour**
Links should not overflow the label.

 **Steps to reproduce it**
1. Go to Learn page
2. Move to 'Becoming a better programmer' section
3. `Optimizing p5.js code for perfomance` and `Unit testing and test driver development` are overflowing.

 **Screenshots of the issue**

![linkoverflowlearnpage]

[2020-04-28 07:29] Rahulm2310 opened #734 "No List style in tdd.html"
**Actual Behaviour**
List on `Unit Testing and Test Driven Development` page have style type none .

 **Expected Behaviour**
List should have bullets or numbering.

 **Steps to reproduce it**
1. Go to https://p5js.org/learn/tdd.html
2. See list on the page

 **Screenshots of the issue**
![listerror1](https://user-images.githubusercontent.com/54268438/80459402-f986bc80-894f-11ea-9642-cf1caeda687d.J

[2020-04-28 11:05] Rahulm2310 opened #736 "List item not aligned in Debugging.html"
**Actual Behaviour**

List item `6. Add error reporting` in Debugging page is not aligned correctly .

 **Expected Behaviour**
It should be aligned like other list items.

 **Steps to reproduce it**
1. Go to https://p5js.org/learn/debugging.html
2. Move to `6. Add error reporting`.

 **Screenshots of the issue**

![debugginglisterror](https://user-images.githubusercontent.com/54268438/80480318-0b7

[2020-04-28 11:06] limzykenneth commented on #730
It is only duplicated for p5.bots. You can go ahead and fix it.

[2020-04-28 11:08] limzykenneth commented on #731
The entry key in [`en.yml`](https://github.com/processing/p5.js-website/blob/master/src/data/en.yml#L429) does not match the name entry in [`libraries.json`](https://github.com/processing/p5.js-website/blob/master/src/data/libraries/libraries.json#L276), you should change the entry key in `en.yml`.

[2020-04-28 11:26] limzykenneth commented on #734
You can go ahead with a fix. Thanks.

[2020-04-28 11:28] Rahulm2310 commented on #734
Okay. I will create a PR asap

[2020-04-28 15:29] #736 closed

[2020-04-28 15:30] #732 closed

[2020-04-28 16:02] Rahulm2310 commented on #711
@limzykenneth @nedjulius  is this fixed with #721 ?

[2020-04-28 16:21] limzykenneth commented on #711
@Rahulm2310 Yes this is fixed now.

[2020-04-28 16:21] #711 closed

[2020-04-28 22:08] #730 closed

[2020-04-29 00:32] peilingjiang opened #741 "Cover Photos in Libraries page displaying weirdly"
**Screenshots of the issue**

<img width="500" alt="Screen Shot 2020-04-28 at 20 27 06" src="https://user-images.githubusercontent.com/25191575/80550626-ac760b00-898e-11ea-9d7a-049ade59838c.png">

The blizard.js photo is also streched and a few others seem to be streched with the masks unchanged.

 **Would you like to work on the issue?**

I saw there's a recent pull request #740 regarding the pag

[2020-04-29 13:36] #731 closed

[2020-04-29 13:47] limzykenneth opened #743 "Example for light mixture references spot light but uses point light"
https://github.com/processing/p5.js-website/blob/e77fe72ac553e8a6fff72e213872659e52b1aa63/src/data/examples/en/12_Lights/05_Mixture.js#L20-L21

The comment above mentions spot lights but the `pointLight` function is used instead.

[2020-04-29 13:51] #653 closed

[2020-04-29 15:18] Rahulm2310 commented on #743
@limzykenneth Should I fix it ?

[2020-04-29 19:55] ayushjainrksh opened #744 "Unexpected file changes on running the server"
**Actual Behaviour**

[reference.js](https://github.com/processing/p5.js-website/blob/33a081022949af92c45fb4c7842342c4f6288b5d/src/templates/pages/reference/assets/js/reference.js) and [reference.js.map](https://github.com/processing/p5.js-website/blob/33a081022949af92c45fb4c7842342c4f6288b5d/src/templates/pages/reference/assets/js/reference.js.map) changes when I run `npm run watch`. There was no

[2020-04-29 19:56] mattfan00 opened #745 "Porting examples from Image Processing section on processing website"
**Actual Behaviour**

Some of the Image Processing examples from https://processing.org/examples/ do not yet have a p5.js counterpart in the [p5.js examples page](https://p5js.org/examples/).

 **Expected Behaviour**

I think it would be helpful for some of these examples to be ported over the p5.js website since one of the examples, [brightness](https://p5js.org/examples/color-brightness.html), h

[2020-04-30 20:41] SamuelAl opened #750 "Missing spanish translations for examples"
**Actual Behaviour**

Some examples in Motion, Object and Interaction sections missing Spanish translation

 **Expected Behaviour**

Spanish translation available

 **Would you like to work on the issue?**

Yes, and I will shortly submit a pull request with the new translations

[2020-04-30 20:45] montoyamoraga commented on #750
thanks @SamuelAl please refer to this issue when you make the PR so we can close it when we solve it, and please add me as reviewer of the PR :)

[2020-04-30 21:15] montoyamoraga commented on #722
@Rahulm2310 i reviewed your PR and it was correct, it is now merged, thank you!

[2020-04-30 21:15] #722 closed

[2020-04-30 21:23] montoyamoraga commented on #636
i agree with @lmccart, thank you @singhvisha for your idea,
i copied and pasted your issue and added it to the p5.touchgui repository, here is a link:
https://github.com/L05/p5.touchgui/issues/16

[2020-04-30 21:23] #636 closed

[2020-04-30 21:37] montoyamoraga commented on #750
@all-contributors please add @SamuelAl for translation

[2020-04-30 21:38] #750 closed

[2020-05-01 00:51] banditelol opened #753 "CDN Link in Get Started Return 404 Response"
**Actual Behaviour**
When using the CDN link given in [Get Started page](https://p5js.org/get-started/) returns a 404 error when used.

 **Expected Behaviour**
P5 is found and properly loaded and can be used.
I think it is caused by the wrong URL given in the CDN section. After I look into [cdnjs page for P5](https://cdnjs.com/libraries/p5.js/) the CDN link should be `https://cdnjs.cloudflare.com/

[2020-05-01 04:44] Rahulm2310 commented on #722
@montoyamoraga @limzykenneth Thanks!

[2020-05-01 06:51] whklhh opened #754 "Example of square() wrong"
**Actual Behaviour**

The second example of [square](https://p5js.org/zh-Hans/reference/#/p5/square) shows wrong. It's fourth argument control the height.

 **Expected Behaviour**
The argument should control the top-left corner.

 **Steps to reproduce it**

Default code and edited code both return wrong shapes.

 **Screenshots of the issue**

![image](https://user-images.githubusercontent.com/2966

[2020-05-01 11:50] Rahulm2310 commented on #754
Yes, that seems an issue. @whklhh I will look into it!

[2020-05-01 14:32] Rahulm2310 opened #755 "First question in Q&A on desktop and mobile"
**Actual Behaviour**
First question in the Q&A on project showcase page is different on desktop and mobile.

**On Desktop**
![Screenshot_2020-05-01-19-48-10](https://user-images.githubusercontent.com/54268438/80812369-7088b300-8be5-11ea-8ac8-3c22ba648b9a.png)

**On Mobile**
![Screenshot_20200501-193546](https://user-images.githubusercontent.com/54268438/80812405-88f8cd80-8be5-11ea-94eb-52f902e3388

[2020-05-01 19:12] Rahulm2310 opened #756 "Shape5 library author link"
**Actual Behaviour**
Author link of Shape5 library on the libraries page does not have a path assigned and currently goes to libraries page.

 **Expected Behaviour**
It should be assigned proper path.

 **Steps to reproduce it**
1. Go to Libraries page
2. Move to Shape5 library label
3. Click on author's link

 **Screenshots of the issue**

![shape5authorlink](https://user-images.githubusercontent

[2020-05-01 19:19] Rahulm2310 opened #757 "p5.dom library link in 'Air Flies' showcase"
**Actual Behaviour**
p5.dom library link on the `Air Flies` showcase page doesn't goes to reference page with no content.

 **Expected Behaviour**
It should go to correct path and show some content.

 **Steps to reproduce it**
1. Go to 'Air Flies' showcase project
2. Move to Q&A section
3. Click on 'p5.dom library' link

 **Screenshots of the issue**

![p5 domlinkissue](https://user-images.githubu

[2020-05-02 04:55] Rahulm2310 commented on #757
@montoyamoraga Sir, what should be the correct path ?

[2020-05-02 05:34] montoyamoraga commented on #757
hi @Rahulm2310 no need for the sir :)
not that long ago, we had p5.js and the addon libraries p5.dom.js and p5.sound.js
p5.dom.js is now included in p5.js, so i would switch that link and text to be
"with the p5.js library" and link it to the reference "https://p5js.org/reference/"
what do you think?

[2020-05-02 06:16] Rahulm2310 commented on #757
@montoyamoraga I totally agree. I will make the required changes 😊

[2020-05-02 07:52] Rahulm2310 commented on #754
@montoyamoraga I think the `if` check for length of arguments is creating this issue.
![Screenshot_2020-05-02-13-16-40](https://user-images.githubusercontent.com/54268438/80858601-d4f45280-8c77-11ea-9385-1f1716344a41.png)

[2020-05-03 11:02] limzykenneth commented on #753
You can go ahead with a fix. Thanks.

[2020-05-03 11:07] limzykenneth commented on #743
You can go ahead with a fix. Thanks.

[2020-05-03 11:09] limzykenneth commented on #744
It probably is some changes to the reference source code that wasn't committed back when the changes occur. It should be brought up to date. You can include it in an existing PR or open a new PR for it.

[2020-05-03 11:52] ayushjainrksh commented on #744
Okay thanks, I'll just leave a PR.

[2020-05-03 12:19] limzykenneth commented on #754
This has already been fixed. It is not in the latest release `1.0.0` but will be included in the next one which should solve this on the website as well.

[2020-05-03 12:24] Rahulm2310 commented on #754
Okay @limzykenneth .Thanks!

[2020-05-03 12:25] #754 closed

[2020-05-03 14:13] #757 closed

[2020-05-03 14:34] #756 closed

[2020-05-03 14:38] montoyamoraga commented on #753
i found it and fixed, thank you @banditelol

[2020-05-03 14:40] #753 closed

[2020-05-03 14:41] montoyamoraga commented on #745
thank you @mattfan00 i assigned to you this issue, you can add me as reviewer and tag me when you submit the pull request :)

[2020-05-03 14:43] montoyamoraga commented on #649
hi @mattfan00, yes thank you, it would be great to have an example like this :)
please make sure to follow the example of other ported examples,
you can add me for reviewing when you submit the pull request

[2020-05-03 16:23] icarito opened #765 "Offline Reference broken: Syntax Error"
Here is the point that fails! By removing the closing parenthesis in this line I got my offline reference to work again! Please fix, currently offline docs don't work...

https://github.com/processing/p5.js-website/blob/7828e3bfa77617f02070af907003a8739c6ac738/offline-reference/extra/js/reference.js#L4598

[2020-05-03 16:48] #765 closed

[2020-05-03 18:02] sm7515 commented on #745
I can help on the 'convolution' example : )

[2020-05-03 21:31] mattfan00 commented on #745
@montoyamoraga Since we are going to have multiple people working on this issue and will be submitting pull requests separately, is it alright if we do "References #745" in the pull request so that one pull request doesn't automatically close this issue?

[2020-05-03 23:28] montoyamoraga commented on #745
hi @sm7515 and @mattfan00 thank you for contributuing!
i agree, if you use the keyword fix or fixes on a pull request, it would close this issue,
so a solution for that i think is saying "addresses" :)

[2020-05-04 00:39] #649 closed

[2020-05-04 05:27] lmccart opened #770 "p5.js contributor docs website"
I can't remember where we landed with where to link to this. Maybe I dropped the ball? I'd love to get it properly linked. @stalgiag when you have time, can you remind me where we left off, or how you think we should proceed?

https://p5js.org/contributor-docs/#/

[2020-05-04 06:00] lmccart opened #771 "guidance on writing libraries for instance mode"
Posting this from an email I received:

My library currently breaks when used in instance mode. I can see why, because I have explicit calls to core p5 functions, but I don't know how to fix it.

Could something be added to the creating libraries page about what else is required from a library so that it works in instance mode too? I have looked at some of the other libraries available and they ei

[2020-05-04 16:56] stalgiag commented on #770
Hi @lmccart I wasn't sure if you wanted to link it so I didn't press the point. I think that it can be linked from the README page (which would be self-reference when on page). Or we could alternatively link it in the Contribute->Develop->"development tutorial" link on [this page](https://p5js.org/community/). I think it might be a bit disorienting to follow a link for a development tutorial and e

[2020-05-04 18:21] Rizz0S commented on #745
I can help with 'convolution'!

[2020-05-04 21:37] montoyamoraga commented on #745
thank you!
please refer to this issue #745 with the keyword "addresses"
instead of "fixes" on pull request, so when we review and merge it,
this issue stays open :)

[2020-05-04 22:23] limzykenneth opened #773 "Setup instructions in README reference Java"
In README.md the [Setup section](https://github.com/processing/p5.js-website#setup) list as step 0 that Java needs to be installed. I'm not quite sure that is the case. I don't think for this website Java is a dependency but also not 100% sure.

[2020-05-04 22:26] #744 closed

[2020-05-04 22:27] limzykenneth commented on #743
Issue still needs fixing as latest fix does not currently work.

[2020-05-04 22:35] #662 closed

[2020-05-04 23:32] montoyamoraga commented on #743
@limzykenneth woops, sorry!

[2020-05-06 00:21] montoyamoraga commented on #773
i went through the README modifications, and this is the PR
https://github.com/processing/p5.js-website/pull/497
addressing this issue
https://github.com/processing/p5.js-website/issues/496
:)

[2020-05-06 00:35] #773 closed

[2020-05-06 04:38] #770 closed

[2020-05-06 15:19] pcgamer1 commented on #693
@limzykenneth  @lmccart  Please let me know if I can work on any of the issues that I have opened for keyboard accessibility.

[2020-05-06 18:27] nedjulius commented on #745
I could also add the 'Histogram' example.

[2020-05-06 18:42] nedjulius opened #776 "Menu alignment breaks on resize"
**Actual Behaviour**

When resizing the website, menu alignment breaks, causing it to appear on top of the main container.

 **Expected Behaviour**

When browser width reaches the size of **navigation sidebar width** + **container width**, the media queries should trigger.

 **Steps to reproduce it**

Just try reducing the width of the browser.

 **Screenshots of the issue**

![p5_bug_gif](https:/

[2020-05-07 00:37] lmccart commented on #776
thanks @nedjulius I have assigned you

[2020-05-07 03:52] montoyamoraga commented on #755
thank you @Rahulm2310 !
please mention this issue on your PR :)

[2020-05-07 04:18] Rahulm2310 commented on #755
Sure. Thanks!

[2020-05-07 15:51] limzykenneth commented on #693
I'm not keen on changing browser's default behaviour in this case as it provides an inconsistent behaviour from other websites but it only affects a subset of all users.

[2020-05-08 11:07] arteevraina opened #778 "Navigation bar on top of webpage not fixed."
**Actual Behaviour**

The `navigation bar` on the top of webpage layout goes up on scrolling down.

 **Expected Behaviour**

 The navigation bar should remain fixed when user scrolls down the webpage.

 **Steps to reproduce it**

 - Go the [website](https://p5js.org/).
 - Scroll down.
 - Notice the navigation bar not being fixed.

 **Screenshots of the issue**
![image](https://user-images.githubus

[2020-05-08 16:06] limzykenneth commented on #778
I don't see why the top bar should be fixed in position as it isn't a main navigation element of the page.

[2020-05-08 16:45] arteevraina commented on #778
Sure @limzykenneth . It makes sense to me. Can I close this issue then?

[2020-05-08 18:55] #778 closed

[2020-05-09 18:33] montoyamoraga commented on #743
fixed by #762 and #779

[2020-05-09 18:33] #743 closed

[2020-05-09 18:35] montoyamoraga commented on #745
thank you @nedjulius
please refer to this issue #745 with the keyword "addresses"
instead of "fixes" on pull request, so when we review and merge it

[2020-05-09 20:17] #776 closed

[2020-05-09 22:07] nedjulius commented on #745
@montoyamoraga I think @sm7515 added the Histogram example, so I think I don't have to work on it.

[2020-05-25 05:28] #475 closed

[2020-05-25 05:34] montoyamoraga opened #785 "update images on Getting Started"
our current images show a p5.js sketch hosted on a computer,
i would update this page to with a screenshot from our web editor.

also, i don't want the original images to be deleted,
what can we do with them? thoughts? @lm-n?

[2020-05-26 21:55] lm-n commented on #785
In the PR you merged I included screenshots of the editor. We could always save the old images in assets and not use them?

[2020-05-27 01:05] montoyamoraga commented on #785
i don't see those new images on the getting started page, i still only see the old ones
where are they? do you see them?

[2020-05-31 21:20] gidenilson opened #788 "Example: how to simulate coloring image with the copy method"
An example of how to simulate coloring image with the copy method.
![screenshot](https://user-images.githubusercontent.com/1287053/83362902-620bf380-a36b-11ea-8d5e-1612814c1482.png)

[2020-06-04 16:44] micuat opened #793 "correcting explanation of parameters for curveTangent"
**Expected Behaviour**

swap control points and points on the curve

 **Would you like to work on the issue?**

from https://github.com/processing/p5.js/issues/4593 - I guess @jimbrink is correct (given https://p5js.org/reference/#/p5/curve ) but since I just copied the issue, verification is needed

(I didn't know you can transfer an issue... will do that next time)

[2020-06-07 10:14] micuat commented on #793
obviously the second and the third arguments are the points on the curve
https://editor.p5js.org/micuat/sketches/Xs_ZQcJ_v

[2020-06-07 22:24] limzykenneth commented on #793
See https://github.com/processing/p5.js/issues/4593

[2020-06-07 22:24] #793 closed

[2020-06-08 16:00] lmccart commented on #788
closed with https://github.com/processing/p5.js-website/pull/789

[2020-06-08 16:00] #788 closed

[2020-06-11 21:43] connieliu0 opened #795 "Updating the UI of the Showcase Page as part of GSoC"
(edited June 12)
Hi all! My name is Connie and I'm currently working with p5.js as part of Google Summer of Code!

**Context:** The reason for this issue is because I was looking at the current website and found it difficult to tell which projects I should be looking at as it currently just shows an image, description, title, and author.

**Issue:** For someone short on time, or in a rush, they mi