[2015-08-20 00:12] mayaman opened #1 "navigation between languages"
Some pages have a more nested file path than others (i.e. examples) which makes it difficult to have the non-default language as simply another folder because the links on the sidebar would have to be different on the english site vs the spanish (or other languages) site.

Currently, I think the best solution is to create a completely new domain with either a specific extension or a subdomain to r

[2015-08-20 00:16] mayaman opened #2 "pages to port:"
- download
- reference (and all of its subpages)
- form to submit work
- hello.p5js.org ?

[2015-08-20 00:18] mayaman opened #3 "crowd source translation"
to translate the entire site, we need to have all of the text (currently stored as strings in a yml file) translated into another language and stored.

[2015-08-20 00:19] mayaman opened #4 "home page sketch"
need to choose what sketch will be put on the home page when the site goes live.

[2015-08-20 00:22] mayaman opened #5 "search site"
need to implement search site function in the upper-right hand corner of the header

[2016-07-05 04:13] #5 closed

[2016-07-05 04:16] lmccart commented on #4
can we launch with something that celebrates spanish speaking makers? maybe something made in @aamontoya89's workshop, or made by @aamontoya89, or another artist?

[2016-07-05 04:16] #2 closed

[2016-07-05 04:16] lmccart commented on #2
i will instead open issues for individual sections that need to be ported so we can check them off one by one

[2016-07-05 04:16] lmccart commented on #1
woohoo we figured this out!

[2016-07-05 04:16] #1 closed

[2016-07-05 04:17] lmccart opened #6 "examples page"
- [x] look at example page build scripts, can it be integrated with current grunt process?
- [ ] once this is done, translation

[2016-07-05 04:18] lmccart opened #7 "reference"
this is a trickier one, it seems like it should be a second stage focus after the initial site launch

[2016-07-13 02:42] lmccart opened #8 "items in need of spanish translation"
to keep track of additional translation edits we need to make
- [x] http://p5js.org/download/ (text inside p5.js complete box)
- [x] http://p5js.org/learn/ - added optimization
- [x] http://p5js.org/libraries/ - added p5.func
- [x] https://p5js.org/contributors-conference
- [x] https://p5js.org/get-started (download7, download8)
- [x] taglines
- [x] tutorial page
- [x] footer4
- [x] http://p5js.or

[2016-08-27 02:53] aamontoya89 opened #10 "how to change the wikipedia links on the spanish version"
I want to, for example, change the link for "code editor" in the "getting started" in spanish, to point to the spanish link on wikipedia, instead of english.

I suppose it has to do with the index.hbs file, but still can't figure it out.

[2016-08-27 13:04] lmccart commented on #10
yep, you would change this line: https://github.com/mayaman/p5js-website/blob/master/src/templates/pages/get-started/index.hbs#L53. you can just replace "http://en.wikipedia.org/wiki/Source_code_editor" with "{{#i18n "environment7"}}{{/i18n}}" or a tag like that, then put the url into the yaml files just like text. make sense?

[2016-08-29 21:41] #6 closed

[2016-08-29 21:41] #3 closed

[2016-09-03 21:16] lmccart opened #13 "search form not expanding on hover"
the search bar in upper right should appear and expand on hover, you can see it in action here: http://p5js.org, on the staging site this seems to be broken.

the relevant code is here: https://github.com/mayaman/p5js-website/blob/master/src/assets/js/main.js.

@nok has jquery been removed completely from the site? I'd guess this is the issue then. however, while I like the idea of improving speed

[2016-09-03 21:23] nok commented on #13
Yes, I removed jQuery just from the start page to load the page faster. I will rewrite the parts in plain JavaScript. It's the second point of my open todos listed in https://github.com/mayaman/p5js-website/pull/9#issuecomment-242655756. I don't forget it. ;-)

[2016-09-03 21:25] lmccart commented on #13
ohh I see, it's just the main page, graet. I think this is totally reasonable then, since it still loads on other pages. sorry I missed the todo! will close this since it's already over there. thanks for the clarification.

[2016-09-03 21:25] #13 closed

[2016-09-03 22:51] nok commented on #13
Whee, try it out. 👍

[2016-09-04 14:48] lmccart commented on #13
perfect :)

[2016-09-08 18:46] nok opened #18 "Merging"
How or which repository will be the future main repository, [mayaman/p5js-website](https://github.com/mayaman/p5js-website) or [processing/p5.js-website](https://github.com/processing/p5.js-website)? I'm worried about the differences in the content between these repositories. For instance the [gallery](https://p5js.org/gallery/) and [contribution](https://p5js.org/contribute/) section aren't in th

[2016-09-08 19:20] lmccart commented on #18
this one will be, though we will move it over to the processingorg github account and probably rename it to p5.js-website.

I'm also a little concerned about losing content in the transition, and I'm hoping to launch this one as soon as I've got a few last kinks worked out. As for any changes to the current website repo, I've been making sure to add them to the new repo as well, and listing change

[2016-09-08 20:26] nok commented on #18
Thanks @lmccart! The result will be great. 👍

Okay, we shouldn't forget that I implemented a browser language detection which should be disabled:
https://github.com/mayaman/p5js-website/blob/master/src/assets/js/init.js#L95-L98

In addition I want to add a tiny fadein effect to the background canvas when it's starting.

[2016-09-08 21:53] #18 closed

[2016-09-10 23:23] lmccart opened #19 "things to do before going live"
(we will hide i18n buttons until ready to go live with translation)

* [x] add back in tagline
* [x] disable i18n buttons and auto-detection for p5js.org domain
* [ ] add people page
* [x] add reference
* [x] fix spanish reference
* [x] hook up versions for downloads
* [x] copyright info page

[2016-09-20 23:35] #10 closed

[2016-09-29 03:02] disambiguator opened #20 "Broken link on the examples page"
Hey, looks like the link for Sound / Measuring Amplitude on [the examples page](https://p5js.org/examples/) is broken.

The link should be to https://p5js.org/examples/sound-measuring-amplitude.html
but is actually to https://p5js.org/examples/sound--measuring-amplitude.html

Not sure how that extra dash got added!

[2016-09-29 05:06] aamontoya89 commented on #20
thanks! solved!

[2016-09-29 05:06] #20 closed

[2016-09-30 20:01] benfry opened #21 "Debugging Tutorial offline or missing"
Reported here: https://github.com/fathominfo/processing-p5js-mode/issues/12

[2016-10-02 03:17] aamontoya89 commented on #21
i fixed the link but now the images are broken

[2016-10-02 03:19] aamontoya89 commented on #21
fixed the link but now the images are broken

[2016-10-02 06:46] Zaptronic opened #22 "reference gone"
The reference doesn't work anymore. When you refresh often sometimes it shows but in most cases the reference pages stay empty. (Both safari and chrome on mac. I don't know if window works).

[2016-10-02 07:10] #22 closed

[2016-10-02 07:13] Zaptronic commented on #22
@lmccart thanks

[2016-10-04 15:38] lmccart commented on #21
fixed with https://github.com/processing/p5.js-website/pull/23

[2016-10-04 15:38] #21 closed

[2016-10-11 20:25] #19 closed

[2016-10-11 20:25] lmccart opened #24 "missing people page"

[2016-10-11 20:25] lmccart opened #25 "gallery page?"

[2016-10-23 21:37] digitalfrost opened #26 "No text wrap in comments of reference examples"
Reposting bug from https://github.com/processing/p5.js-website-OLD/issues/234

This is still an issue on the new website.

Problem can be seen here: http://p5js.org/reference/#/p5/rect

Problem occurs both in Chrome and in IE

[2016-10-23 22:05] digitalfrost opened #27 "Window Scroll Bar Issue on: http://p5js.org/get-started/"
Issue first reported here: https://github.com/processing/p5.js-website-OLD/issues/176

Still experiencing issue on new version of the site.

Can reproduce in Chrome on Windows 10.
Problem occurs without the resizing of the window described in the original ticket.

[2016-10-24 08:08] limzykenneth commented on #27
I cannot reproduce this on my Mac, anyone else facing a similar problem?

@digitalfrost When you say it occurs without resizing the window did you mean that the page refused to scroll when you open it up in a small Chrome window?

[2016-10-24 08:42] digitalfrost commented on #27
No.
Page will scroll if you use the keyboard keys.  However you cannot move the window scroll bar to scroll the page.
My browser window is not small - it's full size on my 15" laptop.
Other pages such as http://p5js.org/reference/ and http://p5js.org/tutorials/ do not have this issue.
The issue does not occur with MS Edge 14 or Firefox.
I can reproduce the issue in Chromium on Ubuntu 16.04.1 LTS

[2016-10-24 08:46] limzykenneth commented on #27
Hmm....Can't reproduce with either mouse scroll or dragging the scrollbar. Might be an issue not present on Macs. So you cannot scroll down the page at all without using the keyboard on http://p5js.org/get-started/ then?

[2016-10-24 08:56] digitalfrost commented on #27
That is correct.

[2016-10-24 10:38] nok commented on #27
I could reproduce the issue on the newest Chrome (54.0.2840.71) browser.

@limzykenneth you have to shrink the browser to see the overlapping svg object.

---

I will push a PR to fix that bug. For that I add the `pointer-events: none;` attribute to the svg object. This feature isn't supported by [old browsers](http://caniuse.com/#feat=pointer-events), so I add a feature detection in the head of t

[2016-10-24 10:51] limzykenneth commented on #27
ok I see, not really related to [#176](https://github.com/processing/p5.js-website-OLD/issues/176) though since that's caused by the sidebar navigation not being cleared properly.

Your fix should work. I wonder if it is possible to make that asterisk as a background image though? Also I don't quite understand how it would interfere with the scrollbar...(shouldn't the scrollbar be on top of it? 😰

[2016-10-25 04:09] lmccart commented on #27
fixed with https://github.com/processing/p5.js-website/pull/28

[2016-10-25 04:09] #27 closed

[2016-10-25 17:56] nok commented on #26
You are right, in that case the buttons aren't optimal. Are there more commands with that occlusion issue? On the other hand the navigation in [alpha()](https://p5js.org/reference/#/p5/alpha) or [lightness()](https://p5js.org/reference/#/p5/lightness) looks good.

We could break the comment into two lines. In addition we can add a background color to the buttons. I know, stupid simple, but it shou

[2016-11-18 20:08] catarak opened #30 "Links on main page not clickable"
Happened to be on the p5.js website today and I noticed the links in the main copy (`section#home`) are not clickable.

[2016-11-18 21:27] lmccart commented on #30
eep! thank you

[2016-11-20 13:04] lmccart commented on #30
fixed with https://github.com/processing/p5.js-website/pull/31

[2016-11-20 13:04] #30 closed

[2016-11-21 02:58] limzykenneth commented on #26
Maybe we can move the buttons upwards out of the code field? Not sure it would look harmonious design wise though, with the buttons sticking out like that.

[2016-11-26 02:53] limzykenneth opened #32 "Translations?"
Feel free to close this one if it's not relevant yet or already in progress etc.

I'm just wondering if the translation for the site for other languages other than Spanish are ongoing? If not what are the plans if any?

[2016-11-26 19:59] lmccart commented on #32
Good question. Only Spanish is ongoing currently. What we'd need to support another language is a volunteer dedicated to translating everything to that language (or coordinating the translations), and then maintaining the translation for at least a year.

[2016-12-07 04:08] limzykenneth commented on #32
Hmm...might be interested in submitting that as a Processing Fellowship project. See if I can write something up.

[2016-12-17 12:34] hackertron commented on #25
Can you add a description for this task ? .

[2016-12-19 02:51] lmccart commented on #32
great!

[2016-12-19 02:51] #32 closed

[2016-12-19 02:59] lmccart commented on #26
I think for now, just breaking the comments is a good easy fix. Maybe in future redesigns of this page we can think about moving the buttons completely.

[2016-12-22 15:16] GABBAR1947 opened #37 "3D_Materials.php not found"
Clicking on the examples in the Material reference pages that includes normalMaterial(), texture(), ambientMaterial(), specularMaterial() leads to 404 error.

[2016-12-24 03:22] #37 closed

[2017-01-05 01:59] bmoren opened #38 "titles of reference pages do not include a unique title"
Currently the reference pages all have the title of "p5.js | reference". This makes going back through history a difficult task. It seems like these should all have unique titles.
<img width="220" alt="screen shot 2017-01-04 at 7 55 01 pm" src="https://cloud.githubusercontent.com/assets/1385996/21666593/42897fb4-d2b8-11e6-880c-141f507f62df.png">

proposed title: p5.js | reference | Image()
Process

[2017-01-08 22:51] lmccart commented on #38
This would definitely be ideal. I'm not sure is very simple until we do an entire rebuild of the reference.. right now all reference pages build from this handlebars template: https://github.com/processing/p5.js/blob/master/docs/yuidoc-p5-theme/layouts/main.handlebars.

We can change it with JS which helps with the tabs, but it's still not ideal for SEO google search results. Do you have any sugge

[2017-01-11 23:13] jromeem commented on #25
I had this page specifically bookmarked! now it's gone! :sob:
here's a link the to the old source~ @hackertron

https://github.com/processing/p5.js-website-OLD/blob/master/gallery/index.php

[2017-01-15 21:24] ssta opened #43 "404 in example page"
Hi,

On the examples page it seems that there's a typo in the link for the Noise1D example. It's pointing at: https://p5js.org/examples/math--noise1d.html which is a 404;

https://p5js.org/examples/math-noise1d.html (single hyphen) works correctly.

Thanks,
Stephen

[2017-01-21 18:30] Leamucho opened #44 "WEBGL renderer issues..."
sorry, missed the right repository... pasting to the right one

[2017-02-09 06:46] bmoren opened #46 "Site down!"
It looks like the site is currently down, can anyone confirm?

http://downforeveryoneorjustme.com/p5js.org

[2017-02-09 07:11] #46 closed

[2017-02-14 15:50] bmoren opened #47 "menu causes autoscroll when it locks to the bottom of the window"
The menu can lock into the bottom of the window which causes a sort of autoscroll

Chrome Version 56.0.2924.87 (64-bit)

This is especially noticeable on the reference page:
![refe](https://cloud.githubusercontent.com/assets/1385996/22936604/aa2c98ec-f29b-11e6-8b04-f864673e24f0.gif)

[2017-02-15 14:18] limzykenneth commented on #47
Can confirm this is happening on Chrome only, tested Safari and Firefox as well (all on macOS).

I tried to debug and fix this but I end up more confused than when I started. What is happening is that somehow the `animate` call (same goes for changing it to `css` call as well, just faster), to animate the top margin of the sidebar, is changing the value of the window scrollTop value when no such c

[2017-02-21 02:03] gabrielsroka commented on #43
this should be fixed by:
https://github.com/processing/p5.js-website/pull/59

[2017-02-21 19:21] #43 closed

[2017-02-22 21:19] montoyamoraga opened #64 "can't see the EN/es buttons when building the website"
i have to manually add "/es" at the end of the address to show the spanish version

[2017-02-22 21:22] lmccart commented on #64
we haven't gone live with this yet...still waiting on the reference I think? they're visible on the staging site though for testing.

[2017-02-22 21:24] montoyamoraga commented on #64
when i stage it on my machine, run grunt server, buttons don't show up, i have to manually add /es to the address bar after building

[2017-02-22 21:31] lmccart commented on #64
oh hmm are you sure you have the latest? and you're navigating to http://localhost:9000 right? it's showing up for me for some reason. this is the part of the code that hides them... so they should only be hidden on p5js.org.

[2017-02-26 03:19] lmccart commented on #47
Thanks, I just took out the scroll for now. This does seem to have appeared out of nowhere and based on @limzykenneth's tests, I'd guess it is a chrome bug. I'll keep watching it and trying and see if something changes with chrome.

[2017-02-26 03:19] #47 closed

[2017-03-01 16:50] dfenjves opened #65 "Broken Link on normalMaterial Reference Page"
The normalMaterial reference page has a broken link to the example (currently https://http//p5js.org/examples/3d-materials.html).

[2017-03-02 00:41] montoyamoraga commented on #65
fixed, thanks so much! =)

[2017-03-02 00:41] #65 closed

[2017-03-02 02:15] montoyamoraga commented on #64
yes, they are hidden for me also on http://localhost:9000.
i also get this error on the browser console, maybe it's related to that.
Uncaught ReferenceError: w is not defined
    at window.onload (init.js:103)

i will continue making tests to check why is this happening.

[2017-03-06 07:10] montoyamoraga opened #67 "one error on console when running the i18n version"
Uncaught ReferenceError: w is not defined
    at window.onload (init.js:103)

this doesn't happen on the p5js active website,
maybe because the i18n buttons are not enabled yet?

[2017-03-06 07:13] #67 closed

[2017-03-06 07:15] montoyamoraga commented on #64
i added this three console.logs to init.js to test the hiding/showing of buttons:
console.log("testing i18n");
console.log("hide i18n");
console.log("show i18n");

when i run grunt server and http://localhost:9000 loads,
i get this error on the console:

Uncaught ReferenceError: w is not defined
at window.onload (init.js:103)

and my console.log's don't get displayed at all.

when I run grunt serv

[2017-03-06 08:28] montoyamoraga commented on #64
also, i think is related to this, on both localhost:9000/es/download
and p5js.org/es/download, there is a problem with [p5_version],
which does not get retrieved, so the version is not displayed on the site
and the links to download the current p5.js are broken

[2017-03-06 15:14] lmccart commented on #64
ah can you try making a file called version.json in dist/download that contains this:
[code]

this file is generated on the server but is included in .gitignore. if this fixes things, let me know, and I can make sure this file gets generated locally as well.

[2017-03-06 16:53] montoyamoraga commented on #64
Yes! I had to include that file version.json on both dist/download and dist/es/download in order to fix
my local page. Now the version gets displayed on the spanish version and the download links work.
I don't mind it too much, but the date of the version gets displayed in English, which could be fixed by breaking down the "date" on the json in day, month and year.

[2017-03-09 20:35] JMandel1027 opened #70 "Example not working"
Hi there,

Was looking at the Smoke Particles example on the p5 website and it doesn't seem to be working. I ran the p5 sketch locally and works just fine. Might be something to do with how the site is rendering examples. I noticed the bug when I ran on chrome and firefox. The only errors on the console were a reference to "testing i18n" init.js:172

https://p5js.org/examples/simulate-smokeparticl

[2017-03-10 03:38] limzykenneth commented on #70
@JMandel1027 I think the console message are leftover debug messages that the website developers forgot to strip out before deploying. The example is working fine for me on mac Safari, Chrome and Firefox (only Safari suffers some framerate issue).

Can you give more details about this? Your OS and how does it not work (not running at all/not running as expected etc) would help.

[2017-03-10 06:21] sujinleeme commented on #32
Hello, Is it possible to contribute my Korean translation work for P5 website? Thanks.

[2017-03-11 14:01] JMandel1027 commented on #70
Hi @limzykenneth so the particles are loading in the upper left hand corner of the canvas and are stuck there. I'm also running on mac os sierra

<img width="758" alt="screen shot 2017-03-11 at 8 57 04 am" src="https://cloud.githubusercontent.com/assets/13109165/23823845/fc086488-0638-11e7-85bc-9197ecf8bb4e.png">

[2017-03-11 14:06] limzykenneth commented on #70
Hmm...I'm not able to reproduce, let's see if someone else have the same problem...

[2017-03-14 06:07] jamesstoneco opened #71 "Reference Examples Editor Breaking on Chrome Mac 56"
When clicking on a reference example using Chrome 56 Mac the editor is glitching out and does not function. I noticed that some attributes are being changed very frequently to some very strange values.

![Glitching Editor Recording](http://dropshare.jamesstone.com/p5js-site-ace-chrome-bug.gif)

URL Tested: https://p5js.org/reference/#/p5/alpha
Chrome: Version 56.0.2924.87 (64-bit)
OSX: 10.11.6

Wo

[2017-03-14 06:33] jamesstoneco commented on #71
Update: I found this was an issue with a chrome extension I was running. I will notify the maker of the extension ProWriting App.

[2017-03-14 06:33] #71 closed

[2017-03-15 00:54] lmccart opened #72 "mobile examples not displaying correctly"
for example: http://p5js.org/examples/mobile-simple-draw.html

https://github.com/processing/p5.js/issues/1852

[2017-03-21 16:47] lmccart opened #73 "port adding examples documentation to wiki"
This [page](https://github.com/processing/p5.js-website-OLD/wiki/Adding-examples) needs to be moved to the wiki here, and updated for the current website flow.

Also need to update the link from this page: https://github.com/processing/p5.js/wiki/Development

[2017-03-22 03:07] montoyamoraga commented on #73
DONE:
copy and paste the page to the wiki here.
updated the link from the page: [https://github.com/processing/p5.js/wiki/Development](https://github.com/processing/p5.js/wiki/Development)

TODO
update the wiki page of adding examples to the current website flow

[2017-03-23 18:04] lasyapriyanka commented on #70
Hii @limzykenneth @JMandel1027
I'm also having the same issue when running it on the localhost:9000

The arrow is moving fine but the issue is that the particle is stuck in the upper left corner. I'm also using Safari and Chrome. Have this issue with both of them.

This example is working fine on the p5.org website but I don't know why it has a problem with running on the localhost.

![screen shot

[2017-03-24 16:32] lasyapriyanka commented on #72
Run and Reset buttons are overlapping with the code in the mobile view. All the drawing examples of mobile seem to have this problem. Done with this.

Working on the issue with the mouseY on ios.

[2017-03-25 00:01] lmccart commented on #70
I'm sorry, I'm not able to reproduce on any browser or OS, so I don't think it's an issue with the library. Please try posting this in the forum to get general programming assistance with your particular use case. https://forum.processing.org/two/

[2017-03-25 00:01] #70 closed

[2017-03-25 13:57] lasyapriyanka opened #74 "top collapsable navigation bar for mobile only"
The desktop version of the website has menu items which wrap themselves in mobile view. It would be a lot better if there is a top collapsible navigation bar for mobile view only.

@lmccart What do you think about this?

[2017-03-25 14:14] lasyapriyanka opened #75 "Displaying search results properly"
When we hit a search query, the website is directing to a google search page, it would be nice if it is displayed on the web page itself.

[2017-03-25 15:37] lmccart commented on #75
Thanks! I like this idea, but I think because the redirect to a google search page already functions properly, I'd prefer to focus on more urgent issues for now.

[2017-03-25 18:36] lasyapriyanka commented on #25
@lmccart Are you working on this issue? I am interested in doing this task. Where do you think would be an apt location for the gallery page in the website?

[2017-03-26 05:37] lasyapriyanka commented on #7
@lmccart Can you specify the exact issue?

[2017-03-27 10:12] lasyapriyanka opened #77 "Create support for multiple languages"
We can use google translate APIs or bing language APIs for translating the page automatically than to do manually for every language.

Any suggestions?

[2017-03-27 10:15] lasyapriyanka commented on #25
@lmccart  I could move the gallery page from the old website to the new one. Now it is showing up on my localhost website. Do you want me to add some new things to it?

[2017-03-27 12:25] limzykenneth commented on #77
Machine translations are good to get a sense of an idea when in a pinch but generally inaccurate or misleading when accuracy is required such as in the case of documentations. Using APIs would also mean if there's any translation error, it would be harder for us to correct.

[2017-03-28 01:22] lmccart commented on #25
The problem with the gallery page is that the links are constantly breaking. Before we port the page over, we need to discuss a way to make this page more future proof. This might mean having one person agree to be the maintainer for a year, then find another person to take over. Or linking only to documentation pages, not to live sketches running. Thoughts?

[2017-03-28 01:23] lmccart commented on #77
We actually have made a lot of progress on that and are close to launching the spanish version. Once that is live, I'd love to talk about adding other languages. For now, I think this issue can be closed.

[2017-03-28 01:23] #77 closed

[2017-03-28 01:25] lmccart commented on #7
Currently in the build process (see the readme for steps), `grunt server` builds the full site and places it in the dist/ folder. However, the reference needs to be manually added into both the dist/ and the dist/es folder. This work might be added into the release automation process https://github.com/processing/p5.js/issues/707.

[2017-03-28 01:31] lmccart opened #78 "add hover feedback for run/reset example buttons"
I think we used to have hover feedback for run/reset example buttons but it seems to have disappared. Maybe the button should come to full opacity (background and text) on hover?

[2017-03-28 01:32] #73 closed

[2017-03-28 01:34] lmccart opened #79 "header bar on mobile isn't properly spaced"
<img width="386" alt="screen shot 2017-03-27 at 6 33 46 pm" src="https://cloud.githubusercontent.com/assets/191056/24384924/f07c2830-131b-11e7-8eaa-ab944d6aaa62.png">

This should ideally be one line. Maybe "Processing for Android" could just become "Android" on mobile header. Maybe "Processing.py" could become "py" or "Python".

[2017-03-28 01:36] lmccart opened #80 "curating, organizing, and posting homepage sketches"
We typically try to switch these out each month. For the next couple months we're doing a series featuring Asian women and gender non-conforming artists (see http://diversity.p5js.org for more info). But we have nothing planned after that. It would be awesome to curate other group collections.

[2017-03-28 01:39] lmccart commented on #79
It does look ok on iPhone6 with safari. So some research and testing across common devices and viewports is needed.

[2017-03-28 10:07] lasyapriyanka commented on #78
#78 Done
Hii @Imccart I created some hover feedback for the run/reset example buttons. On hover, the button will be slightly zoomed(i.e; by scale 1.1), text color changes, full opacity background with some box-shadow effect. Let me know if you want something more.

See PR for #78.
![screen shot 2017-03-28 at 3 34 52 pm](https://cloud.githubusercontent.com/assets/16035652/24399959/4ffcfba8-13cc-11e

[2017-03-28 10:17] lasyapriyanka commented on #25
@lmccart  Thanks for replying. I don't think linking to the documentation pages would be better because users would be interested to see running stuff than to read something.

I am assuming that when you mean that the "links are breaking", you mean to say that when I click on a specific project on the gallery page, the link is no longer to be found i.e. 404.  I have thought about a  solution for t

[2017-03-28 15:05] lmccart commented on #78
thanks @lasyapriyanka! I think this amount of feedback (4 style properties changing) is inconsistent with the rest of the site. can you update it to only change the opacity of the box, nothing else?

[2017-03-28 16:23] lasyapriyanka commented on #78
Yeah.. Done. I set the background color to gray with opacity: 100%
Is this alright? @lmccart
![screen shot 2017-03-28 at 9 50 14 pm](https://cloud.githubusercontent.com/assets/16035652/24415929/aa59ab4e-1400-11e7-83e8-dc809d16f478.png)

[2017-03-28 17:02] lasyapriyanka commented on #79
@lmccart

![galaxys5](https://cloud.githubusercontent.com/assets/16035652/24416604/f7121b18-1402-11e7-86f8-a41017b79fae.png)

This is the same issue with the Devices: Galaxy S7(chrome), Redmi note3(chrome), Nexus, iPhone5, Galaxy note 3 and 2.

![ipad](https://cloud.githubusercontent.com/assets/16035652/24416605/f71670c8-1402-11e7-84d9-c65ef9722421.png)

Above is the issue with IpadMini and Ipad.

[2017-03-28 18:48] lasyapriyanka commented on #26
I think we can move the buttons little down so that they will be at least visible to the user clearly without overlapping with the comments??

rect():

![screen shot 2017-03-28 at 10 56 40 pm](https://cloud.githubusercontent.com/assets/16035652/24418576/02617084-140a-11e7-84e7-ad1401b791df.png)

![screen shot 2017-03-28 at 10 57 00 pm](https://cloud.githubusercontent.com/assets/16035652/24418553/f

[2017-03-28 19:06] lmccart commented on #26
I prefer a manual line break. This keeps the buttons in an intuitive place. We just need to go through each example and break after a certain number of characters.

[2017-03-28 19:12] lasyapriyanka commented on #26
Got it..
Will do it ASAP.

[2017-03-29 10:25] lasyapriyanka commented on #75
@lmccart Can I include this goal in my GSoC proposal?

[2017-03-29 10:29] lasyapriyanka commented on #24
@lmccart Where exactly is the people page in p5.js old website? Is it there somewhere?

[2017-03-30 00:46] lmccart commented on #75
yes, feel free

[2017-03-30 13:17] calpa commented on #24
The people section seems to be missing now...

https://github.com/processing/p5.js-website/blob/f124083e34258aaa60bd21f482ef5d69416f57a9/dist/es/community/index.html#L169

[2017-03-30 13:27] calpa commented on #79
Hello @lmccart, can I use responsive CSS Framework such as bootstrap to solve this kind of viewing problems?

Also, add an nav bar from using bootstrap is an easy way...

#74

[2017-03-30 13:27] calpa commented on #74
yes, it would be much better 👍

[2017-03-30 13:43] limzykenneth commented on #79
I think bringing in bootstrap just to solve this problem is a bit excessive. The reference page is already downloading a lot of data, add in a whole framework might make matters worse...

[2017-03-30 14:28] lasyapriyanka commented on #24
Hii @calpa

Thanks for your reply.

No, people page was not there on the previous website.  I think lmccart wants to add a new people page that lists the details of the contributors more specifically before the next launch.

Refer to closed issues #18

[2017-03-30 16:02] lmccart commented on #24
@lasyapriyanka yes this is correct

[2017-03-30 18:01] kiran4399 commented on #25
@lmccart Can you please give me some feedback on this. I'd like to have this in my GSoC proposal.

Thanks.

[2017-03-30 18:05] lasyapriyanka commented on #24
@lmccart Can you please give me some feedback on this? I'd like to include this in my GSoC proposal.

[2017-03-30 18:06] lasyapriyanka commented on #25
@lmccart Can you please give me some feedback on this? I'd like to include this in my GSoC proposal.

[2017-03-30 20:47] lmccart commented on #25
Interesting idea. My only suggestion is to consider the complexity / overhead of the system you create. There's already a lot to maintain for this project, so solutions that integrate well with existing systems and are unlikely to create bugs themselves are preferable.

[2017-03-30 20:48] lmccart commented on #25
I would suggest posting this in the forum under the GSOC 2017 category to get feedback from the community as well. https://forum.processing.org/two/categories/summer-of-code-2017

[2017-03-31 16:49] lasyapriyanka opened #83 "issue with Grammarly extension"
In reference, whenever we click on the edit button of some example.  Run and reset buttons are vanishing and this is happening only when there is a grammarly extension on the browser.

Do anyone know why this is happening?

See the gif.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/16035652/24559986/5b6c3988-165e-11e7-901c-f1bff7f67b80.gif)

[2017-04-01 09:44] Zaptronic opened #85 "issue with the examples"
Examples (first two columns) not working on Chrome / Safari on OSX.
Error: Uncaught TypeError: a.indexOf is not a function
    at r.fn.init.r.fn.load (jquery-3.2.0.min.js:4)
    at Object.init (examples.js:36)
    at examples.js:174

[2017-04-01 14:29] #85 closed

[2017-04-04 19:06] sharethewisdom opened #88 "[Violation] 'requestAnimationFrame' handler took 1816ms"
I'm using Chromium v. 57.0.2987.133 (64-bit) on GNU-Linux (8.4.13-1-ARCH) to navigate through the p5 reference pages. Every so often (in intervals ranging from about .5 < 4 seconds) the browser falls behind.

Sometimes I can't move the pointer for up to two seconds! And if I play sound or video in a background tab, it seems to seek back?! Using devtools, I observed the timeline and call stack. Her

[2017-04-05 06:16] limzykenneth commented on #88
@sharethewisdom If it is correct to assume there isn't much difference between Chromium and Chrome in regards to this issue then it actually isn't a problem. The `Violation` messages are warnings not errors, everything still works as expected. The reason they appear is because the app is not optimised perfectly but the cause of slow down probably the message themselves. You can turn the `Violation

[2017-04-15 17:42] lmccart opened #91 "DIfficult to copy Examples with iOS Safari"
_From @ricardocanada on November 24, 2016 20:2_

When I try to copy example code from https://p5js.org/examples/ in iOS Safari to use in my iPad environment, it is almost impossible to do so unless the example has an Edit button. That seems to put the code in Raw form, and then all of my selection and copy options work. Otherwise it is almost impossible to select text, and when occasionally I do g

[2017-04-15 17:42] lmccart commented on #91
_From @hkirat on December 2, 2016 15:24_

Nice suggestion @ricardocanada . A raw option is a good idea.
However I think this issue should be opened up [here](https://github.com/processing/p5.js-website/issues) and closed over here.

[2017-04-20 14:20] bmoren opened #93 "Broken link on texture()"
https://p5js.org/reference/#/p5/texture

link to the example under the description is broken, links to: https://http//p5js.org/examples/3d-materials.html

[2017-04-26 03:09] #93 closed

[2017-04-26 03:09] lmccart commented on #93
thanks! reference will be updated with next release (this week)

[2017-05-10 13:11] lmccart commented on #83
hey thanks for reporting this. unfortunately there's not much we can solve if it has to do with an interaction with a third party extension.

[2017-05-10 13:11] #83 closed

[2017-05-10 13:11] lmccart commented on #78
closed with #86

[2017-05-10 13:11] #78 closed

[2017-05-10 13:15] #64 closed

[2017-05-10 13:15] #44 closed

[2017-05-10 13:16] lmccart commented on #91
This issue was moved to processing/p5.js#1936

[2017-06-05 17:21] criticalhits opened #97 "Typo in P5.Element reference"
https://p5js.org/reference/#/p5.Element
In the mousewheel() documentation on the above page,
callback is misspelled as "callabck"

[2017-06-08 18:25] lmccart commented on #97
This issue was moved to processing/p5.js#1993

[2017-06-08 18:25] #97 closed

[2017-06-11 03:05] aletrdz opened #98 "Spanish version of Libraris page is missing some translations"
The descriptions for the p5.tiledmap, p5.dimensions and p5.SceneManager libraries appear in English in the Spanish version of the website.

[2017-06-11 03:05] aletrdz commented on #98
Link - https://p5js.org/es/libraries/

[2017-06-11 03:22] lmccart commented on #98
thanks, you can note any needed translations here: https://github.com/processing/p5.js-website/issues/8

[2017-06-11 03:22] #98 closed

[2017-06-29 21:42] therewasaguy opened #104 "Grunt imagemin:images task is slow or frozen"
I'm running `grunt server`, and it freezes on the `imagemin:images` task. If it's not frozen, then it takes a very long time to run (I let it run for as long as 7 minutes) and we might want to warn about that. This is my first time building the new website, I am following the steps from the readme.

[2017-07-03 11:28] glearner opened #105 "Must introduce a copy button and a better documentation ..."

[2017-07-03 17:19] #104 closed

[2017-07-04 21:59] limzykenneth commented on #105
Introducing a copy button in the docs would be better fitted as a suggestion over at issue #91 although I suspect copying a few lines would be more useful overall than copying the whole example.

I'm afraid you will have to clarify what you meant by better documentation, it would be more useful for us to know which specific areas that can be improved on and how, in terms of performance, design or

[2017-07-05 17:03] glearner commented on #105
Thanks for comment. Actually I want to contribute in p5 because it changes my view about javascript. Documentation is good. I need more time to analyze documentation.  Thanks for your time

[2017-07-06 12:14] limzykenneth opened #107 "Remove reference to deprecated p5 editor from "Get Started" page"
From https://github.com/processing/p5.js/issues/2044 by @DexterShepherd

The page probably needs updating to remove reference to the deprecated editor before the web editor goes live.

[2017-07-06 12:21] limzykenneth commented on #105
@glearner Glad to help. It would be great if you can close this issue if you have no further problem. Thanks.

[2017-07-06 15:19] DexterShepherd commented on #107
Thanks for moving this issue over. I didn't realize I was in the wrong repo.

If this is an update that the maintainers want I'd be happy to put in a pr.

[2017-07-06 16:18] DexterShepherd opened #108 "update website docs to note what should be included in pull requests"
Just a quick question for anyone.

I was working on a small copy update for #107 and had and noticed that just changing a few translation and template files caused some diffs I wasn't expecting in the dist folder. I understand the html and css files will change when updating translations and templates, it was more the images and gifs changing that gave me pause.

Is it common practice to include a

[2017-07-07 08:15] #105 closed

[2017-07-09 07:36] limzykenneth commented on #108
Been awhile since I've built the site but I don't think it should produce that much diff. I would suggest just adding what you changed and what you are sure are changed by your edits (ie. the last three files and the `index.html`s). Submit the PR and someone more familiar with the build can let you know if you need to include other things.

[2017-07-09 22:25] DexterShepherd commented on #108
Thanks for checking that out! I ended up resetting and starting fresh and got a much more reasonable diff. Not sure what happened the first time round.

[2017-07-12 11:15] bomoko opened #110 "Current interview (Naomi Chan) link broken"
Hi, apologies if I'm posting this in the wrong place, but I just clicked on the interview link on the homepage (https://diversity.p5js.org/feature/naomichan.html) and found that it was returning a 404.

It seems like the right person to notify _might_ be @chellyjin.

[2017-07-13 07:50] montoyamoraga opened #111 "forum in spanish"
create forum in Spanish?
I think it would be a good idea so people can ask questions and there is an archive of solved issues in Spanish.

[2017-07-14 06:06] guillemontecinos opened #113 "hello of homepage in spanish is missing subtitles"
'hello' on spanish home site links to http://hello.p5js.org/
video displayed is english without spanish subtitles

[2017-07-14 06:08] guillemontecinos opened #114 "libraries page's title on spanish site is mistranslated"
https://p5js.org/es/libraries/
title of libraries' page on spanish version must be 'bibliotecas' instead of 'libraries'

[2017-07-14 06:10] gamontec commented on #113
the same for 'interactuar' link on home site

[2017-07-14 06:14] guillemontecinos opened #115 "spanish homepage - nontranslated paragraph"
link to Naomi Chan's interview 'Watch the interview with Naomi Chan!' must be translated to spanish

[2017-07-14 06:23] guillemontecinos opened #116 "download page on spanish version issues"
page title says 'download' instead of 'descargar'
on 'biblioteca completa' box, there is no version information.

[2017-07-14 06:36] guillemontecinos opened #117 "get started page's issues"
- page title is not translated
- please look other translation for minimized, like 'simplificada' or 'resumida'
- the link of 'editor de código' sends you to the english version of wikipedia's document
(https://es.wikipedia.org/wiki/Editor_de_c%C3%B3digo_fuente)

[2017-07-14 06:42] guillemontecinos opened #118 "spanish reference page issues"
- title is in english, translate!
- the hole page is in english
- finder 'search the api', translate
- headers of sections are not translated

[2017-07-14 06:45] guillemontecinos opened #119 "reference page translation to spanish"
this is the footer:
If you see any errors or have suggestions, please let us know.
it should be in spanish

[2017-07-14 06:51] guillemontecinos opened #120 "spanish version: colorMode() site untranslated phrases"
- 'Parameters' is not translated
- 'maxA  Number: range for the alpha' is still in english
- last sentence 'Returns/ the p5 object/If you see any errors or have suggestions, please let us know.' is not translated to spanish
- footer: 'Find any typos or bugs? colorMode() is documented and defined in src/color/setting.js. Please feel free to edit the file and issue a pull request!' is not translated

[2017-07-14 06:56] guillemontecinos opened #121 "reference site in spanish version: info popup blocks are not translated to spanish"
<img width="1440" alt="screen shot 2017-07-14 at 2 53 08 am" src="https://user-images.githubusercontent.com/19594257/28201583-b08290f6-683f-11e7-932e-306a1acedaf6.png">

[2017-07-14 07:06] guillemontecinos opened #122 "spanish version of reference page: comments on code examples are not translated to spanish"
<img width="1440" alt="screen shot 2017-07-14 at 3 06 20 am" src="https://user-images.githubusercontent.com/19594257/28202009-76d9c5a2-6841-11e7-9609-7b9ad7c2d53a.png">

[2017-07-16 20:15] lmccart commented on #111
I like this idea. do you propose to make a channel on forum.processing.org, a subdomain at that location (something like forum.processing.org/es), or use an alternative channel altogether?

[2017-07-16 20:18] lmccart commented on #108
@DexterShepherd the dist files get generated from the src files, so it is normally correct to check in both the modified src and dist files. This will ensure that changes get pushed to the live site as soon as the PR is merged.  But if you don't include the dist files it's no problem, they will get generated next time 'grunt server' is run. However, you shouldn't see dist files modified that you d

[2017-07-16 20:55] lmccart commented on #107
@DexterShepherd your point is right on. if you'd like to go ahead with this change, that'd be much appreciated. :)

[2017-07-16 20:59] lmccart commented on #110
thanks! we're in the process of archiving the pages from that series, and a new link should be available soon. sorry for the trouble. in the meantime, you can check out the interview video here: https://www.youtube.com/watch?v=y_U72iF1ws8

[2017-07-16 20:59] #110 closed

[2017-07-16 21:48] DexterShepherd commented on #107
Fixed as of PR #109

Can probably close this out.

[2017-07-16 21:54] lmccart commented on #107
oh right! great

[2017-07-16 21:54] #107 closed

[2017-07-16 23:18] montoyamoraga commented on #111
I think it should be a channel on forum.processing.org, called "Preguntas en español", I don't like the idea of  a subdomain or alternative channel, I want both the English and the Spanish speaking communities to be aware of each other on the forum, to coexist on the same place.

I can do a manual for registering as a user, so we don't have to translate the forum site.
Or maybe tha Vanilla framewo

[2017-07-17 01:43] lmccart commented on #111
sounds good to me. @REAS I think you are the forum master? is it cool if I add a channel once @montoyamoraga has created the spanish instructions?

[2017-07-17 01:52] REAS commented on #111
Let's please have a quick roundtable about the Forum. Adding a channel is great, but... does the forum need a new approach in general? As is, a simple update, something more? Before expanding, I think it's worth evaluating it, even if we don't update anything.

[2017-07-27 14:01] montoyamoraga opened #125 "question about reference in spanish"
For changing the header text on the reference page in Spanish
https://p5js.org/es/reference/
I modified the file dist/es/reference/assets/js/reference.js

That allowed me to change the header text, but it still says "Reference"
and I can't figure out how to translate the subtitles, such as "Creating & Reading"

[2017-07-28 21:21] lmccart commented on #125
I pushed a temporary fix but I think the ref build in general needs to be rethought in dealing with translations. The file you want to edit is **src**/es/reference/assets/js/reference.js

[2017-07-29 00:14] prashantgupta24 commented on #8
Added an example called Snake inside Interaction folder.

[2017-07-29 03:04] lmccart commented on #125
sorry, I wasn't very clear. to translate the section titles, just add entries as shown [here](https://github.com/processing/p5.js-website/blob/master/src/data/reference/es.json#L2) with the english version and spanish version and they will auto-replace.

[2017-07-31 10:02] trych opened #128 "Examples "Transparency" and "Alpha Mask" don't work"
Hi there,

the examples [Transparency](https://p5js.org/examples/image-transparency.html) and [Alpha Mask](https://p5js.org/examples/image-alpha-mask.html) don't seem to work for me, they just don't move at all.

Tested in Firefox 48.0.2, Chrome 49.0.2623.112 and Safari 6.2.8 under Mac OS X.

[2017-08-03 21:33] lmccart commented on #125
@montoyamoraga does this resolve the issue?

[2017-08-03 21:39] #128 closed

[2017-08-03 21:39] lmccart commented on #128
thanks! should be fixed now

[2017-08-03 23:56] montoyamoraga commented on #125
yes! sorry I thought there was still an issue, tried it just now and it worked perfectly, thanks @lmccart !

[2017-08-03 23:56] #125 closed

[2017-08-06 04:05] montoyamoraga commented on #119
@lmccart i can't find a way to translate to spanish the footer of the reference, also the menu to the side won't translate and the "Search the API" text and "Can't find what you're looking for? ..." text broke again, can't find where to translate it, sorry =(

[2017-08-06 16:11] lmccart commented on #119
The reference is really tricky because it is built first by the p5.js repo, then moved over to the p5.js-website repo, then translated on the front end. You can see the script that does the translation on page load here:
https://github.com/processing/p5.js/blob/master/docs/yuidoc-p5-theme/layouts/main.handlebars#L133

you'll notice where 'h1' is being translated, and how that corresponds to the va

[2017-08-06 16:12] lmccart commented on #119
my hope is that this process gets easier and less convoluted later. but it involves a deeper dive into how the reference is generated and built, and I don't want to slow down the website i18n release for it right now.

[2017-08-09 08:58] montoyamoraga commented on #119
I added a lot of entries to the json file [https://github.com/processing/p5.js-website/blob/master/src/data/reference/es.json](https://github.com/processing/p5.js-website/blob/master/src/data/reference/es.json) and then have been toying around with the file [https://github.com/processing/p5.js-website/blob/master/dist/reference/index.html#L131](https://github.com/processing/p5.js-website/blob/mast

[2017-08-09 17:06] lmccart commented on #119
are you able to get any changes to have an effect? for example, if you change the replacement string in the existing h1 line, can you get "Reference" to swap to "Text Change" or something?

regarding the changes to handlebars:
first run:
`grunt requirejs:yuidoc_theme` to regenerate the template for the reference pages
then run:
`grunt yui` to generate the reference itself
then copy the folder `p5.

[2017-08-09 22:13] montoyamoraga commented on #119
@lmccart that was it! i was translating the english one, that's why i had given up, not even the slightest change was showing up, now I am actually able to do changes, thanks!! =)

[2017-08-10 03:17] lmccart commented on #119
doh sorry, that was totally my bad!

[2017-08-12 08:48] valindah opened #130 "Reference is unavailable"
The reference is unavailable, missing the data.min.json file.

[2017-08-12 09:00] #130 closed

[2017-08-13 14:44] trych commented on #38
Oh, I just prepared some screenshots to make a new issue and now I find that it already exists. 😄

Anyways: +1. And here are my screenshots 😛
I personally would vote for just `p5.js | Image()` as with `p5.js | reference | Image()` the relevant part might be cut off if you have small tabs.

Now:
![bildschirmfoto 2017-08-13 um 16 35 33](https://user-images.githubusercontent.com/9803905/29250640-49af

[2017-08-13 15:47] trych opened #131 "Last `createImage()` example does not work"
On [the createImage() reference page](http://staging.p5js.org/reference/#/p5/createImage) (why did all the pages move to the `staging` subdomain? I'm confused), the last example does not work.

Line 4 reads
```var d = pixelDensity;```

but needs to be
```var d = pixelDensity();```

Btw., I would have loved to fix this myself, but I find the building instructions super confusing. I am not sure at a

[2017-08-13 15:54] lmccart commented on #131
thanks, should be fixed now https://p5js.org/reference/#/p5/createImage

[2017-08-13 15:54] lmccart commented on #131
oops sorry, the problem with routing to staging domain is fixed. example still needs update :)

[2017-08-13 15:56] lmccart commented on #131
@trych yes, it is all inline. you can submit a PR if you make the edit, and the docs will get rebuilt next time I push them to the website. but looking closer, I think the line is already correct?

[2017-08-13 19:29] trych commented on #131
I think then it was related to the `staging` thing, this is what I saw earlier on https://staging.p5js.org/reference/#/p5/createimage:

![bildschirmfoto 2017-08-13 um 21 26 09](https://user-images.githubusercontent.com/9803905/29252803-3b02dbe6-806e-11e7-9347-34a1d776bf7c.png)

But to be certain for the future: I can just edit the inline docs directly in the main p5.js repo, and then do a PR witho

[2017-08-15 20:47] lmccart commented on #131
yep that's correct

[2017-08-15 20:47] #131 closed

[2017-08-21 16:04] montoyamoraga opened #132 ""Learn" links to "Tutorials""
Would it be more clear if the "Learn" link on the Home site, just says "Tutorials", just as it
does when it's on the sidebar?
@lmccart

[2017-08-21 16:09] lmccart commented on #132
I guess I felt that "Learn" was more inviting than "Tutorials", and that the word tutorials might even be somewhat unfamiliar for some younger people. Maybe my intuition is off though. It also fits a bit better in the header since it's a shorter word. But do you think it is confusing to use two different words in different places?

[2017-08-21 16:26] montoyamoraga commented on #132
I agree that Learn is more inviting and I love it, but I would make it consistent, naming everything "Learn", the link to the page on the homesite and the sidebar, the extension /tutorials and the title of the page, instead of "Tutorials".

I found it confusing because I clicked on "Learn" and it directed me to "Tutorials" and then Learn was not on the sidebar menu, and also my impulse when going

[2017-08-21 16:52] lmccart commented on #132
aha good point. I agree with this. I'll work on making this change later this week.

[2017-08-24 17:23] workergnome opened #133 "Website DNS not resolving"
Two different people told me today that they can't get to the website, and get errors like this:

<img width="330" alt="screen shot 2017-08-24 at 10 22 44 am" src="https://user-images.githubusercontent.com/34536/29679279-2fe4a58c-88b6-11e7-95d2-e1a019ec73e3.png">

[2017-08-24 17:28] lmccart commented on #133
it looks like dreamhost (p5js.org hosting provider) is under ddos right now https://twitter.com/dhstatus?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor

[2017-08-24 17:30] lmccart commented on #133
thanks for reporting. it looks like dreamhost (p5js.org hosting provider) is under ddos attack right now https://twitter.com/dhstatus?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor

[2017-08-24 17:33] workergnome commented on #133
Of course.  Thank you for the quick update.

[2017-08-24 17:33] #133 closed

[2017-08-24 20:19] lmccart commented on #132
this change has been made throughout the site

[2017-08-24 20:19] #132 closed

[2017-08-25 04:30] limzykenneth commented on #133
@lmccart May not be the best place for this discussion but will there be plans to move away from dreamhost? In the meantime, putting the site behind cloudflare could help overall uptime and site availability. : )

[2017-08-26 05:32] ray7551 opened #134 "reference missing"
Reference page is empty now:

![image](https://user-images.githubusercontent.com/1812388/29738897-bfd2d346-8a62-11e7-9f8c-e0c329f608e2.png)

I think it's missing reference/data.min.json after build

[2017-08-26 05:42] lmccart commented on #134
thanks. fixed with https://github.com/processing/p5.js-website/commit/9e73b37b14d239d255013f844986c1538530083b

[2017-08-26 05:42] #134 closed

[2017-08-26 06:37] sakshamsaxena commented on #132
I think when I'm building docs, it's replacing the "Learn" with Tutorials. Not too familiar with the docs generation process, so can you suggest the source of this ? Otherwise, pushing again the undesired paths will lead to a mess. Let me know!

[2017-08-26 14:10] lmccart commented on #132
have you pull the latest from the p5.js repo? I believe I made the chance so tutorials gets replace with learn now

[2017-09-06 20:44] REAS opened #136 "media.zip from the Getting Started book is missing from the website"
Chapter 7 states "We’ve  posted some media files online for you to use in this chapter’s examples: http://p5js.org/learn/books/media.zip." but the files aren't on the server

[2017-09-09 21:29] lmccart commented on #136
thanks!

[2017-09-09 21:29] #136 closed

[2017-09-13 10:20] limzykenneth opened #138 "Custom library build download"
Now that modular build of the library is done when building on the command line (https://github.com/processing/p5.js/pull/2051), will this be the time to look into integrating that into the website itself (ie [Modernizr](https://modernizr.com/download#setclasses) style)? That should greatly help adoption of modularized p5.js

Unless of course there are still more work to be done on the modularizat

[2017-09-14 00:35] lmccart commented on #138
yes definitely! I think the first step is to mockup and refine the website interface and determine the backend functionality hooks we need based on that

[2017-09-22 09:48] raffaelmiribung opened #140 "Broken Links Tutorial Github Page"
https://p5js.org/learn/ > Integrating other libraries > Example: using Buzz

"See example Integrating-other-libraries/0-2" - Links are broken and lead to 404 Github Page.

[2017-09-22 10:14] raffaelmiribung opened #141 "German Translation"
I translated most of the reference and example pages for my schoolkids into german and norsk. I'd like to share that (and I could also translate the other parts of the p5.js homepage as well). However I'm not quite sure, what the best way would be. If some1 could be as kind as to point me to a resource/link/ etc. to go from.

atb rm

[2017-09-22 14:08] lmccart commented on #140
ah thank you those parts were out of date. updated

[2017-09-22 14:08] #140 closed

[2017-09-22 21:16] montoyamoraga commented on #141
that's awesome! can you share those documents with us? what formatting did you use?

[2017-09-23 12:31] raffaelmiribung commented on #141
I did it manually, by downloading the HTML reference page and then editing/translating it locally.

Most of my kids (age 8-12) learn how to code but don't speak sufficient English yet to fully understand and use the reference, however, I believe it to be important to actually teach them to use the reference when experimenting with code.

I could either upload the translated page or if there are pl

[2017-09-23 18:42] montoyamoraga commented on #141
hi @raffaelmiribung, i'm working on the internationalization and the spanish version of the website,
which goes live next month, so I am one of the people behind the website, I would love @lmccart to read this too so we can decide what to do with your files and input, this is so cool that is happening =)

[2017-09-24 01:59] raffaelmiribung commented on #141
Alright :) Purrfect!

Can I take your Spanish version as a template or do you think you'll change it anytime soon?

[2017-09-27 00:02] montoyamoraga opened #143 "to do - spanish translation"
[] all hover-on texts in reference are still in english
[] double-check that comments on reference examples are translated to spanish

[2017-09-27 00:11] montoyamoraga commented on #122
added to #143

[2017-09-27 00:11] #122 closed

[2017-09-27 00:15] lmccart commented on #143
there's also this one https://github.com/processing/p5.js-website/issues/8

[2017-09-27 00:17] montoyamoraga commented on #143
oh sorry, merging them ...

[2017-09-27 00:17] #143 closed

[2017-09-27 00:52] montoyamoraga commented on #121
added it to #8

[2017-09-27 00:52] #121 closed

[2017-09-27 00:56] montoyamoraga commented on #120
added to #8

[2017-09-27 00:56] #120 closed

[2017-09-27 00:57] montoyamoraga commented on #4
added to #8

[2017-09-27 00:57] #4 closed

[2017-09-27 00:59] montoyamoraga commented on #113
added to #8

[2017-09-27 00:59] #113 closed

[2017-09-27 01:10] montoyamoraga commented on #117
done

[2017-09-27 01:10] #117 closed

[2017-09-27 22:19] montoyamoraga commented on #116
added it to #8

[2017-09-27 22:19] #116 closed

[2017-09-27 22:21] montoyamoraga commented on #118
added it to #8

[2017-09-27 22:21] #118 closed

[2017-09-27 22:21] montoyamoraga commented on #115
that paragraph doesn't exist anymore

[2017-09-27 22:21] #115 closed

[2017-09-27 22:21] montoyamoraga commented on #114
fixed

[2017-09-27 22:21] #114 closed

[2017-10-01 14:00] meiamsome opened #144 "Syntax & file locations are not marked up as no-render"
The code by default tried to render these - even though they are not valid code examples.

See the console on https://p5js.org/reference/#/p5/keyPressed for example.

[2017-10-01 22:56] lmccart commented on #144
is it just happening with that one? I am checking others and they seem ok. weird..

[2017-10-02 21:41] sjorsvanheuveln opened #146 "Documentation round function vs. round constant."
There's seems to be no documentation about the round function, but only on the round constant. If I click in round() in the reference, I get the documentation for the constant.

[2017-10-03 02:22] meiamsome commented on #144
Yes, you're right - see the PR above for the fix

[2017-10-03 02:46] meiamsome opened #147 "Removing dist from the repository"
I'm not sure it's really correct to have the distribution in the repository - can it not be built immediately prior to being uploaded to the website?

Running git status after a build with no changes currently gives:
[code]

And after erasing `dist/` (I know I should have used `grunt clean` but I am used to having builds that you can remove the output folder and it comes out the same)

[code]

Whi

[2017-10-03 05:13] #144 closed

[2017-10-03 08:08] limzykenneth commented on #146
URL is case insensitive so the docs for `ROUND` and `round()` actually conflicts with each other. Need a different URL for either one of those.

[2017-10-04 04:37] chrisspurgeon opened #148 "sketch.js example file is empty"
I just downloaded the p5.js complete .zip file from https://p5js.org/download/ . Upon opening it, I discovered that sketch.js file inside of the empty-example folder is empty. Zip file attached.
[p5.zip](https://github.com/processing/p5.js-website/files/1354569/p5.zip)

[2017-10-04 04:41] meiamsome commented on #148
I presume you were expecting to see the following?
[code]

Looks like it's missing in the GitHub 0.5.14 release too: https://github.com/processing/p5.js/releases/tag/0.5.14

[2017-10-04 04:50] chrisspurgeon commented on #148
Yeah. I think they have a couple of comment lines in there too, like this...

`function setup() {
  // put setup code here
}

function draw() {
  // put drawing code here
}`

[2017-10-09 09:27] hamoid opened #149 "The reference is not viewable with JavaScript disabled"
Hi! It would be nice if the documentation was available even if JavaScript was off.

That's how it works for the Processing reference and the OpenFrameworks documentation.

Using JavaScript to improve how the documentation behaves is nice, but having it hidden by default adds a possible failure point, maybe some latency and a requirement that's not really necessary.

[2017-10-09 10:11] meiamsome commented on #149
+1. This could be fixed whilst also fixing #146 I guess?

[2017-10-09 12:58] limzykenneth commented on #149
I'm not sure this is easily fixable short of rewriting the whole docs generation system. The rendering of the docs rely on backbone.js and the data for the docs itself are generated each time with yuidoc as a JSON file. All the backbone.js parts need be to rewritten in the backend to render on the backend for this to work...

[2017-10-09 13:23] hamoid commented on #149
That's a pity. Doesn't that make it hard for search engines to index the reference? It's also not possible then to download reference pages from the command line (using curl or wget), or?

If some day the rendering system is changed, I can recommend [hugo](https://gohugo.io/) for generating a static website. It takes about 1ms per page to render a site, and you can run it in watch mode, so you see

[2017-10-09 13:40] limzykenneth commented on #149
The problem with search engines are pretty much a non issue now as major search engines understand that front end rendering is a thing and would generally render the page before indexing them (Google made angular.js so they must figure out how to index that or nobody would use it...), you can try by just googling "p5.js reference ellipse" and there should be a link directly to ellipse's docs.

Dow

[2017-10-09 13:46] meiamsome commented on #149
Personally, I feel this has wider benefits: The docs are a bit slow to load (Even when developing locally) and have no indication whether the load has failed or not which is not great when changing documentation. Also, looking at the output files, the current system produces a bunch of duplicates of the index page in `classes`, `files` and `modules` folders  - which implies to me some back-end ren

[2017-10-09 13:55] limzykenneth commented on #149
I'm not opposed to changing the rendering to render on the backend. I tried to pare down the download size of the reference page awhile ago and it still is rather big, especially the JSON file that includes all the data.

The backend do render the pages and it's just the reference that is rendered on the front end, so it isn't impossible, just some work need to be done to both move the backbone.js

[2017-10-10 21:04] REAS opened #150 "Download links on the site are currently 404"
The links on the main download page: https://p5js.org/download/ are 404

For example:
https://github.com/processing/p5.js/releases/download/0.5.15/p5.zip

[2017-10-11 22:11] peterkappus commented on #150
Just noticed this as well, looks like the release doesn't include the same files as previous ones and they're also in a different format. E.g. https://github.com/processing/p5.js/archive/0.5.16.zip vs https://github.com/processing/p5.js/releases/download/0.5.16/p5.zip

Thanks @lmccart for an awesome port/library/community (and, of course, you too @reas!)

cheers,
PK

[2017-10-11 23:34] acelere commented on #150
Likewise, the https://github.com/processing/p5.js/releases/ directory only has 0.5.14.zip...
Main link still broken (just tried Oct 11 2017). Tks.

[2017-10-12 02:31] lmccart commented on #150
thank you this is fixed now

[2017-10-12 02:31] #150 closed

[2017-10-12 02:31] lmccart commented on #148
thanks! updated in most recent

[2017-10-12 02:31] #148 closed

[2017-10-13 08:45] limzykenneth commented on #147
I guess it would depend on the deployment step of the site, as long as the build step is run before pushing to the server I think it should be alright to remove the `dist` folder...

[2017-10-23 17:30] Thzn opened #151 "Porting Examples"
Hi,

I have made some examples related to image processing using p5. Those examples will cover most of the things that described in https://processing.org/tutorials/pixels/. So I would like to help porting examples related to that section. Up to now, I have implemented "Example: Pixel neighbour differences (edges)". and "Example: Brightness Threshold". And other cool functions like the inversion o

[2017-11-13 14:39] limzykenneth commented on #146
Currently looking into this and I think it may be [this line](https://github.com/processing/p5.js/blob/master/docs/yuidoc-p5-theme-src/scripts/router.js#L101) here in the reference's script file that cause `ROUND` and `round` to resolve to the same thing. Will be doing some tests.

[2017-11-29 04:31] #146 closed

[2017-12-13 05:55] joham97 commented on #141
Hello, are you guys still working on the german version of the website? I would love to get your translated .html-Documents! =)

[2017-12-13 08:05] raffaelmiribung commented on #141
Hi Joham,

Yes, still working on it. Didn't find time to upload it though. Was
planning on finishing it during holidays.

!Raffael

--------------------------
raffaelmiribung.net
--------------------------
+43 677 6177 8613
--------------------------
Like me on Facebook! <https://www.facebook.com/raffaelmiribung>
--------------------------

On 13 December 2017 at 06:55, joham97 <notifications@gith

[2017-12-15 10:48] joham97 commented on #141
Perfect! I'm looking forward to see it finished.

[2017-12-15 16:14] montoyamoraga commented on #141
@raffaelmiribung hi! how are you doing the translation?
if you check the folders at /src/templates/
you can see .hbs files that hold the skeleton of the websites,
which then are populated by the .yml files found in /src/data
so if you are doing a translation, you should write the de.yml file,
I created one for you just now =)

[2017-12-15 16:15] montoyamoraga commented on #141
@raffaelmiribung  @joham97 both can contribute to translating this file =)
https://github.com/processing/p5.js-website/blob/master/src/data/de.yml

[2017-12-15 20:17] raffaelmiribung commented on #141
Hi Aaron,

Thank you, that's very kind of yours. :)

--------------------------
raffaelmiribung.net
--------------------------
+43 677 6177 8613
--------------------------
Like me on Facebook! <https://www.facebook.com/raffaelmiribung>
--------------------------

On 15 December 2017 at 17:15, aarón montoya-moraga <notifications@github.com

[2017-12-15 20:19] raffaelmiribung commented on #141
@joham97 - Ich habe gerade gesehen, dass du auch Deutsch sprichst. Lass uns
die Übersetzung doch gemeinsam machen.

(eng: "Let's work together."

--------------------------
raffaelmiribung.net
--------------------------
+43 677 6177 8613
--------------------------
Like me on Facebook! <https://www.facebook.com/raffaelmiribung>
--------------------------

On 15 December 2017 at 21:16, Raffael Mirib

[2017-12-15 21:55] joham97 commented on #141
@raffaelmiribung Yeah, let's do this!

[2017-12-16 01:46] montoyamoraga commented on #141
@raffaelmiribung  @joham97  Viel Glück! Ich kann ein bisschen Deutsch =)

[2017-12-23 02:18] lmccart commented on #8
@montoyamoraga should we recruit some help on these?

[2017-12-27 22:07] lmccart commented on #147
The site is automatically deployed via webhook, which pings a php file that pulls the repo to p5js.org: https://github.com/processing/p5.js-website/blob/master/dist/git-pull.php. I think it's necessary then to have the files there, otherwise we'd need to add a another build step with server in there.

[2017-12-28 02:39] micuat opened #153 "changedTouches not documented"
Not having callback arguments for touchEnded is very inconvenient and I almost wrote a long feature request for p5.js... Then I noticed that touchStarted/Moved/Ended indeed comes with an argument `e`, which contains `e.changedTouches`! The only issue is not documented in the [reference](https://p5js.org/reference/#/p5/touchEnded). Multitouch may be a bit advanced (confusing) topic but I think it i

[2018-01-03 19:35] Rahmeen14 opened #154 "Unbalanced parenthesis in p5.js community statement of the website"
[code]

The opening parenthesis is missing following ``` #unassumeCore ```

[2018-01-03 19:35] Rahmeen14 commented on #154
Hi! I am new to open source and would love to work on this issue.
Thank you so much

[2018-01-03 19:47] montoyamoraga commented on #154
Hi @Rahmeen14
Thanks for your contribution, I just fixed it =)
Let me know if you want to contribute more to p5.js, best!

[2018-01-03 19:47] #154 closed

[2018-01-03 19:49] Rahmeen14 commented on #154
Sure, thank you!

[2018-01-03 19:50] #111 closed

[2018-01-03 19:53] Rahmeen14 commented on #154
@montoyamoraga  can you please add me to some gitter or slack channel so that I may get guidance in contribution from other developers? I'm completely new to open source and The Processing Foundation interests me.
Thank you so much for your time!

[2018-01-03 20:02] montoyamoraga commented on #111
The forum in Spanish now lives here
[https://forum.processing.org/two/categories/espanol](https://forum.processing.org/two/categories/espanol)

[2018-01-03 20:21] #141 closed

[2018-01-03 20:28] montoyamoraga commented on #108
@lmccart  I added this wiki site
https://github.com/processing/p5.js-website/wiki/Pull-requests
Is that enough? Or you meant the documentation section of the README?

[2018-01-03 20:33] lmccart commented on #108
thats great. i added a link to it in the readme https://github.com/processing/p5.js-website/blob/master/README.md#file-structure

[2018-01-03 20:33] #108 closed

[2018-01-04 02:11] lmccart opened #155 "p5 Website Env.setADSR() issue"
_From @Siggi005 on January 3, 2018 19:11_

#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Website of p5

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:
css styles on the website https://p5js.org/reference/#/p5.Env/set cause troubles: The example and the de

[2018-01-07 13:28] andrewesterhuizen opened #156 "Broken links on p5.Effect reference page"
Hello, I just noticed the links for p5.Distortion, p5.Compressor, p5.Delay, p5.Filter, p5.Reverb on the [https://p5js.org/reference/#/p5.Effect](https://p5js.org/reference/#/p5.Effect) reference page are broken. It seems like they all have /reference/ twice in their path.

[2018-01-13 11:50] montoyamoraga commented on #8
@lmccart sorry, i was full in book mode, that is now done!
i just solved a lot of issues and now my main issues are on the reference
so focusing on that, will let you know if i get stuck

[2018-01-13 11:54] montoyamoraga commented on #8
@lmccart there is one issue I need help with:
* on p5js.org/es/download the download links don't work for any file, they are missing
the version number and they point to non-existing files, can you help me with that?

[2018-01-14 22:37] lmccart commented on #8
should be good now

[2018-01-16 03:06] bmoren opened #157 "proposal to change file structure of the complete example"
I understand the hierarchy as it stands, the reference to the original processing sketchbook idea, and the notion that this can potentially avoid many copies of the library.

I'm interested in some discussion about this direction in the context of p5js and web practices

For me, I've always kept my index.html and main js and CSS files in the root directory when doing web based work as a way to cla

[2018-01-24 10:36] Haozhe321 opened #158 "Broken link on https://p5js.org/contribute"
It looks like the abovementioned link is broken. I was trying to access this link after watching the introductory video on p5.js, from the "contribute" button(buttom left).

![image](https://user-images.githubusercontent.com/26651556/35327724-49318e7c-0135-11e8-8754-611b5bf50ed7.png)

[2018-01-27 02:02] Raghnaid opened #159 "Fractals and L-Systems Examples"
(Hi. First time posting on github here. Heard about this project on Request For Commits and decided to give it a go.)

I see that there are several fractal examples over on the [processing website](https://processing.org/examples/) but which aren't implemented at the [p5js website](https://p5js.org/examples/).

If it's alright, I would like to implement them for my first pull request.

[2018-01-27 08:07] limzykenneth commented on #159
Hi @Raghnaid, that sounds great! Have a look at this [wiki](https://github.com/processing/p5.js-website/wiki/Adding-examples) for some guide on how to add an example. Feel free to ask if there's any problem.

[2018-01-28 10:40] Pavel-Durov opened #160 "p5.js site - getCentroid example page alignment"
Original issue: https://github.com/processing/p5.js/issues/2591

I don't know if that's an appropriate place for this kind of issue, but I found a misalignment in p5.js website.

getCentroid example page: https://p5js.org/reference/#/p5.FFT/getCentroid

**Bug**
Example canvas is set on top of the example code (see attached screenshot: red square is the canvas, blue square is the code). If you clic

[2018-01-30 20:49] lmccart commented on #157
hi @bmoren thanks for the suggestion. we're not actually trying to suggest a file structure with many projects in that folder, the empty example layout is more of a byproduct of wanting to make the p5.js files accessible from the top level of the download zip. then the empty example is a standalone folder, but it felt weird to duplicate the files again in that folder, so we just link up to them. w

[2018-01-31 01:21] bmoren commented on #157
Yeah, I totally see what your saying, that makes sense.

I guess I always felt that the complete example in my mind functioned as a new project which contains the library already rather than the lib which contains an example project since there are more direct ways to access the library. Usually with js libs I would have them inside of a `js folder` or `lib folder` within a root project when doing

[2018-01-31 06:00] Raghnaid commented on #159
I put in a pull request for the above and have noticed several other things:

- There is a very nice fractal [here](https://twitter.com/algorithmic_art/status/952867387770064896) that could be added.
- There is a recent Agate example from Tariq Rashid [here](https://twitter.com/postenterprise/status/958359092103405569) that would be a good fit for the Perlin noise section.
- And also some algorith

[2018-02-01 05:46] lmccart commented on #157
hm, another idea is to link to the cdns, which would mirror the way the alpha editor works right now..

[2018-02-01 06:03] bmoren commented on #157
true! Is the alpha re-building the starting project each time there is a new release?

[2018-02-01 22:53] lmccart commented on #157
I'm not sure that it is currently, but it will eventually. If this sounds ok, I can make the change. I guess my concern here is the dependency this puts on continued internet connection. But maybe that issue is outweighed by the issues you mention with linking up a directory.

[2018-02-08 22:46] lmccart commented on #158
This issue was moved to scottgarner/p5.js-video#56

[2018-02-08 22:46] #158 closed

[2018-02-08 22:47] lmccart commented on #156
This issue was moved to processing/p5.js-sound#251

[2018-02-08 22:47] #156 closed

[2018-02-08 22:48] lmccart commented on #141
hi @raffaelmiribung sorry for the slow response. we're not able to support languages beyond spanish at this time as we're focusing on rolling that one out and making sure it's fully functional. we'll be sure to let you know if we are able to add german in the future. thanks!

[2018-02-08 22:50] lmccart commented on #26
I'm going to close this issue, but welcome any manual line breaking PRs that help readability. thanks all!

[2018-02-08 22:50] #26 closed

[2018-02-08 22:50] #7 closed

[2018-02-08 23:09] lmccart commented on #159
thanks @Raghnaid! feel free to submit PRs for more examples or edits that remove java code from comments. much appreciated.

[2018-02-08 23:09] #24 closed

[2018-02-08 23:09] #25 closed

[2018-02-10 14:37] raffaelmiribung commented on #141
Hi Lauren, I was wondering what happened here. Do you think I could do the
translation for a future revision anyways? I just moved to Helsinki and
I've got plenty of time at hand right now. No need though, to add it
immediately. All the best, RM

--------------------------
raffaelmiribung.net
--------------------------
+43 677 6177 8613
--------------------------
Like me on Facebook <https://www.f

[2018-02-10 20:45] lmccart commented on #141
hi @raffaelmiribung since we don't know if/when we'll be able to incorporate this into the website, for now, I would suggest making a standalone site of your design with any translated content you'd like. if you make something like this, we'll be sure to tweet and share so other german speakers can make use of it and possibly even contribute more translation work.

[2018-02-16 17:16] sleep-404 commented on #79
Okay , on it !

[2018-02-22 22:10] emclaren commented on #155
I believe I have resolved this issue by updating the code in the p5.js repo (pull request: processing/p5.js#2660 ).

[2018-02-24 17:55] emclaren commented on #160
I just made a pull request that fixes this issue.

[2018-02-25 04:02] RepComm commented on #46
Having this issue right now.
I used that same link and I get "This site is busy.." etc
![temp](https://user-images.githubusercontent.com/22830855/36638027-fe346ad2-19a5-11e8-821d-c07f9713e40f.png)

[2018-02-25 04:30] bmoren commented on #46
It's up for me, looks like its on your end! (could have just been a site update)

[2018-02-25 04:49] RepComm commented on #46
It's back now! It was a good 15ish minutes of down time.

[2018-02-25 17:12] lmccart commented on #155
thanks!

[2018-02-25 17:12] #155 closed

[2018-02-27 07:23] clemens-tolboom commented on #159
PR for fractals is #161

[2018-02-28 06:18] emclaren opened #170 "Broken Link on Community Page"
I forgot to create an issue when I submitted a pull request to fix the broken "porting example" link on the [community page ](https://p5js.org/community/).

Posting it here now so there is a record of the broken link in the issues section.

This issue is fixed with pull #167

[2018-02-28 19:00] emclaren commented on #79
Hi, I couldn't figure how to assign this task to myself in github (it looks like I don't have the access to do this), but I'm exploring how to fix this issue.

:)

[2018-03-05 17:40] #119 closed

[2018-03-05 18:05] #170 closed

[2018-03-21 17:46] danweiner opened #173 "Variable Scope is correct for Java but wrong for JS"
Please see [this thread](https://github.com/processing/processing-docs/issues/647#issuecomment-375025441) that has started in processing-docs.

The Variable Scope example is correct for Java, but does not work for JavaScript.

@shiffman has proposed a slightly simpler version of the Processing example for p5.js, but doesn't think it makes sense to implement it until p5 adopts the ES6 let conventio

[2018-03-21 21:50] brysonian opened #174 "JavaScript stack"
Would it make sense to transition the new site to a more modern set of tools? Neither grunt nor backbone are actively maintained anymore or in popular use. I worry that it makes editing the sites difficult for the uninitiated to use tools that are increasingly difficult to find support for.

[2018-03-22 09:27] limzykenneth commented on #173
I guess this can be a broader question about how we go about adapting ES6 if at all. For me, if coverage is a concern then it will mean making sure IE11 supports the feature in question, and in the case of `let` it is indeed supported. However if we are talking about something like `class` then it would drop support for IE11.

[2018-03-22 09:49] limzykenneth commented on #174
I disagree that grunt or backbone are not suit for purpose. Both of them are mature frameworks with still numerous users around the world and it definitely isn't difficult to find support for either of them as both are well documented and have a big community of users behind it.

It's tempting to move to more "modern" set of tools because they are popular now but I would argue unless something is

[2018-03-22 10:11] brysonian commented on #174
"Chasing popularity" is harsh and mischaracterizes and belittles a very real concern. Neither of these tools are actively maintained; with no active development in years. They were a great choice when the site was initially built, but not now, not if the site is being updated. No one starting to learn more advanced JavaScript development toolchains and methodologies in 2018 should be starting here

[2018-03-22 10:45] limzykenneth commented on #174
I just think it is unfair to declare them dead just because they didn't have the commit frequency of current more popular projects despite having over 500,000 downloads from npm every week. Many people are using them and they are very viable tools even for developing new websites.

Diffferent framework serves different purposes and determining whether a tool is right or not based on its commit fre

[2018-03-22 12:51] brysonian opened #175 "Avenir in type examples"
Avenir has a typically tight set of restrictions on its use online. It is not permitted to host raw OTF files. Avenir should be replaced with a more liberally licensed option. There are some good choices here: http://typequality.com/

[2018-03-22 12:54] brysonian commented on #174
Again, I don't appreciate the combative tone; disagreement is a feature of community, not a bug.

Curious to pit one metric (commit frequency) vs another (npm downloads) to make a point. Especially when  commit frequency is generally considered an indicator of a community's commitment, interest, and thus future lifetime of a project. And when, in this particular case, the npm download stats tilt v

[2018-03-22 13:41] Zalastax commented on #174
I found the tone to be OK.
The most important thing to remember is that someone has to make and review all the changes.
Unless there are big road-blocks in the current setup, there should be a big caution in making big architectural changes.
Status quo is a powerful force.

I think this could be easily resolved in one way or the other if we took a look at core values of p5.js-website, which I can'

[2018-03-22 13:44] limzykenneth commented on #174
I'm sorry if I've come across as agressive or too combative, as you mentioned disagreement is a feature not a bug and I greatly appreciate your input.

Citing numbers is just to illustrate that the projects are not dead/obselete by any means, I believe they are perfectly valid tools (even if I don't always use them myself) and shouldn't be dismissed just because they are deemed less "modern".

I d

[2018-03-24 15:45] danweiner commented on #173
I guess this is a procedural question.  Should this discussion be happening in p5.js-website or processing-docs?  I opened both issues, but the discussion should only be happening on one page, right?

[2018-03-27 14:36] bmoren opened #177 "add charset meta tag to empty example index.html"
currently the empty example is missing a charset designation in the head, this can lead to garbled text, especially in firefox.

firefox throws this error `The character encoding of the HTML document was not declared. The document will render with garbled text in some browser configurations if the document contains characters from outside the US-ASCII range. The character encoding of the page must

[2018-03-27 14:51] limzykenneth commented on #177
Do go ahead and make a PR for this if you can, otherwise I'll come around to it maybe the coming weekend

[2018-03-27 14:58] bmoren commented on #177
I'll try to get to it tomorrow am. this was mostly a reminder for myself!

[2018-03-27 14:58] limzykenneth opened #178 "Non 2 character language code build support"
I'm running into a problem while preparing the site for Chinese translation. The assemble build step that handles i18n [here](https://github.com/processing/p5.js-website/blob/master/Gruntfile.js#L109) is fetching the language code from the compiled filenames by expecting a 2 character language code. However in Chinese this doesn't work as although `zh` represents Chinese, we use `zh-Hans` or `zh-H

[2018-03-27 16:02] Zalastax commented on #178
Looking at the basenames, they are all variants looking like `simulate-l-systems-es`. If we were to use some other character than - for the separator in `zh-Hans`, then we can find the language code using `lastIndexOf`. Would this be OK?

[2018-03-27 16:08] limzykenneth commented on #178
@Zalastax I'm trying something along the line of `lastIndexOf` but not quite what you suggested. I'll need to dig deeper into the build to know how can we change the separator. I'll report back when I got something new.

[2018-03-27 16:18] limzykenneth commented on #178
Just figured it out, we can find `lastIndexOf` the current language code in the filename and trim one character more from the end. Changes are now in new branch.

[2018-03-27 16:18] #178 closed

[2018-03-27 16:21] montoyamoraga commented on #178
awesome!

[2018-03-28 09:16] limzykenneth commented on #175
I'm currently looking into this as part of the site translation effort and [Noto](https://github.com/googlei18n/noto-fonts) seems like a good solution that can be used across the website and across languages/scripts. It provides both serif and sans serif options for multiple languages and multiple weights as well. It is also OFL licensed.

[2018-03-28 13:24] brysonian commented on #174
Thanks @limzykenneth. I totally agree that novelty shouldn't drive decisions about a project. I think your proposed solution sounds great. I can start experimenting with a webpack and npm script config and see if that simplifies things. I think an iterative approach with an end goal of simplification is great.

[2018-03-28 13:30] limzykenneth opened #180 "Linting the website source files"
My code editor's linter is going crazy because my personal preferred code style is rather different from p5's. Adding a `.eslintrc` file would solve it and help keep code style consistent. Would it be desired to add the file in here? A linting stage at the build step can be implemented later if desired but I just want to have the rules in here. We can just copy the p5.js one over to keep everythin

[2018-03-28 13:49] Zalastax commented on #180
Sounds good! Just make sure to add the required packages to devDependencies. These are "eslint", "eslint-config-prettier", and "eslint-plugin-prettier".

[2018-03-28 13:51] limzykenneth commented on #180
@Zalastax actually I'm only thinking about adding the rule file (`.eslintrc`) and not add the linting stage to grunt yet, I'm not familiar enough with the whole prettier thing to do it myself... 😨

[2018-03-28 14:53] Zalastax commented on #180
I wasn't clear enough. By installing eslint and its prettier plugins, editor extensions like [vscode eslint](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) are able to work without forcing a global installation of eslint.
Similarly, we should add grunt-cli as a devDependency and define some more npm-scripts that call grunt, but that's a separate issue.

[2018-03-28 14:57] limzykenneth commented on #180
Ah I see, sure I'll add the additional packages as well then.

[2018-04-07 18:36] limzykenneth commented on #177
Fixed in https://github.com/processing/p5.js/pull/2748

[2018-04-07 18:36] #177 closed

[2018-04-08 08:45] awarua commented on #157
Chipping in with my 2 cents. I also feel like the current file structure is a bit confusing. Although linking to the CDN as per @lmccart's suggestion would save having to deal with where to put the javascript files, it does have the problem of requiring an internet connection as she already pointed out. I also feel like it is introducing another concept that could be confusing for beginner student

[2018-04-11 20:18] williamyeny opened #183 "Make note of pixelDensity in createGraphics()"
Hello,

Spent a few hours wondering why my createGraphics instance was scaled up until I happened to stumble upon [CodingTrain's excellent video](https://youtu.be/pNDc8KXWp9E?t=4m12s) in which he encounters the same problem. The gist of it is that when a device has display scaling (as does my computer) the new createGraphics instance automatically scales up to it.

I think it would be a good idea

[2018-04-11 21:57] brysonian commented on #183
Maybe list both solutions in the example? Setting `pixelDensity(1)` will result in a somewhat substantial loss in quality so it would be nice to list the higher resolution solution as well.

I would think that both createGraphics() and image() could be overloaded to just "do the right thing" and take pixelDensity into consideration, but I'm on the go and can't hop into the source ATM.

[2018-04-12 04:29] williamyeny commented on #183
Yeah, maybe just mentioning pixelDensity in createGraphics is helpful enough.

[2018-04-12 07:47] limzykenneth commented on #183
This issue is tracked here: https://github.com/processing/p5.js/issues/2077 although progress is slow so any help with that is appreciated.

[2018-04-12 07:47] #183 closed

[2018-04-13 14:04] lmccart commented on #160
fixed with #256

[2018-04-13 14:04] #160 closed

[2018-04-13 14:13] lmccart commented on #174
Hey thanks for this discussion everyone. @Zalastax the principles are the same as p5.js generally -- but even those aren't totally clear, we are in the process of documenting design guidelines more clearly. @limzykenneth I hear your concern, and I think the iterative/simplification approach sounds like a good balance here.

To elaborate, my general preference is to try to put off a rewrite of the

[2018-04-13 14:15] lmccart commented on #157
I think that the forthcoming web editor will address this problem significantly because it does just this. It generates the example with addons and links everything correctly. You can then download the project as a zip if you like. If people are ok with it, I'd like to continue with trying to force the "complete library" folder to serve two purposes, rather than adding the complexity of customizin

[2018-04-13 14:16] #157 closed

[2018-04-13 17:29] lmccart opened #184 "no education page for p5"
_From @vamshi9666 on April 13, 2018 13:44_

in community documentation, its mentioned a link about education page . but there is no actual educaton page neither in p5 docs nor in github wiki.

if any one clicked link in docs to education page , it automatically redirects to create a page in wiki .
so it will be helpful , if there is official education page . in further it can be modified

[link to

[2018-04-13 22:17] awarua commented on #38
I have been trying to set aside some time to contribute each Saturday. Is it okay if I try to figure out how to do this? Even if I don't manage to make the proposed change, I figure it will help me understand how the website is built.

[2018-04-13 22:42] awarua opened #185 "README.md setup mentions non-existent version-sample.json file"
I'm trying to follow the instructions in README.md to set up the build locally. It mentions that I should rename /dist/download/version-sample.json, but that file does not exist.

It is referenced in issue #64 and in commit 66d97f9176e5857bf4e684eb1ab66be5cd383091 and I *think* it might have been removed in commit f029caf33b2c84216a7b7135d2ba949d14abd3b6.

I assume that all of the active contribut

[2018-04-13 22:47] Zalastax commented on #38
@awarua feel free to go ahead!
It is yuidoc that uses handlebars, so the yuidoc part of our gruntfile might be interesting.
I don't know what data is available for handlebar, but you should be able to figure that out using some of these techniques: https://stackoverflow.com/questions/19800602/how-to-see-all-available-variables-in-handlebars-template
This should let you render a title attribute tha

[2018-04-13 22:51] Zalastax commented on #185
This might be awfully incorrect, but i *think* I was able to set the build up locally without even adding that file. I'll be able to check that tomorrow if you want. Can you verify that the file is even needed?

[2018-04-13 22:58] awarua commented on #185
@Zalastax, yes I was also able to build and run it, but according to the discussion on #64 it seemed to cause problems with the links to translated versions?

If it's not required, then we should probably remove the reference to it in README.md.

[2018-04-13 23:32] awarua commented on #185
I checked and although it does build if the `version.json` file is not included, the version information is not populated into the download page, so version-sample.json should be included and renamed.
![image](https://user-images.githubusercontent.com/92529/38761484-766d61b6-3fc6-11e8-8f32-ef0b8cbb5542.png)

I know this is a minor problem, but since I'm working through these for the first time, I

[2018-04-13 23:35] awarua commented on #185
Created a pull request #186 to address this.

[2018-04-13 23:35] #185 closed

[2018-04-14 09:48] awarua commented on #38
Thanks for the references @Zalastax. That was a fun Saturday! It took a while to get my head around how all these files were being generated.

I have made a pull request #187 which addresses the issue.

[2018-04-14 09:54] vamshi9666 commented on #184
why was this issue closed ?
is there any update regarding docs.

[2018-04-19 08:21] limzykenneth opened #189 "Sidebar navigation autoscrolling broken"
The sidebar navigation was intended to move automatically when the user scrolls down a page (eg. reference or libraries etc) but now it doesn't move after scrolling but will update its position when refreshing the page.

[2018-04-20 15:59] aatishb opened #190 "Adding a few examples"
Hi, I'd like to add the following examples under

- [Simulation](http://alpha.editor.p5js.org/aatish/sketches/Sy19PSx9z)
- [Math](http://alpha.editor.p5js.org/aatish/sketches/SJllFFL3M)
- [Interaction](https://alpha.editor.p5js.org/aatish/sketches/H16Y7lqvz)

[2018-04-25 01:10] lmccart commented on #38
fixed with https://github.com/processing/p5.js/pull/2784. will show up with next release / website update.

[2018-04-25 01:10] #38 closed

[2018-04-30 00:26] #190 closed

[2018-04-30 00:30] lmccart commented on #189
I think that I disabled this because a bug in the auto scroll code was causing the page to mysteriously drift sometimes. If you want to have a look please do!

[2018-05-10 12:34] awarua commented on #189
I added a PR for this issue. #193

[2018-05-10 17:54] cecilebertin opened #195 "Step missing in Setup in README file to be able to use Grunt"
There is a step missing in the README file to be able to use Grunt.

Before step 4, type `npm install -g grunt-cli`

[2018-05-10 18:04] cecilebertin opened #196 "Porting Data example: Integers and Floats"
Hi,
During the Global Sprint, I plan to start by porting this Data example from the Processing examples page.

[2018-05-10 21:12] cecilebertin commented on #8
Hi, I added the Numbers example to the Date examples. The Spanish version is going to need a translation.

[2018-05-10 21:12] #195 closed

[2018-05-11 11:00] raulgrell opened #199 "Porting Data Examples: Strings and Characters, Datatype Conversions"
Participating in MozSprint by porting these.

Since JS is a dynamically typed language only with strings, and does some conversions automatically, the examples will probably have to diverge a bit from the Processing examples.

[2018-05-11 19:14] digitalcoleman opened #202 "Porting Examples: Transforms"
I am tackling porting the four Transform examples from Processing to P5.js as part of #mozzsprint

[2018-05-11 20:05] digitalcoleman commented on #202
Now suspecting these are so well exemplified in their reference section that they are unneeded?

[2018-05-11 21:46] cecilebertin commented on #79
There is not enough space on most mobile devices to put everything on one line. Maybe we should remove the link to the Processing Foundation from the header bar. There is already a link to the Processing Foundation at the bottom of each page.

[2018-05-12 02:11] digitalcoleman commented on #8
I added the Transform examples. They will need Spanish translations.

[2018-05-12 03:07] digitalcoleman commented on #202
Finished and made Pull Request.

[2018-05-12 03:07] #202 closed

[2018-05-14 02:34] lmccart commented on #189
fixed with https://github.com/processing/p5.js-website/pull/193

[2018-05-14 02:34] #189 closed

[2018-05-14 02:37] lmccart commented on #196
closed with https://github.com/processing/p5.js-website/pull/198 😄

[2018-05-14 02:37] #196 closed

[2018-05-18 14:55] LaRuaNa opened #207 "Wrong link on example page"
Hi boys, girls,

i just saw the link of the [example ](https://p5js.org/examples/) `Motion >  Moving On Curves.` is wrong. Seems like because of the dot at the end.

Wrong link: https://p5js.org/examples/motion-moving-on-curves.-.html
Correct link: https://p5js.org/examples/motion-moving-on-curves.html

[2018-05-18 14:56] LaRuaNa commented on #207
#204

[2018-05-21 04:10] therewasaguy opened #208 "how are p5 libs in the assets directory updated for production?"
Hi! I'm a bit confused about how best to update the p5.sound library.

The version in `src/assets/js` is pretty out of date, same goes for the p5 library in that directory. This breaks some of the examples during local development.

The version that loads from that same path on p5js.org (via `dist/assets/js`) is the latest p5 release.

Should we update the library by submitting a PR to this repo,

[2018-05-26 09:47] limzykenneth opened #209 "Reference system overhaul"
To continue discussions on https://github.com/processing/p5.js/issues/2857 and https://github.com/processing/p5.js/pull/2875 this issue should be more focused on the overhaul as I've made some progress on it now.

Without resorting to minifying opentype.js or using git submodules as discussed on the two threads above, I managed to just get the reference pages to render like any other pages on the

[2018-05-26 18:05] lmccart commented on #207
thanks! this has been fixed

[2018-05-26 18:05] #207 closed

[2018-05-26 18:08] lmccart commented on #159
these examples have been merged, thanks!

[2018-05-26 18:08] #159 closed

[2018-05-28 11:38] #208 closed

[2018-05-28 11:40] lmccart commented on #209
hey @limzykenneth sounds great! can you clarify one thing -- so all reference related files (templates, css, js, etc) live in the website repo, correct? will there still be a way to generate a preview from within the p5.js repo?

[2018-05-28 11:42] lmccart commented on #173
I think it is ok to add the example @shiffman proposed in the other thread. with the examples, I am ok with being more lax about letting a mix of ES5 and ES6 in. reference examples we will keep in ES5 until the library itself is updated. I will make the change now.

[2018-05-28 11:48] lmccart commented on #173
this has been fixed with https://github.com/processing/p5.js-website/commit/7ad63447112c1aa9bc5d7c7a573ce6b2a459c85e thanks for reporting!

[2018-05-28 11:48] #173 closed

[2018-05-28 12:58] limzykenneth commented on #209
For now nothing has changed in terms of workflow in the p5.js repo and the plan is not to change it but just simplify the rendering. I have copied the templates over to this repo so the templating and assembly can all be done in this repo, I haven't moved the JS files yet (ie. the require.js stuff that generate `reference.js`), css are integrated into `all.css` bundle (which are just two rules onl

[2018-05-28 13:39] lmccart commented on #209
I see. I guess I'm just worrying about the template file in p5.js repo and the template file in p5.js-website repo deviating. Or am I misunderstanding? Is there a way to copy the template from the p5.js-website repo into the p5.js one automatically? Maybe that's too loopy.

To be clear, I'm very in favor of this! Just want to make sure we've accounted for all the processes around them.

[2018-05-29 02:54] limzykenneth commented on #209
I'm still working out the exact setup that would fulfill certain criteria for the whole system so some bits may still be unclear or unaccounted for. To get a bit more technical I'll explain in more detail what I'm thinking of.

For the general templating, ie the handlebars stuff, it will be mainly on the website repo to keep the sidebars and stuff consistent, the reference itself isn't much handle

[2018-06-05 16:37] lm-n opened #211 "Add text on accessibility in [p5-get-started page](https://p5js.org/get-started/)"
Add text on accessibility in [p5-get-started page](https://p5js.org/get-started/). http://mathuramg.com/p5-getStarted/

@lmccart we'll make a PR soon

[2018-06-05 16:40] lm-n opened #212 "Add a p5.accessibility page under the [p5 libraries page](https://p5js.org/libraries/)"
Add a p5.accessibility page under the [p5 libraries page](https://p5js.org/libraries/). https://www.dsk.lm-n.xyz/librarypage/

@lmccart PR coming soon

[2018-06-05 16:41] lm-n opened #213 "Add a new tutorial "using p5 with a screen reader" in [learning resources](https://p5js.org/learn/)"
Add a new tutorial "using p5 with a screen reader" in [learning resources](https://p5js.org/learn/)
@lmccart PR coming soon

[2018-06-05 16:42] lm-n opened #214 "Add a copy button for code snippets"
This would help users copy code from examples and reference into their editors.

[2018-06-05 16:43] lm-n opened #215 "Add p5.accessibility in the [references](https://p5js.org/reference/)"
Add p5.accessibility in the [references](https://p5js.org/reference/)

[2018-06-05 16:45] lm-n opened #216 "Add p5.accessibility in [p5 examples](https://p5js.org/examples/)"
Add p5.accessibility in [p5 examples](https://p5js.org/examples/)

[2018-06-05 16:49] lm-n opened #217 "Add good practices for accessibility in the [Adding Examples](https://github.com/processing/p5.js-website/wiki/Adding-examples)"
Add good practices for accessibility in the [Adding Examples](https://github.com/processing/p5.js-website/wiki/Adding-examples)

[2018-06-05 20:20] outofambit opened #218 "Layout Issue on addCue() reference page"
https://p5js.org/reference/#/p5.MediaElement/addCue

The sound player ui is sitting on top of the example code.

Seen on Chrome 66.0.3359.181, Mac OSX 10.13.4

<img width="700" alt="screen shot 2018-06-05 at 1 17 03 pm" src="https://user-images.githubusercontent.com/964912/41000548-30349ee6-68c3-11e8-8005-fd76d3352220.png">

[2018-06-07 01:33] kjhollen opened #219 "homepage - IE/Microsoft Edge detection link javascript bug"
(moving over from https://github.com/processing/p5.js/issues/2795, thanks @caswallon! I can't verify this one because I don't have a windows computer... please feel free to close if no longer an issue.)

On the P5.js website itself, there is a bug in the script that is intended to fix a CSS issue with the links on Microsoft IE/EDGE.

var EDGE_IE_REGEX = /(?:\b(MS)?IE\s+|\bTrident\/7\.0;.*\s+rv:|\b

[2018-06-07 04:59] brysonian commented on #219
Maybe a CSS only solution would be cleaner and easier to maintain?

Edge can be handled with:
[code]

and ie with:
[code]

[2018-06-07 06:00] caswallon commented on #219
@kjhollen The bug is still there, specifically the for loop
`for (var i=0, l=btns.length; i < l; i++) {`
should be
`for (var i=0, l=links.length; i < l; i++) {`

Although, I agree with @brysonian, a CSS solution would be better. Unfortunately, IE/Edge do require the display:inline-block; to get the hover effect to work correctly. However this also causes a jump due to the changing link height on h

[2018-06-07 23:02] dhowe opened #220 "Question: why do editor examples use non-free, non-source option"
Sublime is great, but shouldn't our default example be a FOSS option ?

![image](https://user-images.githubusercontent.com/737638/41130523-bcfa0b4a-6ae9-11e8-8556-ddb5e253b401.png)

[2018-06-08 21:44] lmccart commented on #220
very valid point. a PR is welcome from anyone that wants to update this for another editor. maybe brackets or atom?

[2018-06-09 03:07] #214 closed

[2018-06-09 03:08] lmccart commented on #91
fixed with https://github.com/processing/p5.js-website/commit/a9c504409622fbf2e7809ac35f7660306f0a33d8

[2018-06-09 03:08] #91 closed

[2018-06-12 15:05] clayheaton opened #223 "Penrose Tile example link is broken"
On the Examples page of the website (https://p5js.org/examples/) the link to the Penrose Tiles example is broken - goes to a 404 page.

This is how it appears on the page:

![screen shot 2018-06-12 at 11 03 54 am](https://user-images.githubusercontent.com/205364/41298982-763114c0-6e30-11e8-9f5f-062c61ada06d.png)

It currently links to `https://p5js.org/examples/fractals-and_l-systems-penrose-tiles

[2018-06-13 05:15] geealbers opened #226 "Porting examples: Typography"
I'm working on porting the Typography examples from the Processing site, which includes [Letters](https://processing.org/examples/letters.html), and [Words](https://processing.org/examples/words.html).

[2018-06-15 22:42] #226 closed

[2018-06-15 22:46] #223 closed

[2018-06-15 22:46] lmccart commented on #223
thanks! should be fixed now

[2018-06-15 23:18] lmccart commented on #216
@lm-n @MathuraMG I just tested with adding this module in and it seems to work fine. however, I realized we probably need some sort of interface for toggling the different outputs. do you have any recommendations for best practices here? that is, do offscreen buttons do the trick or should they be visible to all? is there a typical section heading and title for these buttons to use?

[2018-06-17 20:20] lm-n commented on #216
I think a hidden toggle should do the trick. We might just add a hidden "turn on accessible output" toggle before the canvas @MathuraMG what do you think?

[2018-06-19 01:12] MathuraMG commented on #216
@lm-n @lmccart   That sounds good!

[2018-06-19 01:16] lmccart commented on #216
Turn on accessible output would toggle on which type? Or do you want a radio toggle between the three types and a fourth "off" option?

[2018-06-19 11:00] mohd874 opened #233 "stroke reference page have missing info about alpha value"
I was browsing the [Stroke](https://p5js.org/reference/#/p5/stroke) documentation to learn how to set the alpha value. My sketch uses a third party color picker, when a color is picked, I pass the values to the stroke function after some processing. The color picker gives an alpha value from 0 to 1. The documentation shows that the **stroke** function syntax is as follows:

[code]
And by using the

[2018-06-19 22:18] lmccart opened #234 "translation changes not getting marked"
Currently, running `grunt` after changing `src/data/en.yml` before committing will mark the translation file that needs to be updated whenever it detect changes. However, it needs to run the build step before committing. I've noticed that this often doesn't happen and then these changes are not marked. I'm wondering if it's possible to use a git precommit hook to automatically runt `grunt`?

cc @l

[2018-06-20 02:06] limzykenneth commented on #234
I have considered that as well but with precommit hook, it is possible to commit the changes made by the tracking script?

[2018-06-20 12:33] Zalastax commented on #234
It [is possible](https://stackoverflow.com/a/16832764) to do it, but I am personally scared of doing so (I want to stage things manually). My preferred solution would be to run the script in a precommit hook and abort the commit if any files are different afterwards. I don't know how to check if files have changed though.

[2018-06-20 12:38] limzykenneth commented on #234
@Zalastax I think aborting the commit is good as long as it can also send a clear message about needing to commit changes in the tracking file.

Checking the files currently are done with `nodegit` package by diffing `src/data/en.yml` currently with `HEAD` and extracting the diff lines from the result, it is kinda hacky but it fulfills my requirement for the system.

[2018-06-20 14:11] Zalastax commented on #234
@limzykenneth it's very easy to send a clear message :smiley:, for example see what happens if you commit ill-formatted code in the p5.js repo.

Below is pseudo code for the least hacky way to do this using NodeGit that I can come up with at the spot:

[code]
The idea is to save the original commit index and then see if running grunt changes any files. Before exiting it restores the saved index. I

[2018-06-21 04:06] brysonian opened #235 "Nodegit causes `npm install` to fail on Node 10"
Just ran into this today trying to build the site: https://github.com/nodegit/nodegit/issues/1490

Not much that can be done until they fix it, but wanted to document it here in case someone else runs into trouble. I think the only way around it would be to change your node version (ouch) or get set up with [nvm](https://github.com/creationix/nvm).

[2018-06-21 05:29] Zalastax commented on #235
Thanks!
I ran into this as well and downgrading node to version 8 made it work for me.
Nodegit has pre-built versions available for Node 8 :smiley:

[2018-06-22 01:28] brysonian commented on #234
I *think* this can be done with husky and lint-staged, but i'll have to experiment. Is this the only aspect of the project that requires NodeGit? I' stuck because of #235 but if this feature is the only thing using NodeGit maybe we can remove it?

[2018-06-22 20:26] lmccart commented on #234
@brysonian I believe you're correct this is the only feature that's actually using nodegit.. thanks for looking into this!

[2018-06-22 20:44] tegacodes opened #237 "Site fails to build"
I've had the site fail to build on a few machines lately - it gets stuck on "il8n" task (seems to have something with getting the language files). Both on macos 10.13.4 and on a windows machine. Not sure why this is happening.

[2018-06-23 00:51] #213 closed

[2018-06-23 17:44] brysonian commented on #234
Here is how husky and lint-staged could solve this particular issue (i can't test myself because of the nodegit trouble)...

Add husky and lint-staged
`npm install --save-dev husky lint-staged`

Add lint-staged to the precommit hook that husky adds
[code]

Add the lint-staged config to package.json (at the top level, sibling of scripts)
[code]

Now the build task will be run on commit and the i18n

[2018-06-23 17:58] lmccart commented on #234
thanks @brysonian. I believe this is the (only) place nodegit is used: https://github.com/processing/p5.js-website/blob/master/i18n.js

the git commands we're using seem to be fairly straightforward, I wonder if it would make sense to move to [git-js](https://github.com/steveukx/git-js)? sounds like progress on nodegit updates for node10 may be stalled.

if you want to submit a PR without testing,

[2018-06-24 03:03] limzykenneth commented on #234
@brysonian As @lmccart mentioned, https://github.com/processing/p5.js-website/blob/master/i18n.js is the only place nodegit is used and if git-js can be substituted for it it should be fine.

The requirements for this system is as follows:
1. If nothing changes in `src/data/en.yml`, `i18n-tracking.yml` does not change.
2. If `src/data/en.yml` is changed (individual lines modified or new lines adde

[2018-06-24 05:56] limzykenneth commented on #233
@mohd874 The max value for all those values are controlled by `colorMode()` as mentioned in that page, that includes alpha value as well. You can see the [documentation](https://p5js.org/reference/#/p5/colorMode) for `colorMode()` for how to modify it to fit whatever values that your color picker gave you.

[2018-06-24 05:56] #233 closed

[2018-06-24 06:00] limzykenneth commented on #237
Did you get any error messages at all? Or does it just hangs there?

[2018-06-24 20:04] lmccart commented on #237
have you run "npm install" recently?
which version of node are you running (`node -v`)? we're working on fixing one [issue](https://github.com/processing/p5.js-website/issues/235) with node10

[2018-06-25 04:13] brysonian commented on #234
Sorry I should have been more specific. Anyway, I see the workflow and that all makes sense. My only question is about step 3: "If there are changes to i18n-tracking.yml that are not a cause of running the build step, running the build step should not overwrite the existing changes but rather add on to it." How do we know which translations have been dealt with? Or is the idea that the translator

[2018-06-25 05:11] limzykenneth commented on #234
@brysonian Yes, that's exactly it, the translator checks off on the individual entries as they work manually and commit the changes. That's why there would be changes that are not a cause of running the build step. There's no way of determining if a translation has been checked, such as if it is just to fix typos in the English version for example, the translation obviously would not need to chang

[2018-06-25 20:46] lmccart commented on #212
closed with https://github.com/processing/p5.js-website/pull/238

[2018-06-25 20:46] #212 closed

[2018-06-26 00:46] lm-n commented on #216
@MathuraMG and I talked with Claire about this last week and discussed that perhaps we could add a toggle to turn on/off "text output" before the canvas. It could work like the "run button" if the buttons were before the canvas in the html structure.

[2018-06-26 17:12] schen12131 commented on #237
Hey, I'm the one this issue is happening to, I'm on a windows computer and its running node 8, it always gets to the i18n task and then just hangs there

[2018-06-26 17:14] lmccart commented on #237
thanks @schen12131 can you post an image of the terminal output?
have you run `npm install` recently?

[2018-06-26 17:20] schen12131 commented on #237
yea, I updated npm before running it and the same problem came up. It will get to i18n and stay there for hours until I terminate it.

![grunt](https://user-images.githubusercontent.com/40004737/41928570-acf39b2c-7943-11e8-9d77-6a1f7aaaadc6.png)

[2018-06-27 16:19] limzykenneth commented on #237
@schen12131 Can you try building the branch at https://github.com/processing/p5.js-website/pull/240? See if you encounter the same problem.

[2018-06-30 03:37] #234 closed

[2018-06-30 03:37] #235 closed

[2018-06-30 03:37] #237 closed

[2018-07-02 13:45] #218 closed

[2018-07-05 23:17] MathuraMG commented on #216
@lmccart , yes that would be perfect, that way we can ensure that it is of the same importance as the run button

[2018-07-08 00:43] mknadler opened #244 "Several broken and/or doubled links in examples"
I'm currently working on a PR to fix these issues, but, for tracking purposes, here's what I'm seeing:
Under 'Motion':
![image](https://user-images.githubusercontent.com/3596891/42415697-f249b168-8224-11e8-9b2c-abd06c5bb791.png)

Both Morph links work; the Moving on Curves [link with the period ](https://p5js.org/examples/motion-moving-on-curves.-.html) is broken.

Under 'Math':
- `Arctangent` app

[2018-07-08 00:44] mknadler commented on #244
Related to https://github.com/processing/p5.js-website/issues/207

[2018-07-08 00:59] mknadler commented on #244
Morph / Moving on Curves issues may have happened here: https://github.com/processing/p5.js-website/pull/206

[2018-07-09 20:25] tegacodes opened #246 "Loading images using the p5 widgit."
Hi, we are working on an images tutorial and are unable to load images into a p5 sketch using the widget. https://github.com/toolness/p5.js-widget
The error message is this:
Access to Image at 'http://localhost:9000/assets/learn/program-flow/images/clouds.jpg' from origin 'http://toolness.github.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requeste

[2018-07-10 04:46] brysonian commented on #246
What server are you using to run localhost:9000? You'd need to either set the Access-Control-Allow-Origin header on the server, or use a browser that allows you to disable CORS (like chrome) FF doesn't let you ignore CORS security issues at the moment.

Do you only want that image visible to you though? Linking to localhost won't be visible to others. Maybe you can upload the images somewhere that

[2018-07-11 23:42] lmccart commented on #216
@MathuraMG @lm-n thanks! hoping to get this one done this week for your review

[2018-07-12 02:40] #244 closed

[2018-07-18 17:47] cruznik commented on #88
i'm facing this issue but i can confirm this is not browser related. it is happening on a single computer, i mean the app works perfectly on other laptops same Chrome version, (not showing the violation error), also I've discarded network issues (another laptop connected to same network). I keep reading that those "Violation" messages are warning not errors (which makes sense) but it the laptop i'

[2018-07-19 04:49] limzykenneth commented on #88
@cruznik What is the version of Chrome you are using? Most of the time when we say browser related it meant that it is happening in a specific browser only (ie only in Chrome and not in Firefox, Safari, etc). It differs between computers are probably because the processing power of the computers are different so this performance related warning may not show up for all computers (I'm guessing the o

[2018-07-21 14:54] lmccart commented on #153
This issue was moved to processing/p5.js#3091

[2018-07-21 14:54] #153 closed

[2018-07-24 02:53] lmccart commented on #216
hi @MathuraMG @lm-n can you tell me technically how to toggle it on and off? do I show/hide the element?

[2018-07-24 03:09] lmccart commented on #216
Hi you two, I made some progress and am able to get some text output, you can see my changes in the [access branch](https://github.com/processing/p5.js-website/commit/24f778525101bf09ddad46c932c9bdf26519938d)

However, I'm getting these errors with the p5-accessibilty script for some examples. Try [this one](http://localhost:9000/examples/simulate-brownian-motion.html) for example.
<img width="171

[2018-07-24 13:17] MathuraMG commented on #216
@lmccart - yes we will have a look and get back to you! Thank you so much

[2018-07-31 13:54] MathuraMG commented on #216
@lmccart -
the reason for the above error is that the library handles only 100 objects, because beyond this it becomes super slow (and completely pointless)
For instance, if we change num to 20 in the above example, the library works.

We will add some rules in the library so that it handles situations like this properly. Will update you once that is done.

[2018-08-01 10:10] limzykenneth commented on #246
This question is best suited for the [forum](https://discourse.processing.org/) as it relates to server settings and not directly to p5.js or the p5.js website. However, @brysonian's answer should solve your issue here so I'm going to close this issue. If you have further questions feel free to ask on the forum. Thanks.

[2018-08-01 10:10] #246 closed

[2018-08-01 15:00] MathuraMG opened #250 "Remove support for MacOS in accessibility documentation"
Due to OS upgrades + Codemirror upgrades, the web editor is not accessible on MacOS + Safari. The documentation in the [learning documents](https://p5js.org/learn/p5-screen-reader.html) needs to be changed to reflect this (@lm-n)

@lmccart  - hope it is okay if I self-assign this?

[2018-08-10 01:53] lmccart commented on #250
fixed with https://github.com/processing/p5.js-website/pull/252

[2018-08-10 01:53] #250 closed

[2018-08-18 13:15] Zalastax opened #253 "Reference links can go out of date"
https://github.com/processing/p5.js/issues/3164 highlights that code modifications lead to file references becoming stale. To avoid this we should replace `master` with a commit hash or tag in `https://github.com/processing/p5.js/blob/master/` at https://github.com/processing/p5.js-website/blob/2d7d14af383723c1561ba2bd1ff0374ca1f4a984/src/yuidoc-p5-theme-src/scripts/tpl/itemEnd.html#L17
`data.json

[2018-08-22 06:47] chisophugis opened #255 "keyboard example should use lowercase"
https://p5js.org/examples/input-keyboard.html

i tried various permutations of pressing various letters on the keyboard, clicking on the image, and pressing "run" and "reset" to no avail; all i saw was a gray screen.

only after some time did I find that pressing shift (by itself) causes a rectangle to appear and cycle in color (doesn't make sense from the code though). Then I found that pressing

[2018-08-22 09:23] Podatus opened #256 "broken example : DOM >Input and Button"
this DOM example did not work [dom-input-and-button](https://p5js.org/examples/dom-input-and-button.html)
because of the `mousePressed()` event ; maybe it should be replaced by the `mouseClicked()` one

related to [p5.js/issues/3141](https://github.com/processing/p5.js/issues/3141)

[2018-08-22 12:01] Zalastax commented on #256
Thanks for reporting!
Isn't it the case that we can just wait for the issue you linked to be resolved? We have a pull request that aims to fix the problem.

[2018-08-22 13:33] Podatus commented on #256
I dont know, the online example could also be changed ...
replace `mousePressed` by `mouseClicked`, and it should work.

[2018-08-24 09:44] limzykenneth commented on #256
Since we already have a fix in place awaiting merge I don't think we need to modify the example here but rather get the fix merged and published as soon as possible.

[2018-08-26 19:46] lmccart commented on #253
sounds good to me, thanks @Zalastax!

[2018-08-26 19:46] #253 closed

[2018-08-26 19:48] #255 closed

[2018-08-26 19:57] #256 closed

[2018-08-26 19:57] lmccart commented on #256
this has been merged and will be resolved on the website with next release publish

[2018-09-05 18:50] SHBProductions commented on #220
We could also make our own in some python or c#?

[2018-09-05 20:12] brysonian commented on #220
Should this now become the web idea?

[2018-09-05 20:17] Zalastax commented on #220
The web IDE should definitely be linked but we should additionally guide those that want a local setup. Documentation like this is a low cost for us and helps new users tremendously.

[2018-09-08 05:52] lmccart commented on #220
@brysonian @Zalastax the web editor is linked at the top and instructs viewers to skip the first setup section if they have it. let me know if you have thoughts if this doesn't seem clear enough.

[2018-09-17 20:21] lmccart opened #262 "Missing "integrating other libraries" wiki page"
_From @parenparen on September 16, 2018 18:55_

https://github.com/processing/p5.js/wiki/Integrating-other-libraries link is broken on https://p5js.org/learn/. It looks like the page might have been deleted.

_Copied from original issue: processing/p5.js#3219_

[2018-09-18 21:10] hyperkookie commented on #262
Can i close this issue? @lmccart

[2018-09-18 21:30] hyperkookie commented on #262
i have replaced the old broken link with the new one https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md @lmccart

[2018-09-18 21:35] lmccart commented on #262
@hyperkookie this is still present in the src code, can you link to where you've made this update?
https://github.com/processing/p5.js-website/blob/master/src/templates/pages/learn/index.hbs#L109

[2018-09-18 21:38] hyperkookie commented on #262
i've just completed the changes, submitting code with changes now.

[2018-09-24 04:33] lmccart commented on #262
this was fixed in https://github.com/processing/p5.js-website/commit/a53f4faee93f0f6b72f9dfab7981fb14ca68866f

[2018-09-24 04:33] #262 closed

[2018-09-24 17:42] enkatsu opened #265 "Japanese Translation"
I added a Japanese translation of the website to [this branch](https://github.com/enkatsu/p5.js-website/tree/ja-translation).
I am planning to create a pull request.
Is this procedure correct to contribute?

[2018-09-25 11:51] lmccart commented on #265
Hi @enkatsu,

Regarding website translation, we are rolling out new languages slowly to be absolutely sure that we can support the full translation and maintenance of each language. We want to avoid the situation where we have many languages and it's beyond our means to support. So for this reason, we are holding now with Spanish and Chinese and getting those fully complete before we take on other

[2018-09-27 02:16] enkatsu commented on #265
Hi @lmccart
Thanks for the reply !

I understand the p5.js community's policy on translating web sites. I'm looking forward to hearing from you :)

p5js.jp is vacant, may I acquire this for hosting ?
If it is difficult, use another domain name.

[2018-09-27 02:55] lmccart commented on #265
@enkatsu I think that would be fine and great to acquire p5js.jp and host your translation there :) please keep us updated on progress, I would love to share via social media so others can make use of it when's it ready. thank you for your contribution!

[2018-09-30 19:14] enkatsu commented on #265
@lmccart I'm glad to hear that!
I acquired [p5js.jp](https://p5js.jp/ja/) and hosting the translation.

[2018-10-01 01:45] lmccart commented on #265
hi @enkatsu this is awesome! may I suggest while we still have it hosted at another location, that you remove the language buttons and only host the japanese version there? that way there is no confusion. or perhaps the language buttons could link back to the p5js.org site?

[2018-10-01 05:09] enkatsu commented on #265
@lmccart Thank you for your suggestions! I agree with you. I removed the language buttons and only hosting the japanese version. How is [this](http://p5js.jp)?

[2018-10-06 21:09] lmccart opened #267 "The feature email address listed on the website is down"
_From @dfsp-spirit on October 5, 2018 14:49_

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other: Website

#### Details about the bug:

- The websit

[2018-10-06 21:09] lmccart commented on #267
thanks @dfsp-spirit I will update this.
btw the [forum](https://discourse.processing.org/) should be open for registration.. can you tell me the error you're seeing? or is there a leftover link to the old archived forum somewhere?

[2018-10-06 21:09] lmccart commented on #267
_From @dfsp-spirit on October 6, 2018 9:11_

Hi @lmccart,

yes, the link to the old forum is displayed when you click on the _New Issue_ link here at github. It says:

And there it says:

[2018-10-06 21:09] lmccart commented on #267
aha thank you. I will update this

[2018-10-21 04:20] OsakaStarbux opened #272 "Add an example Arc Length Parametrization"
I'd like to add an example. It's Javascript based on this Processing example written in Java by Jakub Valtar. https://github.com/processing/processing-docs/tree/master/content/examples/Topics/Curves/ArcLengthParametrization

This is my Codepen of what I want to add.
https://codepen.io/KevinBradley/pen/BqVGKr

[2018-10-25 03:51] lmccart opened #273 "Mail address in community page doesn't work"
_From @reona396 on October 24, 2018 15:15_

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (p5.js web page)

#### Which platform were you using

[2018-10-25 03:51] lmccart commented on #273
thanks for reporting. the correct address should be hello@p5js.org

[2018-10-31 07:06] montoyamoraga commented on #273
fixed by #276 by @montoyamoraga and with help by #274 by @arorayash

[2018-10-31 07:06] #273 closed

[2018-10-31 08:04] montoyamoraga commented on #267
The text on the "New Issue" for the repo processing/p5.js was fixed,
and also the feature email address was updated to hello@p5js.org with Pull Request #276

[2018-10-31 08:04] #267 closed

[2018-11-04 14:48] montoyamoraga opened #282 "Reference download only in English"
When you download the offline reference, it is only in English,
even if you are browsing on the Spanish or Chinese versions.

Is it an issue of having to run a local server so that the JS files do their thing and translate?
Or maybe the JS files are not included? I could not figure it out.

Also, the file names are the same, it would be cool for the Spanish one to be
either p5-reference-es or even

[2018-11-05 09:54] limzykenneth commented on #282
The offline reference generating step probably didn't include the translated versions. The html page probably also does not have links to switch between the versions.

Are you thinking more of having seperate versions (ie. Spanish and Chinese versions) of the offline reference or just one version that you can switch between them?

[2018-11-05 15:39] limzykenneth commented on #282
The [build step](https://github.com/processing/p5.js-website/blob/master/Gruntfile.js#L246) for the offline reference is a good place to start as it shows how the whole package is assembled from different parts ([this part](https://github.com/processing/p5.js-website/blob/master/Gruntfile.js#L293) as well).

One particular thing to note is the renaming of `data.json` to `data.js` while also prepen

[2018-11-06 20:30] afaber999 opened #283 "Dutch translation"
I recently started translation the p5.js-website into dutch, my initial efforts (far from complete) are committed in the following branch https://github.com/afaber999/p5.js-website.git, I can host the pages at my provider and I have acquired the www.p5js.nl domain. Additional help would be very welcome.

[2018-11-09 07:17] lmccart opened #284 "Default canvas size for various examples too large for screens"
_From @LadySith on June 14, 2018 13:7_

#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using

[2018-11-09 07:17] lmccart commented on #284
related https://github.com/processing/p5.js-website/issues/72

[2018-11-09 07:18] lmccart opened #285 "Mobile examples do not load on larger tablet screens"
_From @LadySith on June 14, 2018 12:44_

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you usin

[2018-11-09 07:24] lmccart opened #286 "P5.DOM.js library: Reference needs blue/black"
_From @kfrajer on September 3, 2018 3:14_

Hi

I was checking the reference for the p5 dom library [here](https://p5js.org/reference/#/libraries/p5.dom).

It says:

However, all the links shown there are blue. Could you correct this please? I am not familiar with the dom library and having this amended will clarify the usage.

Kf

Sorry for the blue highlighting... not my intention

![p5dom-ref-bu

[2018-11-13 01:27] guillemontecinos opened #287 "ES - Download page - Editor description is not translated"
In the [Download](https://p5js.org/download/) page the i18n handles "p5.js-editor" and "editor-includes" are correct on the corresponding yaml files, but are still in English on the Spanish Download site.

[2018-11-13 05:08] montoyamoraga commented on #287
this error was showing either because the website wasn't built with recent changes or because of the cache of the browser, do Shift+Command+R for force reload or open an incognito window to check that it is working.

[2018-11-13 05:08] #287 closed

[2018-11-13 05:15] montoyamoraga commented on #8
I am closing this issue, because all the items were addressed and fixed.

Also, thanks to all the examples that were added, I translated them on #289 =)

[2018-11-13 05:15] #8 closed

[2018-11-13 05:18] montoyamoraga commented on #282
thanks @limzykenneth !
It seems challenging to me, but I will try!

[2018-11-20 00:09] khamiltonuk commented on #284
Hi @lmccart, I can replicate the same behaviour, I would like to help out with this issue, are there any known methods to resize the p5.js canvas to scale to fit into a browser window? I am still learning p5.js so I'm not currently aware of scaling, is scaling the canvas a sensible solution?

[2018-11-24 02:57] lmccart commented on #284
@khamiltonuk `windowWidth` and `windowHeight` or `displayWidth` and `displayHeight` are special variables you can use to get these properties. For example, you can call `createCanvas(windowWidth, windowHeight);` or `resizeCanvas(windowWidth, windowHeight);`. However, we do want to keep the current size for examples when viewed on screens that are big enough. That is, in these cases, we don't want

[2018-11-24 18:50] lmccart commented on #265
@enkatsu this is great! I've added a link [here](https://github.com/processing/p5.js-website/blob/master/README.md#externally-hosted-language-versions) please let me know if you'd like me to edit the credit in any way, or you can submit a PR yourself.

I am thinking of other places to link to pages like these if you have suggestions. I think it'd be nice to get some buttons up on the main p5js.org

[2018-11-24 18:55] lmccart commented on #283
@afaber999 this is great! please submit a PR to add a link to the [readme](https://github.com/processing/p5.js-website#externally-hosted-language-versions). I am working on adding language buttons to the main site that will indicate they're linking outward to externally hosted versions. we can also post a tweet and share on IG soon. feel free to swap out the background sketch. this one was made by

[2018-11-27 13:40] montoyamoraga opened #294 "version.json"
hi! working with @guillemontecinos, we are following the steps of the README.md and step 3 mentions creating the version.json file.

We are currently just copying and pasting the file version-sample.json and then changing its name to version.json, is that OK?

Also, the version.json mentions p5.js version 0.6.0 and we are currently on 0.7.2., should we update it on the version-sample.json file dir

[2018-11-27 13:46] limzykenneth commented on #294
I have never done that step as I think it's only used to show the version number and date on the download page. The live site probably generate version.json somehow as the version number on the live site is correct.

I would personally like to eliminate that step entirely to get closer to being able to just run `rm -rf dist/` and the build step can still generate all the necessary files for the we

[2018-11-27 19:12] montoyamoraga commented on #294
thanks! i think i get it, so I won't touch the version-sample.json file in the meantime, I will leave this issue open if it's not a problem

[2018-11-28 01:17] #286 closed

[2018-11-28 03:06] lmccart commented on #294
@montoyamoraga this file is .gitignored, so any data in here is fine, it will not get copied to the server.
running the endpoint https://p5js.org/git-pull.php updates this file on the server, updating the version number from the github repo

[2018-11-28 03:06] lmccart commented on #294
this should probably be documented in the readme, so let's leave this open until I can do that

[2018-11-28 19:58] Nagasaki45 opened #299 "Git conflict on learn page"
There are visible git conflict lines on the [learn](https://p5js.org/learn/) page. I couldn't find the problem in the code though.

![image](https://user-images.githubusercontent.com/2564187/49178467-c2217400-f347-11e8-964f-bb55cf5b36c4.png)

[2018-11-28 20:38] montoyamoraga commented on #299
hi @Nagasaki45 thanks for pointing this out!
@lmccart i just went through the commit that you did after @guillemontecinos and me worked on the website, did we break something yesterday? I might have messed up the syncing from my fork and then pushed wrong code and broke something, sorry about that :/
I just synced my fork again to yours, and did a tiny translation on the Spanish learn page with th

[2018-11-28 22:00] lmccart commented on #299
sorry about that, should be fixed now

[2018-11-28 22:00] #299 closed

[2018-11-28 23:46] sColin16 opened #301 "Reference Examples not Rendering"
When I open reference pages on the p5.js website, it says "Example," and has all the code written out for the example, but does not render the canvas or format the code to look like code. Furthermore, in the developer console, I get the following errors:

[code]

I have seen this error on the rect, ellipse, and point webpages, but I suspect it is occurring on all of them.

A similar series of erro

[2018-11-29 15:59] guillemontecinos commented on #301
cc. @montoyamoraga

[2018-11-29 16:51] limzykenneth commented on #301
The p5 library files are missing on the website assets folder. @lmccart

[2018-11-29 22:09] lmccart commented on #301
hi all, thanks for reporting! it should be working now. apologies for the hiccups as we reset from the mistake I made building the site last week. hopefully things are smooth going forward.

[2018-11-29 22:09] #301 closed

[2018-12-03 20:59] sanketsingh24 commented on #220
Atom or Brackets looks fine. Shall I send a PR?

[2018-12-04 06:00] dhowe commented on #220
Instructions for Atom would be good

[2018-12-04 19:26] nicolaspe opened #302 "add dist/ to .gitignore to avoid accidents while translating"
Hi all!

I've been following @guillemontecinos [guide (work in progress)](https://github.com/guillemontecinos/itp_fall_2018_open_source_studio/blob/master/final_project/i18n_contribution.md) and testing for adding translations to the p5.js website, where he specifies that only changes to `src/` should be commited and uploaded.

So, maybe it would be a good idea to add `dist/` and `package-lock.jso

[2018-12-05 15:51] limzykenneth commented on #302
`package-lock.json` should be committed to git to ensure the dependency tree is built identically for every contributor. Any changes to files inside `dist/` should always be committed as well because the web server will pull the whole repo and serve the `dist/` folder directly, it does not build on the server.

The guide is meant to say that you should never manually edit files in the `dist/` fold

[2018-12-06 23:31] lmccart commented on #220
yeah I agree @dhowe

[2018-12-07 11:34] sanketsingh24 commented on #220
Will send a PR then

[2018-12-13 06:58] GaurangTandon commented on #220
@sanketsingh24 	have you started this already or may I make a PR? If you're busy, then I can do it.

[2018-12-13 07:16] GaurangTandon commented on #284
Wouldn't it be better to enable the scrollbars in this case? I don't think resizing the canvas down to a very small width would be a good idea. User should probably horizontally scroll to see the long lines they want to.

Or else, if line numbers were enabled we could wrap the lines (without needing scrollbars). However, since there are no line numbers it is likely to create confusion.

Also, may

[2018-12-13 11:42] limzykenneth commented on #284
@GaurangTandon I may have misunderstood what you mean but I the issue is about the p5 canvas and not the code block.

[2018-12-13 11:52] sanketsingh24 commented on #220
@GaurangTandon Yea caught up in some work, you can take it up if you want to.

[2018-12-17 16:39] GaurangTandon opened #306 "npm audit finds 98 vulnerabilities as many dependencies are outdated"
This issue is similar to https://github.com/processing/p5.js-web-editor/issues/785.

Cloning the processing/p5.js-website repo and running `npm audit` after `npm start` gives this:

[code]

[2018-12-19 17:22] guillemontecinos opened #307 ""Contributing to p5.js website internationalization (i18n)" Tutorial Release"
Hi community!
As a result of a project I worked on during the *Open Source Studio* class taught by @shiffman at NYU ITP I developed a [*Contributing to p5.js website internationalization (i18n)*](https://github.com/guillemontecinos/itp_fall_2018_open_source_studio/blob/master/final_project/i18n_contribution.md) guide, focused on documenting the process of collaborating on existing translations of

[2018-12-22 06:05] lmccart commented on #307
@guillemontecinos this is fantastic! in terms of placement, I would suggest we make a new folder called "contributor_docs" and you submit a PR adding it as a markdown file there. I prefer to use markdown vs wiki because it's easier to track changes. one you've submitted as PR I'll do a closer read over and add any comments. many thanks for this great document!

[2018-12-22 12:10] limzykenneth commented on #307
@guillemontecinos Thanks for putting together this document! You can submit a PR as @lmccart described, it's easier for us to comment and discuss on individual lines in a diff that way.

As a whole the documents seems a bit confused as to what it is meant to tell the contributor, especially towards the end it seems to end up being describing the structure and mechanics of the site more than the st

[2018-12-23 00:09] lmccart opened #308 "convert p5.js overview tutorial to ES6"
https://github.com/processing/p5.js/wiki/p5.js-overview

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online for learning about ES6

[2018-12-23 00:09] lmccart opened #309 "convert processing transition tutorial to ES6"
https://github.com/processing/p5.js/wiki/Transitioning-from-Processing

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online for lea

[2018-12-23 00:10] lmccart opened #310 "convert p5.js, node.js, socket.io tutorial to ES6"
https://github.com/processing/p5.js/wiki/p5.js,-node.js,-socket.io

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online for learnin

[2018-12-23 00:10] lmccart opened #311 "convert "Beyond the canvas" tutorial to ES6"
https://github.com/processing/p5.js/wiki/Beyond-the-canvas

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online for learning about

[2018-12-23 00:11] lmccart opened #312 "convert "Getting started with WebGL in p5" tutorial to ES6"
https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online for

[2018-12-23 00:11] lmccart opened #313 "convert "interactivity" tutorial to ES6"
https://p5js.org/learn/interactivity.html

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online for learning about ES6. [Here is an

[2018-12-23 00:12] lmccart opened #314 "convert "Optimizing-p5.js-Code-for-Performance" tutorial to ES6"
https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online

[2018-12-23 00:12] lmccart opened #315 "convert "Unit Testing and Test Driven Development" tutorial to ES6"
https://p5js.org/learn/tdd.html

As a step forward in the transition to ES6 all of the tutorials on http://p5js.org/learn should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/2215) where applicable.

There are tons of resources online for learning about ES6. [Here is an interactiv

[2018-12-23 00:17] lmccart opened #316 "update p5js.org/examples Structure section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:18] lmccart opened #317 "update p5js.org/examples Form section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:18] lmccart opened #318 "update p5js.org/examples Data section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:18] lmccart opened #319 "update p5js.org/examples Arrays section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:19] lmccart opened #320 "update p5js.org/examples Control section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:19] lmccart opened #321 "update p5js.org/examples Image section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:19] lmccart opened #322 "update p5js.org/examples Color section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:19] lmccart opened #323 "update p5js.org/examples Math section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:19] lmccart opened #324 "update p5js.org/examples Simulate section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:23] lmccart opened #325 "update p5js.org/examples Interaction section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:23] lmccart opened #326 "update p5js.org/examples Objects section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:23] lmccart opened #327 "update p5js.org/examples Lights section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:23] lmccart opened #328 "update p5js.org/examples Motion section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:23] lmccart opened #329 "update p5js.org/examples Instance Mode section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:23] lmccart opened #330 "update p5js.org/examples DOM section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:23] lmccart opened #331 "update p5js.org/examples Drawing section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:24] lmccart opened #332 "update p5js.org/examples Transform section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:24] lmccart opened #333 "update p5js.org/examples Typography section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:24] lmccart opened #334 "update p5js.org/examples 3D section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:24] lmccart opened #335 "update p5js.org/examples Input section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:24] lmccart opened #336 "update p5js.org/examples Advance Data section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:24] lmccart opened #337 "update p5js.org/examples Sound section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:25] lmccart opened #338 "update p5js.org/examples Mobile section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:25] lmccart opened #339 "update p5js.org/examples Hello P5 section to ES6"
This will involve updating all examples in `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans` folders.

As a step forward in the transition to ES6 all of the examples on https://p5js.org/examples should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/processing/p5.js/issues/221

[2018-12-23 00:51] lmccart opened #340 "create contributor_docs folder in repo and move wiki content there"
To better track changes and make info more accessible, we'd like to move the [wiki content](https://github.com/processing/p5.js-website/wiki) as markdown documents to a new `contributor_docs` folder. Currently there is no folder, so the first step would be making this, then adding .md files for each current wiki page.

[2018-12-23 01:20] guillemontecinos commented on #340
Hi @lmccart I can both create the folder and move the i18n collaboration document. I also can collaborate to move other documents.
Otherwise I can wait until the folder is created and then move the i18n doc as talked at #307
- Guillermo

[2018-12-23 01:21] guillemontecinos commented on #307
Hi there!
I'll move the document as soon as the folder is created :)

[2018-12-23 01:34] guillemontecinos commented on #340
I already created the folder and moved the i18n doc by submitting the PR #341.
For further tracking wiki documentation migration here is a status list:
- [ ] [Home](https://github.com/processing/p5.js-website/wiki)
- [ ] [Adding examples](https://github.com/processing/p5.js-website/wiki/Adding-examples)
- [ ] [Chinese Translation Glossary Links](https://github.com/processing/p5.js-website/wiki/Chi

[2018-12-23 01:36] guillemontecinos commented on #307
I submitted the PR #341 for this purposes.

[2018-12-23 13:38] meiamsome commented on #147
@lmccart I would urge you to reconsider, storing distribution files inside of a git repository has all sorts of bad ramifications, including creating unnecessary (And not necessarily easy to resolve) merge conflicts, making diffs unreadable, and the non-repeatable build problem above.

The correct way to do a distribution without building it on the server is to set a CI environment to do a build &

[2018-12-23 15:41] AnimeshSinha1309 commented on #323
I will try to take this up please.

[2018-12-23 17:50] lmccart commented on #147
@meiamsome oh, I didn't realize this was an option! I thought that the only solution would be to run an external server which we don't currently have the resources to support. I would be happy to look at a PR doing what you suggest, if you'd like to take this up. thank you!

[2018-12-23 17:53] AnimeshSinha1309 commented on #323
Hope I got everything, I also tried to cleanup the code, get the spaces in accordance to what ESlint wants. Hope that is not an issue. Can you please tell me if this is OK and should I do this for a few other folders.

[2018-12-23 17:55] #323 closed

[2018-12-23 17:55] lmccart commented on #323
@AnimeshSinha1309 that looks great, thank you for the cleanup as well!

[2018-12-24 00:09] lmccart commented on #339
resolved with https://github.com/processing/p5.js-website/pull/345

[2018-12-24 00:09] #339 closed

[2018-12-24 00:10] #331 closed

[2018-12-24 23:04] #320 closed

[2018-12-24 23:07] #329 closed

[2018-12-26 03:55] montoyamoraga commented on #307
awesome, so we can close this issue, as it is addressed and discussed on PR #341

[2018-12-26 03:55] #307 closed

[2018-12-27 21:01] Ajayneethikannan commented on #311
Hello everyone! I am new to the processing foundation, and would love to contribute to it.
I would like to help on this issue!

[2018-12-28 11:39] Ajayneethikannan commented on #311
@lmccart  I have changed the variables from 'var' to 'let' ,
this is the updated page -  https://github.com/processing/p5.js/wiki/Beyond-the-canvas/67f329061b31cba54b6e8e4d52897bdc1de70fb1
I also noticed that in many examples, some variables are declared globally , but used inside only the setup function.
Specifically , the **canvas variable** is used only inside **setup function** but declared gl

[2018-12-29 22:39] #333 closed

[2018-12-29 22:40] #322 closed

[2018-12-31 08:52] Kachulio1 commented on #338
@lmccart  can  I work on  `src/data/examples/en`, `src/data/examples/es`, and `src/data/examples/zh-Hans`
or is @AnimeshSinha1309 is going to update everything?

[2018-12-31 20:18] #336 closed

[2018-12-31 20:20] #332 closed

[2018-12-31 20:21] #327 closed

[2019-01-02 06:58] lmccart commented on #311
wonderful, thank you @Ajayneethikannan! 🎉

[2019-01-02 06:59] lmccart commented on #311
yes, please go ahead and move the variables as you suggest.

[2019-01-02 06:59] #311 closed

[2019-01-02 13:41] dwjohnston opened #369 "The sidebar reference menu lags as you scroll."
The reference menu on the side lags as you scroll up and down the page, which is a super distracting experience. It should be fixed in place, like the rotating cog is.

[2019-01-02 19:03] #318 closed

[2019-01-02 19:31] #319 closed

[2019-01-03 02:22] WayneKiely opened #370 "Small error in listed code on 'Object' Reference page"
There appears to be a small oversight in the code on 'Object' Reference page located at:

[https://processing.org/reference/Object.html](url)

The listed code is:
[code]
Shouldn't it be:
[code]
Trivial, I realize, but somewhat confusing.

[2019-01-03 04:10] lmccart commented on #370
This issue was moved to processing/processing-docs#732

[2019-01-03 04:10] #370 closed

[2019-01-03 21:56] #334 closed

[2019-01-04 20:04] #326 closed

[2019-01-04 20:04] #328 closed

[2019-01-04 20:05] #338 closed

[2019-01-08 18:56] hellonearthis commented on #209
The most frustrating thing I find with the reference area comes when using the back button.
Like when I click on a function, I got to the functions page,  but clicking back doesn't always take me back to the category anchor in reference for that function.

I am new to handlebars so struggling to make sence of how the reference page is constructed to even begin debugging that behaviour.

My 2nd iss

[2019-01-08 20:08] meiamsome commented on #147
Okay, so the status on this appears to now be that we should work on ditching `dist/` from the repository.

There are some files in there that don't come from anywhere that I can work out. Here is the output of the following:
[code]

[code]

that's a lot of lines to go other, but I think to proceed:
- Drop all of `dist/` except `dist/assets/p5_featured/`
- add `dist/` to `.gitignore`

There are so

[2019-01-08 20:17] lmccart commented on #147
thanks @meiamsome. I can work on going through this. if there are files we want to keep on the dreamhost server, for example:
[code]
what do I need to do for files like this one?

[2019-01-08 20:23] meiamsome commented on #147
@lmccart I think for simplicity sake we can just leave it in dist as a first step. As to what happens afterward, I'm not so sure. I'm assuming the reference webhook just does a `git pull`? In which case we can either drop it from the repository and upload it there (it'd be .gitignore'd so it shouldn't cause any issues) or possibly keep it in the repository by adding it explicitly to the build step

[2019-01-09 10:49] limzykenneth commented on #147
For all the necessary files we can just move them to the `src` folder. The build already have steps that simply copy files so we can use those or create a couple new ones.

I think everything in the `reference` folder can be deleted, if I didn't messed up before everything there are generated from source. You can also look at the [`clean` step](https://github.com/processing/p5.js-website/blob/mast

[2019-01-09 23:55] hellonearthis opened #373 "Making changes the the Reference content"
The most frustrating thing I find with the reference area comes when using the back button.
Like when I click on a function, I got to the functions page,  but clicking back doesn't always take me back to the category anchor in reference for that function.

I am new to handlebars so struggling to make sence of how the reference page is constructed to even begin debugging that behaviour.

My 2nd iss

[2019-01-10 01:48] lmccart commented on #373
thanks for the feedback. the information for  modifying the reference documentation is [here](https://github.com/processing/p5.js/blob/master/developer_docs/inline_documentation.md). let me know if you can think of places this link should be, so others can find it more easily.

[2019-01-10 01:50] lmccart commented on #373
one reason we keep it in the source code is to couple the code with documentation. it makes it easier to update documentation as you're changing code, so you don't have to modify in two different places. it's also useful to us because it lets more people participate as code contributors. often, when people are new to contributing, I suggest that they start by fixing a typo in the documentation. in

[2019-01-11 02:43] hellonearthis opened #374 "Page doesn't return to correct scroll position."
When A link on a page is clicked,  say from clicking on box() on #/reference/ the browser back button doesn't alway return to the position on the reference page was clicked on.

I think this [stackoverflow explains the problem and a solution](https://stackoverflow.com/questions/25168861/take-user-back-to-where-they-scrolled-to-on-previous-page-when-clicking-browser) by using $(window).scrollTop();

[2019-01-14 11:36] limzykenneth opened #375 "Clearing Chinese Translation Backlog"
Just to note that I'm translating the entries specified in the tracking file as pending translation which includes the color tutorial, as well as some untracked changes that I can find in the translation source file. Will file PR when done.

[2019-01-15 06:43] hellonearthis commented on #374
Looks like firefox has addressed this problem.  https://www.ghacks.net/2019/01/14/firefox-66-scroll-anchoring-fixes-scroll-position-jumps-during-loading/
Now we just need chrome and other browsers to fix this scroll position too.

[2019-01-15 18:58] lmccart commented on #373
@hellonearthis check out section on branches here: https://guides.github.com/activities/hello-world/#branch

[2019-01-17 05:36] lmccart commented on #147
thanks for this. I've started removing things chunk by chunk, so far site is looking good. thanks so much @meiamsome for figuring this out, it's definitely a big improvement over the old system. looking forward to getting things fully cleaned up and sorted.

[2019-01-17 15:22] limzykenneth opened #376 "Discrepency between sketch and text in Coordinates System and Shapes tutorial"
Under the "Simple Shpaes" section of the [tutorial](https://p5js.org/learn/coordinate-system-and-shapes.html) it is mentioned that "we'll assume a window with a width of 10 pixels and height of 10 pixels" for the sketch to follow but the sketch in fact uses 100 by 100 canvases. Perhaps they were leftover when transcribing the book originally?

Same goes for the paragraph towards the end

Which doe

[2019-01-17 16:18] limzykenneth opened #377 "New note to developers adding content to website (i18n problem)"
We may need to include either in [here](https://github.com/processing/p5.js-website/blob/master/contributor_docs/i18n_contribution.md#translation-of-all-pages-except-reference-and-examples) or somewhere else about an extra point which is to not include full-stop/period in the handlebars files themselves when authoring new content.

The problem is that in Chinese the full-stop symbol is different (

[2019-01-19 11:20] limzykenneth commented on #209
Mostly setup as intended now. Closing

[2019-01-19 11:20] #209 closed

[2019-01-21 06:33] #375 closed

[2019-01-21 17:30] #330 closed

[2019-01-21 17:31] #321 closed

[2019-01-21 17:33] #316 closed

[2019-01-21 17:34] lmccart commented on #302
this has been addressed and dist/ is now in the .gitignore as we're pulling from gh-pages branch for built website deployment

[2019-01-21 17:34] #302 closed

[2019-01-21 17:35] lmccart commented on #272
please feel free to submit a PR, here are instructions for adding examples: https://github.com/processing/p5.js-website/wiki/Adding-examples

[2019-01-21 17:36] #265 closed

[2019-01-21 17:36] #184 closed

[2019-01-21 17:36] lmccart commented on #151
hello, please feel free to submit a pull request with these examples. instructions for doing so are here: https://github.com/processing/p5.js-website/wiki/Adding-examples

[2019-01-22 11:19] limzykenneth commented on #147
Sorry to ping this again @lmccart, it seems the latest update to the site isn't live yet (it is updated on the `gh-pages` branch) so will require a pull from the server.

[2019-01-22 15:25] lmccart commented on #147
ah sorry, thanks for alerting me. it seems the git-pull.php file got nuked somehow. I'd like to check this into the repo, where is the correct place to put it so it ends up at p5js.org/git-pull.php. would that be in the gh-pages branch at the top level, or somewhere in `src/`?

[2019-01-25 13:54] camerenisonfire commented on #315
Having worked  this tutorial recently, it is fresh in my mind. I'll update it to ES6.

[2019-01-25 20:11] catarak opened #380 "Hello P5: Song example playing song with Right Click Button"
As reported by @nucliweb:
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
-- Chrome 71.0.3578.98
-- Firefox 64.0
-- Safari 12.0.2
- Operating System:  MacOSX Mojave 10.14.2
- Steps to reproduce this bug:
-- Open example **Hello P5: song**
-- Click with the right button
-- You can hear the sound and see the context menu
-- If you click out of context me

[2019-01-26 22:29] limzykenneth opened #383 "Clean up and update libraries"
Related to #382 but not as urgent. Some references to the library is still out of date but at least they are not directly related to the reference, I'm going to update them so that they fetch from cdnjs and automatically update according to the `data.json` file pushed from the p5.js repo.

I'm also going to remove the `dist` folder entirely from the repo.

Will file PR tomorrow.

[2019-01-27 02:48] lmccart commented on #340
@17bcs029 great! the folder already exists: https://github.com/processing/p5.js-website/tree/master/contributor_docs
the next stop is to take the content from each of the [wiki pages](https://github.com/processing/p5.js-website/wiki) and create .md files for them inside the folder. as I merge these files in, I will remove the wiki pages. thanks!

[2019-01-27 16:16] #383 closed

[2019-01-27 16:51] lmccart commented on #380
fixed with https://github.com/processing/p5.js-website/pull/381

[2019-01-27 16:51] #380 closed

[2019-01-27 16:52] #315 closed

[2019-01-27 17:53] camerenisonfire commented on #310
Working on converting this to ES6.

[2019-01-27 18:02] camerenisonfire commented on #310
I'm not as familiar with the proper way for updating Wiki pages. I made the changes for this tutorial to use ES6, but please let me know if I went about it the wrong way.

[2019-01-28 01:33] lmccart commented on #310
looks great, thank you!

[2019-01-28 01:33] #310 closed

[2019-01-28 08:40] Ajayneethikannan opened #385 "Changing the resolution of the website's favicon."
This is a very minor issue 😅, but the resolution of the favicon images used in the p5.js website is very low,
causing it to appear very blurred when the website appears in the favorites section of any browser.

This is a screenshot from firefox browser in ubuntu:

![image](https://user-images.githubusercontent.com/35770004/51823686-1922d580-2306-11e9-8d47-b48e33dfc465.png)

The web editor seems to

[2019-01-28 13:58] Ajayneethikannan commented on #385
I have made a simple change and opened a PR, please review it if the solution suffices.

[2019-01-30 21:53] 17bcs029 commented on #324
Hi @lmccart I would like to work upon this?

[2019-02-12 07:09] hellonearthis opened #391 "customizing cursor to improve visibility"
woops wrong repo

[2019-02-12 22:22] 17bcs029 commented on #377
hi @limzykenneth I would like to work upon this issue.

[2019-02-13 17:02] ffd8 opened #392 "p5.js reference points to textMode() which doesn't yet exist"
While parsing the offline p5.js reference (data.js) and discovered that `push()` + `pop()` both link to a non-existant `textMode()` in their descriptions. Of course would be great to have a `textMode()`, but until then, should drop it from linkable references.

[2019-02-13 23:45] #391 closed

[2019-02-13 23:52] limzykenneth commented on #392
Good catch, not sure why this gone unnoticed for such a long time. To clarify this also applies to the live reference on https://p5js.org/reference as well. There doesn't seem to ever have been a `textMode()` in p5.js, it's likely a remnant from Processing when copying the reference over. The fix will need to be applied over at the [main p5.js repo](https://github.com/processing/p5.js)

[2019-02-14 13:50] Ajayneethikannan opened #393 "videos in createVideo example not found"
I was going through the createVideo reference and the videos were not being rendered in the canvas.

This is the console message for reference :

![notfound](https://user-images.githubusercontent.com/35770004/52790775-6f756f80-308d-11e9-983b-a0797c7704e3.png)

[2019-02-14 21:30] Ajayneethikannan opened #394 "winMouse example does not exhibit intended behavior"
In the winMouseX and winMouseY examples, the intended behavior is the canvas to be drawn very close to the x and y position of the mouse respectively, but since the canvas is created inside a div having **relative** position, and the position function sets the position property of the canvas as "**absolute**", the canvas is being drawn relative to the div. This may confuse any new comers reading t

[2019-02-15 06:18] lmccart commented on #385
fixed with https://github.com/processing/p5.js-website/pull/387

[2019-02-15 06:18] #385 closed

[2019-02-16 10:28] 17bcs029 commented on #377
can anyone please confirm that can I work upon it or not?

[2019-02-17 11:34] limzykenneth commented on #377
Hi @17bcs029, sorry I got tied up with some stuff and wasn't able to reply to this before. I actually wanted to make these changes myself to make sure that I got the wording right, this issue is mainly to get some concensus before I start working on it. Thanks for your interest though!

[2019-02-18 07:21] #324 closed

[2019-02-18 07:23] #317 closed

[2019-02-18 07:25] #313 closed

[2019-02-18 19:42] 17bcs029 commented on #377
thanks @limzykenneth for your reply. I have try to find another issue.

[2019-02-18 19:59] 17bcs029 commented on #79
Hi @lmccart I would like to work upon this issue?

[2019-02-19 02:27] lmccart commented on #79
@17bcs029 great!

[2019-02-20 15:02] markjsb opened #396 "P5 Sound Issue Chrome"
Sound is currently not working in Chrome due to changes in the way that sound can be played. It seems that Chrome now only allows a sound context to be created with a user click.

**Console log error message:**
The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu
(anonymous) @ p5.sound.js:211
(anonymous) @ p5.sound.js:29

[2019-02-20 15:11] vladdypwnz commented on #312
Hey @lmccart , newcomer here.
Could I work on this issue ?
Thanks!

[2019-02-20 17:49] 17bcs029 commented on #79
Thanks @Imccart I'm trying to solve this issue.

[2019-02-20 22:02] lmccart commented on #312
welcome @vladdypwnz 👋 yes we would love your work on this issue!

[2019-02-23 09:18] 17bcs029 commented on #79
hi @lmccart I have solved this issue for more than 300px width but I didn't understand how to solve this for less than 300px width. can you please suggest me that will help for me?

[2019-02-23 19:03] abhieshekumar commented on #309
Hello, I would like to work on this issue.

[2019-02-24 16:48] abhieshekumar commented on #309
Modifying "learn > curves" for ES6 #399

[2019-02-25 00:23] jesse-harding opened #400 "Cursor at wrong location in web-editor in examples section"
In the Examples section (but not the reference section) of the p5 website, when you click in the web-editor, the cursor appears in the wrong location relative to your click.

The problem seems to be from CSS styling of the ace_content class:

.ace_content {
     padding: 0 .5em!important;
}

this bumps the text over by about one character and if this is disabled, the cursor appears at the location

[2019-02-25 00:30] #377 closed

[2019-02-25 00:42] #335 closed

[2019-02-25 00:44] #325 closed

[2019-02-25 05:00] lmccart commented on #79
@cecilebertin I think this is a good idea. given the limited screen real estate, maybe the header bar could actually get removed completely for mobile?

@17bcs029 see media css rules for modifying display behavior for different screen sizes: https://www.w3schools.com/css/css_rwd_mediaqueries.asp

[2019-02-25 07:04] 17bcs029 commented on #79
Thanks @lmccart it's really helpful for me.

[2019-02-25 17:08] takyano opened #401 "Color Hue and Saturation examples are broken"
#322 and #363 broke the Hue and Saturation examples.

https://p5js.org/examples/color-hue.html

https://p5js.org/examples/color-saturation.html

Both have lastBar variable declared as const.

[2019-02-25 22:01] #401 closed

[2019-02-25 23:36] funkort opened #404 "Issue editing code"
When I type into the code on https://p5js.org/examples/input-keyboard.html, the screen moves up and the code is no longer visible.

[2019-02-26 08:04] 17bcs029 commented on #284
hi @lmccart and @limzykenneth I would like to work upon this issue.

[2019-02-26 10:13] limzykenneth commented on #404
@funkort I'm not able to replicate this problem on my side. Can you provide some more details about your system? Your OS and also your browser + version? Thanks.

[2019-02-26 14:35] Ajayneethikannan commented on #394
This problem can be resolved by using the parent() function to attach the canvas element to the body of the page .
[code]
so that it is not affected by the css of the website.

But I believe an **extra parameter** in the position function in the library itself , such as
[code]
would be a good solution for this , while resulting in an added functionality also.

Waiting for suggestions on this issue

[2019-02-27 13:11] Janglee123 opened #406 "Broken page of createCapture."
Description of [createCapture](https://p5js.org/reference/#/p5/createCapture) contains so many empty lines.

Browser: Firefox 65.0.1

[2019-02-27 17:07] #394 closed

[2019-02-27 17:50] ihsavru opened #407 "Porting Fractals & L-Systems examples"
Porting Fractals & L-Systems Examples:

- Recursive Tree
- The Mandelbrot Set

[2019-03-01 07:15] ihsavru commented on #308
I'd be working on this!

[2019-03-02 09:38] 17bcs029 opened #409 "Change the translation in mobile isn't working"
when you are going to click the button of changing the translation in mobile screen. it will not be change the translation.

[2019-03-02 16:50] #407 closed

[2019-03-04 21:52] Ajayneethikannan opened #411 "CSS modification for Methods table in reference pages"
Currently, the title of the method , and the corresponding description , are misaligned due to the top margin of paragraph element used in the table , such as in this image below :
![screenshot from 2019-03-05 08-47-02](https://user-images.githubusercontent.com/35770004/53765296-9f2dcf80-3ef5-11e9-8fac-c6578a09f8e6.png)

By removing the top margin of these paragraphs elements,
we can make it look

[2019-03-04 22:31] 17bcs029 commented on #284
Hi @lmccart Can you please suggest me how to understand the code of the js file?

[2019-03-05 04:30] abhieshekumar opened #413 "Broken Example - Measuring Amplitude (ES)"
The page displaying example for [Measuring Amplitude [ES]](http://p5js.org/es/examples/sound-measuring-amplitude.html) is broken.

- The example file for ```EN``` is located at ```src/data/examples/en/33_Sound/07_Amplitude_Analysis.js```
- The example file for ```Chinese``` is located at ```src/data/examples/zh-Hans/33_Sound/07_Amplitude_Analysis.js```
- But, the example file for ```ES``` is locat

[2019-03-05 13:58] limzykenneth commented on #413
Yes, this should be renamed as proposed. It would be great if you can make a PR for this. Thanks!

[2019-03-05 17:05] abhieshekumar commented on #413
Montoyamoraga has already created a PR related to the issue.

[2019-03-06 06:10] lmccart commented on #406
Thanks for reporting @Janglee123. Looks like there is a missing closing tag somewhere on this page that is causing the whole thing to get rendered as a code example, when it should be normal text after the code snippet.

[2019-03-06 06:15] lmccart commented on #392
This issue was moved to processing/p5.js#3572

[2019-03-06 06:15] #392 closed

[2019-03-06 06:27] #376 closed

[2019-03-06 06:27] lmccart commented on #376
thanks @limzykenneth. I also updated the last paragraph a bit to make a little more sense.

[2019-03-06 06:31] #337 closed

[2019-03-06 06:37] #340 closed

[2019-03-06 07:01] lmccart commented on #411
@Ajayneethikannan this is not intentional. a pull request would be very welcome.

[2019-03-06 14:41] 17bcs029 opened #417 "Build error"
When I run the command `npm run watch` or `grunt server`. it will give me the warning. Please see the warning in below screenshot.
![error](https://user-images.githubusercontent.com/34001173/53889076-cdbdbe80-404b-11e9-856c-925173cd949b.png)
Can anyone please help me to solve this?

[2019-03-06 21:49] lmccart commented on #406
fixed with https://github.com/processing/p5.js/commit/537ccaf34ba5941758673952a06d705e2662ce3c

[2019-03-06 21:49] #406 closed

[2019-03-07 15:27] jeremydouglass commented on #136
This issue is closed, but the fix isn't deployed -- the listed link is still broken with a 404 error.

http://p5js.org/learn/books/media.zip

See recent discussion:

https://discourse.processing.org/t/in-the-book-getting-started-with-p5-js-missing-media-zip/8925

[2019-03-08 03:52] arturolc commented on #314
Hi @lmccart, I would like to work on this issue

[2019-03-08 06:41] manaswinidas opened #420 "Add Hindi translation"
This has been proposed as a part of an application to Processing Foundation 2019 fellowship. I went through the [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) and found that the language abbreviation is `hi`. As per the [this doc](https://github.com/processing/p5.js-website/blob/master/contributor_docs/i18n_contribution.md), I need approval to get started with this.

Thanks.

[2019-03-08 12:40] limzykenneth commented on #420
That looks perfect to me, feel free to start working on it on a separate branch. Let @lmccart know if you need push access to the repo or you can work on your own fork as well if you prefer.

If there's anything not clear about the translation system (building and tracking and whatnot) just ping me on github.

[2019-03-08 18:12] limzykenneth commented on #417
Probably one of the file is missing or misnamed, try starting from a fresh clone of the repo and run `grunt server` on it.

[2019-03-08 18:23] 17bcs029 commented on #417
Hi @limzykenneth  actually I find that .hbs file data lost. okay I will try to clone the repo.
Thanks

[2019-03-08 18:25] #417 closed

[2019-03-10 19:19] shubhi2000 commented on #404
@funkort I am also facing the same issue. Whenever I type something or press enter, the screen moves up; however, if I press backspace it doesn't move up.

[2019-03-10 21:06] #413 closed

[2019-03-10 21:07] #411 closed

[2019-03-10 21:12] lmccart commented on #314
@arturolc great! i've sent you an invite to be a member of the p5.js repository so you will have edit access. please comment back here when you've updated so we can review.

[2019-03-10 21:17] lmccart commented on #136
thanks @jeremydouglass it has been moved here: http://p5js.org/books/media.zip

[2019-03-10 21:18] lmccart commented on #308
thanks @ihsavru!

[2019-03-10 21:18] #308 closed

[2019-03-11 20:54] takyano commented on #404
I am seeing this on Windows 10, under Google Chrome Version 72.0.3626.121 (Official Build) (64-bit)

[2019-03-11 22:37] meiamsome commented on #404
Hey all, do you have auto-save enabled? If so, when you disable auto-save does the issue go away? And in that case, does saving jump the editor to the top of the page?

[2019-03-12 01:58] takyano commented on #404
What auto-save option?

[2019-03-12 04:39] abhinavsagar opened #425 "Need help"
This is not a bug .I am looking forward to improve this website as part of gsoc 2019. Since there is no gitter or mail list mentioned so I am writing it here. I wanted to know what could be some possible improvements?

[2019-03-12 06:00] 17bcs029 commented on #425
Hi @abhinavsagar I think you will see this [issues](https://github.com/processing/p5.js-website/issue) and try to start one of them and it will help to improve the website.

[2019-03-13 01:04] shubhi2000 commented on #404
Which auto-save option you are referring to? I am unable to find any
auto-save option there. Can you please tell where is that option?

On Tue, Mar 12, 2019 at 7:28 AM takyano <notifications@github.com> wrote:

[2019-03-13 01:06] meiamsome commented on #404
@takyano @shubhi2000 There is a cog symbol at the upper right of the page for settings and within that you will find the auto-save option.

[2019-03-13 01:15] shubhi2000 commented on #404
The symbol isn't there on my page.

On Wed, Mar 13, 2019 at 6:36 AM Oliver Wright <notifications@github.com>
wrote:

[2019-03-13 01:16] meiamsome commented on #404
Oh, my apologies, I completely thought this was a different repository... that's my bad!

[2019-03-13 04:28] lmccart commented on #425
hi @abhinavsagar thanks for your interest! what @17bcs029 says is correct, the issues are a great place to start. if you'd like more free form discussion of ideas, we have a channel over in the [forum](https://discourse.processing.org/c/summer-of-code) for summer of code discussion and brainstorming

[2019-03-13 11:59] limzykenneth commented on #136
Actually should I have put it in `dist/learn/books`?

[2019-03-13 13:03] limzykenneth opened #426 "The bouncy bubble example is not working"
Taken from https://github.com/processing/p5.js/issues/3600

#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible)

#### Which p

[2019-03-13 14:12] lmccart commented on #136
@limzykenneth oh I didn't know if that was possible since we don't have that folder anymore. If so, that would be ideal. Even though it makes less sense in terms of the website structure, it is the place that the printed book points people toward, so it would be nice to have it there.

[2019-03-13 15:31] limzykenneth commented on #136
Yeah, that's totally possible, git tracks files only so folders mean pretty much nothing to it. I'll duplicate the file over to the location pointed to in the books while keeping the existing one.

[2019-03-14 05:57] abhinavsagar opened #428 "Not able to find files for installation."
I am not able to find these 2 files **dist\download\version-sample.json** and **dist\download\version.json** .Can someone help me out?

[2019-03-14 07:09] 17bcs029 commented on #428
Hi @abhinavsagar we have deleted the dist folder from the repo. you will be seen [here](https://github.com/processing/p5.js-website/issues/147) and I think you have to try to build without using this line
copy `dist\download\version-sample.json` to `dist\download\version.json`.

[2019-03-14 10:18] mcuz commented on #426
I would like to take up this issue please

[2019-03-14 11:59] limzykenneth commented on #426
@mcuz Go ahead! Thanks.

[2019-03-14 16:51] limzykenneth commented on #428
@abhieshekumar Those two files are simply used for displaying version numbers on the download page and are not required to build the website. You can still run the build as is without them.

Keeping this issue open to make a note that we should edit the setup instructions to reflect this.

[2019-03-14 16:53] limzykenneth commented on #147
Closed with #386

[2019-03-14 16:53] #147 closed

[2019-03-14 17:02] arturolc commented on #314
@lmccart It seems that they were updated already. I will keep an eye out on the issues, so I can contribute in the future :)

[2019-03-14 19:08] lmccart commented on #314
oh thank you for letting me know!

maybe take a look at this page if you'd like? it has been partially updated but still needs some more work before it's ES6 complete

https://github.com/processing/p5.js/wiki/Transitioning-from-Processing
https://github.com/processing/p5.js-website/issues/309

[2019-03-14 19:08] #314 closed

[2019-03-15 00:08] lmccart commented on #147
🎉 🎉 🎉

[2019-03-15 13:26] limzykenneth commented on #404
@takyano Can you try a different browser to see if this is a browser specific issue? I don't have a Windows machine so I can't test this out myself.

@shubhi2000 Are you on the same kind of setup as @takyano?

[2019-03-15 13:35] limzykenneth commented on #393
It should be referencing files in the `assets` folder, I'll fix this later today or tomorrow.

[2019-03-15 17:17] #425 closed

[2019-03-15 19:17] 17bcs029 commented on #428
Hi, @limzykenneth I think you ping another person.

[2019-03-15 19:52] abhieshekumar commented on #428
@17bcs029 I guess the same.

[2019-03-15 23:09] limzykenneth commented on #428
Ah my bad, sorry!

[2019-03-16 10:16] abhinavsagar commented on #428
@17bcs029 I am unable to install it on my local machine. I am on windows 10 64.

[2019-03-16 11:30] abhinavsagar commented on #428
![error](https://user-images.githubusercontent.com/40603139/54474615-052b2880-480d-11e9-8113-5f5b1919f803.jpeg)

[2019-03-16 12:35] limzykenneth commented on #409
The translations buttons are being covered by the main container and so can't be clicked on smaller screens. Increasing the z-index of the translations buttons' container should solve the problem.

[2019-03-16 12:48] limzykenneth commented on #428
The error you have has nothing to do with `dist\download\version-sample.json` or `dist\download\version.json`. It is to do with `src/data/en.yml`. It is detecting duplicate key for `color-title`, however it is not throwing error on my end though.

You can try starting from a fresh clone of the repo, delete the current cloned folder you have and git clone the repo again. Then run `npm install` then

[2019-03-16 14:40] abhinavsagar commented on #428
@limzykenneth Does processing has any slack or gitter channel for discussions? If yes can you send me the link.

[2019-03-16 14:47] #393 closed

[2019-03-16 15:59] limzykenneth commented on #428
There is a [gitter](https://gitter.im/processing/p5.js) that we used earlier in the week for a community live chat but it is not active now. Most of the discussions happens either on the [forum](https://discourse.processing.org) or here on github.

[2019-03-16 18:08] abhinavsagar commented on #428
thanks

[2019-03-16 20:17] #428 closed

[2019-03-16 20:20] #409 closed

[2019-03-16 20:33] #79 closed

[2019-03-16 20:37] #400 closed

[2019-03-16 20:37] lmccart commented on #400
thank you @jesse-harding this seems to have fixed the problem!

[2019-03-16 20:38] lmccart commented on #88
closing this because we can't reproduce. please comment here if there's more info and we can reopen. thanks!

[2019-03-16 20:38] #88 closed

[2019-03-17 09:07] takyano commented on #404
Edge doesn't have the jumping page problem. Microsoft Edge 44.17763.1.0

[2019-03-17 09:26] mcuz opened #430 "building and browsing site but cannot view examples"
This must be a trivial problem.  After forking and cloning p5.js-website and following instructions
I can get website up and running however when I try to view one of the examples I get the following

Cannot GET /examples/motion-bouncy-bubbles.html

How do I correctly build the site with working examples to browse?

[2019-03-17 12:15] limzykenneth commented on #430
Is it only one of the examples or all of them?

[2019-03-17 19:23] mcuz commented on #430
All of them

[2019-03-17 20:49] sharethewisdom commented on #88
thanks, at this time I can't reproduce it either (using Firefox 65.0.2 on linux 4.20.0-arch1-1-ARCH)

I also tried the offline reference in Firefox and the only issue was [a NetworkError when attempting to fetch resource](https://developer.mozilla.org/en-US/docs/Tools/Debugger/Source_map_errors?utm_source=mozilla&utm_medium=firefox-console-errors&utm_campaign=default#NetworkError_when_attempting_t

[2019-03-17 21:04] spadaal opened #432 "Italian translation"
Hi, I'd like to contribute the Italian translation. The ISO 639-1 code is 'it'. As per the translation doc, I'm asking your approval. I've already forked the repo at https://github.com/spadaal/p5.js-website
Thank you in advance, Alessio

[2019-03-17 22:44] limzykenneth commented on #430
I'm not able to replicate the problem. You should be able to just clone the repo, run `npm install` then `grunt server` and it should all work. If you are still having problem, can you check in the cloned folder and in `dist/examples/` whether there are any files in there after running `grunt` or `grunt server`.

[2019-03-18 09:05] mcuz commented on #430
output from grunt server shows only one file generated in dist/examples/index.html and I have checked folder and its only the index.html file there.  No errors reported during running of grunt server

![screenshot](https://user-images.githubusercontent.com/44824130/54518210-a6121300-49c8-11e9-9206-a2a1173a38f9.png)

[2019-03-18 09:10] limzykenneth commented on #430
That's rather unusual, can you try starting from a fresh clone of the repo?

[2019-03-18 09:38] mcuz commented on #430
just directly cloned repo locally and built it
I do get some warnings and have run npm audit fix
still same outcome however

[2019-03-18 09:41] limzykenneth commented on #430
Maybe don't run `npm audit fix`, just clone the repo, run `npm install` then `grunt server`.

[2019-03-18 10:14] mcuz commented on #430
okay so cloning and building repo definitely fails.  However I have directly downloaded zip file and unpacked, run npm install and grunt server and it successfully builds and runs site with examples

[2019-03-18 12:57] GaurangTandon commented on #404
Can confirm issue does not appear on Ubuntu 18.04 on both Chrome and FF latest.

[2019-03-18 12:59] limzykenneth commented on #404
@takyano Do you have any extensions installed on your Chrome? If so can you try turning them off and see if the problem still persist?

[2019-03-18 13:04] GaurangTandon commented on #312
Hey @lmccart @vladdypwnz, is this issue still open? Can I take it up?

[2019-03-18 13:17] GaurangTandon opened #433 "Add line numbers into the gutter instead of a grey solid line"
It seems that a lot of useful real estate is otherwise being wasted in the `/examples/*.html` code editor: (example [link](http://p5js.org/examples/simulate-flocking.html))

![image](https://user-images.githubusercontent.com/6308683/54532606-2414f080-49ae-11e9-9e8b-dc72426c6a52.png)

It might be useful to display line numbers instead of that grey solid line. Thoughts? May I work on this issue @lmc

[2019-03-18 14:32] 17bcs029 commented on #430
I am also getting this type of error.
Cannot GET es/zh-Hans/examples/
but I go to the homepage in this and then come to the examples then this will not occur.

[2019-03-18 14:52] lmccart commented on #433
@GaurangTandon can you say more about why the line numbers are useful in this case? I know they're often useful when debugging or discussing code with others, but since we don't have a console on this page and the examples are already (in theory) complete, I don't know if this is such a big use case. I just want to make sure we're not just adding visual noise. I don't think the gray bar is just wa

[2019-03-18 15:00] GaurangTandon commented on #433
Hey @lmccart,

that is precisely the reason why I wished to add the line numbers. If I am a student and wished to ask my professor about a particular code example, I could simply say: "Could you please look at line 26 and explain to me how xyz works there?" I believe this could be useful this way.

[2019-03-18 15:29] GaurangTandon opened #435 "Redundant "Getting Started" tutorials in several reference files"
The same process to Getting Started with the repo has been described in

- [README.md](https://github.com/processing/p5.js-website/blob/master/contributor_docs/Adding_examples.md) - a bit short though
- [Adding examples.md](https://github.com/processing/p5.js-website/blob/master/contributor_docs/Adding_examples.md) - a bit long
- [i18n contribution.md](https://github.com/processing/p5.js-website/b

[2019-03-18 16:30] manaswinidas commented on #420
@limzykenneth @lmccart  Thanks for the approval! Whom should we ask for review?

[2019-03-18 16:33] limzykenneth commented on #420
Discuss it with your fellowship mentor and @lmccart, but I think merging and deployment would probably be done once at the end when the translation is ready.

[2019-03-18 19:59] abhinavsagar commented on #435
@GaurangTandon Sure go ahead.

[2019-03-18 21:31] lmccart commented on #435
@GaurangTandon since the steps are just a few, I think it might be easier for beginners if we just replicate these across files consistently so they don't have to click through multiple links to get started.

[2019-03-19 01:51] GaurangTandon commented on #435
@lmccart I understand, but, it adds redundancy which makes maintainability harder. Also, since these steps are only taken once for the repo, if the person has already forked and cloned the repo for i18n work, they would still have the repo ready adding examples or any other work :) So, they won't need to click multiple links anyway.

[2019-03-19 05:23] takyano commented on #404
Google Chrome Version 73.0.3683.75 (Official Build) (64-bit)

Turned off all extensions and restarted Chrome.

If I open the Keyboard page from the Examples page into the same tab, I get the Page Jump behavior and this message in the console:

[code]

If I open the Keyboard page from the Examples page into a new tab, I do not get the Page Jump behavior.

If I refresh the non-jumping Keyboard page